<style>
/*global css*/
* {
	font-family:Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust:none;/*_behavior:url(/iepng/iepngfix.htc);*/
}
td, th, div, input, select, textarea, li, ol, dt, dd, h1, h2, h3, h4, h5, h6 {
	font-size:12px;
	color:#333;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote {
	padding:0;
	margin:0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}
li {
	list-style-type:none;
}
img {
	border:none;
}
</style>

<div style="background:#008cd7;">
  <div style="height:99px; background:#fff; width:650px; margin:0 auto; overflow:hidden;">
    <div style="margin:0px auto;clear:both;height:30px;font-size:1px;overflow:hidden;"></div>
    <div style="float:left; width:200px;"> <a href="{domain}" target="_blank" title=""><img src="{domain}{tpl_dir}images/Logo.png" /></a> </div>
    <!--Logo-->
    
    <div style="width:250px; margin-right:14px; float:right; overflow:hidden;">
      <div style="height:25px; text-align:right;"> <a href="{domain}/account/" title="" style="font-size:14px;">My Account</a> &nbsp; &nbsp;<a href="{domain}/account/sign-up.html" title="" style="font-size:14px;">Sign in</a> </div>
      <!--会员-->
      
      <div style="overflow:hidden;">
        <form action="/search/" method="get" target="_blank">
          <input type="image" src="{domain}{tpl_dir}images/Go.png" style="float:right;" />
          <input type="text" name="Keyword" style="width:200px; height:22px; line-height:22px; border:0; background:none; font-weight:bold; float:right; font-size:14px;" value="Search Our Wevsite Here"  onfocus="this.value=='Search Our Wevsite Here'?this.value='':''" onblur="this.value==''?this.value='Search Our Wevsite Here':''"/>
        </form>
      </div>
      <!--搜索--> 
    </div>
    <!--头右边--> 
  </div>
  <!--头部-->
  
  <div style="width:650px; margin:0 auto; background:#cf194a; height:2px; clear:both;"></div>
  <div style="width:650px; margin:0 auto; overflow:hidden;"> <a href="" title=""><img src="{domain}{tpl_dir}images/Ban.jpg" alt="" /></a> </div>
  <!--Ban-->
  <div style="margin:0px auto;clear:both;height:17px;font-size:1px;overflow:hidden;"></div>
  <div style="width:545px; margin:0 auto; overflow:hidden; position:relative; height:423px; background:url({domain}{tpl_dir}images/ProBg.jpg) no-repeat; padding-left:105px;"> <img src="{domain}{tpl_dir}images/Off.png" alt="Off" style="position:absolute; top:15px; left:9px;"/>
    <div style="margin:0px auto;clear:both;height:24px;font-size:1px;overflow:hidden;"></div>
    <div style="height:203px; width:165px; margin-right:18px; float:left; overflow:hidden;"> <a href="" title="" style="height:138px; width:165px; display:block; text-align:center;"><img src="{domain}{tpl_dir}images/Pro.jpg" style="vertical-align:middle;" /><span style="display:inline-block; height:100%; vertical-align:middle;"></span></a><a href="" title="" style="display:block;color:#333333;font-size:12px; font-weight:bold; text-decoration:underline; text-align:center; line-height:55px;">Product title >></a> </div>
    <div style="height:203px; width:165px; margin-right:18px; float:left; overflow:hidden;"> <a href="" title="" style="height:138px; width:165px; display:block; text-align:center;"><img src="{domain}{tpl_dir}images/Pro.jpg" style="vertical-align:middle;" /><span style="display:inline-block; height:100%; vertical-align:middle;"></span></a><a href="" title="" style="display:block;color:#333333;font-size:12px; font-weight:bold; text-decoration:underline; text-align:center; line-height:55px;">Product title >></a> </div>
    <div style="height:203px; width:165px; margin-right:0; float:left; overflow:hidden;"> <a href="" title="" style="height:138px; width:165px; display:block; text-align:center;"><img src="{domain}{tpl_dir}images/Pro.jpg" style="vertical-align:middle;" /><span style="display:inline-block; height:100%; vertical-align:middle;"></span></a><a href="" title="" style="display:block;color:#333333;font-size:12px; font-weight:bold; text-decoration:underline; text-align:center; line-height:55px;">Product title >></a> </div>
    <div style="height:203px; width:165px; margin-right:18px; float:left; overflow:hidden;"> <a href="" title="" style="height:138px; width:165px; display:block; text-align:center;"><img src="{domain}{tpl_dir}images/Pro.jpg" style="vertical-align:middle;" /><span style="display:inline-block; height:100%; vertical-align:middle;"></span></a><a href="" title="" style="display:block;color:#333333;font-size:12px; font-weight:bold; text-decoration:underline; text-align:center; line-height:55px;">Product title >></a> </div>
    <div style="height:203px; width:165px; margin-right:18px; float:left; overflow:hidden;"> <a href="" title="" style="height:138px; width:165px; display:block; text-align:center;"><img src="{domain}{tpl_dir}images/Pro.jpg" style="vertical-align:middle;" /><span style="display:inline-block; height:100%; vertical-align:middle;"></span></a><a href="" title="" style="display:block;color:#333333;font-size:12px; font-weight:bold; text-decoration:underline; text-align:center; line-height:55px;">Product title >></a> </div>
    <div style="height:203px; width:165px; margin-right:0; float:left; overflow:hidden;"> <a href="" title="" style="height:138px; width:165px; display:block; text-align:center;"><img src="{domain}{tpl_dir}images/Pro.jpg" style="vertical-align:middle;" /><span style="display:inline-block; height:100%; vertical-align:middle;"></span></a><a href="" title="" style="display:block;color:#333333;font-size:12px; font-weight:bold; text-decoration:underline; text-align:center; line-height:55px;">Product title >></a> </div>
  </div>
  <!--产品列表-->
  <div style="margin:0px auto;clear:both;height:21px;font-size:1px;overflow:hidden;"></div>
  <div style="width:545px; margin:0 auto; overflow:hidden; position:relative; height:423px; background:url({domain}{tpl_dir}images/ProBg.jpg) no-repeat; padding-left:105px;"> <img src="{domain}{tpl_dir}images/Off.png" alt="Off" style="position:absolute; top:15px; left:9px;"/>
    <div style="margin:0px auto;clear:both;height:24px;font-size:1px;overflow:hidden;"></div>
    <div style="height:203px; width:165px; margin-right:18px; float:left; overflow:hidden;"> <a href="" title="" style="height:138px; width:165px; display:block; text-align:center;"><img src="{domain}{tpl_dir}images/Pro.jpg" style="vertical-align:middle;" /><span style="display:inline-block; height:100%; vertical-align:middle;"></span></a><a href="" title="" style="display:block;color:#333333;font-size:12px; font-weight:bold; text-decoration:underline; text-align:center; line-height:55px;">Product title >></a> </div>
    <div style="height:203px; width:165px; margin-right:18px; float:left; overflow:hidden;"> <a href="" title="" style="height:138px; width:165px; display:block; text-align:center;"><img src="{domain}{tpl_dir}images/Pro.jpg" style="vertical-align:middle;" /><span style="display:inline-block; height:100%; vertical-align:middle;"></span></a><a href="" title="" style="display:block;color:#333333;font-size:12px; font-weight:bold; text-decoration:underline; text-align:center; line-height:55px;">Product title >></a> </div>
    <div style="height:203px; width:165px; margin-right:0; float:left; overflow:hidden;"> <a href="" title="" style="height:138px; width:165px; display:block; text-align:center;"><img src="{domain}{tpl_dir}images/Pro.jpg" style="vertical-align:middle;" /><span style="display:inline-block; height:100%; vertical-align:middle;"></span></a><a href="" title="" style="display:block;color:#333333;font-size:12px; font-weight:bold; text-decoration:underline; text-align:center; line-height:55px;">Product title >></a> </div>
    <div style="height:203px; width:165px; margin-right:18px; float:left; overflow:hidden;"> <a href="" title="" style="height:138px; width:165px; display:block; text-align:center;"><img src="{domain}{tpl_dir}images/Pro.jpg" style="vertical-align:middle;" /><span style="display:inline-block; height:100%; vertical-align:middle;"></span></a><a href="" title="" style="display:block;color:#333333;font-size:12px; font-weight:bold; text-decoration:underline; text-align:center; line-height:55px;">Product title >></a> </div>
    <div style="height:203px; width:165px; margin-right:18px; float:left; overflow:hidden;"> <a href="" title="" style="height:138px; width:165px; display:block; text-align:center;"><img src="{domain}{tpl_dir}images/Pro.jpg" style="vertical-align:middle;" /><span style="display:inline-block; height:100%; vertical-align:middle;"></span></a><a href="" title="" style="display:block;color:#333333;font-size:12px; font-weight:bold; text-decoration:underline; text-align:center; line-height:55px;">Product title >></a> </div>
    <div style="height:203px; width:165px; margin-right:0; float:left; overflow:hidden;"> <a href="" title="" style="height:138px; width:165px; display:block; text-align:center;"><img src="{domain}{tpl_dir}images/Pro.jpg" style="vertical-align:middle;" /><span style="display:inline-block; height:100%; vertical-align:middle;"></span></a><a href="" title="" style="display:block;color:#333333;font-size:12px; font-weight:bold; text-decoration:underline; text-align:center; line-height:55px;">Product title >></a> </div>
  </div>
  <!--产品列表-->
  <div style="margin:0px auto;clear:both;height:22px;font-size:1px;overflow:hidden;"></div>
  <div style="width:545px; margin:0 auto; overflow:hidden; position:relative; height:423px; background:url({domain}{tpl_dir}images/ProBg.jpg) no-repeat; padding-left:105px;"> <img src="{domain}{tpl_dir}images/Off.png" alt="Off" style="position:absolute; top:15px; left:9px;"/>
    <div style="margin:0px auto;clear:both;height:24px;font-size:1px;overflow:hidden;"></div>
    <div style="height:203px; width:165px; margin-right:18px; float:left; overflow:hidden;"> <a href="" title="" style="height:138px; width:165px; display:block; text-align:center;"><img src="{domain}{tpl_dir}images/Pro.jpg" style="vertical-align:middle;" /><span style="display:inline-block; height:100%; vertical-align:middle;"></span></a><a href="" title="" style="display:block;color:#333333;font-size:12px; font-weight:bold; text-decoration:underline; text-align:center; line-height:55px;">Product title >></a> </div>
    <div style="height:203px; width:165px; margin-right:18px; float:left; overflow:hidden;"> <a href="" title="" style="height:138px; width:165px; display:block; text-align:center;"><img src="{domain}{tpl_dir}images/Pro.jpg" style="vertical-align:middle;" /><span style="display:inline-block; height:100%; vertical-align:middle;"></span></a><a href="" title="" style="display:block;color:#333333;font-size:12px; font-weight:bold; text-decoration:underline; text-align:center; line-height:55px;">Product title >></a> </div>
    <div style="height:203px; width:165px; margin-right:0; float:left; overflow:hidden;"> <a href="" title="" style="height:138px; width:165px; display:block; text-align:center;"><img src="{domain}{tpl_dir}images/Pro.jpg" style="vertical-align:middle;" /><span style="display:inline-block; height:100%; vertical-align:middle;"></span></a><a href="" title="" style="display:block;color:#333333;font-size:12px; font-weight:bold; text-decoration:underline; text-align:center; line-height:55px;">Product title >></a> </div>
    <div style="height:203px; width:165px; margin-right:18px; float:left; overflow:hidden;"> <a href="" title="" style="height:138px; width:165px; display:block; text-align:center;"><img src="{domain}{tpl_dir}images/Pro.jpg" style="vertical-align:middle;" /><span style="display:inline-block; height:100%; vertical-align:middle;"></span></a><a href="" title="" style="display:block;color:#333333;font-size:12px; font-weight:bold; text-decoration:underline; text-align:center; line-height:55px;">Product title >></a> </div>
    <div style="height:203px; width:165px; margin-right:18px; float:left; overflow:hidden;"> <a href="" title="" style="height:138px; width:165px; display:block; text-align:center;"><img src="{domain}{tpl_dir}images/Pro.jpg" style="vertical-align:middle;" /><span style="display:inline-block; height:100%; vertical-align:middle;"></span></a><a href="" title="" style="display:block;color:#333333;font-size:12px; font-weight:bold; text-decoration:underline; text-align:center; line-height:55px;">Product title >></a> </div>
    <div style="height:203px; width:165px; margin-right:0; float:left; overflow:hidden;"> <a href="" title="" style="height:138px; width:165px; display:block; text-align:center;"><img src="{domain}{tpl_dir}images/Pro.jpg" style="vertical-align:middle;" /><span style="display:inline-block; height:100%; vertical-align:middle;"></span></a><a href="" title="" style="display:block;color:#333333;font-size:12px; font-weight:bold; text-decoration:underline; text-align:center; line-height:55px;">Product title >></a> </div>
  </div>
  <!--产品列表-->
  <div style="margin:0px auto;clear:both;height:37px;font-size:1px;overflow:hidden;"></div>
  <div style="background:#fff; padding:25px 0 20px 0; overflow:hidden;">
    <div style="width:650px; margin:0 auto; overflow:hidden;">
      <div style="line-height:22px; color:#010101; font-size:14px;"> Learn More to protect yourself from Spoof (fake) e-mails. <br />
        <br />
        ueeshop sent this e-mail to you at 613354068@qq.com because your Notification Preferences indicate that you want to receive information about Newsletters, Promotions & Events.<br />
        <br />
        If you do not wish to receive further communications like this, please click here to unsubscribe. Alternatively, you can change your Notification Preferences in My shop by clicking here. Please note that it may take up to 10 days to process your request. </div>
      <div style="margin:0px auto;clear:both;height:25px;font-size:1px;overflow:hidden;"></div>
      <div style="position:relative; padding-left:80px;"> <span style="position:absolute; top:10px; left:0;">Follow Us:</span> <a href="" title=""><img src="{domain}{tpl_dir}images/Share_f.jpg" alt="" /></a>&nbsp;&nbsp;<a href="" title=""><img src="{domain}{tpl_dir}images/Share_t.jpg" alt="" /></a>&nbsp;&nbsp;<a href="" title=""><img src="{domain}{tpl_dir}images/Share_g.jpg" alt="" /></a>&nbsp;&nbsp; </div>
      <div style="margin:0px auto;clear:both;height:20px;font-size:1px;overflow:hidden;"></div>
      <div style="line-height:22px; color:#010101; text-align:center;">COPYRIGHT © PPOWER      POWERD BY <a href="http://www.ueeshop.com/" target="_blank">UEESHOP</a></div>
    </div>
  </div>
</div>
