/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

.trans{transition: all 0.3s;}
.brand_prod_list{padding-bottom: 60px;}
.brand_prod_list:after{content: '';display: block;clear: both;width: 100%;}
.brand_prod_list .pro_item{position: relative;float: left;width: 23%;margin: 2% 1% 0;text-align: center;top: 0;}
.brand_prod_list .pro_item dt{width: 100%;height: 0;padding-top: 100%;position: relative;}
.brand_prod_list .pro_item dt .pic_box{position: absolute;width: 100%;height: 100%;top: 0;left: 0;text-align: center;}
.brand_prod_list .pro_item dt em{position: absolute;top: 15px;left: 15px;height: 20px;line-height: 20px;padding: 0 5px;color: #fff;background: #e62e04;}
.brand_prod_list .pro_item .favorite{opacity:0;position: absolute;width: 40px;height: 40px;top: 10px;right: 10px;border-radius: 20px;background: #fff url(../../../images/products/icon_list_fav.png) no-repeat center 12px;}
.brand_prod_list .pro_item .favorite.is_in{background-position: center -30px;}
.brand_prod_list .pro_item .icon_discount{}
.brand_prod_list .pro_item .icon_seckill{display: none;}
.brand_prod_list .pro_item .view{opacity:0;position: absolute;bottom: 30px;width: 100%;}
.brand_prod_list .pro_item .view a{display: inline-block;padding: 0 25px;font-size: 14px;color: #555;text-transform: uppercase;line-height: 28px;border:1px solid #e0e0e0;background: rgba(255,255,255,0.75);text-decoration: none;}
.brand_prod_list .pro_item dd{padding: 11px 11px 25px;}
.brand_prod_list .pro_item .pro_name{display: block;line-height: 24px;height: 48px;font-size: 16px;overflow: hidden;}
.brand_prod_list .pro_item .pro_name a{color: #555;}
.brand_prod_list .pro_item .pro_view{height: 20px;line-height: 20px;padding: 8px 0;}
.brand_prod_list .pro_item .pro_price{height: 25px;line-height: 25px;padding: 8px 0;}
.brand_prod_list .pro_item .pro_price em,.brand_prod_list .pro_item .pro_price span{font-size: 18px;color: #333;font-weight: normal;}
.brand_prod_list .pro_item .pro_price del{color: #bbb;margin-left: 8px;}
.brand_prod_list .pro_item .pro_price del em,.brand_prod_list .pro_item .pro_price del span{font-size: 14px;color: #bbb;font-weight: normal;}
.brand_prod_list .pro_item:hover{top: -5px;box-shadow: 0 0 30px rgba(0,0,0,0.05);-moz-box-shadow: 0 0 30px rgba(0,0,0,0.05);-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.05);}
.brand_prod_list .pro_item:hover .favorite,.brand_prod_list .pro_item:hover .view{opacity: 1;}
#turn_page{padding-bottom: 105px;}

.star_box{font-size: 0;text-align: center;}
.star_box span{display: inline-block;background-image: url(../../../images/products/icon_star.png);}
.s_star_box span{width: 13px;height: 13px;vertical-align: middle;}
.s_star_box .y{background-position: 1px -24px;}
.s_star_box .n{background-position: -20px -24px;}

.sort_by_box{height: 36px;line-height: 36px;padding: 15px 0;font-size: 14px;color: #555;}
.sort_by_box span{float: left;padding: 0 12px;}
.sort_by_box .count{float: right;color: #999;}
.sort_by_box .select_box{float: left;position: relative;height: 34px;border:1px solid #d9d9d9;min-width: 200px;z-index: 1;cursor: pointer;}
.sort_by_box .select_box dt{height: 34px;line-height: 34px;padding: 0 29px 0 10px;background: url(../../../images/products/bg_select.png) no-repeat right center;}
.sort_by_box .select_box dd{display: none;position: absolute;min-width: 100%;top: 34px;left: -1px;border-width: 1px; background: #fff;}
.sort_by_box .select_box dd a{padding: 0 10px;line-height: 32px;display: block;text-decoration: none;color: #555;}
.sort_by_box .select_box dd a:hover{background: #ccc;}
.sort_by_box i{width: 9px;height: 11px;margin-left: 7px;display: inline-block;vertical-align: middle;}

#location{padding: 25px 12px;}