/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

.trans{transition: all 0.3s;}
.market_prod_list{padding-bottom: 60px;}
.market_prod_list .pro_item{position: relative;float: left;width: 23%;margin: 3% 0 0 2.66%;top: 0;background: none;}
.market_prod_list .pro_item.fir{margin-left: 0;clear: both;}
.market_prod_list .pro_item dt{width: 100%;height: 0;padding-top: 100%;position: relative;}
.market_prod_list .pro_item dt .pic_box{position: absolute;width: 100%;height: 100%;top: 0;left: 0;text-align: center;}
.market_prod_list .pro_item dt em{position: absolute;top: 0px;right: 0px;color: #fff;background: #ff6600;font-size: 12px;text-align: center;}
.market_prod_list .pro_item .icon_discount{width: 36px;height: 30px;line-height: 15px;padding-bottom: 3px;padding-top: 2px;}
.market_prod_list .pro_item .icon_discount b{font-size: 14px;font-weight: bold;}
.market_prod_list .pro_item .icon_discount_foot{top: 33px;width: 0;border-width: 0 18px 10px 18px;border-style: solid;border-color: #ff6600;border-bottom-color: transparent;background: none;}
.market_prod_list .pro_item .icon_seckill{display: none;padding: 5px 8px;}
.market_prod_list .pro_item .view{opacity:0;filter:alpha(opacity=0);position: absolute;bottom: 30px;width: 100%;text-align: center;}
.market_prod_list .pro_item .view a{display: inline-block;padding: 0 25px;font-size: 12px;color: #555;text-transform: uppercase;line-height: 28px;border:1px solid #e0e0e0;background: rgba(255,255,255,0.75);text-decoration: none;}
.market_prod_list .pro_item dd{padding: 15px 0px 12px;}
.market_prod_list .pro_item .pro_name{display: block;line-height: 18px;height: 36px;font-size: 12px;overflow: hidden;}

.market_prod_list .pro_item .pro_price{line-height: 22px;padding: 7px 0;}
.market_prod_list .pro_item .pro_price em,.market_prod_list .pro_item .pro_price span{font-size: 16px;}
.market_prod_list .pro_item .pro_price em{font-size: 12px;}
.market_prod_list .pro_item .pro_price del em,.market_prod_list .pro_item .pro_price del span{font-size: 12px;font-weight: normal;}
.market_prod_list .pro_item .pro_price del{font-size: 12px;margin-left:10px}
.market_prod_list .pro_item .pro_view{height: 26px;line-height: 26px;position: relative;}
.market_prod_list .pro_item .pro_view .review_star{vertical-align: top;margin-top: 4px;} 
.market_prod_list .pro_item .pro_view a{display: inline-block;line-height: 26px;font-size: 12px;}
.market_prod_list .pro_item .review{opacity:1;filter:alpha(opacity=100);}
.market_prod_list .pro_item .favorite{opacity:0;filter:alpha(opacity=0);height: 22px;line-height: 22px;background: url(../../../images/products/icon_list_fav.png) no-repeat 1px 3px;margin-top: 2px;padding-left: 25px;position: absolute;top: 0;right: 0;}
.market_prod_list .pro_item .favorite.is_in{background-position: 1px -40px;}
.market_prod_list .pro_item:hover .view{opacity: 1;filter:alpha(opacity=100);}
.market_prod_list .pro_item:hover .favorite{opacity: 1;filter:alpha(opacity=100);}
.market_prod_list .pro_item:hover .review{opacity: 0;filter:alpha(opacity=0);}
#turn_page{padding-bottom: 105px;}

.star_box{display: inline-block;vertical-align: top;font-size: 0;}
.star_box span{display: inline-block;background-image: url(../../../images/products/icon_star.png);background-repeat: no-repeat;}
.s_star_box span{width: 17px;height: 17px;vertical-align: middle;}
.s_star_box .y{background-position: 1px -72px;}
.s_star_box .n{background-position: -24px -72px;}