@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

@font-face {
  font-family: "Whitney-Medium";
  src: url("../../../../../../css/font/Whitney/Whitney-Medium.woff2") format("woff2"),
       url("../../../../../../css/font/Whitney/Whitney-Medium.woff") format("woff"),
       url("../../../../../../css/font/Whitney/Whitney-Medium.ttf") format("truetype"),
       url("../../../../../../css/font/Whitney/Whitney-Medium.eot") format("embedded-opentype"),
       url("../../../../../../css/font/Whitney/Whitney-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.footer_top{height:1rem; }

.follow_us_list{height:2rem; padding:1.5rem 0; text-align:center;}
.follow_us_list li{width:2rem; margin:0 .15rem; display:inline-block;}
.follow_us_list li>a{width:inherit; height:2rem; line-height:2rem; overflow:hidden; white-space:nowrap; text-indent:50rem; background-repeat:no-repeat; background-position:center; background-size:120%; display:block;}
.icon_follow_facebook{background-image:url(../images/icon_follow_facebook.png);}
.icon_follow_twitter{background-image:url(../images/icon_follow_twitter.png);}
.icon_follow_pinterest{background-image:url(../images/icon_follow_pinterest.png);}
.icon_follow_linkedin{background-image:url(../images/icon_follow_linkedin.png);}
.icon_follow_youtube{background-image:url(../images/icon_follow_youtube.png);}
.icon_follow_google{background-image:url(../images/icon_follow_google.png);}
.icon_follow_vk{background-image:url(../images/icon_follow_vk.png);}
.icon_follow_instagram{background-image:url(../images/icon_follow_instagram.png);}

.footer_list{width:92vw; margin:auto;}
.footer_list>li>a{height:3rem; line-height:3rem; color:#222; position:relative; display:block;}
.footer_list>li>a .title{width:80%; overflow:hidden; text-transform:uppercase; font-family:"Whitney-Medium",Arial; font-size:1rem; float:left;}
.footer_list>li>a .border_b{width:10vw; height:0; border-bottom:.0625rem #000 solid; position:absolute; bottom:-1px; left:0; display:inline-block;}
.footer_list>li>a em{width:0; height:0; border-width:0 .5rem .5rem .5rem; border-color:transparent transparent #000 transparent; border-style:solid; position:absolute; top:1.3rem; right:.625rem; z-index:10; display:block; transform:rotate(0deg); -webkit-transform:-webkit-rotate(0deg); -webkit-transition:all .4s; transition:all .4s;}
.footer_list>li>a i{width:0; height:0; border-width:0 .5rem .5rem .5rem; border-color:transparent transparent #f7f7f7 transparent; border-style:solid; position:absolute; top:.1rem; right:-.5rem; z-index:11;}
.footer_list>li>a.list_close em{transform:rotate(180deg); -webkit-transform:-webkit-rotate(180deg);}
.footer_list>li .help_list{padding:.5rem 0; background:#f8f8f8; display:none;}
.footer_list>li .help_list>li{width:100%; height:2.5rem; line-height:2.5rem; overflow:hidden; float:left;}
.footer_list>li .help_list>li>a{font-size:.875rem; color:#555; display:block;}
.footer_list>li .sort_down{width:0; height:0; float:right; border-left:.05rem solid transparent; border-right:.05rem solid transparent; border-top:.07rem solid #999; margin:.18rem -1px 0 .07rem;}
.footer_list>li:last-child{border-bottom:0;}

.newsletter_box{width:92vw; margin:auto; padding-top:1.5rem;}
.newsletter_box>h3{text-transform:uppercase;line-height: 2.5rem;text-align: center; font-size:1.5rem; color:#222; letter-spacing:.1rem;}
.newsletter_box .newsletter_main{margin-top:.5rem;}
.newsletter_box .form_text{width:69%; height:3rem; line-height:3rem; text-indent:6%; font-size:.875rem; background:#fff; border-radius:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; float:left;}
.newsletter_box .form_button{width:31%; height:3rem; line-height:3rem; text-transform:uppercase; font-family:"Whitney-Medium",Arial; font-size:.9375rem; color:#fff; background:#000; border-radius:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; float:left;}

footer{margin-top:2rem; background:#f7f7f7; position:relative;}
footer section, footer section a{line-height:1.5rem; padding:1rem 0; text-align:center; color:#fff;}
footer section{background-color:#0a0a0a;}
footer section a{border:0;}