/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/
#web_template{width:100%; margin:0 auto; overflow:hidden;}
#web_template .template_box{position:relative; overflow:hidden;}
#web_template .img{height:100%; overflow:hidden;text-align: center;}
#web_template .img img{width:100%; height:100%;}
#web_template img[src=""]{display: none;}
#web_template .mod{width:100%; height:100%; overflow:hidden; position:absolute; left:0; top:0; text-align:center; background:#999; cursor:pointer; z-index:1000; display:none; opacity:0.5; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity:0.5;}
#web_template .current_box{width:100%; height:50px; position:absolute; left:0; top:0; border:5px #54a28f solid; background:#999; cursor:pointer; z-index:10; opacity:0.5; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity:0.5;}

#web_template .box{text-align: center;font-size: 0;background-size: 100% 100%;background-position: center;background-repeat: no-repeat;}
#web_template .box0{height: 99px;background-image: url(../images/bg_0.jpg);}
#web_template .box1{height: 136px;background-image: url(../images/bg_1.jpg);}
#web_template .box2{height: 94px;background-image: url(../images/bg_2.jpg);}
#web_template .box3{height: 175px;background-image: url(../images/bg_3.jpg);}

#web_template .t2{width: 145px;height: 34px;margin:auto;}
#web_template .t3{display: inline-block;vertical-align: top;width: 47px;height: 63px;margin:0 1px 2px;background: #ccc;}
#web_template .t4{width: 145px;height: 35px;margin:auto;background: #ccc;}

#web_template .t5{width: 145px;height: 34px;margin:auto;}
#web_template .t6{display: inline-block;vertical-align: top;width: 72px;height: 29px;margin:0 1px 2px;background: #ccc;}

#web_template .t7{width: 145px;height: 34px;margin:auto;}
#web_template .t8{width: 145px;height: 125px;margin:auto;background: url(../images/t13.jpg) no-repeat center center;background-size: 100% 100%;}

#web_template .t2 .img img,#web_template .t5 .img img,#web_template .t7 .img img{max-width: 60%;max-height: 60%;display: inline-block;vertical-align: middle;}
#web_template .t2 .img:after,#web_template .t5 .img:after,#web_template .t7 .img:after{content: '';display: inline-block;height: 100%;vertical-align: middle;}