﻿* {
    margin: 0;
    padding: 0;
}

 

.mini-upload-container {
 
    padding: 10px;
    border: 2px solid #f3f3f3;
}

.mini-upload-ul {
    list-style: none;
}

.mini-upload-li {
    float: left;
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px dashed #ff6a00;
    background-color: #f3f3f3;
    margin-left: 5px;
    margin-top: 5px;
}

.mini-upload-img {
    width: 100px;
    height: 100px;
}

.mini-upload-del {
    background-color: #808080;
    color: #fff;
    right: 1px;
    font-size: 12px;
    position: absolute;
    text-decoration-line: none;
}

.mini-upload-li-clear {
    width: 100%;
    clear: both;
}

.mini-upload-last-btn {
    text-align: center;
    color: #808080;
    line-height: 100px;
}
