@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

/*************************** footer start ***************************/
.footer_top{height:.5rem; background-color:#1b1c20;}

.follow_us_list{padding:1.5rem 0; text-align:center;}
.follow_us_list li{width:2rem; margin:0 .15rem; display:inline-block;border:1px solid #515255;}
.follow_us_list li>a{width:inherit; height:2rem; line-height:2rem; overflow:hidden; white-space:nowrap; text-indent:50rem; background-repeat:no-repeat; background-size:100%; display:block;}
.icon_follow_facebook{background-image:url(../images/icon_follow_facebook.png);}
.icon_follow_twitter{background-image:url(../images/icon_follow_twitter.png);}
.icon_follow_pinterest{background-image:url(../images/icon_follow_pinterest.png);}
.icon_follow_linkedin{background-image:url(../images/icon_follow_linkedin.png);}
.icon_follow_youtube{background-image:url(../images/icon_follow_youtube.png);}
.icon_follow_google{background-image:url(../images/icon_follow_google.png);}
.icon_follow_vk{background-image:url(../images/icon_follow_vk.png);}
.icon_follow_instagram{background-image:url(../images/icon_follow_instagram.png);}

.newsletter_box{padding:1rem .625rem .125rem; text-align:center;}
.newsletter_box>h3{text-transform:uppercase; font-size:1.5rem; color:#fff; letter-spacing:.1rem;}
.newsletter_box .newsletter_main{margin-top:.5rem;}
.newsletter_box .form_text{width:100%; height:2.3rem; line-height:2.3rem; text-align:center; font-size:.875rem; background-color:#f6f6f6; border-bottom:1px #ddd solid; display:block; border-radius:0;}
.newsletter_box .form_button{width:40%; height:2rem; line-height:2rem; margin:1.5rem 0; font-size:1rem; color:#fff; border-radius:.3215rem;}

.footer_list{margin-left:.625rem;}
.footer_list>li>a{width:94%; line-height:1.5; margin-right:1rem; padding:.5rem 0; color:#fff; position:relative; display:inline-block;}
.footer_list>li>a .title{width:86vw; overflow:hidden; padding-left:.5rem; font-size:1rem; float:left;}
.footer_list>li>a em{border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #41bff2; border-style:solid; display:block; position:absolute; top:0; right:0; z-index:10; -webkit-transform:-webkit-rotate(90deg); transform:rotate(90deg); -webkit-transition:all .4s; transition:all .4s;}
.footer_list>li>a i{border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #1b1c20; border-style:solid; display:block; position:absolute; top:-.09rem; right:0; z-index:11; -webkit-transform:-webkit-rotate(90deg); transform:rotate(90deg); -webkit-transition:all .4s; transition:all .4s;}
.footer_list>li>a em, .footer_list>li>a i{margin-top:.9rem;}
.footer_list>li>a.list_close i{top:0; right:.1rem;}
.footer_list>li>a.list_close em, .footer_list>li>a.list_close i{-webkit-transform:-webkit-rotate(0); transform:rotate(0);}
.footer_list>li .help_list{ display:none;background: #333;}
.footer_list>li .help_list>li{width: 100%;height:2.5rem; line-height:2.5rem; overflow:hidden; float:left;}
.footer_list>li .help_list>li>a{text-indent:.5rem; font-size:.875rem; color:#fff; display:block;}
.footer_list>li .sort_down{width:0; height:0; float:right; border-left:.05rem solid transparent; border-right:.05rem solid transparent; border-top:.07rem solid #999; margin:.18rem -1px 0 .07rem;}
.footer_list>li:last-child{border-bottom:0;}

footer{position:relative;background: #1b1c20;}

footer section{border-top: 1px solid #27282b;}
footer section, footer section a{line-height:1.5rem; padding:.625rem 0; text-align:center; color:#a6a6a6; }
footer section a{border:0;}
footer .c_lang{font-size:.2rem; line-height:.46rem; height:.46rem; border-top:1px #eee solid; padding:0 3%;}
footer .window_list{position:fixed; top:45%; display:none; width:80%; left:10%; background:rgba(0,0,0,.7); border-radius:.08rem; padding:.625rem 0; z-index:10001;}
footer .window_list .c{line-height:1.25rem; text-align:center; position:relative;}
footer .window_list .c .close{width:1.5625rem; height:1.5625rem; content:''; background:url(../images/close.png) no-repeat center center/75%; position:absolute; top:-1.3rem; right:-.6rem;}
footer .window_list a{color:#fff;}
footer .window_list a>img{margin-right:.3125rem;}

.footer_menu_bg{background:#fff; padding-top:.05rem;}
.footer_menu .menu{border-top:1px #ddd solid; height:.44rem; line-height:.44rem; position:relative;}
.footer_menu .menu>a{display:block; text-decoration:none; line-height:.44rem; padding:0 .15rem; font-size:.18rem;}
.footer_menu .menu>em, .footer_menu .menu>i{border-width:.06rem 0 .06rem .06rem; border-style:solid; display:block; position:absolute; top:.16rem; }
.footer_menu .menu>em{right:.14rem; z-index:10;}
.footer_menu .menu>i{right:.17rem; z-index:11;}
/*************************** footer end ***************************/