@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/
@font-face {
  font-family: "OPENSANS";
  src: url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.woff2") format("woff2"),
       url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.woff") format("woff"),
       url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.ttf") format("truetype"),
       url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.eot") format("embedded-opentype"),
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIN";
  src: url("../../../../../../css/font/DIN/DIN-REGULAR.woff2") format("woff2"),
       url("../../../../../../css/font/DIN/DIN-REGULAR.woff") format("woff"),
       url("../../../../../../css/font/DIN/DIN-REGULAR.ttf") format("truetype"),
       url("../../../../../../css/font/DIN/DIN-REGULAR.eot") format("embedded-opentype"),
  font-weight: normal;
  font-style: normal;
}

img{ max-width:100%; max-height:100%;}
.blank{ height:4vw; background:#f7f7f7;}
.g_title{ text-align:center; font-size:1.375rem; font-family:"OPENSANS"; text-transform:uppercase;}

.pic_box .icon_discount{position:absolute; top:0; right:0; width:2.375rem; height:1.5625rem; color:#fff; line-height:.75rem; padding-top:.3125rem;background: #f7285e;}
.pic_box .icon_discount b{font-size:1rem;}
.pic_box .icon_discount_foot{width:0; height:0; border-width:.3125rem 1.1875rem 0; border-style:solid; border-left-color:transparent; border-right-color:transparent; position:absolute; right:0; top:1.875rem;border-top-color: #f7285e;}
.pic_box .icon_seckill{line-height:1.25rem; overflow:hidden; padding:0 .375rem; color:#fff; position:absolute; top:.375rem; left:.375rem; display:none;background: #f7285e;}



.ad_box{ background:#f7f7f7;}
.ad_box .item{ width:48%;}

.mid_ad{ padding:1.5rem 0;}
.mid_ad .img{ margin:0 0.9375rem; margin-top:1.5625rem;}
.mid_ad .brief{ text-align:center; font-family:"OPENSANS"; font-size:1rem; margin-top:1.25rem; color:#e02d55;}

.sekill_box{ padding-top:1.5rem; padding-bottom:1.875rem;}
.sekill_box .timer{ text-align:center; margin-top:1.25rem;}
.sekill_box .timer i{ width:2rem; height:2rem; line-height:2rem; display:inline-block; background:#2b2b2b; color:#fff; font-size:1rem; margin:0 0.125rem; border-radius:0.1875rem; font-family:"DIN";}
.sekill_box .timer em{ width:0.625rem; height:2rem; display:inline-block; background:url(../images/timer_bg.jpg) center no-repeat; vertical-align:top; background-size:0.25rem auto;}
.sekill_box .con{ margin:0 0.9375rem; margin-top:2.1875rem; overflow:hidden;}
.sekill_box .con .tab{ text-align:center; margin-top:1.5625rem;}
.sekill_box .con .tab a{ width:0.5rem; height:0.5rem; border-radius:0.25rem; display:inline-block; background:#d3d3d3; margin:0 0.3125rem;}
.sekill_box .con .tab a.cur{ background:#f1b2bc;}
.sekill_box .item{ width:44vw;}
.sekill_box .item .img{ height:44vw;}
.sekill_box .item .name{ height:2.5rem; line-height:1.25rem; overflow:hidden; margin-top:0.625rem;}
.sekill_box .item .name a{ font-family:"OPENSANS"; font-size:0.875rem; color:#555;}
.sekill_box .item .price{ font-family:"OPENSANS"; color:#e02d55; font-size:1rem; margin-top:0.625rem;}
.sekill_box .item .price del{margin-left:.5rem; font-size:.75rem; color:#b3b3b3;}
.sekill_box .item .progress{width:90%; height:.75rem; line-height:.75rem; overflow:hidden; margin-top:.9375rem; text-align:center; font-size:.75rem; color:#f47082; border:1px solid #f47082; border-radius:0.375rem; position:relative;}
.sekill_box .item .progress>span{width:100%; height:inherit; position:absolute; top:0; left:0; z-index:2;}
.sekill_box .item .progress>i{width:0; height:100%; background:#ffe3e7; position:absolute; top:0; left:0; z-index:1; display:block;}

.hot_box{ padding-top:1.5rem; padding-bottom:1rem;}
.hot_box .con{ margin-top:1.25rem; padding:0 0.9375rem;}
.hot_box .item{ /*width:calc((100vw - 2.8125rem) / 2);*/ width:calc((100% - 0.9375rem) / 2); float:left; margin-left:0.9375rem; margin-bottom:1.25rem;}
.hot_box .item .img{ height:calc((100vw - 2.8125rem) / 2); position:relative;}
.hot_box .item .name{ height:2.5rem; line-height:1.25rem; overflow:hidden; margin-top:0.625rem;}
.hot_box .item .name a{ font-family:"OPENSANS"; font-size:0.875rem; color:#555;}
.hot_box .item .price{ font-family:"OPENSANS"; color:#e02d55; font-size:1rem; margin-top:0.625rem;}
.hot_box .item .price del{ color:#b3b3b3; font-size:0.75rem;}
