@charset "UTF-8";

@font-face {
  font-family: "ebrima";
  src: url("ebrima.woff2") format("woff2"),
       url("ebrima.woff") format("woff"),
       url("ebrima.ttf") format("truetype"),
       url("ebrima.eot") format("embedded-opentype"),
       url("ebrima.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}