@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

.banner{margin-bottom:.75rem; position:relative;}
.banner img{vertical-align:middle;}
.home_pro_touch{width:100%; /*overflow:hidden;*/ margin-bottom:.75rem; border:#d7d7d7 solid; border-width:.0625rem 0;}
.home_pro_touch .title{height:2.5rem; line-height:2.5rem; padding-left:3.4375%; font-size:.875rem;}
.home_pro_touch .list{width:500%;}
.home_pro_touch .list .item{width:8rem; margin-right:.75rem; overflow:hidden;}
.home_pro_touch .list .item:first-child{margin-left:.75rem;}
.home_pro_touch .list .item .img{width:100%; height:8rem; position:relative;}
.home_pro_touch .list .item .img img{max-height:100%;}
.home_pro_touch .list .item .img .icon_discount{position:absolute; top:0; right:0; width:2.375rem; height:1.5625rem; color:#fff; line-height:.75rem; padding-top:.3125rem;background: #f7285e;}
.home_pro_touch .list .item .img .icon_discount b{font-size:1rem;}
.home_pro_touch .list .item .img .icon_discount_foot{width:0; height:0; border-width:.3125rem 1.1875rem 0; border-style:solid; border-left-color:transparent; border-right-color:transparent; position:absolute; right:0; top:1.875rem;border-top-color: #f7285e;}
.home_pro_touch .list .item .img .icon_seckill{line-height:1.25rem; overflow:hidden; padding:0 .375rem; color:#fff; position:absolute; top:.375rem; left:.375rem; display:none;background: #f7285e;}
.home_pro_touch .list .item .name{line-height:1.25rem; height:1.25rem; width:100%; white-space:nowrap; text-overflow:ellipsis; padding-top:.625rem; overflow:hidden;}
.home_pro_touch .list .item .name a{font-size:.75rem; color:#333;}
.home_pro_touch .list .item .price{line-height:1rem; font-size:.75rem; padding-bottom:.625rem; color:#696969;}
.home_pro_touch .list .item .price span{font-size:.75rem; color:#d70d0d;}

.home_pro{border-bottom:.0625rem #d8d9db solid;}
.home_box{width:100%; overflow:hidden; background:#fff; border-top:.0625rem #d8d9db solid;}
.home_box .small_pro{width:49.82%;}
.home_box .small_pro:nth-child(odd){border-right:.0625rem #d8d9db solid;}
.home_box .small_pro .c{width:91.6107%; margin:0 auto; padding-top:.75rem;}
.home_box .small_pro .c .img{width:100%; height:8rem; min-height:8rem; text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:11.7%; position:relative;}
.home_box .small_pro .c .img img{max-height:100%; vertical-align:middle;}
.home_box .small_pro .c .img .icon_discount{position:absolute; top:0; right:0; width:2.375rem; height:1.5625rem; color:#fff; line-height:.75rem; padding-top:.3125rem;background: #f7285e;}
.home_box .small_pro .c .img .icon_discount b{font-size:1rem;}
.home_box .small_pro .c .img .icon_discount_foot{width:0; height:0; border-width:.3125rem 1.1875rem 0; border-style:solid; border-left-color:transparent; border-right-color:transparent; position:absolute; right:0; top:1.875rem;border-top-color: #f7285e;}
.home_box .small_pro .c .img .icon_seckill{line-height:1.25rem; overflow:hidden; padding:0 .375rem; color:#fff; position:absolute; top:.375rem; left:.375rem; display:none;background: #f7285e;}
.home_box .small_pro .c .proname{height:2rem; line-height:1rem; padding-top:.625rem; overflow:hidden;}
.home_box .small_pro .c .proname a{font-size:.75rem; color:#333;}
.home_box .small_pro .c .price{line-height:1rem; padding-bottom:.625rem; font-size:.75rem; color:#696969;}
.home_box .small_pro .c .price span{font-size:.75rem; color:#d70d0d;}
