@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

.homebg{background:#ebeced;}
.banner{position:relative;}
.banner img{vertical-align:middle;}
.banner .btn{width:100%; text-align:center; position:absolute; left:0; bottom:.625rem;}
.banner .btn span{width:.3125rem; height:.3125rem; margin:0 .1%; background:#fff; border-radius:1rem; display:inline-block; content:'';}
.banner .btn span.on{background:#ccc;}

.htitle{height:2.5rem; line-height:2.5rem; margin-bottom:.75rem; text-align:center; font-size:1rem; color:#333; background:#fff;}

.home_box{width:93.4375%; margin:0 auto 1rem; border:.0625rem #d8d9db solid; border-radius:.3125rem; background:#fff;}

.home_box .big_pro{width:96.3210%; margin:0 auto; padding-top:.625rem;}
.home_box .big_pro .img{text-align:center;}
.home_box .big_pro .img img{vertical-align:middle;}
.home_box .big_pro .proname{width:100%; line-height:1.5rem; overflow:hidden; margin-top:.625rem; white-space:nowrap; text-overflow:ellipsis;}
.home_box .big_pro .proname a{font-size:.75rem; color:#333;}

.home_box .small_pro{width:49.8327%;}
.home_box .small_pro:nth-child(odd){border-right:.0625rem #d8d9db solid;}
.home_box .small_pro .c{width:91.6107%; margin:0 auto; padding-top:.75rem;}
.home_box .small_pro .c .img{height:7.5rem; text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:11.72%; position:relative;}
.home_box .small_pro .c .img img{height:100%; vertical-align:middle;}
.home_box .small_pro .c .img .icon_discount{position:absolute; top:0; right:0; width:2.375rem; height:1.5625rem; color:#fff; line-height:.75rem; padding-top:.3125rem;background: #f7285e;}
.home_box .small_pro .c .img .icon_discount b{font-size:1rem;}
.home_box .small_pro .c .img .icon_discount_foot{width:0; height:0; border-width:.3125rem 1.1875rem 0; border-style:solid; border-left-color:transparent; border-right-color:transparent; position:absolute; right:0; top:1.875rem;border-top-color: #f7285e;}
.home_box .small_pro .c .img .icon_seckill{line-height:1.25rem; overflow:hidden; padding:0 .375rem; color:#fff; position:absolute; top:.375rem; left:.375rem; display:none;background: #f7285e;}
.home_box .small_pro .c .proname{height:2rem; line-height:1rem; padding-top:.625rem; overflow:hidden;}
.home_box .small_pro .c .proname a{font-size:.75rem; color:#333;}
.home_box .small_pro .c .price{line-height:1rem; padding-bottom:.625rem; font-size:.75rem; color:#696969;}
.home_box .small_pro .c .price span{font-size:0.75rem; color:#d70d0d;}


