@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

.header_top{position:relative; z-index:900; box-shadow:0 0 .625rem #ddd;}
.header_top .head_bg_col{height:3.625rem; position:relative;}
.header_top .logo{vertical-align: middle;width:100%; height:2.5rem; padding:.5rem 0; text-align:left; text-indent: 3rem; overflow:hidden;}
.header_top .logo h1{vertical-align: middle;width:100%; height:2.5rem; text-align:left;}
.header_top .logo:after, .header_top .logo h1:after{content:'';display: inline-block;vertical-align: middle;height: 100%;}
.header_top .logo img{max-height:100%;max-width: 50%;}
.header_top .head_menu{width:5rem; position:absolute; left:0; top:0;}
.header_top .head_menu.fl{width: 3rem;}
.header_top .head_menu>div{position:relative;}
.header_top .head_menu>div>a{width:1.5rem; height:3.625rem; display:block;}
.header_top .head_menu>div>a>img{margin-top:1.2rem;}
.header_top .head_menu.fl>div>a{padding-left:.5rem;}
.header_top .head_menu.fr{left:inherit; right:0;}
.header_top .head_menu.fr>div>a{padding-right:1rem;}
.header_top .head_menu.fr>div .cart_count{width:1rem; height:1rem; line-height:1rem; text-align:center; font-size:.75rem; color:#fff; background-color:#be0404; border-radius:50%; position:absolute; top:.8rem; right:.5rem;}
.header_fill{height:3.625rem; content:'.';}