@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Playfair+Display:400,700');

/*************************** footer start ***************************/
footer{overflow: hidden;position:relative;background: #f8f8f8;}
.box-sizing{box-sizing: border-box;-o-box-sizing: border-box;-webkit--o-box-sizing: border-box;-moz--o-box-sizing: border-box;-ms--o-box-sizing: border-box;}
.newsletter_box{padding:6.1vw 4vw 8vw; text-align:center;}
.newsletter_box>h3{height: 2.625rem;line-height: 2.625rem;text-align: center;font-size: 1.125rem;color: #111;font-family: 'PlayfairDisplay',Arial;font-weight: bold;}
.newsletter_box .form_text{ display:block;width:100%; height:11.2vw; line-height:11.2vw; text-align:center;background-color:#ffffff;font-family: 'Montserrat',Arial;  border-radius:11.2vw;font-size: 0.75rem;border:0.125rem solid #ebebeb;}
.newsletter_box .form_button{width:100%; height:11.2vw; line-height:11.2vw; margin-top: 2.4vw; font-size:0.9375rem; color:#fff;font-family: 'Montserrat',Arial; border: none;background: #ff8877;text-transform: uppercase;border-radius:11.2vw;}

.follow_us_list{font-size: 0;text-align:center;padding-bottom: 8vw;}
.follow_us_list li{display:inline-block;width:1.875rem;height: 1.625rem; margin:0 .35rem; }
.follow_us_list li>a{width:inherit; height:1.625rem; line-height:1.875rem; overflow:hidden; white-space:nowrap; text-indent:50rem; background-repeat:no-repeat;background-image: url(../images/share.png);background-size: auto 1.625rem;  display:block;}
.icon_follow_facebook{background-position: 0 center;}
.icon_follow_instagram{background-position: -2.4375rem center;}
.icon_follow_twitter{background-position: -4.875rem center;}
.icon_follow_linkedin{background-position: -7.3125rem center;}
.icon_follow_google{background-position: -9.75rem center;}
.icon_follow_pinterest{background-position: -12.1875rem center;}
.icon_follow_youtube{background-position: -14.625rem center;}
.icon_follow_vk{background-position: -17.0625rem center;}

.footer_list{width: 92vw;margin:auto;border-top: 1px solid #dddddd;border-bottom: 1px solid #dddddd;}
.footer_list>li{border-bottom: 1px solid #dddddd;}
.footer_list>li>a{position:relative; display:block;height:2.4375rem; line-height:2.4375rem; color:#111;font-family: 'Montserrat',Arial; }
.footer_list>li>a .title{width:80%; overflow:hidden;font-size: 0.875rem; float:left;}
.footer_list>li>a em, .footer_list>li>a i{position: absolute;top: 0;bottom: 0;right: 0;margin:auto;z-index:11; -webkit-transition:all .4s; transition:all .4s;}
.footer_list>li>a em{width: 15px;height: 1px;background: #111;}
.footer_list>li>a i{display: none;height: 15px;width: 1px;background: #111;right: 7px;}
.footer_list>li>a.list_close i{display: block;}
.footer_list>li .help_list{ display:none;}
.footer_list>li .help_list>li{ width: 100%;height:1.5625rem; line-height:1.5625rem;}
.footer_list>li .help_list>li>a{ overflow:hidden; text-overflow: ellipsis;white-space: nowrap; display:block;font-size:.875rem; color:#999999;font-family: 'Montserrat',Arial;font-weight: 300;}
.footer_list>li:last-child{border-bottom:0;}

footer section{margin:1rem 0 1.6875rem;}
footer section{line-height:1.1825rem;text-align:center; color:#999999;font-family: 'Montserrat',Arial; }
footer section a{border:0;color:#999999;}
footer .c_lang{font-size:.2rem; line-height:.46rem; height:.46rem; border-top:1px #eee solid; padding:0 3%;}
footer .window_list{position:fixed; top:45%; display:none; width:80%; left:10%; background:rgba(0,0,0,.7); border-radius:.08rem; padding:.625rem 0; z-index:10001;}
footer .window_list .c{line-height:1.25rem; text-align:center; position:relative;}
footer .window_list .c .close{width:1.5625rem; height:1.5625rem; content:''; background:url(../images/close.png) no-repeat center center/75%; position:absolute; top:-1.3rem; right:-.6rem;}
footer .window_list a{color:#fff;}
footer .window_list a>img{margin-right:.3125rem;}
/*************************** footer end ***************************/