@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

@font-face {
  font-family: "Roboto";
  src: url("../../../../../../css/font/Roboto-Regular/font.woff2") format("woff2"),
       url("../../../../../../css/font/Roboto-Regular/font.woff") format("woff"),
       url("../../../../../../css/font/Roboto-Regular/font.ttf") format("truetype"),
       url("../../../../../../css/font/Roboto-Regular/font.eot") format("embedded-opentype"),
       url("../../../../../../css/font/Roboto-Regular/font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../../../css/font/Roboto-Bold/Roboto-Bold.woff2") format("woff2"),
       url("../../../../../../css/font/Roboto-Bold/Roboto-Bold.woff") format("woff"),
       url("../../../../../../css/font/Roboto-Bold/Roboto-Bold.ttf") format("truetype"),
       url("../../../../../../css/font/Roboto-Bold/Roboto-Bold.eot") format("embedded-opentype"),
       url("../../../../../../css/font/Roboto-Bold/Roboto-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

.ind_bg{height: 2.6vw;background: #eee;}
.banner{position:relative;}
.banner img{vertical-align:middle;}
.banner .btn{position:absolute; left:0; width:100%; bottom:.75rem; text-align:center;}
.banner .btn span{display:inline-block; content:''; width:.4375rem; height:.4375rem;border:1px solid #c8c4c5; border-radius:1rem; background:#fff; margin:0 .4%;}
.banner .btn span.on{background:#fe9ec7;border-color:#fe9ec7;}
.ban{text-align: center;padding-top: 5.1vw;font-size: 0;}
.ban.container{width: 92vw;margin:auto;}
.ban img{vertical-align:middle}
.mid_ban{width: 92vw;margin:0 auto;padding-top: 2.7vw;}

.index_products_0{padding-top: 5.1vw;}
.index_products .container{width: 92vw;margin:auto;}
.index_category_0{overflow-y: hidden;overflow-x:auto; height: 2rem;font-size: 0;background: #222222;white-space: nowrap;padding:.875rem 0;}
.index_category_0 .cate_item{position: relative;display: inline-block;vertical-align: top;line-height: 2rem;margin:0 .3125rem;font-family: 'Roboto',Arial;font-size: .9375rem;font-weight: bold;color: #848484;padding:0 .375rem;text-transform: uppercase;}
.index_category_0 .cate_item.on{color: #fff;}
.index_category_0 .cate_item.on:after{position: absolute;bottom: 0;left: 0;right: 0;height: .125rem;background: #fff;content: '';}
#index_products_list{padding:1.5rem 0 .3125rem;}

.weekly_hot_sales{position: relative;height: 135.2vw;padding-bottom: .875rem;}
.weekly_hot_sales .weekly_img{text-align: center;}
.weekly_hot_sales .hot_sales_container{position: absolute;bottom: 0;left: 0;right: 0;width: 92vw;height: 123.2vw;margin:12vw auto 0;z-index: 1;background: #1f1b19;}
.weekly_hot_sales .hot_sales_container .top_title{height: 2rem;line-height: 2rem;font-family: 'Roboto',Arial;font-weight: bold;font-size: 1.125rem;color: #fff;text-align: center;text-transform: uppercase; padding:6.7vw 0 5.4vw;}
.swipe_products{position: relative;}
.swipe_products .cht{height: 3rem;line-height: 3rem;margin:1rem 0;font-size: 1.25rem;color: #000;text-align: center;border-bottom: 1px solid #ebebeb;font-family: "Interstate_Regular",Arial;}
.swipe_products .prev{position: absolute;left: 0vw;top:19.3vw;width: 10.7vw;height: 10.7vw;background: url(../images/left.png) no-repeat center center / 10.7vw auto;}
.swipe_products .next{position: absolute;right: 0vw;top:19.3vw;width: 10.7vw;height: 10.7vw;background: url(../images/right.png) no-repeat center center / 10.7vw auto;}
.swipe_products .container{margin:auto;width: 84vw;overflow: hidden;border-radius: 3px;}
.swipe_products ul{overflow: hidden;}
.swipe_products .item{width: 49.3vw;}
.swipe_products .item .img{position: relative;width: 49.3vw;height:49.3vw;margin:0 auto; text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:11.72%;}
.swipe_products .item .img img{vertical-align:middle; max-height:100%;}
.swipe_products .item .proname{overflow: hidden;display: block;width: 49.3vw;line-height: 1.1875rem;max-height: 2.375rem;color:#fff;font-size: .75rem;font-family: 'Roboto',Arial;margin: 0.25rem auto .125rem;}
.swipe_products .item .star{width: 49.3vw;margin:0 auto;height: 1rem; color:#e56f1d;padding-top: .375rem;}
.swipe_products .item .star>span{margin-left:.3rem; font-size:.65rem; color:#828282;}
.swipe_products .item .star .review_star, .swipe_products .item .star .review_star>span:first-child{margin-left:0;}
.swipe_products .item .star .review_star>span{width:.75rem; height:.75rem; margin-left:.1rem;}
.swipe_products .item .price{width: 49.3vw;margin:0 auto;line-height:1.6875rem;color:#000;font-size: .875rem;color:#ff4083;font-family: 'Roboto',Arial;}
.swipe_products .item .price del{display: inline-block;margin-left: 0.375em;margin-right: 0.25rem;color:#999;font-size: .875rem;}
.swipe_products .item .time{overflow: hidden;width: 78.1vw;height: 3rem;font-size: 0;margin:5.9vw auto 0;padding: 0 2.4vw;background: #ff4083;}
.swipe_products .item .time .time_item{position: relative;display: inline-block;vertical-align: top;width: 25%;text-align: center;color: #fff;font-family: 'Roboto',Arial;padding-top: 0.5rem;}
.swipe_products .item .time .time_item .num{display: block;height: 1.1875rem;line-height: 1.1875rem;font-size: 1.1875rem;}
.swipe_products .item .time .time_item .unit{display: block;height: .75rem;line-height: .75rem;font-size: .75rem; text-transform:capitalize;  }
.swipe_products .item .time .time_item:last-child:after{display: none;}
.swipe_products .item .time .time_item:after{position: absolute;top: 0;bottom: 0;right: 0;height: 1.5rem;margin:auto 0;width: 1px;background: #fff;content: '';}

.products_list .container{width: 92vw;margin:auto;}
.products_list .item{width:43.7vw;text-align: center;padding-bottom: 1.625rem;}
.products_list .item.last{float: right;}
.products_list .item .img{position: relative;height: 43.7vw;text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:11.72%;}
.products_list .item .img img{vertical-align:middle; max-height:100%;}
.products_list .item .img .icon_discount{position:absolute; top:0; left:0; width:2.75rem; height:1.25rem; font-size: 0.8125rem;color:#fff;text-align: center; line-height:1.35rem;background: #fe9ec7;font-family: 'Roboto',Arial;}
.products_list .item .img .icon_seckill{line-height:1.25rem; overflow:hidden; padding:0 .375rem; color:#fff; position:absolute; top:.375rem; left:.375rem; display:none;background: #f7285e;}
.products_list .item .proname{display: block;margin-top: .625rem;line-height: 1.1875rem;max-height: 2.375rem;overflow: hidden;color:#333333;font-size: 1rem;font-family: 'Roboto',Arial;text-align: left;}
.products_list .item .star{line-height: 1.3125rem;height: 1.3125rem; color:#ffc322;margin-top: .1875em;text-align: left;}
.products_list .item .star>span{margin-left:.3rem; font-size:.65rem; color:#828282;}
.products_list .item .star .review_star, .products_list .item .star .review_star>span:first-child{margin-left:0;}
.products_list .item .star .review_star>span{width:0.75rem; height:0.75rem; margin-left:.1rem;}
.products_list .item .price{line-height: 1.6875rem;height: 1.6875rem;color:#ff4083;font-size: 1rem;font-family: 'Roboto',Arial;text-align: left;}
.products_list .item .price del{color:#999999;font-size: 0.875rem;padding-left: 0.375rem;}


.index_blog .top_title{height: 2rem;line-height: 2rem;font-size: 1.125rem;font-family: 'Roboto',Arial;font-weight: bold;text-transform: uppercase; color: #333;text-align: center;padding:1rem 0;}
.blog_list{width: 92vw;margin:0 auto;padding-bottom: 0.625rem;}
.blog_item{margin-bottom: 1.5rem;}
.blog_item .blog_img{width: 41.3vw;text-align: center;}
.blog_item .blog_content{width: 47.2vw;}
.blog_item .blog_content .blog_time{height: 1.125rem;line-height: 1.125rem;font-size: .75rem;color: #ff4083;font-family: 'Roboto',Arial;padding-left: 1.25rem;background: url(../images/date.png) no-repeat 0 center/ .875rem auto;}
.blog_item .blog_content .blog_title{overflow: hidden;display: block;max-height: 2.375rem;line-height: 1.1875rem;font-size: 0.875rem;color: #333;font-family: 'Roboto',Arial;font-weight: bold;margin-top: 0.4375rem;}
.blog_item .blog_content .blog_brief{overflow: hidden;white-space: nowrap;text-overflow: ellipsis; height: 1rem;line-height: 1rem;font-size: .75rem;color: #666;font-family: 'Roboto',Arial;margin-top: .8125rem;}

