/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

a[href=javascript]{cursor: default;}
.go_home{display: none;position: fixed;top: 4vw;left: 4vw;width: 12vw;height: 12vw;max-width: 90px;max-height: 90px;background:url(../images/icon_home.png) no-repeat center center;background-size: 100% 100%;z-index: 10;}
#bodyer{overflow:hidden;}
#bodyer img{max-width: 100%;max-height: 100%;}
#bodyer img[src=""]{display: none;}
#bodyer .mid{max-width: 1200px;margin:auto;}
#bodyer .template_list .title{text-align: center;height: 9.7vw;padding: 2.6vw;}
#bodyer .template_list .title img{max-height: 9.7vw;}
#bodyer .template_list .title a{display: inline-block;vertical-align: middle;max-width: 100%;max-height: 100%;}
#bodyer .template_list .title:after{content: '';vertical-align: middle;height: 100%;}
#bodyer .box{text-align: center;font-size: 0;background-size: 100.05% 100.05%;background-position: center;background-repeat: no-repeat;}
#bodyer .box .mid .clear{height: 0;display: inline-block;width: 100%;}
#bodyer .box0{background-image: url(../images/bg_0.jpg);}
#bodyer .box1{background-image: url(../images/bg_1.jpg);text-align: justify;text-justify: inter-ideograph;font-size: 0;}
#bodyer .box2{background-image: url(../images/bg_2.jpg);text-align: justify;text-justify: inter-ideograph;font-size: 0;}
#bodyer .box3{background-image: url(../images/bg_3.jpg);padding-bottom: 6.77vw;}

#bodyer .t3{display: inline-block;vertical-align: top;width: 32.6%;margin-bottom: 1%;}
#bodyer .t4{display: inline-block;width: 100%;}

#bodyer .t6{display: inline-block;vertical-align: top;width: 49.33%;margin-bottom: 1.6%;}

#bodyer .t8{text-align: justify;text-justify: inter-ideograph;font-size: 0;}
#bodyer .t8 .clear{display: inline-block;width: 100%;}

#bodyer .pro_box{width:32.4%; overflow:hidden;position: relative;display: inline-block;vertical-align: top;background: #f19d29;padding-bottom: 0.3%;margin-bottom: 1.41%;font-family: 'Century Gothic',arial;}
#bodyer .pro_box .img{position: relative;width: 100%;padding-top: 100%;}
#bodyer .pro_box .img img{position: absolute;top: 1.8%;bottom: 1.8%;left: 1.8%;right: 1.8%;margin:auto;max-width:96.4%; max-height:96.4%;}
#bodyer .pro_box .view{position: relative;padding: 2.57% 10%;}
#bodyer .pro_box .view:before{content: '';position: absolute;top: 0;bottom: 0;left: 0;width: 10%;background: url(../images/name_left.png) no-repeat left center;background-size: auto 83%;}
#bodyer .pro_box .view:after{content: '';position: absolute;top: 0;bottom: 0;right: 0;width: 10%;background: url(../images/name_right.png) no-repeat right center;background-size: auto 83%;}
#bodyer .pro_box .name{display: block;height: 40px;line-height: 20px;font-weight: bold;color: #000;font-size: 14px;overflow: hidden;text-align: left;}
#bodyer .pro_box .price{height: 43px;line-height: 43px;font-size: 42px;color: #fff;font-weight: bold;margin-top: 11px;}
#bodyer .pro_box .price em{font-size: 24px;line-height: 22px;display: inline-block;margin-right: 4px;}
#bodyer .pro_box .addtocart{position: absolute;right: 10%;bottom: 2.57%;width: 15.7%;max-width: 61px;max-height: 56px;}

#holiday_footer{display: none;}

/*@media screen and (min-width: 768px) and (max-width: 959px) {}*/
@media screen and (max-width: 1300px) {
	#bodyer .mid{max-width: auto;padding: 0 3%;}
}
@media screen and (max-width: 1200px) {
	#bodyer .pro_box .price{height: 36px;line-height: 36px;font-size: 34px;}
}
@media screen and (max-width: 1000px) {
	.go_home{display: block;}
	#top_outer{display: none;}
	#bodyer .pro_box .price{height: 32px;line-height: 32px;font-size: 30px;margin-top: 6px;}
	#bodyer .pro_box .addtocart{max-width: 50px;}
}
@media screen and (max-width: 850px) {
	#bodyer .pro_box{width: 49.3%;}
}
@media screen and (max-width: 600px) {
	#bodyer .template_list .title{height: 11.7vw;padding: 3.6vw;}
	#bodyer .template_list .title img{max-height: 11.7vw;}
	#bodyer .pro_box .name{font-size: 12px;height: 36px;line-height: 18px;}
	#bodyer .t6{width: 100%;}
	#bodyer .pro_box .price{height: 24px;line-height: 24px;font-size: 20px;}
	#bodyer .pro_box .price em{font-size: 16px;line-height: 16px;}
}
@media screen and (max-width: 400px) {
	#bodyer .pro_box .price{height: 24px;line-height: 24px;font-size: 16px;}
	#bodyer .pro_box .price em{font-size: 12px;}
}