@charset "UTF-8";

@font-face {
  font-family: "Roboto-Medium";
  src: url("Roboto-Medium.woff2") format("woff2"),
       url("Roboto-Medium.woff") format("woff"),
       url("Roboto-Medium.ttf") format("truetype"),
       url("Roboto-Medium.eot") format("embedded-opentype"),
       url("Roboto-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}