@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

@font-face {
  font-family: "Interstate_Regular";
  src: url("../../../../../../css/font/Interstate/Interstate-Regular.woff2") format("woff2"),
       url("../../../../../../css/font/Interstate/Interstate-Regular.woff") format("woff"),
       url("../../../../../../css/font/Interstate/Interstate-Regular.ttf") format("truetype"),
       url("../../../../../../css/font/Interstate/Interstate-Regular.eot") format("embedded-opentype"),
       url("../../../../../../css/font/Interstate/Interstate-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.wrapper{width: 92vw;margin:auto;}

.banner{position:relative;}
.banner img{vertical-align:middle;}
.banner .btn{position:absolute; left:0; width:100%; bottom:.3125rem; text-align:center;}
.banner .btn span{display:inline-block; content:''; width:.3125rem; height:.3125rem; border-radius:1rem; background:#fff; margin:0 .1%;}
.banner .btn span.on{background:#ccc;}
.n_ban .ban{width: 44vw;}
.ban{text-align: center;margin-top: 1rem;}
.ban img{vertical-align:middle}

.swipe_products{position: relative;}
.swipe_products .cht{height: 3rem;line-height: 3rem;margin:1rem 0;font-size: 1.25rem;color: #000;text-align: center;border-bottom: 1px solid #ebebeb;font-family: "Interstate_Regular",Arial;}
.swipe_products .prev{position: absolute;left: 0;top:60vw;width: 1.625rem;height: 2.75rem;background: rgba(255,255,255,0.9) url(../images/prev.png) no-repeat center center / 0.6rem auto;}
.swipe_products .next{position: absolute;right: 0;top:60vw;width: 1.625rem;height: 2.75rem;background: rgba(255,255,255,0.9) url(../images/next.png) no-repeat center center / 0.6rem auto;}
.swipe_products .container{margin:auto;width: 81.3vw;overflow: hidden;}
.swipe_products ul{overflow: hidden;}
.swipe_products .item{width: 81.3vw;padding-bottom: 0.5rem;text-align: center;}
.swipe_products .item .img{position: relative;height:81.3vw; text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:11.72%;}
.swipe_products .item .img img{vertical-align:middle; max-height:100%;}

.swipe_products .item .icon_discount,.swipe_products .item .icon_seckill{line-height:1.25rem; overflow:hidden; padding:0.125rem .375rem; color:#fff; display:none;font-size: 0.75rem;vertical-align: middle;background: #f7285e;}
.swipe_products .item .icon_discount{display: inline;}
.swipe_products .item .proname{display: block;margin-top: 0.875rem;line-height: 1.25rem;max-height: 2.5rem;overflow: hidden;padding:0 2%;color:#333;font-size: 1rem;}
.swipe_products .item .star{padding-top:.8rem; color:#e56f1d;}
.swipe_products .item .star>span{margin-left:.3rem; font-size:.65rem; color:#828282;}
.swipe_products .item .star .review_star, .swipe_products .item .star .review_star>span:first-child{margin-left:0;}
.swipe_products .item .star .review_star>span{width:1.25rem; height:1.25rem; margin-left:.1rem;}
.swipe_products .item .price{margin-top: 0.8rem;line-height:1.5rem;color:#000;font-size: 1.25rem;color:#333;}
.swipe_products .item .price del{display: inline-block;margin-left: 0.2rem;margin-right: 0.25rem;color:#bbb;font-size: 1rem;}

.products_list .cht{height: 3rem;line-height: 3rem;margin:1rem 0;font-size: 1.25rem;color: #000;text-align: center;border-bottom: 1px solid #ebebeb;font-family: "Interstate_Regular",Arial;}
.products_list .item{width:44vw;padding-bottom: 1.5rem;text-align: center;}
.products_list .item .img{position: relative;height:44vw; text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:11.72%;}
.products_list .item .img img{vertical-align:middle; max-height:100%;}
.products_list .item .img .icon_discount{position:absolute; top:0; right:0; width:2.375rem; height:1.5625rem; color:#fff; line-height:.75rem; padding-top:.3125rem;background: #f7285e;}
.products_list .item .img .icon_discount b{font-size:1rem;}
.products_list .item .img .icon_discount_foot{width:0; height:0; border-width:.3125rem 1.1875rem 0; border-style:solid; border-left-color:transparent; border-right-color:transparent; position:absolute; right:0; top:1.875rem;border-top-color: #f7285e;}
.products_list .item .img .icon_seckill{line-height:1.25rem; overflow:hidden; padding:0 .375rem; color:#fff; position:absolute; top:.375rem; left:.375rem; display:none;background: #f7285e;}
.products_list .item .proname{display: block;margin-top: 0.5rem;line-height: 1.125rem;max-height: 2.25rem;overflow: hidden;padding:0 2%;color:#333;font-size: 0.875rem;}
.products_list .item .star{line-height:.65rem; padding-top:.375rem; color:#e56f1d;}
.products_list .item .star>span{margin-left:.3rem; font-size:.65rem; color:#828282;}
.products_list .item .star .review_star, .products_list .item .star .review_star>span:first-child{margin-left:0;}
.products_list .item .star .review_star>span{width:1rem; height:1rem; margin-left:.1rem;}
.products_list .item .price{margin-top: 0.375rem;line-height:1.25rem;color:#000;font-size: 1rem;color:#333;}
.products_list .item .price del{display: inline-block;margin-left: 0.2rem;color:#bbb;font-size: 0.875rem;}
.products_list .more{text-align: center;font-size: 0;}
.products_list .more a{display: inline-block;height: 1.375rem;line-height: 1.375rem;font-size: 0.875rem;text-transform: uppercase;border:1px solid #aaaaaa;color: #333;padding:0 1.375rem;font-family: "Interstate_Regular",Arial;}

/*
.wrapper{width:100%; max-width:820px; margin:auto;}

.banner{text-align:center; position:relative;}
.banner img{vertical-align:middle;}
.banner .btn{width:100%; text-align:center; position:absolute; bottom:.3125rem; left:0;}
.banner .btn span{width:.3125rem; height:.3125rem; margin:0 .1%; background:#fff; border-radius:1rem; display:inline-block; content:'';}
.banner .btn span.on{background:#ccc;}
.n_ban .ban{width:44vw;}
.ban{margin-top:1rem; text-align:center;}
.ban img{vertical-align:middle}

.products_list{width:98%; margin-right:2%;}
.products_list .item{width:50%; margin-top:1.6875rem; text-align:center;}
.products_list .item .item_box{margin-left:5%;}
.products_list .item .img{height:46vw; text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:11.72%; position:relative;}
.products_list .item .img img{max-height:100%; vertical-align:middle;}
.products_list .item .img .icon_discount{position:absolute; top:0; right:0; width:2.375rem; height:1.5625rem; color:#fff; line-height:.75rem; padding-top:.3125rem;}
.products_list .item .img .icon_discount b{font-size:1rem;}
.products_list .item .img .icon_discount_foot{width:0; height:0; border-width:.3125rem 1.1875rem 0; border-style:solid; border-left-color:transparent; border-right-color:transparent; position:absolute; right:0; top:1.875rem;}
.products_list .item .img .icon_seckill{line-height:1.25rem; overflow:hidden; padding:0 .375rem; color:#fff; position:absolute; top:.375rem; left:.375rem; display:none;}
.products_list .item .proname{height:2.25rem; line-height:1.125rem; overflow:hidden; margin-top:.625rem; text-align:left; color:#555; font-size:.875rem; display:block;}
.products_list .item .price{line-height:1.125rem; margin-top:.625rem; text-align:left; font-size:1rem; color:#333;}
.products_list .item .price del{font-size:.75rem; color:#aaa; display:inline-block;}

@media (min-width:480px) and (max-width:736px){
	.products_list .item{width:33.33%;}
	.products_list .item .img{height:30vw;}
}

@media (min-width:736px) and (max-width:839px){
	.products_list .item{width:33.33%;}
	.products_list .item .img{height:30vw;}
}

@media (min-width:839px){
	.products_list{width:auto; margin-right:25px;}
	.products_list .item{width:265px;}
	.products_list .item .item_box{margin-left:25px;}
	.products_list .item .img{height:240px; min-height:240px;}
}
*/