@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

@font-face {
  font-family: "Interstate";
  src: url("../../../../../../css/font/Interstate/Interstate-Regular.woff2") format("woff2"),
       url("../../../../../../css/font/Interstate/Interstate-Regular.woff") format("woff"),
       url("../../../../../../css/font/Interstate/Interstate-Regular.ttf") format("truetype"),
       url("../../../../../../css/font/Interstate/Interstate-Regular.eot") format("embedded-opentype"),
       url("../../../../../../css/font/Interstate/Interstate-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OPENSANS";
  src: url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.woff2") format("woff2"),
       url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.woff") format("woff"),
       url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.ttf") format("truetype"),
       url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.eot") format("embedded-opentype"),
       url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.ind_bg{height: 2.6vw;background: #eee;}
.banner{position:relative;}
.banner img{vertical-align:middle;}
.banner .btn{position:absolute; left:0; width:100%; bottom:.3125rem; text-align:center;}
.banner .btn span{display:inline-block; content:''; width:.3125rem; height:.3125rem; border-radius:1rem; background:#fff; margin:0 .1%;}
.banner .btn span.on{background:#ccc;}
.ban{text-align: center;margin-top: 3.8vw;font-size: 0;}
.ban.fir{margin-top: 5.3vw;}
.ban img{vertical-align:middle}
.top_title_tips{font-size: 0.75rem;color: #fb7963;height: 1.125rem;line-height: 1.125rem;padding-top: 6.9vw;text-align: center;font-family: "OPENSANS",Arial;}
.top_title{font-size: 1rem;color: #333;text-align: center;height: 1.75rem;line-height: 1.75rem;padding-bottom: 9.3vw;position: relative;text-transform: uppercase;font-family: 'Interstate',Arial;}
.top_title:before{position: absolute;content: '';width: 14.5vw;left: 0;right: 0;height: 0.125rem;background: #fb7963;top: 2.125rem;margin:auto;}

.p_list .item .img{position: relative;height:74.1vw; text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:11.72%;}
.p_list .item .img img{vertical-align:middle; max-height:100%;}
.p_list .item .img .icon_discount{position:absolute; top:0; right:0; width:2.375rem; height:1.5625rem; color:#fff; line-height:.75rem; padding-top:.3125rem;background: #f7285e;}
.p_list .item .img .icon_discount b{font-size:1rem;}
.p_list .item .img .icon_discount_foot{width:0; height:0; border-width:.3125rem 1.1875rem 0; border-style:solid; border-left-color:transparent; border-right-color:transparent; position:absolute; right:0; top:1.875rem;border-top-color: #f7285e;}
.p_list .item .img .icon_seckill{line-height:1.25rem; overflow:hidden; padding:0 .375rem; color:#fff; position:absolute; top:.375rem; left:.375rem; display:none;background: #f7285e;}
.p_list .item .proname{display: block;margin-top: 1.25rem;line-height: 1.25rem;max-height: 2.5rem;overflow: hidden;padding:0 2%;color:#333;font-size: 0.875rem;font-family: "OPENSANS",Arial;}
.p_list .item .star{line-height: 1.6875rem;height: 1.6875rem; color:#e56f1d;}
.p_list .item .star>span{margin-left:.3rem; font-size:.65rem; color:#828282;}
.p_list .item .star .review_star, .p_list .item .star .review_star>span:first-child{margin-left:0;}
.p_list .item .star .review_star>span{width:0.875rem; height:0.875rem; margin-left:.1rem;}
.p_list .item .price{line-height: 1.6875rem;height: 1.6875rem;color:#d74444;font-size: 1rem;font-family: "OPENSANS",Arial;}
.p_list .item .price del{color:#999999;font-size: 0.75rem;padding-left: 0.25rem;}

.swipe_products{position: relative;}
.swipe_products .container{width: 77.8vw;margin:auto;}
.swipe_products ul{overflow: hidden;}
.swipe_products .item{width: 74.1vw;padding: 0 1.85vw 1.5rem;text-align: center;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}

.products_list .container{width: 92vw;margin:auto;}
.products_list .item{width:44vw;text-align: center;padding-bottom: 1.5rem;}
.products_list .item:nth-child(odd){float: right;}
.products_list .item .img{height: 44vw;}