#user_heading .ind_head{width:100%; margin: 15px; }
#user_heading h2{overflow: hidden;font-size: 22px;color: #000;padding:17px 0;}
#user_heading .welcome{font-size: 24px;line-height: 25px;color: #000;}
#user_heading .level{font-size: 0;margin-top: 3px;/*margin-top: 15px;padding-left: 60px;background: url(../images/user/icon_level.png) no-repeat left center;*/}
#user_heading .level>span{display: inline-block;padding-top:3px;line-height: 20px;vertical-align: middle;}
#user_heading .level .num{padding-right: 9px;font-size: 18px;color: #666;font-style: italic;}
#user_heading .level .num img{max-width: 20px;max-height: 20px;}
#user_heading .level .condition{font-size: 12px;color: #888;}
#user_heading .level .line{position: relative;height: 7px;background: #f1f2f6;margin-top: 10px;}
#user_heading .level .long{position: absolute;top: 0;left: 0;height: 7px;width: 67px;background: #f2583f;}

.w_1200 #user_right_menu{float: right;margin-top: 0;width: 570px;text-align: right;}
.w_1200 #user_right_menu a{padding: 63px 4% 0;max-width: 23%;}
#user_right_menu{width: 470px;}
#user_right_menu a{position: relative;display: inline-block;padding: 63px 2% 0;max-width: 24%;line-height: 22px;text-align: center;font-size: 12px;color: #555;background: url(../images/user/icon_m0.png) no-repeat center 24px;text-decoration: none;vertical-align: top;}
#user_right_menu a span{position: absolute;top: 17px;left: 56%;min-width: 10px;width:auto;height: 16px;line-height: 16px;text-align: center;padding:0 3px;border-radius: 8px;background: #fb4729;color: #fff;font-size: 12px;}
#user_right_menu span{display: inline-block;width: 100%;}

table{
    margin: 15px;
}
td{
    font-size: 16px;
    text-align: left;
}

table .left{
    width: auto;
}