/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:100); */
 @import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);
 

.section{
  max-width:700px;
  margin:25px auto;
}
.tx{
    font-size: 2.5vh;
    font-weight: bolder; 	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.589);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.589);
	        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.589);     border: 1px solid #f7f7f7;
    border-radius: 15%;
}
 /* flight plan */
    .tpd-body .flight-plain {
        margin-left: -15px;
        margin-right: -15px;
    }

        .tpd-body .flight-plain .f-lbl {
            font-size: 13px;
        }

        .tpd-body .flight-plain .fg-row {
            font-size: 14px;
        }

            .tpd-body .flight-plain .fg-row p.fg-prg {
            }

        .tpd-body .flight-plain .depart-row, .tpd-body .flight-plain .return-row {
            border-bottom: dashed 1px #d3d3d3;
            padding: 0 0 10px 0;
            margin-bottom: 10px;
        }

            .tpd-body .flight-plain .depart-row p.fg-prg i.fa {
                color: #3e67c0;
            }

            .tpd-body .flight-plain .return-row p.fg-prg i.fa {
                color: #fa364a;
            }

            /* end of flight plan */

            /* new flight plan */
.tp-flight-plan {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #363c44;
    font-size: 14px;
}
.tp-flight-plan .crop {
    position: relative;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}

    .tp-flight-plan .crop .itin-det-btn {
        -ms-transition: all .25s ease 0s;
        -o-transition: all .25s ease 0s;
        -moz-transition: all .25s ease 0s;
        -webkit-transition: all .25s ease 0s;
        transition: all .25s ease 0s;
    }

    .tp-flight-plan .crop .itin-det-btn {
        text-decoration: none;
        outline: none;
        position: absolute;
        right: -10px;
        top: 25px;
        font-size: 14px;
        background-color: #FF5722;
        color: white;
        padding: 10px;
        border-radius: 5px;
        line-height: normal;
    }

        .tp-flight-plan .crop .itin-det-btn .fa {
            display: none;
        }

    .tp-flight-plan .crop .context.collapsed i.fa-chevron-down {
        display: block;
    }

.tp-flight-plan .crop .context:not(.collapsed) i.fa-chevron-up {
    display: block;
}

.tp-flight-plan .context {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
    /* position: relative; */
    background: #f5f5f5;
}

.tp-flight-plan .crop .item {
    margin: 0px;
    display: flex;
    justify-content: center;
}

.tp-flight-plan .crop .trip-type {
    position: absolute;
    left: -5px;
    top: -19px;
    line-height: normal;
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 5px 10px 0;
    color: #FF9800;
    font-size: 11px;
    width: 85px;
    text-align: center;
}

    .tp-flight-plan .crop .trip-type.return {
        color: #ec397b;
        right: 0px;
        left: unset;
    }

.tp-flight-plan .item.it-1 {
    flex-grow: 5;
    display: flex;
    position: relative;
}

    .tp-flight-plan .item.it-1:before {
        content: "";
        position: absolute;
        width: calc(100% - 30px);
        height: 2px;
        /*background-color: #878787;*/
        border-top: dashed 1px #9E9E9E;
        top: 50%;
        left: 15px;
        margin-top: -1px;
    }

.tp-flight-plan .it-1 .port-seg {
    display: flex;
    flex: 3;
    position: relative;
}

    .tp-flight-plan .it-1 .port-seg .flight-seg {
        flex: 1;
        text-align: left;
        padding-bottom: 5px;
        padding-left: 5px;
    }

.tp-flight-plan .it-1 .flight-seg.origin {
    padding-left: 5px;
}

.tp-flight-plan .it-1 .flight-seg .time {
    font-size: 20px;
    color: #232b38;
    font-weight: 700;
}

.tp-flight-plan .it-1 .flight-seg .port {
    display: inline-block;
    background-color: #f5f5f5;
    padding: 0 25px 0 0;
    font-size: 16px;
    color: #878787;
    line-height: 1.2;
}

.tp-flight-plan .it-1 .flight-seg .name {
    font-size: 12px;
    color: #878787;
    line-height: 1.2;
}

.tp-flight-plan .it-1 .flight-seg.destination {
    text-align: right;
    padding-right: 15px;
}

.tp-flight-plan .flight-seg.destination .port {
    padding: 0 0 0 25px;
}

.tp-flight-plan .it-1 .airline-image {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 0 20px;
    height: 21px;
}

.tp-flight-plan .it-1 .img-wrapper {
    flex: 1;
    text-align: center;
    position: relative;
}

.tp-flight-plan .it-1 .top-label {
    color: #47cf73;
    font-size: 11px;
}

.tp-flight-plan .it-1 .df-text {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translate(-50%,-100%);
    font-size: 11px;
    color: #A2A9B3;
    text-align: center;
}

.tp-flight-plan .it-1 .top-label.has-stops {
    color: Red;
}

.tp-flight-plan .it-1 .top-label .stops {
    color: gray;
}

.tp-flight-plan .it-1 .route-dot span {
    position: absolute;
    background-color: #607d8ba3;
    /* background-color: #ff0000a3; */
    top: calc(50% - 4px);
    left: var(--data-left);
    border-radius: 10px;
    padding: 4px;
}

.tp-flight-plan .it-2 .al-name {
    display: block;
    font-size: 3vh;
}

.tp-flight-plan .item.it-2 {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    flex-direction: column;
    flex: 2 2 100px;
}

    .tp-flight-plan .item.it-2 .dr-row {
        display: flex;
        flex-direction: row;
    }

    .tp-flight-plan .item.it-2 .airline-logo {
        max-width: 100%;
        max-height: 100%;
    }

    .tp-flight-plan .item.it-2 .take-tim {
        font-size: 12px;
        color: gray;
        line-height: 20px;
    }

.tp-flight-plan .item.it-3 {
    flex-grow: 2;
    text-align: center;
}

.tp-flight-plan .crop .fly-wrap {
    border-top: solid 1px #b5b5b5;
    padding: .75rem 1.5rem;
    color: #524c61;
}

    .tp-flight-plan .fly-wrap .fly-det .f-item {
        font-family: 'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;
    }

.tp-flight-plan .fly-wrap .airway-title {
    padding-left: 3%;
    margin-bottom: .75rem;
    margin-top: 1.75rem;
}

.tp-flight-plan .fly-wrap .root-de {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.tp-flight-plan .fly-wrap .times {
    display: inline-block;
    width: 6rem;
    font-size: 12px;
    line-height: 1.125rem;
    font-weight: 400;
    letter-spacing: normal;
    color: #A2A9B3;
}

.tp-flight-plan .fly-wrap .directs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-height: 3.75rem;
}

.tp-flight-plan .fly-wrap .itin-time {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: .375rem;
    padding-bottom: .375rem;
    padding-right: 1.125rem;
}

    .tp-flight-plan .fly-wrap .itin-time:after,
    .tp-flight-plan .fly-wrap .itin-time:before {
        content: "";
        width: 10px;
        height: 10px;
        display: block;
        border-radius: 100%;
        background: #fff;
        border: 2px solid #b2aebd;
        z-index: 2;
    }

.tp-flight-plan .fly-wrap .itin-lines {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-positive: 1;
    flex-grow: 1;
    left: 4px;
    min-height: 2rem;
}

    .tp-flight-plan .fly-wrap .itin-lines:after {
        content: "";
        position: relative;
        width: 2px;
        background-color: #b2aebd;
    }

.tp-flight-plan .fly-wrap .hour-sm {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    margin-right: .75rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.tp-flight-plan .fly-wrap .hour-time-sm {
    position: relative;
    display: inline-block;
    padding-right: 1.125rem;
}

.tp-flight-plan .fly-wrap .itin-target {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

    .tp-flight-plan .fly-wrap .itin-target .tar-label {
        display: inline-block;
    }

.tp-flight-plan .fly-wrap .welc {
    min-height: 20px;
    padding: 8px;
    margin: 10px 0;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.tp-flight-plan .arrival-info {
    margin-top: 1.5rem;
    font-size: 12px;
    line-height: 1.125rem;
    font-weight: 400;
    letter-spacing: normal;
    border-top: solid 1px #cccccc;
    padding-top: 10px;
}

    .tp-flight-plan .fly-wrap .arrival-info .sub-span {
        margin-top: 1.5rem;
        font-size: 12px;
        line-height: 1.125rem;
        font-weight: 400;
        letter-spacing: normal;
        /* border-top: solid 1px #cccccc; */
        /* padding-top: 10px; */
    }

    .tp-flight-plan .fly-wrap .arrival-info .duration-info {
        margin-left: .75rem;
    }

.tp-flight-plan .anime-airplane {
    position: absolute;
    width: 30px;
    height: 25px;
    top: -87%;
    opacity: 0;
}

.tp-flight-plan .crop.depart .anime-airplane {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 10%;
    -webkit-animation: move 3s infinite;
    animation: move 3s infinite;
}

.tp-flight-plan .crop.return .anime-airplane {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    right: 10%;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
    -webkit-animation: move-right 3s infinite;
    animation: move-right 3s infinite;
}

.tp-flight-plan .crop.depart svg {
    fill: #3e67c0;
}

.tp-flight-plan .crop.return svg {
    fill: #e91e63;
}

@-webkit-keyframes move {
    40% {
        left: 50%;
        opacity: 1;
    }

    100% {
        left: 90%;
        opacity: 0;
    }
}

@-webkit-keyframes move-right {
    50% {
        right: 50%;
        opacity: 1;
    }

    100% {
        right: 90%;
        opacity: 0;
    }
}

@keyframes move {
    50% {
        left: 50%;
        opacity: 1;
    }

    100% {
        left: 90%;
        opacity: 0;
    }
}

@keyframes move-right {
    50% {
        right: 50%;
        opacity: 1;
    }

    100% {
        right: 90%;
        opacity: 0;
    }
}
            /* end of new flight plan*/