/* Colors */
/* Page */

  .con-main{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
  }
  
  hr {
    width: 100%;
    margin: 1.5em 0;
    border: 0;
    border-bottom: 1px dashed #ccc;
  }
  
  .hr--invisible {
    border-bottom-color: transparent;
  }
  
  /* Boarding Pass */
  .boardingPass {
    width: 100%;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    top: 3.125rem;
    position: absolute;
  }
  .detail-size{
      margin-left: -20%;
  }
  /* Section */
  /** Label **/
  .section-label {
    display: block;
    text-transform: uppercase;
    font-size: .7rem;
    color: #919191;
    text-align: right;
  }
  
  /** Icon **/
  .boardingPass-icon {
    -webkit-box-flex: .5;
            flex-grow: .5;
    color: #f03f55;
  }
  
  /* Header */
  .boardingPass-header {
    padding: .5em 2em;
    background: linear-gradient(40deg,#f0ce11 ,#ea122d );
    /* background: linear-gradient(60deg, #ea122d, #f46e7f); */
    border-radius: inherit;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: #fff;
  }
  
  .boardingPass-airline {
    margin: 0;
    font-style: italic;
    text-align: right;
  }
  
  /* Main */
  .boardingPass-main {
    padding: 2em;
    background: #fff;
  }
  .boardingPass-main-row{
    margin: 0 auto;
  }
  .text-depart{
      text-align: center;
  }
  .boardingPass-departur-IATA,
  .boardingPass-arrival-IATA {
    display: inline-block;
    line-height: 1;
    font-size: 3rem;
  }
  
  .boardingPass-transport {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
  
  .boardingPass-transport-icon {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    color: #919191;
    font-size: 36px;
  }
  
  /* Footer */
  .boardingPass-footer {
    padding: 0 2em 2em;
    background: #fff;
    border-radius: inherit;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  
  .boardingPass-qrCode {
    height: 40px;
    width: 100%;
    background: repeating-linear-gradient(to right, #222, #222 2%, transparent 2%, transparent 3%, #222 3%, #222 4%, transparent 4%, transparent 6%, #222 6%, #222 7%, transparent 7%, transparent 8%, #222 8%, #222 10%, transparent 10%, transparent 11%);
  }


/* Rules */

.container-Rules{
    margin: 2%;
    padding: 1%;
    font-family: system-ui;
    font-size: 0.7rem;
    color: #6b6869;
    margin-bottom: 120px;
}
.h1{
    
		font-size: 1.7rem;
		font-weight: 500;
}
.but-txt{
    text-shadow: 1px 1px 1px rgb(58, 57, 57), 3px 3px 5px rgb(176, 176, 184);
}


.right-text{
  text-align: right;
			float: right;
			margin-right: -30%;
}
.right-icon{
  float: right;
}
.r-side{
  text-align: right;
  float: right;
}