@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input{margin:0; padding:0; border:0; font:inherit; vertical-align:baseline; -webkit-tap-highlight-color:transparent;}

html{font-size:16px;}
body{font-size:.75rem; line-height:1;max-width: 750px;margin:auto;}
.wrapper{max-width: 750px;margin:auto;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{display:block;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:''; content:none;}
table{border-collapse:collapse; border-spacing:0;}
caption,th{text-align:left; font-weight:normal;}
td, th{padding:0;}
a:active, a:hover{outline:0;}
a{text-decoration:none; -webkit-tap-highlight-color:transparent;}
img{max-width:100%;}
input[type='text'],input[type='number'],input[type='email'],input[type='password'],input[type='reset'],input[type='submit'],input[type='button'],input[type='tel'],input[type='search'],button,textarea{-webkit-appearance:none; outline:0;}
input:-webkit-autofill,textarea:-webkit-autofill,select:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset;}
.global_trans{transition: all 0.3s;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;}

/*文字大小，颜色，行距定义*/
.fz_12px{font-size:.75rem;}
.fz_14px{font-size:.875rem;}
.fz_16px{font-size:1rem;}
.fc_red{color:#ff0000;}
.fc_grey{color:#aaa;}
.fc_gory{color:#666;}
.fc_white{color:#fff;}
.fc_yellow{color:#ff6600;}
.flh_150{line-height:150%;}
.flh_180{line-height:180%;}

/*浮动*/
.fl{float:left;}
.fr{float:right;}

/*显示 隐藏*/
.show{display:block;}
.hide{display:none;}

/*图片居中*/
.pic_box{text-align:center;}
.pic_box span{vertical-align:middle; height:100%; display:inline-block;}
.pic_box img{vertical-align:middle;}

/*清除浮动*/
.clean{}
.clean:after,.clean:before{display:table; content:'';}
.clean:after{clear:both;}
.clear{height:0; line-height:0; font-size:0; overflow:hidden; clear:both;}

.posabs{position:absolute;}
.posrel{position:relative;}

/*padding*/
.blank5{height:.3125rem; overflow:hidden; font-size:0; clear:both;}
.blank10{height:.625rem; overflow:hidden; font-size:0; clear:both;}
.blank15{height:.9375rem; overflow:hidden; font-size:0; clear:both;}
.blank25{height:1.5625rem; overflow:hidden; font-size:0; clear:both;}
.blank30{height:1.875rem; overflow:hidden; font-size:0; clear:both;}
.blank40{height:2.5rem; overflow:hidden; font-size:0; clear:both;}
.blank50{height:3.125rem; overflow:hidden; font-size:0; clear:both;}

/*翻页*/
.turn_page{text-align:center; height:.36rem; line-height:.36rem; font-size:.18rem; color:#555;}
.turn_page a,.turn_page font{display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; height:.36rem; line-height:.36rem; width:5.3125%; border-radius:.04rem; text-align:center; font-size:.18rem; color:#555; margin:0 .4%;}
.turn_page .btn{border:1px solid #ddd;}
.turn_page .btn.prev{background:url(../images/turn_page_lbtn.jpg) center center no-repeat; background-size:23.5294%;}
.turn_page .btn.next{background:url(../images/turn_page_rbtn.jpg) center center no-repeat; background-size:23.5294%;}
.turn_page .cur{border:1px solid #ddd; color:#333;}

/*loading*/
.loading{z-index:100; position:absolute; background:#ccc; top:0; left:0; width:100%; height:100%;}
.loading_big{background:url(../../images/global/loading.gif) no-repeat; z-index:9999; position:absolute; width:3.125rem; height:3.125rem; cursor:wait;}
.loading_small{background:url(../../images/global/loading_small.gif) no-repeat; z-index:9999; position:absolute; width:1.25rem; height:1.25rem; cursor:wait;}

/*评价星号*/
.review_star{display:inline-block;}
.review_star>span{width:1rem; height:1.2rem; margin-left:.2rem; background-repeat:no-repeat; background-position:center top; background-size:100%; display:inline-block; vertical-align:middle;}
.review_star>span:first-child{margin-left:0;}
.review_star .star_1{background-image:url(../images/star_1.png);}
.review_star .star_0{background-image:url(../images/star_0.png);}

/*表单固定格式*/
.box_input{height:2.1875rem; line-height:2.1875rem; overflow:hidden; font-size:.875rem; background:none; border:.0625rem #ddd solid; border-radius:.3125rem;}
.box_select{width:100%; height:2.1875rem; overflow:hidden; background:url(../../images/global/icon_select.png) no-repeat right center; border:.0625rem #ddd solid; border-radius:.3125rem;}
.box_select>select{width:105%; height:2.1875rem; padding-right:22%; font-size:.875rem; background:transparent; border:0; outline:0; appearance:none; -moz-appearance:none; -webkit-appearance:none; -ms-appearance:none;}
.box_select>select::-ms-expand{display:none;}
.box_textarea{height:3.125rem; resize:none;}
.form_name .box{width:47%; float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.form_name .box:first-child{margin-right:6%;}

/*文本框New*/
.input_box{position:relative; display:block;}
.input_box .input_box_label{line-height:1.125rem; height: 1.125rem;overflow: hidden; margin-bottom:.61538em; padding:0 .3125rem; font-size:.75rem; font-weight:400; color:#999; background-color:#fff; position:absolute; top:-.5625rem; left:.6875rem; z-index:10; pointer-events:none; opacity:0; filter:alpha(opacity=0); transform:translateY(.1875rem); -webkit-transform:translateY(.1875rem); transition-property:opacity, -webkit-transform; -webkit-transition-property:opacity, -webkit-transform; transition-property:opacity, transform; transition-property:opacity, transform, -webkit-transform; transition-duration:150ms; -webkit-transition-duration:150ms;}
.input_box .input_box_txt{width:100%; height:2.5rem; line-height:1.125rem; padding:.6875rem 1rem; font-size:.75rem; color:#333; background-color:#fff; border:.0625rem #c4cdd5 solid; border-radius:.3125rem; position:relative; z-index:1; display:inline-block; transition:all 150ms; -webkit-transition:all 150ms; box-sizing:border-box; -webkit-box-sizing:border-box;}
.input_box .input_box_textarea{height:3.75rem;}
.input_box.filled .input_box_label{opacity:1; filter:alpha(opacity=100); transform:translateY(0); -webkit-transform:translateY(0);}

/*提示框*/
.tips_success{width:90%; line-height:1.5rem; margin-top:-3rem; padding:1rem .625rem; text-align:center; font-size:.875rem; color:#fff; background:#444; border-radius:.3125rem; position:fixed; left:5%; top:50%; z-index:10002; box-sizing:border-box; -webkit-box-sizing:border-box;}
.tips_error{width:90%; max-width: 750px; line-height:1.5rem; margin:-3rem auto 0; padding:.5rem .625rem; text-align:center; font-size:.75rem; color:#fff; background:rgba(185, 53, 41, .8); border-radius:.3125rem; position:fixed; left:0; right:0; top:50%; z-index:10002; box-sizing:border-box; -webkit-box-sizing:border-box;}
.tips_error .low_info{font-size:.92rem; color:#fff;}
.tips_confirm{width:90%; background-color:#fff; border-radius:.3125rem; box-shadow:0 .1875rem .5625rem rgba(0,0,0,.5); position:fixed; left:5%; top:35%; z-index:10002;}
.tips_confirm .tips_header{min-height:1.75rem; padding:.3125rem 1rem;}
.tips_confirm .tips_header .btn_close{line-height:1; padding:0; text-shadow:0 1px 0 #fff; font-size:1.75rem; font-weight:500; color:#000; opacity:.2; filter:alpha(opacity=20); background:none; border:0; float:right;}
.tips_confirm .tips_body{padding:1rem 1rem .625rem;}
.tips_confirm .tips_body .tips_text{line-height:1.25rem; font-size:1rem;}
.tips_confirm .tips_footer{margin-top:1rem; padding:0 1rem 1rem; text-align:right;}
.tips_confirm .tips_footer .btn_global{width:inherit; margin-left:.625rem; padding:0 1rem; font-size:1rem; display:inline-block;}
.tips_confirm .tips_footer .btn_cancel{color:#666; background-color:#ccc;}
.tips_confirm .tips_footer .btn_sure{color:#fff;}

/*404*/
#error_page{text-align:center;}
#error_page .error_404{padding:2.5rem 0 1.25rem; font-size:5rem;}
#error_page .error_warning{line-height:180%; font-size:.875rem; font-weight:bold;}
#error_page .error_nav{margin:1.25rem 0 1.875rem; text-align:center; color:#727272;}
#error_page .error_nav>a{margin:0 .625rem; font-size:.75rem; color:#727272;}

/*屏蔽*/
#shield_hd{min-height:11.25rem; padding:1rem 0 .625rem;}
#shield_hd .shield_sorry{line-height:100%; padding:1.125rem .45rem; text-transform:uppercase; font-size:3.5rem; font-weight:bold; color:#cdcdcd;}
#shield_hd>p{line-height:130%; margin:.75rem 0; padding:0 .625rem; font-size:.75rem; font-weight:bold; color:#494949;}
#shield_hd>p>a{text-decoration:underline; font-size:.75rem; color:#48a77a;}
#shield_bd{width:100%; background-color:#47a67a;}
#shield_bd .shield_error{background:url(../../images/global/shield_error.png) no-repeat -.08rem top;}
#shield_bd .wrapper{width:100%;}
#shield_bd .wrapper>dl{line-height:180%; padding:.625rem; font-size:.75rem; color:#fff; border-top:.0625rem #fff dashed;}
#shield_bd .wrapper>dl>h3{font-size:.75rem; font-weight:bold; color:#fff; display:block;}
#shield_bd .wrapper>dl:first-child{border:0;}

/*通告栏*/

#middle_banner{display: none;position: fixed;top: -5%;left: 0;width: 100%;height: 100%;text-align: center;vertical-align: middle;z-index: 100001;transition: all 0.3s;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;font-size: 0;}
#middle_banner:after{content: '';display: inline-block;vertical-align: middle;height: 100%;}
#middle_banner a{position: relative;display: inline-block;vertical-align: middle;}
#middle_banner a .close{position: absolute;right: 0px;left: 0;margin:auto; bottom:-80px;width: 40px;height: 40px;background: url(../../images/cart/icon_shopping_close.png) no-repeat center center;border-radius: 100%;border:1px solid #afafaf;background-size: 22px;}
#middle_banner img{display: inline-block;vertical-align: middle;max-width: 100%;max-height: 100%;}

#full_banner{position: fixed;top: 0;bottom:0;left: 0;right:0;width: 100%;height: 100%;text-align: center;vertical-align: middle;z-index: 100002;font-size: 0;font-size: 0;margin:auto;background: rgba(0,0,0,0.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7f000000, endcolorstr=#7f000000);}
#full_banner img{max-width: 100%;max-height: 100%;vertical-align: middle;}
#full_banner:after{content: '';display: inline-block;height:100%;vertical-align: middle;}
#full_banner .close{position: fixed;top: 1rem;right: 1rem;width: 2rem;height: 2rem;border-radius: 2rem;background: #fff;color: #333;font-size: 0.75rem;line-height: 2rem;}


/*border 1px解决方案 Start*/
.ui_border_t{border-top:1px solid #ddd;}
.ui_border_b{border-bottom:1px solid #ddd;}
.ui_border_tb{border-top:#ddd 1px solid; border-bottom:#ddd 1px solid; background-image:none;}
.ui_border_l{border-left:1px solid #ddd;}
.ui_border_r{border-right:1px solid #ddd;}
.ui_border{border:1px solid #ddd;}
.ui_border_radius{border:1px solid #ddd; border-radius:4px;}

@media screen and (-webkit-min-device-pixel-ratio:2) {
.ui_border_radius{position:relative; border:0;}
.ui_border_radius:before{content:""; width:200%; height:200%; position:absolute; top:0; left:0; border:1px solid #ddd; -webkit-transform:scale(0.5); -webkit-transform-origin:0 0; padding:1px; -webkit-box-sizing:border-box; border-radius:8px; pointer-events:none;}
}

@media screen and (-webkit-min-device-pixel-ratio:2) {
.ui_border{position:relative; border:0;}
.ui_border_t, .ui_border_b, .ui_border_l, .ui_border_r, .ui_border_tb{border:0;}
.ui_border_t{background-position:left top; background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #ddd), to(#ddd));}
.ui_border_b{background-position:left bottom; background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #ddd), to(#ddd));}
.ui_border_t, .ui_border_b, .ui_border_tb{background-repeat:repeat-x; -webkit-background-size:100% .0825rem;}
.ui_border_tb{background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #ddd), to(#ddd)), -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #ddd), to(#ddd)); background-position:top, bottom;}
.ui_border_l{background-position:left top; background-image:-webkit-gradient(linear, right top, left top, color-stop(0.5, transparent), color-stop(0.5, #ddd), to(#ddd));}
.ui_border_r{background-position:right top; background-image:-webkit-gradient(linear, left top, right top, color-stop(0.5, transparent), color-stop(0.5, #ddd), to(#ddd));}
.ui_border_l, .ui_border_r{background-repeat:repeat-y; -webkit-background-size:.0825rem 100%;}
.ui_border:after{content:""; width:100%; height:100%; position:absolute; top:0; left:0; background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #ddd), to(#ddd)), -webkit-gradient(linear, left top, right top, color-stop(0.5, transparent), color-stop(0.5, #ddd), to(#ddd)), -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #ddd), to(#ddd)), -webkit-gradient(linear, right top, left top, color-stop(0.5, transparent), color-stop(0.5, #ddd), to(#ddd)); -webkit-background-size:100% 1px, 1px 100%, 100% 1px, 1px 100%; background-size:100% 1px, 1px 100%, 100% 1px, 1px 100%; -webkit-background-size:100% 1px, 1px 100%, 100% 1px, 1px 100%; background-size:100% 1px, 1px 100%, 100% 1px, 1px 100%; background-repeat:no-repeat; background-position:top, right, bottom, left; padding:1px; -webkit-box-sizing:border-box; z-index:10; pointer-events:none;}
}
/*border 1px解决方案 End*/



/*编辑器内容还原默认样式 Start*/
.editor_txt{padding:0.1rem 0.2rem; overflow:hidden; line-height:normal; min-height:5rem; _height:5rem; background-color:#fff; font-size:.16rem;}
.editor_txt p{margin:0.05rem 0;}
.editor_txt h1, .editor_txt h2, .editor_txt h3, .editor_txt h4, .editor_txt h5, .editor_txt h6{font-weight:normal; line-height:1.2; margin:.67em 0;}
.editor_txt b, .editor_txt strong{font-weight:bold; line-height:1.2;}
.editor_txt i, .editor_txt cite, .editor_txt em{font-style:italic;}
.editor_txt h1{font-size:2em;}
.editor_txt h2{font-size:1.5em;}
.editor_txt h3{font-size:1.17em;}
.editor_txt h4{font-size:1em; margin:1.33em 0;}
.editor_txt h5{font-size:0.83em;}
.editor_txt h6{font-size:0.67em;}
.editor_txt li{list-style-type:inherit;}
.editor_txt li p{display:inline-block;}

.editor_txt table.noBorderTable td, .editor_txt table.noBorderTable th, .editor_txt table.noBorderTable caption{border:1px #ddd dashed!important;}
.editor_txt table{margin-bottom:0.1rem; border-collapse:collapse; display:table;}
.editor_txt table td, .editor_txt table th{/*border:1px #ddd solid; */padding:0.05rem 0.1rem;}
.editor_txt table th{/*border-top:1px #bbb solid; */background-color:#f7f7f7;}
.editor_txt table tr.firstRow th{border-top-width:2px;}
.editor_txt table td p{margin:0;padding:0;}
.editor_txt caption{border:1px #ddd dashed; border-bottom:0; padding:3px; text-align:center;}
.editor_txt .selectTdClass{background-color:#edf5fa!important;}
.editor_txt .ue-table-interlace-color-single{background-color:#fcfcfc;}
.editor_txt .ue-table-interlace-color-double{background-color:#f7faff;}

.editor_txt .pagebreak{display:block; clear:both!important; cursor:default!important; width:100%!important; margin:0;}
.editor_txt pre{margin:.5em 0; padding:.4em .6em; border-radius:.08rem; background:#f8f8f8;}
.editor_txt img{vertical-align:middle;}
/*编辑器内容还原默认样式 End

/*登录框*/
#signin_module{ width:90vw; height:14.375rem; margin-top:-7.187rem; padding:2.1875rem 0.9375rem; background:#fff; position:fixed; left:5vw; top:50%; z-index:10001; border-radius:.3125rem; box-sizing:border-box;}
#signin_module .signin_module_close{ width:1.25rem; height:1.25rem; position:absolute; right:.625rem; top:.625rem; font-size:2.125rem; color:#c6c6c6; line-height:1.25rem; text-align:center; cursor:pointer;}
#signin_module .signin_module_form_input_box{ height:3.125rem; margin-left:1.875rem; border-bottom:1px solid #ddd; position:relative;}
#signin_module .signin_module_form_input_box .signin_module_form_input{ width:100%; height:2.5rem; line-height:2.5rem; margin-top:0.3125rem; padding:0 .625rem; font-size:.875rem; border:0; box-sizing:border-box;}
#signin_module .signin_module_form_input_box .signin_module_form_input::-webkit-input-placeholder{ color:#999;}
#signin_module .signin_module_form_input_box .signin_module_form_input:-moz-placeholder{ color:#999;}
#signin_module .signin_module_form_input_box .signin_module_form_input::-moz-placeholder{ color:#999;}
#signin_module .signin_module_form_input_box .signin_module_form_input::-ms-input-placeholder{ color:#999;}
#signin_module .signin_module_form_input_box i{ display:block; width:18px; height:18px; background-position:center; background-repeat:no-repeat; background-size:contain; position:absolute; left:-30px; top:18px;}
#signin_module .signin_module_form_input_box.signin_module_input_email i{ background-image:url(../images/icon_user_login_email.png);}
#signin_module .signin_module_form_input_box.signin_module_input_password i{ background-image:url(../images/icon_user_login_password.png);}
#signin_module .signin_module_form_submit{ display:block; width:100%; height:2.5rem; line-height:2.5rem; margin-top:1.5625rem; background:#e62e04; text-align:center; color:#fff; font-size:1rem; text-transform:capitalize; border:0; border-radius:0.3125rem;}

/*国旗*/
.icon_flag{background-image:url(../../images/global/icon_flag.png); background-repeat:no-repeat; width:16px; height:13px; display:inline-block;}
.flag_af{background-position:0 0;}
.flag_al{background-position:-60px 0;}
.flag_dz{background-position:-100px 0;}
.flag_as{background-position:-120px 0;}
.flag_ad{background-position:-140px 0;}
.flag_ao{background-position:-160px 0;}
.flag_ai{background-position:-180px 0;}
.flag_ag{background-position:-220px 0;}
.flag_ar{background-position:-260px 0;}
.flag_am{background-position:-280px 0;}
.flag_aw{background-position:-300px 0;}
.flag_au, .flag_hm{background-position:-340px 0;}
.flag_at{background-position:-360px 0;}
.flag_az{background-position:-380px 0;}
.flag_bs{background-position:-400px 0;}
.flag_bh{background-position:-420px 0;}
.flag_bd{background-position:-440px 0;}
.flag_bb{background-position:-460px 0;}
.flag_by{background-position:0 -20px;}
.flag_be{background-position:-20px -20px;}
.flag_bz{background-position:-40px -20px;}
.flag_bj{background-position:-60px -20px;}
.flag_bm{background-position:-80px -20px;}
.flag_bt{background-position:-100px -20px;}
.flag_bo{background-position:-120px -20px;}
.flag_ba{background-position:-140px -20px;}
.flag_bw{background-position:-160px -20px;}
.flag_br{background-position:-200px -20px;}
.flag_io{background-position:-220px -20px;}
.flag_bn{background-position:-240px -20px;}
.flag_bg{background-position:-260px -20px;}
.flag_bf{background-position:-280px -20px;}
.flag_bi{background-position:-300px -20px;}
.flag_kh{background-position:-320px -20px;}
.flag_cm{background-position:-340px -20px;}
.flag_ca{background-position:-360px -20px;}
.flag_cv{background-position:-380px -20px;}
.flag_ky{background-position:-440px -20px;}
.flag_cf{background-position:-460px -20px;}
.flag_td{background-position:-480px -20px;}
.flag_cl{background-position:0 -40px;}
.flag_cn{background-position:-20px -40px;}
.flag_cx{background-position:-40px -40px;}
.flag_cc{background-position:-80px -40px;}
.flag_co{background-position:-100px -40px;}
.flag_km{background-position:-140px -40px;}
.flag_cg{background-position:-160px -40px;}
.flag_ck{background-position:-200px -40px;}
.flag_cr{background-position:-220px -40px;}
.flag_ci{background-position:-240px -40px;}
.flag_hr{background-position:-260px -40px;}
.flag_cu{background-position:-280px -40px;}
.flag_cy{background-position:-320px -40px;}
.flag_cz{background-position:-340px -40px;}
.flag_dk{background-position:-360px -40px;}
.flag_dj{background-position:-380px -40px;}
.flag_dm{background-position:-400px -40px;}
.flag_do{background-position:-420px -40px;}
.flag_ec{background-position:-440px -40px;}
.flag_eg{background-position:-460px -40px;}
.flag_sv{background-position:-480px -40px;}
.flag_gq{background-position:-20px -60px;}
.flag_er{background-position:-40px -60px;}
.flag_ee{background-position:-60px -60px;}
.flag_et{background-position:-80px -60px;}
.flag_eu{background-position:-100px -60px;}
.flag_fk{background-position:-120px -60px;}
.flag_fj{background-position:-180px -60px;}
.flag_fi{background-position:-200px -60px;}
.flag_fr{background-position:-220px -60px;}
.flag_re{background-position:-220px -60px;}
.flag_pm{background-position:-220px -60px;}
.flag_wf{background-position:-220px -60px;}
.flag_nc{background-position:-220px -60px;}
.flag_tf{background-position:-240px -60px;}
.flag_gf{background-position:-260px -60px;}
.flag_ga{background-position:-280px -60px;}
.flag_gm{background-position:-320px -60px;}
.flag_ge{background-position:-340px -60px;}
.flag_de{background-position:-360px -60px;}
.flag_gh{background-position:-380px -60px;}
.flag_gi{background-position:-400px -60px;}
.flag_gr{background-position:-420px -60px;}
.flag_gl{background-position:-440px -60px;}
.flag_gd{background-position:-460px -60px;}
.flag_gt{background-position:0 -80px;}
.flag_gu{background-position:-20px -80px;}
.flag_gg{background-position:-40px -80px;}
.flag_gn{background-position:-60px -80px;}
.flag_gw{background-position:-80px -80px;}
.flag_gy{background-position:-100px -80px;}
.flag_ht{background-position:-120px -80px;}
.flag_hn{background-position:-160px -80px;}
.flag_hk{background-position:-180px -80px;}
.flag_hu{background-position:-200px -80px;}
.flag_is{background-position:-240px -80px;}
.flag_in{background-position:-280px -80px;}
.flag_id{background-position:-300px -80px;}
.flag_ir{background-position:-320px -80px;}
.flag_iq{background-position:-340px -80px;}
.flag_ie{background-position:-360px -80px;}
.flag_il{background-position:-420px -80px;}
.flag_it{background-position:-440px -80px;}
.flag_jm{background-position:-460px -80px;}
.flag_jp{background-position:-480px -80px;}
.flag_je{background-position:0 -100px;}
.flag_jo{background-position:-20px -100px;}
.flag_kz{background-position:-40px -100px;}
.flag_ke{background-position:-60px -100px;}
.flag_ki{background-position:-80px -100px;}
.flag_kw{background-position:-120px -100px;}
.flag_kg{background-position:-140px -100px;}
.flag_lv{background-position:-180px -100px;}
.flag_lb{background-position:-200px -100px;}
.flag_ls{background-position:-220px -100px;}
.flag_lr{background-position:-240px -100px;}
.flag_li{background-position:-280px -100px;}
.flag_lt{background-position:-300px -100px;}
.flag_lu{background-position:-320px -100px;}
.flag_mk{background-position:-360px -100px;}
.flag_mg{background-position:-380px -100px;}
.flag_mw{background-position:-400px -100px;}
.flag_my{background-position:-420px -100px;}
.flag_mv{background-position:-440px -100px;}
.flag_ml{background-position:-460px -100px;}
.flag_mt{background-position:-480px -100px;}
.flag_mh{background-position:0 -120px;}
.flag_mq{background-position:-20px -120px;}
.flag_mr{background-position:-40px -120px;}
.flag_mu{background-position:-60px -120px;}
.flag_yt{background-position:-80px -120px;}
.flag_mx{background-position:-100px -120px;}
.flag_fm{background-position:-120px -120px;}
.flag_md{background-position:-140px -120px;}
.flag_mc{background-position:-160px -120px;}
.flag_mn{background-position:-180px -120px;}
.flag_me{background-position:-200px -120px;}
.flag_ms{background-position:-220px -120px;}
.flag_ma{background-position:-240px -120px;}
.flag_mz{background-position:-260px -120px;}
.flag_mm{background-position:-280px -120px;}
.flag_na{background-position:-300px -120px;}
.flag_nr{background-position:-340px -120px;}
.flag_np{background-position:-360px -120px;}
.flag_an{background-position:-380px -120px;}
.flag_nl{background-position:-400px -120px;}
.flag_nz{background-position:-440px -120px;}
.flag_ni{background-position:-460px -120px;}
.flag_ne{background-position:-480px -120px;}
.flag_ng{background-position:0 -140px;}
.flag_nu{background-position:-20px -140px;}
.flag_nf{background-position:-40px -140px;}
.flag_mp{background-position:-120px -140px;}
.flag_no, .flag_bv{background-position:-140px -140px;}
.flag_om{background-position:-220px -140px;}
.flag_pk{background-position:-260px -140px;}
.flag_pw{background-position:-280px -140px;}
.flag_ps{background-position:-300px -140px;}
.flag_pa{background-position:-320px -140px;}
.flag_pg{background-position:-340px -140px;}
.flag_py{background-position:-360px -140px;}
.flag_pe{background-position:-380px -140px;}
.flag_ph{background-position:-400px -140px;}
.flag_pn{background-position:-420px -140px;}
.flag_pl{background-position:-440px -140px;}
.flag_pt{background-position:-460px -140px;}
.flag_pr{background-position:-480px -140px;}
.flag_qa{background-position:0 -160px;}
.flag_ro{background-position:-60px -160px;}
.flag_ru{background-position:-80px -160px;}
.flag_rw{background-position:-100px -160px;}
.flag_lc{background-position:-160px -160px;}
.flag_ws{background-position:-220px -160px;}
.flag_sm{background-position:-240px -160px;}
.flag_st{background-position:-260px -160px;}
.flag_sa{background-position:-280px -160px;}
.flag_sn{background-position:-320px -160px;}
.flag_rs{background-position:-340px -160px;}
.flag_sc{background-position:-360px -160px;}
.flag_sl{background-position:-380px -160px;}
.flag_sg{background-position:-400px -160px;}
.flag_sk{background-position:-440px -160px;}
.flag_si{background-position:-460px -160px;}
.flag_sb{background-position:-480px -160px;}
.flag_so{background-position:0 -180px;}
.flag_xs{background-position:-20px -180px;}
.flag_za{background-position:-40px -180px;}
.flag_kp{background-position:-80px -180px;}
.flag_es{background-position:-120px -180px;}
.flag_lk{background-position:-140px -180px;}
.flag_kn{background-position:-160px -180px;}
.flag_vc{background-position:-180px -180px;}
.flag_sd{background-position:-200px -180px;}
.flag_sr{background-position:-220px -180px;}
.flag_sj{background-position:-240px -180px;}
.flag_sz{background-position:-260px -180px;}
.flag_se{background-position:-280px -180px;}
.flag_ch{background-position:-300px -180px;}
.flag_sy{background-position:-320px -180px;}
.flag_tw{background-position:-360px -180px;}
.flag_tj{background-position:-380px -180px;}
.flag_tz{background-position:-400px -180px;}
.flag_th{background-position:-420px -180px;}
.flag_tg{background-position:-460px -180px;}
.flag_tk{background-position:-480px -180px;}
.flag_to{background-position:0 -200px;}
.flag_tt{background-position:-20px -200px;}
.flag_tn{background-position:-60px -200px;}
.flag_tr{background-position:-80px -200px;}
.flag_tm{background-position:-100px -200px;}
.flag_tc{background-position:-120px -200px;}
.flag_tv{background-position:-140px -200px;}
.flag_ug{background-position:-160px -200px;}
.flag_ua{background-position:-180px -200px;}
.flag_ae{background-position:-240px -200px;}
.flag_gb, .flag_gs{background-position:-260px -200px;}
.flag_us, .flag_um{background-position:-320px -200px;}
.flag_uy{background-position:-340px -200px;}
.flag_uz{background-position:-360px -200px;}
.flag_vu{background-position:-380px -200px;}
.flag_va{background-position:-400px -200px;}
.flag_ve{background-position:-420px -200px;}
.flag_vn{background-position:-440px -200px;}
.flag_vg{background-position:-460px -200px;}
.flag_vi{background-position:-480px -200px;}
.flag_eh{background-position:-40px -220px;}
.flag_WW{background-position:-80px -220px;}
.flag_ye{background-position:-100px -220px;}
.flag_zm{background-position:-120px -220px;}
.flag_zw{background-position:-140px -220px;}
.flag_tl{background-position:-160px -220px;}
.flag_fo{background-position:-180px -220px;}
.flag_gp{background-position:-200px -220px;}
.flag_kr{background-position:-220px -220px;}
.flag_la{background-position:-240px -220px;}
.flag_ly{background-position:-260px -220px;}
.flag_mo{background-position:-280px -220px;}
.flag_ic{background-position:-320px -220px;}
.flag_cd{background-position:-340px -220px;}
.flag_xy{background-position:-360px -220px;}
.flag_pf{background-position:-380px -220px;}
.flag_sh{background-position:-400px -220px;}