@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

/*************************** 分销(start) ***************************/
body{ background:#efeff4;}
#lib_mb_user_distribution{ padding:1.75rem 1rem 1.4rem 1rem;}
#lib_mb_user_distribution .distribution_btn{ width:100%; height:3.125rem; line-height:3.125rem; display:block; background:#0cb083; color:#fff; font-size:1.125rem; margin-top:0.6rem; border-radius:0.2rem; text-align:center;}
#lib_mb_user_distribution .distribution_input{ width:100%; height:3.125rem; line-height:3.125rem; font-size:1rem; padding:0 0.6rem; box-sizing:border-box; border:1px solid #e2e2e2; margin-top:0.8rem; display:block; border-radius:0.2rem;}
#lib_mb_user_distribution .howtomake_button{ height:3.125rem; line-height:3.125rem; display:block; color:#333; font-size:1.125rem; background:url(../images/plugins/app_distribution/icon_howtomake.png) #fff left center no-repeat / auto 100%; padding-left:2.875rem; text-transform:lowercase; position:relative; border-radius:0.3rem;}
#lib_mb_user_distribution .howtomake_button:first-letter{ text-transform:capitalize;}
#lib_mb_user_distribution .howtomake_button i{ position:absolute; right:0.4rem; top:1.25rem;}
#lib_mb_user_distribution .howtomake_button i:after,#lib_mb_user_distribution .howtomake_button i:before{ border:0.3rem solid transparent; border-left:0.3rem solid #fff; width:0; height:0; position:absolute; top:0; right:0; content:''}
#lib_mb_user_distribution .howtomake_button i:before { border-left-color:#333; right:-1px;} 
#lib_mb_user_distribution .howtomake_button.friends{text-transform: capitalize;background:url(../images/plugins/app_distribution/icon_friend.png) #fff left center no-repeat / auto 100%;}
#lib_mb_user_distribution .howtomake_button.friends span{font-size: 1.5rem;}
#lib_mb_user_distribution .balance_box{ background:#016e60; text-align:center; padding:1.5rem 0; color:#fff; border-radius:0.4rem;}
#lib_mb_user_distribution .balance_box .item{float: left;width: 50%;}
#lib_mb_user_distribution .balance_box .title{ font-size:1rem; text-transform:capitalize;}
#lib_mb_user_distribution .balance_box .num{ font-size:3rem;position:relative;}
#lib_mb_user_distribution .balance_box .price{ font-size:3rem; margin-top:0.6rem; position:relative;}
#lib_mb_user_distribution .balance_box .price span{ font-size:1.5rem; margin-right:0.4rem;}
#lib_mb_user_distribution .balance_box .price a{ width:2.4rem; height:2.4rem; display:block; background:#d3c47f; position:absolute; right:0; top:0.3rem; border-top-left-radius:1.2rem; border-bottom-left-radius:1.2rem;}
#lib_mb_user_distribution .balance_box .price i{ position:absolute; right:0.1rem; top:0.7rem;}
#lib_mb_user_distribution .balance_box .price i:after,#lib_mb_user_distribution .balance_box .price i:before{ border:0.6rem solid transparent; border-left:0.6rem solid #d3c47f; width:0; height:0; position:absolute; top:0; right:0; content:''}
#lib_mb_user_distribution .balance_box .price i:before { border-left-color:#333; right:-3px;} 
#lib_mb_user_distribution .balance_box .friends{ font-size:0.875rem; position:relative; padding-top:1.2rem; margin-top:1rem; color: #fff;display: block;}
#lib_mb_user_distribution .balance_box .friends span{ font-size:1.6rem; margin-right:0.4rem;}
#lib_mb_user_distribution .balance_box .friends i{ display:block; height:0.2rem; width:2.4rem; position:absolute; left:50%; margin-left:-1.2rem; top:0; background:#fff;}
#lib_mb_user_distribution .share_title{ font-size:1.125rem; padding:1rem 0.8rem; text-transform:lowercase;}
#lib_mb_user_distribution .share_title:first-letter{ text-transform:capitalize;}
#lib_mb_user_distribution .container_box{ background:#fff; padding:1rem 0.6rem; border-radius:0.4rem;}
#lib_mb_user_distribution .container_box .tips{ font-size:1rem; line-height:150%;}
#lib_mb_user_distribution .container_box .tips.media_tips{text-align: center;}
#lib_mb_user_distribution .container_box .record{ text-align:center; text-decoration:underline; margin-top:0.625rem;}
#lib_mb_user_distribution .container_box .record a{ color:#333;}
#lib_mb_user_distribution .container_box .input_copy{ color:#999;}
#lib_mb_user_distribution .container_box .share_or{ height:1px; background:#e9e9e9; width:80%; margin:3rem auto; position:relative;}
#lib_mb_user_distribution .container_box .share_or span{ font-size:1rem; width:4rem; height:2rem; line-height:2rem; text-align:center; background:#fff; position:absolute; left:50%; top:-1rem; margin-left:-2rem; display:block;}
#lib_mb_user_distribution .container_box .share_third{ margin-top:0.6rem;}
#lib_mb_user_distribution .container_box .share_third a{ display:block; padding:0.3rem 0;}
#lib_mb_user_distribution .container_box .orders_item{ border-bottom:1px solid #e9e9e9; padding-bottom:1rem; margin-bottom:1rem;}
#lib_mb_user_distribution .container_box .orders_item .top{ font-size:0.925rem;}
#lib_mb_user_distribution .container_box .orders_item .bot{ color:#999; margin-top:0.5rem; font-size:0.875rem;}
#lib_mb_user_distribution .container_box .distor_item{ border-bottom:1px solid #e9e9e9; padding-bottom:1rem; margin-bottom:1rem;}
#lib_mb_user_distribution .container_box .distor_item .left{width: 80%;}
#lib_mb_user_distribution .container_box .distor_item .left .top{ font-size:0.875rem;}
#lib_mb_user_distribution .container_box .distor_item .left .bot{ color:#999; margin-top:0.5rem; font-size:0.75rem;}
#lib_mb_user_distribution .container_box .distor_item .right{width: 20%;text-align: right;font-size: 1rem;color: #016e60;}
#lib_mb_user_distribution .container_box .distor_item .right .num{font-size: 2rem;}
#lib_mb_user_distribution .txt_box{ background:#fff; padding:1rem 1.2rem; border-radius:0.4rem; line-height:150%; font-size:0.875rem;}
#lib_mb_user_distribution #distribution_withdraw_form .distribution_input:first-child{ margin-top:0;}
#lib_mb_user_distribution .container_box .money_item{ position:relative; padding:0.8rem 0 0.8rem 7.6rem; background-size:4.4rem auto; background-repeat:no-repeat; background-position:2.8rem 0.6rem; min-height:4rem;}
#lib_mb_user_distribution .container_box .money_item i{ width:3rem; height:2rem; line-height:2rem; display:block; position:absolute; left:0.6rem; top:1.7rem; color:#b2b2b2; font-size:1.5rem;}
#lib_mb_user_distribution .container_box .money_item .title{ font-weight:bold; font-size:0.925rem; text-transform:uppercase;}
#lib_mb_user_distribution .container_box .money_item .brief{ line-height:140%; font-size:0.875rem; color:#999; margin-top:0.4rem;}
#lib_mb_user_distribution .container_box .money_item:nth-child(1){ background-image:url(../images/plugins/app_distribution/icon_information_0.png);}
#lib_mb_user_distribution .container_box .money_item:nth-child(2){ background-image:url(../images/plugins/app_distribution/icon_information_1.png);}
#lib_mb_user_distribution .container_box .money_item:nth-child(3){ background-image:url(../images/plugins/app_distribution/icon_information_2.png);}
#lib_mb_user_distribution .container_box .money_item:nth-child(4){ background-image:url(../images/plugins/app_distribution/icon_information_3.png);}
/*************************** 分销(end) ***************************/