#wrap_rfq{padding-top:20px;}
#wrap_rfq .frm_rfq{width:100%;}
#wrap_rfq .frm_rfq .title{margin-bottom:15px; height:32px; border-bottom:1px solid #e5e5e5; font-size:18px; text-indent:13px; color:#333; font-weight: bold;}
#wrap_rfq .frm_rfq .error_note_box{border:1px #ffdb83 solid; color:#f00; padding:10px; margin:15px; background:#fff9e1; display:none;}
#wrap_rfq .frm_rfq .on_error{margin:0; color:#f00; display:none;}
#wrap_rfq .frm_rfq .row{margin:10px 3%;}
#wrap_rfq .frm_rfq .row label{display:block; font-size:14px; color:#555; margin-bottom:4px;}
#wrap_rfq .frm_rfq .intro{color:#555; margin:15px 20px; height:inherit; line-height:160%;}
#wrap_rfq .frm_rfq .intro a{color:#0654ba; text-decoration:underline;}
#wrap_rfq .frm_rfq .intro dt{font-weight:bold;}
#wrap_rfq .frm_rfq .intro dd{padding-left:15px; background:url(../images/point2.gif) no-repeat 0 7px; margin-top:5px;}
#wrap_rfq .frm_rfq .lib_txt{border:1px solid #ccc; border-radius:3px!important; height:36px; line-height:36px; padding:0 7px; color:#333; font-size:16px; box-shadow:0 1px 0 rgba(255,255,255,.8),inset 0 1px 2px rgba(0,0,0,.06);}
#wrap_rfq .frm_rfq .lib_txt:hover{border:1px solid #aaa;}
#wrap_rfq .frm_rfq #Code.lib_txt{text-transform:uppercase;}
#wrap_rfq .frm_rfq .subbtn{border-radius:4px; -ms-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:2px 12px; line-height:25px; display:inline-block; cursor:pointer; font-size:14px; margin-right:16px; text-decoration:none;}
#wrap_rfq .frm_rfq .wrap_rfq{color:#fff;}
#wrap_rfq .frm_rfq .row .lib_input{width:94%;}
#wrap_rfq select{height:38px; line-height:38px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border:1px #aaa solid;}
#wrap_rfq .info{width:50%;}
#wrap_rfq .info .box{width:190px; padding:15px 20px; border:1px solid #ddd; margin-bottom:15px;}
#wrap_rfq .info .member p{padding:0; padding-bottom:12px; margin:0;}
#wrap_rfq .subbtn{ width : 100%; height:42px; line-height:40px; padding:0 20px; border:1px solid #dbdbdb; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; cursor:pointer; display:block; margin:0 auto; text-align:center; margin-bottom:12px; background-color: #e9af24; font-size:14px;}
#wrap_rfq .subbtn:hover{background-color: #e9af24}
#wrap_rfq .info .box h3{font-size:14px; font-weight:bold; padding-bottom:12px;}
#wrap_rfq .info .box li{height:28px; line-height:28px; overflow:hidden; background:url(../images/point.gif) left center no-repeat; background-size:3px 3px; text-indent:8px;}

#wrap_rfq select{width: 44%;}
#wrap_rfq .input-half{width: 50%;}
#wrap_rfq .frm_rfq .row textarea{height: 120px; text-align: start;}

.frm_rfq .row .input{padding:10px 0; overflow:hidden; line-height:28px;}
.frm_rfq .row #productImage .upload_box{margin: 6px; float: left;width:90px; height: 90px;padding: 1px; margin-top: 10px;position:relative; border-radius:1px; -moz-border-radius:1px; -webkit-border-radius:1px; border:1px #aaa dashed; cursor: pointer;text-align: center;}
.frm_rfq .row #productImage .upload_box .pic_box{width: 88px;height: 60px;vertical-align: middle;font-size: 0; background: url(../images/upload.png) no-repeat; background-size:30px 30px; background-position-x: 29px;background-position-y: 5px;}
.frm_rfq .row #productImage .upload_box .pic_box img{width: 100%;height: 60px;vertical-align: middle; object-fit: cover;display: block;}
.frm_rfq .row #productImage .upload_file{ width:60px; height:60px; position:absolute; top:0px; bottom: 0;right: 0; padding: 0; padding-right: 300px; filter:alpha(opacity=0); -moz-opacity:0; -webkit-opacity:0; opacity:0; cursor:pointer;font-size: 70px;}

.upload_box .btn_delete{background: url(../images/icon_item_delete_hover.png) right top no-repeat; width: 25px; height: 25px; margin-left: 32px;}
.upload_box .hidden{display: none;}

.error_info{height: 36px; line-height: 36px; color:#f00; display: none; font-size: 14px;}
.error_info img{width :16px; height: 16px; margin-top: 10px; float: left;}
.error_info p{float: left; margin-left: 10px;font-size: 14px; color:#f00;}

#wrap_rfq .frm_rfq input.input_null{border: 1px solid red;}
#wrap_rfq .frm_rfq select.input_null{border: 1px solid red;}
#wrap_rfq .frm_rfq textarea.input_null{border: 1px solid red;}

.hint_text{font-size: 12px;line-height:12px; color: #8d8d8d;}
