
#breaking {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 3px;
  background: red;
  color: white;
  position: fixed;
  /* top: 0; */
  left: 0;
  z-index: 999;

}

#breaking,
#newsTicker {
  border: 1px solid #696969;
}

#newsTicker {
  position: fixed;
  width: 100%;
  background-color: #fff;
  color: #A9A9A9;
  box-shadow: 0px 0px 8px 2px #696969;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 1px;
  padding-bottom: 1px;
  z-index: 998;
}

.advertise {
  margin-right: 20px;
  font-size: 1rem;
}

#newsTicker p {
  margin: 4px;
  display: inline-block;
  font-size: 16px;
  padding-left: 100%;
  animation: tickerTape 30s linear infinite;
}

@keyframes tickerTape {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
.mainSuggContainer {
    width: 100%;
    padding-bottom: 10rem;
    /* height: 20rem; */
    top: 60%;
    position: absolute;
    /*display: flex;*/
}

.itemProduct {
    float: left;
    display: block;
    margin: 2% auto;.mainSuggContainer
    background-color: #FFF;
    -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.75);
    width: 50%;
}

.ImgProduct {
    width: 96%;
    height: 100px;
    margin: 5% auto;
    height: 8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    box-shadow: 0px 3px 7px -1px rgba(0, 0, 0, 0.75);
}

.txtProducts {
    text-align: center;
    font-size: 1.1rem;
    font-family: system-ui;
    font-weight: 600;
    color: #808080;
    margin: 4%;
}

.detailProducts {
    margin: 3%;
    font-size: 1rem;
    font-family: system-ui;
    color: #808080;
    text-align: center;

}

.ReadMoreDetail {
    background-color: #ffbd39;
    padding: 4%;
    width: 25%;
    border: 0 solid;
    border-radius: 0 30px 30px 0;
    font-size: 0.9rem;
    color: white;
    font-weight: 700;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0px 3px 7px -1px rgba(0, 0, 0, 0.75);
}

.card_sup {
  position: absolute;
  z-index: 15;
  /* top: 50%; */
  left: 42%;
  margin: -100px 0 0 -150px;
  height: 260px;
  width: 360px;
  margin-top: 80px;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 9px -1px rgba(0, 0, 0, 0.75);
}

.thumbnail_sup {
  float: left;
  position: relative;
  left: 30px;
  top: -20px;
  height: 130px;
  width: 150px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  background-color: #090088;
}

.thumbnail_sup p {
  text-align: center;
  font-size: 6.1rem;
  margin: 1rem;
  color: #ffbd39;
}

.right {
  margin-left: 190px;
  margin-right: 20px;
}

.separator {
  margin-top: 10px;
  margin-bottom: 8px;
  border: 0.5px solid #C3C3C3;
}

.right h1 {
  padding-top: 15px;
  font-size: 1rem;
  font-weight: bold;
}

.right p {
  text-align: left;
  /* padding-top: 10px; */
  font-size: 0.9rem;
  line-height: 114%;
  color: #4B4B4B;
}

.card_sup h5 {
  position: absolute;
  left: 20px;
  bottom: 80px;
  font-size: 3rem;
  color: #C3C3C3;
}

.card_sup h6 {
  position: absolute;
  left: 20px;
  font-size: 1.5rem;
  color: #C3C3C3;
}

.fab {
  position: absolute;
  right: 50px;
  bottom: -20px;
  box-sizing: border-box;
  padding-top: 18px;
  background-color: #ff2e4c;
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}