@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/
.verification_box{padding:2%; margin:2%; border:none; background:#f5fdf3;line-height: 1.1rem;}
.verification_box strong{font-weight:700;}
.verification_title{font-size:0.875rem; line-height:1.4rem; margin-bottom:0.9rem; font-weight:700;}
.verification_title>i{display: none;}
.verification_info{padding:0 1%;}
.verification_info dt{margin-bottom:0.4rem; font-weight:700;}
.verification_info dt strong{color:#e71;}
.verification_info dd{margin-bottom:1rem;}
.verification_info dd>p{margin:0.6rem 0;}
.verification_info dd .btn_list{margin-top:1rem; line-height:1.5rem;}
.verify_now_btn{border-radius:0.2rem; -ms-border-radius:0.2rem; -moz-border-radius:0.2rem; -webkit-border-radius:0.2rem; padding:0 1rem; height:1.5rem; line-height:1.5rem; color:#fff; display:inline-block; float:left; cursor:pointer; font-size:0.875rem; margin-right:1rem; overflow:hidden;}
.verify_now_btn:hover{text-decoration:none; color:#fff;}
.guide_btn{margin:0 0.2rem;}

/*inbox*/
#user .no_data{display:none;}
#user .global_tab.tab_inbox li{width:50%;}
#user .inbox_tab_con{overflow:auto;}
#user .inbox_tab_con .tab_con{min-height:60vh; padding-bottom:4rem; background-color:#efeff4; border-top:1px transparent solid;}
#user .inbox_tab_con .more{ text-align:center; height:1.875rem; line-height:1.875rem; background:url(../images/loading.gif) center no-repeat; background-size:1.5625rem auto;}
#user .inbox_tab_con .item{ padding:0.625rem 0; padding-left:2.1875rem; border-bottom:1px solid #eee; background:url(../images/u_icon_inbox_list_bg.png) 0 center no-repeat; background-size:auto 1.25rem;}
#user .inbox_tab_con .item.read{ background:url(../images/u_icon_inbox_list_bg_cur.png) 2px center no-repeat; background-size:auto 1.5rem;}
#user .inbox_tab_con .item .title{ color:#333; line-height:1.25rem; font-size:1rem; float:left; width:calc(100% - 5.625rem);}
#user .inbox_tab_con .item .date{ color:#999; float:right; width:5.625rem; text-align:right; line-height:1.25rem;}

#user .inbox_tab_con form .rows{ padding:0.3125rem;}
#user .inbox_tab_con form .rows>label{ font-size:0.875rem; line-height:1.25rem;}
#user .inbox_tab_con form .rows>input{ width:100%; height:2.1875rem; line-height:2.1875rem; text-indent:0.625rem; border:1px solid #ddd; box-sizing:border-box; border-radius:2px;}
#user .inbox_tab_con form .rows>textarea{ width:100%; height:6.25rem; border:1px solid #ddd; box-sizing:border-box; padding:0.625rem; resize:none; border-radius:2px;}
#user .inbox_tab_con form .rows>input:focus,.inbox_tab_con form .rows>textarea:focus{ box-shadow:0 0 0.75rem 0 #eba912; border:1px solid #f9b61e;}
#user .inbox_tab_con form .rows .upload_box{ position:relative; margin-top:0.625rem;}
#user .inbox_tab_con form .rows .upload_btn{ width:4.0625rem; height:4.0625rem;}
#user .inbox_tab_con form .rows .upload_btn img{ width:100%; height:100%;}
#user .inbox_tab_con form .rows .upload_file{ width:100%; height:100%; position:absolute; left:0; top:0; opacity:0;}
#user .inbox_tab_con form .submit_btn{ display:block; width:100%; height:40px; line-height:40px; text-align:center; background:#fe9901; color:#fff; font-size:0.875rem; border-radius:2px; margin-top:1.25rem;}

#user .inbox_tab_con .dialogue_box{width:90vw; margin:1rem 5vw 0;}
#user .inbox_tab_con .dialogue_box .time{height:1.6875rem; line-height:1.6875rem; text-align:center; font-size:.825rem; color:#aaa;}
#user .inbox_tab_con .dialogue_box .message{line-height:1.25rem; padding:1rem; font-size:.875rem; color:#111; background-color:#fff; border-radius:.3125rem; position:relative;}
#user .inbox_tab_con .dialogue_box .picture{width:40vw; height:40vw; margin-top:.625rem; padding:1rem; text-align:center; background-color:#fff; border-radius:.3125rem; float:left; position:relative;}
#user .inbox_tab_con .dialogue_box .picture img{max-width:100%; max-height:100%;}
#user .inbox_tab_con .dialogue_box_left .message:before, #user .inbox_tab_con .dialogue_box_left .picture:before{width:11px; height:13px; background:url(../../images/user/icon_dialogue_box_left.png) no-repeat; position:absolute; bottom:6px; left:-10px; display:block; content:'';}
#user .inbox_tab_con .dialogue_box_right{text-align:right; float:right;}
#user .inbox_tab_con .dialogue_box_right .message{text-align:left; background-color:#d0ecff;}
#user .inbox_tab_con .dialogue_box_right .picture{background-color:#d0ecff; float:right;}
#user .inbox_tab_con .dialogue_box_right .message:after, #user .inbox_tab_con .dialogue_box_right .picture:after{width:11px; height:13px; background:url(../../images/user/icon_dialogue_box_right.png) no-repeat; position:absolute; bottom:6px; right:-10px; display:block; content:'';}

.inbox_form{height:2rem; line-height:2rem; padding:.5rem 0; background-color:#fff; position:fixed; bottom:0; left:0;}
.inbox_form>form{width:90vw; padding:0 5vw;}
.inbox_form .upload_box{width:10vw; height:2rem; text-align:center; background:url(../../images/user/bg_multi_small_img.png) no-repeat center center; position:relative; float:left;}
.inbox_form .upload_box .pic_box{width:2rem; height:2rem; font-size:0; vertical-align:middle;}
.inbox_form .upload_box .pic_box>img{max-width:100%; max-height:100%;}
.inbox_form .upload_file{width:2rem; height:2rem; padding-right:50rem; font-size:5rem; cursor:pointer; position:absolute; top:0; right:0; filter:alpha(opacity=0); opacity:0; -moz-opacity:0; -webkit-opacity:0;}
.inbox_form .input_box{margin-left:2vw; float:left;}
.inbox_form .input_box>input{width:55vw; height:2rem; line-height:2rem; padding:.3125rem; font-size:1rem; background-color:#f2f2f2; border-radius:.1875rem; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.inbox_form .submit_btn{width:20vw; height:2rem; line-height:2rem; text-align:center; font-size:1rem; color:#fff; background-color:#0cb083; border-radius:.1875rem; float:right;}

.inbox_detail_pop{ width:100%; height:100%; position:absolute; left:0; top:0; background:rgba(0,0,0,0.8); display:none;}
.inbox_detail_pop .box{ margin:0 20px; background:#fff; box-sizing:border-box; padding:0.625rem; border-radius:3px; min-height:18.75rem;}
.inbox_detail_pop .box .title{ font-size:1.125rem; line-height:1.375rem;}
.inbox_detail_pop .box .date{ font-size:0.875rem; color:#999; text-align:right; margin-top:0.5rem; border-bottom:1px solid #efefef; padding-bottom:0.625rem;}
.inbox_detail_pop .box .con{ color:#999; line-height:1.25rem; margin:0.9375rem 0;}
.inbox_detail_pop .box .img img{ max-width:100%; max-height:100%;}