.bac-l-stack-xs {
    margin-left: 5px !important;
  }
  
  .bac-l-stack-s {
    margin-left: 10px !important;
  }
  
  .bac-l-stack-m {
    margin-left: 15px !important;
  }
.tag-in-box{
    float: right;
    align-items: center;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
  :root {
    --brand-low: 228, 0, 43;
    --brand-medium: 200, 16, 47;
    --brand-high: 166, 25, 46;
    --brand-extrahigh: 118, 35, 47;
    --white: 255, 255, 255;
    --background: 241, 241, 242;
    --neutral-low: 230, 230, 230;
    --neutral-medium: 190, 190, 190;
    --neutral-high: 109, 110, 113;
    --neutral-extrahigh: 77, 77, 79;
    --black-low: 43, 43, 43;
    --black: 0, 0, 0;
    --positive-low: 110, 191, 93;
    --positive-medium: 42, 148, 70;
    --positive-high: 0, 113, 71;
    --attention-low: 245, 136, 31;
    --attention-medium: 205, 85, 39;
    --attention-high: 173, 31, 44;
    --critical-low: 200, 16, 47;
    --critical-medium: 166, 25, 46;
    --critical-high: 118, 35, 47;
    --interaction-low: 16, 117, 187;
    --interaction-medium: 0, 53, 148;
    --interaction-high: 0, 26, 112;
    --informative-medium: 27, 162, 180;
    --auxiliar-low: 179, 62, 150;
    --auxiliar-medium: 145, 40, 127;
    --auxiliar-high: 112, 26, 83;
  }
  
  .highlight {
    position: relative;
    display: inline-flex;
    width: 14px;
    height: 14px;
  }
  
  .highlight::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 2;
    border-radius: 50%;
  }
  
  .highlight.critical-low::after {
    background: RGBA(210,123,11, 1);
    border: 1px solid RGBA(210,123,11, 1);
    -webkit-animation: pulse_critical-low 1s ease var(--attention-high);
    animation: pulse_critical-low 1s ease var(--attention-high);
  }
  
  @keyframes pulse_critical-low {
    0% {
      -webkit-box-shadow: 0px 0px 0px 0px RGBA(210,123,11, 1);
      box-shadow: 0px 0px 0px 0px RGBA(210,123,11, 1);
    }
    100% {
      -webkit-box-shadow: 0px 0px 0px 5px transparent;
      box-shadow: 0px 0px 0px 5px transparent;
    }
  }
  .status-tag {
    position: relative;
    width: auto;
    display: inline-flex;
    height: 24px;
    /* padding: 0 10px 0 5px; */
    align-items: center;
    justify-content: center;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    float: initial;
  }
  
  .status-tag.critical-low {
    /* background: RGBA(var(--critical-low), 0.07); */
  }
  
  .status-tag__icon,
  .status-tag__txt {
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex: 0 0 auto;
  }
  
  .status-tag__icon {
    font-size: 12px;
  }
  
  
  .status-tag__icon.critical-low {
    color: RGBA(210,123,11, 1);
  }
  
  .status-tag__txt {
    text-align: center;
    line-height: 3vh;
    font-size: 2vh;
  }
  
  
  .status-tag.critical-low .status-tag__txt {
    /* color: RGBA(var(--critical-low), 1); */
  }
  
  
  [class^="bacicon-"]::before,
  [class*=" bacicon-"]::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "bluecredomatic-iconset" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .bacicon-email:before {
    content: "\31";
  }
  
  .bacicon-soccer-ball:before {
    content: "\32";
  }