h2 {
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    grid-gap: 20px;
    margin: 30px 0;
    font: 700 1em/1.4 'Avenir', sans-serif !important;
    color: black;
}

h2:before,
h2:after {
    content: '';
    border-top: 2px solid;
}


h3 {
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    grid-gap: 20px;
    margin: 30px 0;
    font: 700 2em/1.4 'Avenir', sans-serif;
    color: black;
}

h3:before,
h3:after {
    content: '';
    border-top: 2px solid;
}