.blog-store {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  background-color: var(--page-bg-color);
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0px 2px 50px 10px rgba(0, 0, 0, 0.21);
}

.blog-slide {
  width: 100%;
}

.blog {
  background: #fff;
}

.blog-cell {
  position: relative;
  display: flex;
  padding: 25px;
  width: 85% !important;
  height: 250px;
  margin-right: 1px !important;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image:     ; */
}

.blog-cell:nth-child(1) {
  background-color: #fbadaf;
}

.blog-cell:nth-child(2) {
  background-color: #a4e0eb;
}

.blog-cell:nth-child(3) {
  background-color: #edb9d6;
}

.blog-cell:nth-child(4) {
  background-color: #fdca95;
}

.blog-cell:nth-child(5) {
  background-color: #cbb5e2;
}

.flickity-page-dots {
  display: none;
}

.flickity-prev-next-button .arrow {
  fill: #d6d6d6;
}

.flickity-prev-next-button svg {
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
}

.flickity-prev-next-button.previous {
  left: 15px;
}

.flickity-prev-next-button.next {
  right: 15px;
}

.flickity-viewport {
  overflow: visible;
}



.blog-img {
  flex-shrink: 0;
  padding: 7% 0;
}

.blog-title {
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
}

.blog-title {
  color: whitesmoke;
  font-weight: 600;
  font-size: 2.5vh;
  text-shadow: 2px 2px #fa030f;

}

.blog-author {
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: whitesmoke;
  font-size: 1.8vh!important;
    font-weight: bold!important;
    text-shadow: 2px 2px #fa030f;
}

.blog-content {
    /* padding: 7%; */
    color: whitesmoke;
    overflow: hidden;
    /* text-align: center; */
    float: left;
    position: absolute;
    bottom: 14%;
}


.blog-sum {
  margin-top: 20px;
  font-size: 2vh;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: left;
  line-height: 1.3rem;
}

.blog-see {
  margin-top: 50px;
  text-align: center;
  background-color: #fff;
  color: black;
  font-weight: 600;
  padding: 8px;
  font-size: 14px;
  width: 50%;
  border-radius: 20px;
}

.blog-see:hover {
  color: #ff6e72;
}


.blog-see.blog-blue:hover {
  color: #22cdec;
}


.blog-see.blog-pink:hover {
  color: #ff6dbe;
}


.blog-see.blog-yellow:hover {
  color: #fb9124;
}

.blog-see.blog-purple:hover {
  color: #a764ec;
}


@media (max-width: 1103px) {
  .blog-cell {
    width: 60%;
  }
}

@media (max-width: 765px) {
  .blog-cell {
    width: 80%;
  }
}

@media (max-width: 575px) {
  .blog-cell {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .blog-cell {
    width: 100%;
  }
}

@media (max-width: 458px) {
  .blog-photo {
    width: 180px;
  }

}

@media (max-width: 420px) {
  .blog-see {
    font-size: 13px;
  }

  .blog-photo {
    width: 130px;
  }

}