.mainServicesContainer {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.mainIcon {
  flex-direction: row;
  width: inherit;
  display: -webkit-inline-box;
  width: 96%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.servicesItem {
  width: 33.3%;
  margin: 0.09rem;
  text-align: -webkit-center;

}


.feature-box {
  transition: background-color 0.3s;
  position: relative;

}

.feature-box::before,
.feature-box::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-radius: 0.5rem;
  border: 2px solid transparent;
}

.feature-box::before {
  left: -2px;
  top: -2px;
}

.feature-box::after {
  right: -2px;
  bottom: -2px;
}

.feature-box:hover {
  background-color: rgba(5, 5, 17, 0.075);
}

.feature-box:hover::before,
.feature-box:hover::after {
  width: calc(98% + 4px);
  height: calc(98% + 4px);
}

.feature-box:hover::before {
  transition: width 0.2s linear, height 0.2s linear 0.2s;
  border-top-color: rgb(230, 185, 88);
  border-right-color: rgb(230, 185, 88);
}

.feature-box:hover::after {
  transition: width 0.2s linear 0.4s, height 0.2s linear 0.6s;
  border-bottom-color: rgb(230, 185, 88);
  border-left-color: rgb(230, 185, 88);
}

.txt-bg {
  background-color: rgba(255, 255, 255, 0.4);
  margin: 6px auto;
  border-radius: 15px;
  width: 90%;
  height: fit-content;


}

.text-xl {
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
}

.titleService {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.firstImg {

  background-size: contain;
  /* background-color: #ED553B; */
  background-repeat: no-repeat;
  width: 50%;
}

.secondImg {

  background-size: contain;
  /* background-color: #F6D51D; */
  background-repeat: no-repeat;
  width: 50%;
}

.thirdImg {

  background-size: contain;
  /* background-color: #3caea3; */
  background-repeat: no-repeat;
  width: 50%;
}

/* media */

@media screen and (min-width: 768px) {
  servicesItem {
    padding: 1rem;
  }
}