.feature-box {
  transition: background-color 0.3s;
  position: relative;
}

.feature-box::before,
.feature-box::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-radius: 0.25rem;
  border: 2px solid transparent;
}

.feature-box::before {
  left: -2px;
  top: -2px;
}

.feature-box::after {
  right: -2px;
  bottom: -2px;
}

.feature-box:hover {
  background-color: rgba(5, 5, 17, 0.2);
}

.feature-box:hover::before,
.feature-box:hover::after {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}

.feature-box:hover::before {
  transition: width 0.2s linear, height 0.2s linear 0.2s;
  border-top-color: #5863f8;
  border-right-color: #5863f8;
}

.feature-box:hover::after {
  transition: width 0.2s linear 0.4s, height 0.2s linear 0.6s;
  border-bottom-color: #5863f8;
  border-left-color: #5863f8;
}

.text-resolution {
  border-radius: 30px !important;
  background-color: white !important;

}

.h-16 {
  height: 6rem !important;
}

.mb-4 {
  margin-bottom: -0.5rem !important;
}

.txt-bg {
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0px auto;
  border-radius: 30px;
  width: 95%;
}

.firstImg {
  background-image: url('./img/1_pay.png');
  background-size: contain;
  background-color: #ED553B;
  background-repeat: no-repeat;
}

.secondImg {
  background-image: url('./img/2_img.png');
  background-size: contain;
  background-color: #F6D51D;
  background-repeat: no-repeat;
}

.thirdImg {
  background-image: url('./img/3_img.png');
  background-size: contain;
  background-color: #3caea3;
  background-repeat: no-repeat;
}