.feature-box-footer {
  transition: background-color 0.3s;
  position: relative;


}

.feature-box-footer::before,
.feature-box-footer::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-radius: 0.5rem;
  border: 2px solid transparent;
}

.feature-box-footer::before {
  left: -2px;
  top: -2px;
}

.feature-box-footer::after {
  right: -2px;
  bottom: -2px;
}

.feature-box-footer:hover {
  background-color: rgba(5, 5, 17, 0.075);
}

.feature-box-footer:hover::before,
.feature-box-footer:hover::after {
  width: calc(99% + 4px);
  height: calc(98% + 4px);
}

.feature-box-footer:hover::before {
  transition: width 0.2s linear, height 0.2s linear 0.2s;
  border-top-color: rgb(230, 185, 88);
  border-right-color: rgb(230, 185, 88);
}

.feature-box-footer:hover::after {
  transition: width 0.2s linear 0.4s, height 0.2s linear 0.6s;
  border-bottom-color: rgb(230, 185, 88);
  border-left-color: rgb(230, 185, 88);
}



.social-icons {

  list-style: none;
  width: 70%;
  margin: auto;
  padding-top: 1rem;
}

.social-icons img {
  width: 25px;
  height: 25px;
  margin: 0.5rem auto;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  border-width: 0.09rem;
  border-color: black !important;
  border-style: solid;
  background-color: rgba(252, 161, 62);
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #db2d16
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #b60089
}

.social-icons a.dribbble:hover {
  background-color: #49964d
}

.social-icons a.mine:hover {
  background-color: #0a22f7
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}