
  .ribbon {
    position: absolute;
    left: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
  }
  .ribbon span {
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#F79E05 0%, #8F5408 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; left: -21px;
  }
  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #8F5408;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F5408;
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #8F5408;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F5408;
  }






.product-box {
  font: 13px/23px "Raleway", Arial, sans-serif;
  color: #303336;
  display: flex;
  background-color: #f7f7f7;

}

.container-box {
  
  margin: 0.5%;
  width: 50%;
  height:-webkit-fill-available;
  background: white;
  border-radius: 3px;
  position: relative;
  padding: 1%;
  border-width: 5%;
  border: solid  ;
  -moz-border-image: -moz-linear-gradient(top, #c27a1cc9 0%, #814f0d 100%)!important;
  -webkit-border-image: -webkit-linear-gradient(top, #c27a1cc9 0%, #814f0d 100%);
  border-image: linear-gradient(to bottom, #c27a1cc9 0%, #814f0d 100%);
  border-image-slice: 1;
}

.prices {
  position: absolute;
  color: #814f0d;
  text-align: center;
  background: rgba(225, 217, 162, 0.6);
  border-radius: 50%;
  padding: 19px 33px;
  font-size: 22px;
  font-family: sans-serif;
  top: 42%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.prices div {
  margin-top: 5px;
  font-weight: bold;
}

.informationn {
  text-align: center;
  margin-top: 18px;
}

.name {
  font-size: 22px;
  text-align: center;
}

.store {
  font-size: 16px;
  color: #8c98a8;
  margin-bottom: 28px;
  text-align: center;
}
