@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*********************************	前台后台手机端通用		********************************
*/
/*Banner插件*/
#banner_edit{ width:100%; height:600px; position:relative; overflow:hidden;}
#banner_edit .banner_box{ width:100%; height:100%; position:absolute; top:0; left:0;}
#banner_edit .banner_box .banner_title,
#banner_edit .banner_box .banner_brief{ position:absolute; cursor:default; white-space:pre-wrap;}
#banner_edit .banner_box .banner_list{ width:100%; height:100%; position:relative; overflow:hidden;}
#banner_edit .banner_box .banner_list a{ width:100%; height:100%; display:block; cursor:pointer;}
#banner_edit .banner_box .banner_list .banner_position{ width:100%; height:100%; position:absolute; top:0; left:0; text-align:center;}
#banner_edit .banner_box .banner_list .banner_bg{ width:100%; height:100%; background-repeat:no-repeat; background-size:100% 100%;}
#banner_edit .banner_box .banner_list img{ max-width:100%;}
#banner_edit .banner_tab{ width:100%; height:15px; position:absolute; bottom:15px; left:0; text-align:center;}
#banner_edit .banner_tab a{ width:10px; height:10px; margin:0 3px; background:#f1f1f1; display:inline-block; border-radius:5px;}
#banner_edit .banner_tab a.on{ background:#f00;}
#banner_edit .banner_loading{ width:100%; height:100%; position:absolute; top:0; left:0; background:url(../themes/default/images/global/loading_oth.gif) #fff center no-repeat;}

/*可视化编辑插件框架Banner插件手机端*/
.plugins_edit_contents #mbanner_edit_mask{ width:100%; height:100px; position:relative; background-image:url(../manage/images/view/icon_noimg.png);}
.plugins_edit_contents #mbanner_edit_mask .mbanner_edit_list{ width:100%; height:100px; position:absolute; top:0; left:0; display:none; text-align:center;}
.plugins_edit_contents #mbanner_edit_mask .mbanner_edit_list:first-child{ display:block;}


/*可视化编辑插件框架*/
.plugins_edit_contents{ width:100%; height:100%; position:absolute; top:-2px; left:-2px; border:2px dashed transparent;}
.plugins_edit_contents.current{ border:2px dashed #0cb083; z-index:1;}
.plugins_edit_contents .plugins_pos{ display:none; width:100%; height:100%; position:absolute; top:0; left:0; background:rgba(0,0,0,0.3);}
.plugins_edit_contents .plugins_layout_mask{ width:100%; height:100%; position:absolute; top:0; left:0; background:url(../themes/default/images/global/loading_oth.gif) #fff no-repeat center; z-index:20;}
.plugins_edit_contents #banner_edit_mask,
.plugins_edit_contents #banner_edit_mask .banner_edit_mask_list{ width:100%; height:100%; background:#fff; position:absolute; top:0; left:0;}
.plugins_edit_contents #banner_edit_mask .banner_edit_mask_list{ overflow:hidden;}
.plugins_edit_contents #banner_edit_mask .banner_edit_mask_position{ text-align:center;}
.plugins_edit_contents #banner_edit_mask .banner_edit_mask_position,
.plugins_edit_contents #banner_edit_mask .banner_edit_mask_title,
.plugins_edit_contents #banner_edit_mask .banner_edit_mask_brief{ position:absolute; top:0; left:0; white-space:pre-wrap;}
.plugins_edit_contents.current_edit #banner_edit_mask .banner_edit_mask_position.move,
.plugins_edit_contents.current_edit #banner_edit_mask .banner_edit_mask_title,
.plugins_edit_contents.current_edit #banner_edit_mask .banner_edit_mask_brief{ cursor:move;}
.plugins_edit_contents #banner_edit_mask .banner_edit_mask_title,
.plugins_edit_contents #banner_edit_mask .banner_edit_mask_brief{ border:2px dashed transparent;}
.plugins_edit_contents #banner_edit_mask .banner_edit_mask_noimg{ display:none; width:100%; height:100%; background:url(../manage/images/view/icon_plugins_noimg.png) #f3f3f3 center no-repeat; position:absolute; left:0; top:0;}
.plugins_edit_contents #banner_edit_mask .banner_edit_mask_noimg .banner_edit_mask_noimgtxt{ width:100%; margin-top:60px; color:#bbb; font-size:18px; text-align:center; position:absolute; left:0; top:50%; box-sizing:border-box;}
.plugins_edit_contents.current_edit{ z-index:1000;}
.plugins_edit_contents.current_edit #banner_edit_mask .banner_edit_mask_title,
.plugins_edit_contents.current_edit #banner_edit_mask .banner_edit_mask_brief{ border:2px dashed rgba(107,185,164,0.5);}
.plugins_edit_contents.current_edit #banner_edit_mask .banner_edit_mask_title.editing,
.plugins_edit_contents.current_edit #banner_edit_mask .banner_edit_mask_brief.editing{ border:2px dashed #0cb083;}
.plugins_edit_mask{ width:100%; height:100%; background:#000; position:absolute; left:0; top:0; opacity:0; transition: all 0.3s ease-in-out; z-index:1100;}
.plugins_edit_mask.current{ opacity:0.5;}
.plugin_edit_box{ height:20px; line-height:20px; padding:10px 20px; background:#0cb083; position:absolute; top:10px; left:10px; transition: all 0.2s ease-in-out; opacity:0; z-index:0; border-radius:5px; box-shadow:0 0 10px 0 rgba(0,0,0,0.3); transform:translateY(-10px);}
.plugin_edit_box.current{ opacity:1; z-index:1100; transform:translateY(0);}
.plugin_edit_box .plugins_eidt_item{ display:inline-block; margin-left:20px; padding-left:30px; font-family:Arial; font-size:14px; line-height:20px; color:#fff; cursor:pointer;}
.plugin_edit_box .plugins_eidt_item:first-child{ margin-left:0;}
.plugin_edit_box .plugins_eidt_item.pluginseffect{ width:38px; background:url(../manage/images/frame/icon_pluginseffect.png) no-repeat;}
.plugin_edit_box .plugins_eidt_item.pluginslayout{ width:38px; background:url(../manage/images/frame/icon_pluginslayout.png) no-repeat;}
.plugin_edit_box .plugins_eidt_item.pluginseditor{ width:30px; background:url(../manage/images/frame/icon_pluginseditor.png) no-repeat;}

/*引导部分样式*/
#global_guide_box{position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: 1101;background: rgba(0, 0, 0, 0.7);}
#global_guide_box>span{height: 30px;line-height: 30px;margin: 0 auto 65px;position: absolute;right: 0;bottom: 50%;left: 0;text-align: center;font-size: 24px;color: #fff;}
#global_guide_box>em{width: 80px;height: 80px;background: #0cb083 url(../manage/images/frame/icon_mouse.png) no-repeat center center;border-radius: 100%;margin:auto;position: absolute;top: 0;right: 0;bottom: 0;left: 0;-webkit-animation: cd-pulse 2s infinite;-moz-animation: cd-pulse 2s infinite;animation: cd-pulse 2s infinite;-webkit-animation-delay: .5s;-moz-animation-delay: .5s;animation-delay: .5s;}

@-webkit-keyframes cd-pulse {
	0% { box-shadow: 0 0 0 0 #0cb083; }
	100% { box-shadow: 0 0 0 45px transparent; }
}
@-moz-keyframes cd-pulse {
	0% { box-shadow: 0 0 0 0 #0cb083; }
	100% { box-shadow: 0 0 0 45px transparent; }
}
@keyframes cd-pulse {
	0% { box-shadow: 0 0 0 0 #0cb083; }
	100% { box-shadow: 0 0 0 45px transparent; }
}