@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

@font-face {
  font-family: "Poppins";
  src: url("../../../../../../css/font/Poppins/POPPINS-REGULAR.woff2") format("woff2"),
       url("../../../../../../css/font/Poppins/POPPINS-REGULAR.woff") format("woff"),
       url("../../../../../../css/font/Poppins/POPPINS-REGULAR.ttf") format("truetype"),
       url("../../../../../../css/font/Poppins/POPPINS-REGULAR.eot") format("embedded-opentype"),
       url("../../../../../../css/font/Poppins/POPPINS-REGULAR.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Interstate";
  src: url("../../../../../../css/font/Interstate/Interstate-Regular.woff2") format("woff2"),
       url("../../../../../../css/font/Interstate/Interstate-Regular.woff") format("woff"),
       url("../../../../../../css/font/Interstate/Interstate-Regular.ttf") format("truetype"),
       url("../../../../../../css/font/Interstate/Interstate-Regular.eot") format("embedded-opentype"),
       url("../../../../../../css/font/Interstate/Interstate-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OPENSANS";
  src: url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.woff2") format("woff2"),
       url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.woff") format("woff"),
       url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.ttf") format("truetype"),
       url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.eot") format("embedded-opentype"),
       url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*************************** footer start ***************************/

.follow_us_list{padding:1rem 0 2rem; text-align:center;}
.follow_us_list>.title{text-transform: uppercase;line-height: 1.4rem;padding: 0.8rem 0px;color: #fff;font-size: 1.125rem;}
.follow_us_list li{width:2rem; margin:0 .15rem; display:inline-block;}
.follow_us_list li>a{width:inherit; height:2rem; line-height:2rem; overflow:hidden; white-space:nowrap; text-indent:50rem; background-repeat:no-repeat; background-size:100%; display:block;}
.icon_follow_facebook{background-image:url(../images/icon_follow_facebook.png);}
.icon_follow_twitter{background-image:url(../images/icon_follow_twitter.png);}
.icon_follow_pinterest{background-image:url(../images/icon_follow_pinterest.png);}
.icon_follow_linkedin{background-image:url(../images/icon_follow_linkedin.png);}
.icon_follow_youtube{background-image:url(../images/icon_follow_youtube.png);}
.icon_follow_google{background-image:url(../images/icon_follow_google.png);}
.icon_follow_vk{background-image:url(../images/icon_follow_vk.png);}
.icon_follow_instagram{background-image:url(../images/icon_follow_instagram.png);}

.newsletter_box{padding:7.4vw 4vw; text-align:center;background: #2cbeb2;}
.newsletter_box>.pic{height: 18.4vw;background: url(../images/icon_newsletter.png) no-repeat center center;background-size: auto 100%;}
.newsletter_box>h3{text-transform:uppercase; font-size:1.125rem; color:#fff;line-height: 1.5rem;padding-top: 0.875rem;font-family: 'Interstate',Arial;}
.newsletter_box>h4{text-transform:capitalize; font-size:0.875rem; color:#fff;line-height: 1.125rem;padding-bottom: 1.125rem;font-family: "OPENSANS",Arial;}
.newsletter_box .newsletter_main{margin-top:.5rem;}
.newsletter_box .form_text{width:100%; height:10vw; line-height:10vw; text-align:left; background-color:#f6f6f6; border-bottom: none; display:block; border-radius:0;font-size: 0.75rem;text-indent: 0.75rem;}
.newsletter_box .form_button{width:100%; height:10vw; line-height:10vw; margin-top: 1.9vw; font-size:0.875rem; color:#fff;border: none;background: #face6d;}

.footer_list{width: 92vw;margin:auto;border-top: 1px solid #4c4c4c;border-bottom: 1px solid #4c4c4c;padding: 0.875rem 0;}
.footer_list>li>a{height:3.25rem; line-height:3.25rem; color:#a6a6a6; position:relative; display:block;}
.footer_list>li>a .title{width:80%; overflow:hidden; text-indent:.5rem; font-size:1rem; float:left;}
.footer_list>li>a em, .footer_list>li>a i{position: absolute;top: 0;bottom: 0;right: 0;margin:auto;z-index:11; -webkit-transition:all .4s; transition:all .4s; -webkit-transform:-webkit-rotate(45deg); transform:rotate(45deg);}
.footer_list>li>a em{width: 15px;height: 1px;background: #a0a0a0;}
.footer_list>li>a i{height: 15px;width: 1px;background: #a0a0a0;right: 7px;}
.footer_list>li>a.list_close em, .footer_list>li>a.list_close i{-webkit-transform:-webkit-rotate(0); transform:rotate(0);}
.footer_list>li .help_list{ display:none;background: #333;}
.footer_list>li .help_list>li{width: 100%;height:2.5rem; line-height:2.5rem; overflow:hidden; float:left;}
.footer_list>li .help_list>li>a{text-indent:.5rem; font-size:.875rem; color:#bbb; display:block;}
.footer_list>li .sort_down{width:0; height:0; float:right; border-left:.05rem solid transparent; border-right:.05rem solid transparent; border-top:.07rem solid #999; margin:.18rem -1px 0 .07rem;}
.footer_list>li:last-child{border-bottom:0;}

footer{position:relative;background: #222222;font-family: "Poppins",Arial;}

footer section{border-top: 1px solid #27282b;}
footer section{line-height:1.5rem; padding:.625rem 0; text-align:center; color:#a6a6a6; }
footer section a{border:0;color:#a6a6a6;}
footer .c_lang{font-size:.2rem; line-height:.46rem; height:.46rem; border-top:1px #eee solid; padding:0 3%;}
footer .window_list{position:fixed; top:45%; display:none; width:80%; left:10%; background:rgba(0,0,0,.7); border-radius:.08rem; padding:.625rem 0; z-index:10001;}
footer .window_list .c{line-height:1.25rem; text-align:center; position:relative;}
footer .window_list .c .close{width:1.5625rem; height:1.5625rem; content:''; background:url(../images/close.png) no-repeat center center/75%; position:absolute; top:-1.3rem; right:-.6rem;}
footer .window_list a{color:#fff;}
footer .window_list a>img{margin-right:.3125rem;}
/*************************** footer end ***************************/