/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/
#billing .ad_position .item.cur,#billing .ad_position .item:hover{border-color: #4a8bf1;color: #4a8bf1;}

.email_container .global_form .rows .btn_tpl_choice{color:#4a8bf1; border-color:#4a8bf1;}

#chat .chat_box .chat_list .edit{ color: #4a8bf1;}

#blog_inside .form_remark_log .btn_save{ background-color:#4a8bf1;}


/******************************************* 图片 ************************************************************/
#billing .ad_position .item_0:hover,#billing .ad_position .item_0.cur{background-image: url(../images/operation/cdx/img_ad_pis_0_cur.png);}
#billing .ad_position .item_1:hover,#billing .ad_position .item_1.cur{background-image: url(../images/operation/cdx/img_ad_pis_1_cur.png);}
#billing .ad_position .item_2:hover,#billing .ad_position .item_2.cur{background-image: url(../images/operation/cdx/img_ad_pis_2_cur.png);}
#billing .ad_position .item_10:hover,#billing .ad_position .item_10.cur{background-image: url(../images/operation/cdx/img_ad_pis_10_cur.png);}
#billing .ad_position .item_11:hover,#billing .ad_position .item_11.cur{background-image: url(../images/operation/cdx/img_ad_pis_11_cur.png);}
#billing .ad_position .item_12:hover,#billing .ad_position .item_12.cur{background-image: url(../images/operation/cdx/img_ad_pis_12_cur.png);}
#fixed_right .fixed_template_choice .template_choice_list .item.cur .img_mask{background-image: url(../images/photo/cdx/icon_item_cur.png);}
