/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/
.jcTrackIframe{ box-shadow:1px 0px 3px 1px rgba(17,146,250,0.8);}

.orders_status_list .item.current>strong{color:#4a8bf1;}
.orders_status_list .item.current .border{border-color:#4a8bf1;}
.orders_status_list .item.current .choice>i{background:url(../images/frame/icon_checkbox_current.png) no-repeat center #4a8bf1;}

.orders_status .box_button .btn_next{ background-color:#4a8bf1; border-color:#4a8bf1;}

.orders_payment .orders_user>span{ color:#4a8bf1;}

.orders_shipping dt .title>strong{color:#4a8bf1;}

.orders_remark_log .form_remark_log .btn_save{ background-color:#4a8bf1;}

.waybill_list .waybill_title .package_button .btn_delivery{ color:#4a8bf1;}
.waybill_list .waybill_title .package_button .btn_separate{ background-color:#4a8bf1;}

.orders_status_list .item_3.current .choice>i, .orders_status_list .item_7.current .choice>i{background:url(../images/frame/icon_close.png) no-repeat 3px 2px #f94f4f;}

#waybill .inside_waybill .list_menu .search_btn{background:#4a8bf1;}

/******************************************* 图片 ************************************************************/
.orders_status_list .item_3.current .choice>i, .orders_status_list .item_7.current .choice>i{background:url(../images/frame/cdx/icon_close.png) no-repeat 3px 2px #f94f4f;}
.list_menu_button>li>a.change_status:hover{background-image:url(../images/frame/cdx/icon_order_status_current.png);}
#waybill .inside_waybill .list_menu .form_input{background: url(../../ico/cdx/search.png) no-repeat 15px center;}