/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

.no_plugins .go_app_store{ background: #4a8bf1;}

.app_main .app_item .btn_box .btn_view{ color:#4a8bf1;}
.app_main .app_item .btn_install{color: #4a8bf1;}
.app_main .app_item .import_progress .progress{ background-color:#4a8bf1;}
.app_main .app_item .import_progress .progress_percent>span{color:#4a8bf1;}

.pop_app_install .install_header{ background:url(../images/plugins/cdx/bg_shopcto.png) no-repeat center 63px #4a8bf1;}
.pop_app_install .install_bodyer .button .btn_submit{ background-color:#4a8bf1;}

.pop_app_oauth .download{ border:1px solid #4a8bf1;color: #4a8bf1;}
.pop_app_oauth .success_bodyer .button .btn_global{ background-color:#4a8bf1;}
.pop_app_oauth .facebook_flow_container button{ background-color:#3b79f2; border-color:#3b79f2;}

.pop_app_switch .switch_bodyer .button .btn_global{ background-color:#4a8bf1;}

#index_set .themes_box .abs_item:hover:before, #index_set .themes_box .abs_item.cur:before{ border:3px solid #4a8bf1;}

#swap_chain .refresh{ margin-left:10px;}

.dispute_status_list .item.current>strong{color:#4a8bf1;}
.dispute_status_list .item.current .border{border-color:#4a8bf1;}
.dispute_status_list .item.current .choice>i{background:url(../images/frame/icon_checkbox_current.png) no-repeat center #4a8bf1;}

#dhl_account_open .global_form .rows .input .input_text .text_link{color: #4a8bf1;}

.fixed_btn_submit .btn_prev{background-color:#4a8bf1;}

.app_header .category_menu a.current{background: #4a8bf1;}

/******************************************* 图片 ************************************************************/
.pop_app_oauth form .t.success{background-image:url(../images/frame/cdx/icon_success.png);}
.add_products_list .add_products_item.cur .img_mask{background-image: url(../images/photo/cdx/icon_item_cur.png);}
#google_verification .google_verification_box .item{ background:url(../images/plugins/cdx/google_verification_box_bg.png) #fff 23px center no-repeat;}
.pop_app_oauth .download{background: url(../images/shipping/cdx/icon_download.png) no-repeat 14px center;}