/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/
.coupon_type .ty_list.checked{ border-color: #4a8bf1;color: #4a8bf1;}

.range_search_fixed .range_search_menu .item:hover>span, .range_search_fixed .range_search_menu .item.current>span{color:#4a8bf1;}

.discount_type .ty_list.checked{border-color: #4a8bf1;color: #4a8bf1;}
/******************************************* 图片 ************************************************************/
#holiday .list_box .current:before{background-image: url(../images/photo/cdx/icon_big_item_cur.png);}
.add_sales_list .add_sales_item.cur .img_mask{background-image: url(../images/photo/cdx/icon_item_cur.png);}
.coupon_type .ty_list.checked{background-image: url(../images/sales/cdx/icon_coupon_type_cur.png);}
.discount_type .ty_list.checked{background-image: url(../images/sales/cdx/icon_discount_type_cur.png);}
.range_search_fixed .range_search_menu .item:hover .icon, .range_search_fixed .range_search_menu .item.current .icon{background-image:url(../images/sales/cdx/icon_picture_current.png);}