/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/
body,html{ background:#f4f6f9;}

.tool_tips_ico{ background:url(../../ico/cdx/notes.png) center 2px no-repeat;}
.search_form .search_btn{ background:url(../../ico/cdx/search.png) no-repeat 6px center;}

.icon_unread_message{ background-color:#4a8bf1;}

.inside_container .inside_menu>li>a.current{color:#4a8bf1;}

#header .free_logo{ margin-top:5px; margin-left:5px; padding:2px 3px; float:left; font-size:12px; color:#4a8bf1; border:1px solid #4a8bf1; border-radius:2px; cursor:default;}

#header .menu>li.menu_home>a>em{background-color:#4a8bf1; border-color:#4a8bf1;}
#header .menu>li.menu_help>a{ border:1px solid #4c8df1; color:#4c8df1;}
#header .menu>li.menu_qrcode{ position:relative;}
#header .menu>li.menu_qrcode>a{height:28px; line-height:28px; border:1px solid #4c8df1; border-radius:15px; padding-right:14px; padding-left:14px; color:#4c8df1; font-size:14px; text-align:center;}
#header .menu>li.menu_qrcode>a span{display:block; height:28px; overflow:hidden; transition:all .2s; -webkit-transition:all .2s;}
#header .menu>li.menu_qrcode .qrcode_box{ display:none; width:245px; height:251px; margin-left:-123px; padding:20px 10px; background:url(../images/frame/cdx/wechat_box_bg.png) no-repeat; position:absolute; top:30px; left:50%; z-index:997; box-sizing:border-box; opacity:0;}
#header .menu>li.menu_qrcode .qrcode_box .txt{ text-align:center; font-size:14px; line-height:24px; color:#888;}
#header .menu>li.menu_qrcode .qrcode_box .txt.blue{ color:#498bf1;}
#header .menu>li.menu_qrcode .qrcode_box .image{ width:140px; height:140px; margin:0 auto;}
#header .menu>li.menu_qrcode .qrcode_box .image img{ max-width:100%; max-height:100%;}

#header li.menu_agent .agent_menu a.cur:before{ background: #4a8bf1;}
#header li.menu_agent .logs_box ul li:before{ background: #4a8bf1;}

#main .oth_version_menu .menu_ico{width:40px; height:100%; overflow:hidden; padding-top:16px; background-color:#1f1f20; position:absolute; top:0; left:0; z-index:3; float:left;}
#main .oth_version_menu .menu_ico .menu_item{text-align:center; cursor:pointer; position:relative;}
#main .oth_version_menu .menu_ico .menu_item>a{height:49px; text-decoration:none; color:#fff; display:block;}
#main .oth_version_menu .menu_ico .menu_item>a>i{width:inherit; height:inherit; display:block;}
#main .oth_version_menu .menu_ico .menu_item>a>i>span{padding-top:50px; font-size:14px; color:#686868; display:block;}
#main .oth_version_menu .menu_ico .menu_item>a:hover>i>span{color:#4a8bf1;}
#main .oth_version_menu .home_menu_ico{width:70px; padding-top:0;}
#main .oth_version_menu .home_menu_ico .menu_item>a{height:70px;}
#main .oth_version_menu .menu_ico_name{width:130px; height:100%; padding-top:16px; cursor:default; background-color:#1f1f20; position:absolute; top:0; left:-100px; z-index:2; transition:all 0.3s; -moz-transition:all 0.3s; -webkit-transition:all 0.3s;}
#main .oth_version_menu .menu_ico_name .menu_item{height:49px; line-height:47px; padding:0 6px;}
#main .oth_version_menu .menu_ico_name .menu_item a{color:#757575;}
#main .oth_version_menu .menu_ico_name .menu_item.current a{color:#4a8bf1;}
#main .oth_version_menu .menu_ico_name.show{left:40px;}
#main .oth_version_menu .menu_list{width:130px; overflow:hidden; margin-left:40px; background-color:#333336; float:left;}
#main .oth_version_menu .menu_list a{text-decoration:none; display:block;}
#main .oth_version_menu .menu_list .menu_title{padding:30px 0 18px 25px; font-size:19px; color:#fff;height: auto;margin: 0;background: none;}
#main .oth_version_menu .menu_list dt{height:38px; line-height:38px; overflow:hidden; padding-left:25px; color:#fff; cursor:pointer; position:relative;}
#main .oth_version_menu .menu_list dt span{overflow:hidden; font-size:13px; font-weight:normal; color:#fff; display:inline-block;}
#main .oth_version_menu .menu_list dt.current span{color:#4a8bf1;}
#main .oth_version_menu .menu_list dt:hover span{animation:moveIco .5s; -o-animation:moveIco 5s; -moz-animation:moveIco .5s; -webkit-animation:moveIco .5s;}
#main .oth_version_menu .menu_list .jspContainer{z-index:1;}
#main .oth_version_menu .menu_list .jspPane{left:0; transition:all 0.3s; -moz-transition:all 0.3s; -webkit-transition:all 0.3s;}

#main .oth_version_menu .new_menu_list,
#main .free_version_menu .menu_ico,
#main .free_version_menu .menu_ico_name,
#main .free_version_menu .menu_list{display: none;}

#main .free_version_menu{background-color:#242a33;}
#main .free_version_menu .new_menu_list{width:180px;height: 100%;padding-top: 15px;box-sizing: border-box;overflow:auto;  float:left;}
#main .free_version_menu .new_menu_list a{text-decoration:none; display:block;}
#main .free_version_menu .new_menu_list .menu_item .item_name{position: relative;line-height: 45px;padding: 0 0 0 10px;cursor: pointer;font-size: 16px;color: #fff;-webkit-user-select: none;}
#main .free_version_menu .new_menu_list .menu_item .item_name:hover{color: #4a8bf1;}
#main .free_version_menu .new_menu_list .menu_item .item_name i{display: inline-block;width: 25px;height: 28px;margin-right: 11px;vertical-align: middle;}
#main .free_version_menu .new_menu_list .menu_item .item_name:after{position: absolute;top: 0;right: 15px;width: 10px; height: 100%;background: url(../images/frame/icon_arrow_down_big_white.png) no-repeat center/10px;content:'';transition: all .2s;}
#main .free_version_menu .new_menu_list .menu_item ul{display: none;}
#main .free_version_menu .new_menu_list .menu_item ul li{padding-left: 50px;}
#main .free_version_menu .new_menu_list .menu_item ul li a{padding:8px 0;font-size: 13px;color: #fff;}
#main .free_version_menu .new_menu_list .menu_item ul li a:hover{color: #4a8bf1;}
#main .free_version_menu .new_menu_list .menu_item ul li.current a{color: #4a8bf1;}
#main .free_version_menu .new_menu_list .menu_item.open ul{display: block;}
#main .free_version_menu .new_menu_list .menu_item.open .item_name{color: #4a8bf1;}
#main .free_version_menu .new_menu_list .menu_item.open .item_name:after{transform: rotate(180deg);-webkit-transform: rotate(180deg);}
#main .free_version_menu .new_menu_list .jspContainer{z-index:1;}
#main .free_version_menu .new_menu_list .jspPane{left:0; transition:all 0.3s; -moz-transition:all 0.3s; -webkit-transition:all 0.3s;}

.new_menu_list .icon_menu.current{background-image:url(../images/frame/icon_menu.png?v=4.009);}
.new_menu_list .menu_item.open .icon_menu{background-image:url(../images/frame/cdx/icon_menu_current.png?v=4.009);}
.new_menu_list .icon_menu_orders{background-position:center -13px;}
.new_menu_list .icon_menu_products{background-position:center -61px;}
.new_menu_list .icon_menu_user{background-position:center -110px;}
.new_menu_list .icon_menu_sales{background-position:center -158px;}
.new_menu_list .icon_menu_operation{background-position:center -207px;}
.new_menu_list .icon_menu_mta{background-position:center -257px;}
.new_menu_list .icon_menu_plugins{background-position:center -305px;}
.new_menu_list .icon_menu_view{background-position:center -355px;}
.new_menu_list .icon_menu_set{background-position:center -405px;}

#main .fixed_loading .load .load_image{ color:#4a8bf1;}
#main .fixed_loading .load .load_loader{ border-top:5px #4a8bf1 solid;}

.list_menu_button>li>a{ display:block;}
.list_menu_button>li>a:hover{color:#4a8bf1;}
.list_menu_button>li>a.add{ color:#fff; background-color:#4a8bf1;}
.list_menu_button>li>a.more{ color:#4a8bf1;}

.bg_no_table_data .content .btn_add_item{ border:1px #4a8bf1 solid;}

.edit_form_part li b:before{ background-color: #4a8bf1;}

#fixed_right{ box-shadow:1px 0px 3px 1px rgba(17,146,250,0.8)}
#fixed_right .top_menu li a.current{ color: #4a8bf1; border-bottom:1px solid #4a8bf1;}

.pop_up{ box-shadow:1px 0px 3px 1px rgba(17,146,250,0.8);}

.pop_orders_message .form_message .btn_submit{ background-color:#4a8bf1;}

.return_title:hover:before{border-right-color:#4a8bf1;}

.r_con_table thead td{ background-color:#f6f9fc;}

.r_con_table tbody td.operation a{ color:#4a8bf1;}

.config_table_body .table_item:hover, .config_table_body .table_item:hover tbody tr{ background-color:#e1f0fb; border-color:#e1f0fb;}
.config_table a.edit{color:#4a8bf1;}
.config_table:hover thead{background-color:#e1f0fb;}

.turn_page .page li .page_item:hover, .turn_page .page li .page_item_current{ background-color:#4a8bf1; border-color:#4a8bf1;}

.icon_tips a{ color:#4a8bf1;}
.box_input:focus, .box_textarea:focus{ border-color:#4a8bf1; box-shadow:0 0 5px rgba(17,146,250,0.8);}
.box_select:hover{ border-color:#4a8bf1; box-shadow:0 0 5px rgba(17,146,250,0.8);}
.unit_input:active{ box-shadow:0 0 5px rgba(17,146,250,0.8);}
.unit_input:focus, .unit_input:active{ border-color:#4a8bf1; box-shadow:0 0 5px rgba(17,146,250,0.8);}

.down_select_box dt.box_drop_focus .box_input{ border-color:#4a8bf1; box-shadow:0 0 5px rgba(17,146,250,0.8);}

.drop_down .item:hover{background-color:#e1f0fb;}

.box_drop_double dt.box_drop_focus{ border-color:#4a8bf1; box-shadow:0 0 5px rgba(17,146,250,0.8);}
.box_drop_double dt.box_drop_focus .box_select{border-color:#4a8bf1;}

.box_drop_double dd .drop_menu .btn_back:hover{color:#4a8bf1; background-color:#e1f0fb;}

.box_drop_double dd .drop_menu .btn_load_more:hover{color:#4a8bf1; background-color:#e1f0fb;}

.box_drop_double dd .drop_menu .item:hover>span, .box_drop_double dd .drop_menu .item.current>span{color:#4a8bf1;}
.box_drop_double dd .drop_menu .item:hover>em:after{border-left-color:#e1f0fb;}
.box_drop_double.edit_box dt.box_drop_focus .box_input{border-color:#4a8bf1;}
.btn_submit{ background-color: #4a8bf1;}
.btn_submit:hover{background: #3b79f2;}

.btn_add_item{ color:#4a8bf1; background:#e1f0fb;}
.btn_item_sec{ background-color:#e1f0fb;}
.btn_item_sec.btn_add{color:#4a8bf1;}
.btn_item_sec.btn_add:before{ background:#4a8bf1;}
.btn_item_sec.btn_add:after{ background:#4a8bf1;}

.switchery .switchery_state_on{ background:#4a8bf1;}
.btn_choice.current{background-color:#4a8bf1;}
.btn_choice.current>i{background-color:#4a8bf1;}

.btn_checkbox.current .button{ background-color:#4a8bf1;border-color:#4a8bf1;}
.btn_attr_choice.current{ background-color:#e1f0fb;}
.btn_attr_choice.current>i{background-color:#e1f0fb;}

.input_radio_box:hover .input_radio{ border-color:#4a8bf1; box-shadow:0 0 5px rgba(17,146,250,0.8);}
.input_radio_box.checked .input_radio{background-color:#4a8bf1; border-color:#4a8bf1;}
.input_radio_box_1.checked .input_radio{background:none;}

.input_radio_box_1.checked{color:#fff; background:#4a8bf1;}

.input_checkbox_box .input_checkbox:before{ background:#4a8bf1 url(../images/frame/icon_checkbox_checked.png) no-repeat center center;}
.input_checkbox_box:hover .input_checkbox{border-color:#4a8bf1; box-shadow:0 0 5px rgba(17,146,250,0.8);}
.input_checkbox_box.checked .input_checkbox{border-color:#4a8bf1;}

.set_add{ background-color: #4a8bf1;}

.box_progress .progress .num{ background:#4a8bf1;}

#btn_progress_continue{ background-color:#3b79f2;}
.box_option_list .option_button .option_button_menu>a.current{border-color:#4a8bf1;}
.box_option_list .option_focus{ border-color:#4a8bf1; box-shadow:0 0 5px rgba(17,146,250,0.8);}

.fileinput-button{ background-color: #4a8bf1;}
.fileinput-button:hover, .fileinput-button:focus, .fileinput-button:active, .fileinput-button.active{ background-color:#3b79f2;}

.box_multi_tab .multi_tab_row>a.add{ color:#4a8bf1;}

#expire_login_form .submit{ background:#4a8bf1;}

@-webkit-keyframes progress_move{
	0%{background-color:#4a8bf1;}
	50%{background-color:#1f886b;}
	100%{background-color:#4a8bf1;}
}
@keyframes progress_move{
	0%{background-color:#4a8bf1;}
	50%{background-color:#1f886b;}
	100%{background-color:#4a8bf1;}
}

#header .menu>li:hover>a.user_service{background-image:url(../images/account/cdx/icon_user_service_cur.png);}

#header .menu>li.menu_upgrade{position: relative;}
#header .menu>li.menu_upgrade>a{height:28px; line-height:28px; border:1px solid #4c8df1; border-radius:15px; padding-right:14px; padding-left:14px;font-size:14px; text-align:center;background: #4c8df1;color: #fff;}
#header .menu>li.menu_upgrade .ug_drop{width: 266px;box-sizing: border-box;padding:22px;position: absolute;top: 30px;left: -70px;z-index:997;opacity: 0;margin-top: 10px;visibility: hidden;transition: all .25s;}
#header .menu>li.menu_upgrade .ug_drop .top_btn{background: linear-gradient(to right, #4c8df1, #88b1f0);color: #fff;font-size: 16px;line-height: 39px;text-align: center;border-radius: 3px;margin-bottom: 15px;cursor: pointer;}
#header .menu>li.menu_upgrade .ug_drop .item{background: url(../images/frame/cdx/icon_header_selected.png) no-repeat left center;padding-left: 28px;font-size: 14px;color: #888;line-height: 1.9;}
.blue_line_style{background: #fff;box-shadow: 0 0 0 1px #4c8df1 inset;position: relative;}
.blue_line_style .sLine{}
.blue_line_style .sLine.s1:before{position: absolute;top: 0;bottom: 0;left: 0;height: 70%;width: 1px;background: #c1d7fa;margin:auto;content: '';}
.blue_line_style .sLine.s1:after{position: absolute;top: 0;bottom: 0;right: 0;height: 70%;width: 1px;background: #c1d7fa;margin:auto;content: '';}
.blue_line_style .sLine.s2:before{position: absolute;left: 0;right: 0;top: 0;height: 1px;width: 70%;background: #c1d7fa;margin:auto;content: '';}
.blue_line_style .sLine.s2:after{position: absolute;left: 0;right: 0;bottom: 0;height: 1px;width: 70%;background: #c1d7fa;margin:auto;content: '';}
#header .menu>li.menu_upgrade:hover .ug_drop{top: 40px;opacity: 1;visibility: visible;}
#header .menu>li.menu_upgrade:hover>a:after{display: block;}

.contact_qrcode{position: fixed;top: 0;bottom: 0;right: 0;left: 0;margin:auto;box-sizing: border-box;padding:50px 90px;width: 490px;height: 510px;z-index: 1005;transition: all .3s;border-radius: 5px;text-align: center;background: #fff;opacity: 0;visibility: hidden;}
.contact_qrcode.visible{opacity: 1;visibility: visible;}
.contact_qrcode .q_title{font-size: 20px;color: #333;margin-bottom: 20px;}
.contact_qrcode .blue_line_style{padding: 30px 40px 20px;box-sizing: border-box;}
.contact_qrcode .qr_code{ width:230px; height:230px;}
.contact_qrcode .qr_code img{ max-width:100%; max-height:100%;}
.contact_qrcode .wc_name{font-size: 20px;color: #333;margin-top: 15px;}
.contact_qrcode .qr_tips{font-size: 14px;color: #888;margin-top: 25px;}
.qr_black_mask{position: fixed;top: 0;left: 0;z-index: 1000;width: 100%;height: 100%;background: rgba(0,0,0,.28);cursor: pointer;transition: all .3s;opacity: 0;visibility: hidden;}
.contact_qrcode.visible,
.qr_black_mask.visible{opacity: 1;visibility: visible;}

/*免费版限制提示 Start*/
.popup_limit_tips{position: fixed;z-index: 1000;top: 0;bottom: 0;right: 0;left: 0;margin:auto;box-sizing: border-box;padding:40px 80px;width: 460px;height: 250px;transition: all .3s;border-radius: 5px;text-align: center;background: #fff;opacity: 0;visibility: hidden;}
.popup_limit_tips .txt{font-size: 20px;color: #333;line-height: 1.5;margin:20px 0;}
.popup_limit_tips .go_back{width: 115px;line-height: 32px;font-size: 14px;color: #fff;background: #4a8bf1;border-radius: 3px;cursor: pointer;margin:0 auto;}
.limit_mask{position: fixed;top: 0;left: 0;z-index: 990;width: 100%;height: 100%;background: rgba(0,0,0,.28);cursor: pointer;transition: all .3s;content:'';opacity: 0;visibility: hidden;}
.limit_mask.visible,
.popup_limit_tips.visible{opacity: 1;visibility: visible;}
/*免费版限制提示 End*/

.app_main .app_cate_title{clear: both;font-size: 20px;color: #333;margin: 0 10px 15px;}
.app_main .app_cate_title.padding_top{ padding-top:20px;}

/******************************************* 图片 ************************************************************/
.multi_img .video .upload_btn.is_video{background-image: url(../images/frame/cdx/bg_multi_video_cur.png);}
.bg_no_table_data .content{background:url(../images/frame/bg_no_table_data.png) no-repeat center top;}
.down_select_box dd .select:hover>i{background-image:url(../images/frame/cdx/icon_close.png);} 
.box_drop_down_menu .more_menu i{background-image: url(../images/frame/cdx/icon_close.png);}
.btn_choice:hover>i{background-image:url(../images/frame/cdx/icon_close.png);}
.btn_attr_choice:hover>i{background-image:url(../images/frame/cdx/icon_close.png);} 
.list_menu_button>li>a.del:hover{background-image:url(../images/frame/cdx/icon_del_current.png);}
.icon_del_white:hover{background-image:url(../images/frame/cdx/icon_del_green.png);}
.pop_orders_message .dialogue_box_right .message:after, .pop_orders_message .dialogue_box_right .picture:after{background:url(../images/frame/cdx/icon_dialogue_box_right.png) no-repeat;}
.list_menu_button>li>a.edit:hover{background-image:url(../images/frame/cdx/icon_edit_current.png);}
.icon_edit_white:hover{background-image:url(../images/frame/cdx/icon_edit_green.png);}
.list_menu_button>li>a.explode:hover{background-image:url(../images/frame/cdx/icon_explode_current.png);}
.icon_head_menu_user{background-image:url(../images/frame/cdx/icon_head_menu_user.png);}
.icon_help{background:url(../images/frame/cdx/icon_help.png) no-repeat center center;}
.home_menu_ico .icon_menu.current{background-image:url(../images/frame/cdx/icon_menu_home_hover.png?v=4.009);}
.icon_menu.hover{background-image:url(../images/frame/cdx/icon_menu_hover.png?v=4.009);}
.list_menu_button .move:hover{background-image:url(../images/frame/cdx/icon_move_current.png);}
.icon_myorder{background:url(../images/frame/cdx/icon_myorder.png) repeat-y center top;}
.icon_search_white:hover{background-image:url(../images/frame/cdx/icon_search_green.png);}
.list_menu_button>li>a.sold_in:hover{background-image:url(../images/frame/cdx/icon_sold_in_current.png);}
.list_menu_button>li>a.sold_out:hover{background-image:url(../images/frame/cdx/icon_sold_out_current.png);}
.multi_img .success{background:url(../images/frame/cdx/icon_success.png) no-repeat center/40% rgba(89,89,89,.8);}
.new_win_alert.win_alert_auto_close .icon_success_status{background:url(../images/frame/cdx/icon_success.png) no-repeat center center;}