/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/
.mta_menu .legend>li.time_1:before{background-color:#4a8bf1;}

.box_charts{min-height:400px;}

.box_data_list>li .item h2{ color:#4a8bf1;}

#conversion_detail .complete_ratio{ color:#4a8bf1;}

#conversion_detail .contents_right .operate_ratio{ color:#4a8bf1; background-color:#ecf1f5;}
#conversion_detail .contents_right .operate_ratio:after{ border-color:transparent transparent transparent #ecf1f5;}

.box_payment .r_con_table td:first-child{color:#4a8bf1;}

.box_coupon .coupon_title .coupon_ratio{ color:#4a8bf1;}

.box_coupon .r_con_table td:first-child{color:#4a8bf1;}

.box_products_list .list .total_sales>p{ color:#4a8bf1;}

.box_products_list .list .country>p>strong{ color:#4a8bf1;}

#search_logs .r_con_table tbody .other_box{ background-color:#e1f0fb;}

.box_menu a.cur{border-bottom-color: #4a8bf1;color: #4a8bf1;}

.related_box>li .count{color:#4a8bf1;}