/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/
#products .r_con_table tbody td.info .other_box{ background-color:#e1f0fb;}

#products_inside .box_basic_more dd .add_attr>em:before{ background:#4a8bf1;}
#products_inside .box_basic_more dd .add_attr>em:after{ background:#4a8bf1;}

.description_box .head_hide>ul>li.current{border-color:#4a8bf1;}

.box_attr_list .selected_focus{border-color:#4a8bf1; box-shadow:0 0 5px rgba(17,146,250,0.8);}

.relation_box thead td{ background-color:#f6f9fc;}

.batch_box .batch_edit .rows>label{ background-color:#f6f9fc;}

#upload_edit_form .btn_download{ background-color:#4a8bf1;}

#review_inside .form_remark_log .btn_save{ background-color:#4a8bf1;}


/******************************************* 图片 ************************************************************/
#products_inside .box_basic_more dd .myorder_attr>em{background:url(../images/frame/cdx/icon_myorder.png) no-repeat top;}
.box_attr_list .attr_selected .btn_attr_choice:before{background:url(../images/frame/cdx/icon_myorder.png) no-repeat left top;}
#progress_container .r_con_table .completed{background:url(../images/set/cdx/current.png) no-repeat left center;}
#products_inside .box_basic_more dd .edit_attr>em{background:url(../images/shipping/cdx/icon_edit.png) no-repeat center;}