#visual .inside_container .edit_btn{ background: #4a8bf1;border: 1px solid #4a8bf1;}

#visual .container .btn_box .edit_btn{ background: #4a8bf1;border:1px solid #4a8bf1;}
#visual .container .btn_box .switch_style_btn{ background: none;border-color: #e6e6e6;color: #000;}

#visual .terminal_list a.cur{background-color: #4a8bf1;}

#template_list .category a.cur{border-color: #4a8bf1;color: #4a8bf1;}

#template_list .tem_box .list .img.cur, #template_list .tem_box .list .img.cur:before, #template_list .tem_box .list .img.cur:after{border-color: #4a8bf1;}

#template_list .tem_box .edit_box .edit_btn{ background: #4a8bf1;border:1px solid #4a8bf1;}

#plugins_visual .top_bar .go_pages .pages_name span{ color:#4a8bf1;}
#plugins_visual .top_bar .go_pages .pages_name span i:before{ border-top-color:#4a8bf1;}
#plugins_visual .top_bar .go_btn{ color:#4a8bf1; border:1px solid #4a8bf1;}
#plugins_visual .top_bar .go_btn.go_style_free{ background:#fff; border:1px solid #4a8bf1; color:#4a8bf1;}
#plugins_visual .top_bar .go_btn.go_save{ background:#4a8bf1;}
#plugins_visual .tool_bar .nav_bar .item.current{ color:#4a8bf1;}
#plugins_visual .tool_bar .set_bar .set_item .font_size .progress .bar{ background:#4a8bf1;}
#plugins_visual .tool_bar .set_bar .set_item .font_size .progress .bar i{ background:#4a8bf1;}
#plugins_visual .tool_bar .set_bar .set_item .gallery{ color:#4a8bf1;}
#plugins_visual .tool_bar .set_bar .set_item .gallery:before{ background:#4a8bf1;}
#plugins_visual .tool_bar .set_bar .set_item .gallery:after{ background:#4a8bf1;}

#gallery_pop .top_bar .more .more_box .list .item:hover{ background:#e1f0fb;}

#nav .rows .adpic_row:hover{ background:#e1f0fb;}


/******************************************* 图片 ************************************************************/
#template_list .tem_box .list .img.cur span{background: rgba(0,0,0,0.35) url(../images/photo/cdx/icon_big_item_cur.png) no-repeat center center;}
#gallery_pop .mid_bar .item i{background:url(../images/view/cdx/icon_check.png) rgba(0,0,0,0.5) center no-repeat;}
#plugins_visual .tool_bar .close:hover{ background:url(../images/view/cdx/icon_close_current.png) no-repeat;}
#plugins_visual .tool_bar .set_bar .set_item .font_style i.bold.current{ background-image:url(../images/view/cdx/icon_font_b_current.png);}
#plugins_visual .tool_bar .set_bar .set_item .font_style i.italic.current{ background-image:url(../images/view/cdx/icon_font_i_current.png);}
#plugins_visual .tool_bar .set_bar .set_item .font_style i.underline.current{ background-image:url(../images/view/cdx/icon_font_u_current.png);}
#plugins_visual .tool_bar .nav_bar .item.pic.current{ background-image:url(../images/view/cdx/icon_pic_current.png);}
#visual .terminal_list a{background: url(../images/view/cdx/icon_terminal.png) no-repeat center center;}
#visual .terminal_list a.cur{background-image: url(../images/view/cdx/icon_terminal_cur.png);}