/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

#config .set_edit{ background-color: #4a8bf1;}

#config .watermark_position.cur{border-color: #4a8bf1;}

#reg_set .r_con_table .edit{color: #4a8bf1;}

themes_progress .input_button .btn_proceed{background:#4a8bf1; border-color:#4a8bf1;}

#index_set .themes_box .abs_item:hover:before,#index_set .themes_box .abs_item.cur:before{ border:3px solid #4a8bf1;}

#index_set .show_type .ty_list.cur{ color: #4a8bf1;border-color: #4a8bf1;}

#themes .rows .adpic_row:hover{cursor:pointer; background:#e1f0fb;}

.themes_set .use{ background: #4a8bf1;border:1px solid #4a8bf1;}
.themes_set .view{ color: #4a8bf1;}

#country .country_menu_list a{ color: #4a8bf1;}

#shipping .insurance_btn{font-size: 14px;color: #4a8bf1;}

#shipping .download{ border:1px solid #4a8bf1;color: #4a8bf1;}

#shipping .weightarea_box .item.cur,#shipping .weightarea_box .item:hover{ border-color: #4a8bf1;}

#shipping .weightarea_box .item.cur .name,#shipping .weightarea_box .item:hover .name{color: #4a8bf1;}

#shipping .shipping_area .nav_list .list_btn a.add{ color: #4a8bf1;}

#shipping .add_unit{ color:#4a8bf1; border: 1px solid #4a8bf1;}
#shipping .add_unit:before{ background: #4a8bf1;}
#shipping .add_unit:after{ background: #4a8bf1;}

#photo .list_menu_photo_index .list_menu_button>li>a.add{ border-color: #4a8bf1;}
#photo .list_menu_photo_index .list_menu_button>li>a:hover{color: #4a8bf1;border-color: #4a8bf1;}

#payment .pay_type a.cur{border-color: #4a8bf1;color: #4a8bf1;}
#payment .pay_list .get{background: #4a8bf1;}


/******************************************* 图片 ************************************************************/
#photo .r_con_table .attr_list .attr_box>dd.attr_ico{background: url(../images/frame/cdx/icon_myorder.png) repeat-y center top;}
.themes_themes .current .img_mask:before{background-image: url(../images/photo/cdx/icon_big_item_cur.png);}
#photo .photo_list .cur .img_mask{background-image: url(../images/photo/cdx/icon_item_cur.png);}
#themes_products_detail .themes .item .img_mask{ background:url(../images/photo/cdx/r.png) no-repeat center;}
#themes_nav .myorder_list li>div{background: url(../images/products/cdx/menu_dt_cur.png) no-repeat 15px center;}
#index_set .show_type .ty_list.cur{background-image: url(../images/set/cdx/icon_adshow_type_cur.png);}
#config .watermark_position{background: url(../images/set/cdx/watermark_position_1.png) no-repeat center center;}
#config .watermark_position_5{background-image: url(../images/set/cdx/watermark_position_5.png);}
#config .watermark_position_9{background-image: url(../images/set/cdx/watermark_position_9.png);}
#shipping .download{background: url(../images/shipping/cdx/icon_download.png) no-repeat 14px center;}
#shipping .weightarea_box .item.cur,#shipping .weightarea_box .item:hover{background-image: url(../images/shipping/cdx/icon_weightarea_cur.png);}
#country .country_menu_list dt i{background: url(../images/set/cdx/icon_myorder_move.png) no-repeat left center;}