/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/
#login{width:auto; height:450px;}
#login .lbar{display:none;}
#login .rbar{width:400px; height:450px; float:none; margin: 0 auto;}
#login form h2{padding:36px 0px 25px;}
#login form .wel_txt{font-size: 18px;color: #555;margin-bottom: 35px; text-align:center;}
#login form .input{border:1px solid #d2dde9; overflow:hidden;}
#login form .input input{text-indent:55px}
#login form .input span{border-right:1px solid #d2dde9;background:#f8f9fa url(../images/account/login_icon.png) no-repeat;}
#login form .password{margin-bottom: 0;}
#login form .username span{ background-position: 14px 12px}
#login form .password span{ background-position: 14px -31px}
#login form .tips{ min-height: 30px;line-height:30px; padding:0;}
#login form .submit{background:#4a8bf1; cursor: pointer;}
#login form .submit:hover{background: #3b79f2;}

.home_choice_day>dd{ z-index:auto;}

.home_container .global_container{ position:static; z-index:auto;}
.home_container .global_container .big_number>span{color:#4a8bf1;}

.home_orders .table_data>tbody tr.current td{color:#4a8bf1;}

.home_terminal .terminal_list>li>strong{color:#4a8bf1;}

.home_conversion .conversion_list{margin-top:50px;}
.home_conversion .conversion_list>li{margin-top:20px;}

.more_video{border:1px solid #4a8bf1; color:#4a8bf1;}

#guide_pages .open_store .list img{display: inline-block;vertical-align: middle;}
#guide_pages .open_store.suggest .list img{border-radius: 0;}
#guide_pages .open_store .list:hover img{background: #e1f0fb;}
#guide_pages .open_store .list a{background: #4a8bf1;}
#guide_pages .open_store .list .inline-block{display: inline-block;vertical-align: middle;margin-left: 26px;}
#guide_pages .open_store .list .title{line-height: 1; display:inline; vertical-align:auto; margin-left:0;}
#guide_pages .open_store .list .sub_title{font-size: 13px;color: #888;margin-top: 10px;line-height: 1.5;}

#welfare .welfare_menu a{border:1px solid #4a8bf1;}
#welfare .welfare_menu a.cur{background: #4a8bf1;}
#welfare .category a.cur{color: #4a8bf1;}
#welfare .category a.cur:before{background: #4a8bf1;}
#welfare .resource .list .more{background: #4a8bf1;}

#guide_pages .top_title a{font-size: 16px;color: #5e5e5e;cursor: pointer;}

/******************************************* 图片 ************************************************************/
#welfare .resource .list .email{background-image: url(../images/account/cdx/icon_email.png);}
#welfare .resource .list .qq{background-image: url(../images/account/cdx/icon_qq.png);}
#welfare .resource .list.sales:after{background: url(../images/account/cdx/icon_sales.png) no-repeat center center;}
#welfare .resource .list .phone{background-image: url(../images/account/cdx/icon_tel.png);}
#welfare .resource .list .web{background-image: url(../images/account/cdx/icon_website.png);}
#welfare .resource .list .wechat{background-image: url(../images/account/cdx/icon_wechat.png);}