/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/
#user .r_con_table tr td .non_user{ background-color:#e1f0fb;}

#inbox .form_message .btn_submit{ background-color:#4a8bf1;}


/******************************************* 图片 ************************************************************/
#inbox .dialogue_box_right .message:after, #inbox .dialogue_box_right .picture:after{background:url(../images/frame/cdx/icon_dialogue_box_right.png) no-repeat;}
#inbox .unread_message>p{background:url(../images/user/cdx/bg_unread_message.png) no-repeat center top;}