/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/


/*************************** 全局 start ***************************/
.ml5{margin-left:5px;}
.mr5{margin-right:5px;}

.bg_no_table_data{background: #fff;}
.no_data{line-height:25px; margin-top:75px; padding-top:80px; text-align:center; color:#bbb; background:url(../images/account/icon_no_data.png) no-repeat center top;}

.icon_terminal_all{width:30px; height:23px; background:url(../images/mta/icon_terminal_all.png) no-repeat center top; display:inline-block; vertical-align:top;}
.icon_terminal_pc{width:30px; height:23px; background:url(../images/mta/icon_terminal_pc.png) no-repeat center top; display:inline-block; vertical-align:top;}
.icon_terminal_mobile{width:30px; height:23px; background:url(../images/mta/icon_terminal_mobile.png) no-repeat center top; display:inline-block; vertical-align:top;}

.mta_parent_box{width:50%; float:left;}
.mta_parent_box:first-child{width:50%;}
.mta_parent_top_box{width:100%;}
.mta_parent_top_box>.ml5{margin-left:0;}
.mta_parent_top_box>.mr5{margin-right:0;}
.mta_parent_top_box .global_container:first-child{margin-top:10px;}

#mta .global_container .big_title{height:34px; line-height:34px; font-size:16px}

#mta .inside_container{min-height:40px;}
#mta .inside_table{padding:0 30px 30px; background:none;}

.mta_menu{height:45px; line-height:45px; margin-bottom:13px;}
.mta_menu .box_drop_down_menu{margin-top:7px; margin-right:20px; padding:0;}
.mta_menu .legend{display:none;}
.mta_menu .legend>li{margin-right:28px;}
.mta_menu .legend>li:before{width:9px; height:9px; margin-top:18px; margin-right:6px; border-radius:30px; display:inline-block; vertical-align:top; content:'';}
.mta_menu .legend>li.time_1:before{background-color:#0cb083;}
.mta_menu .legend>li.time_2:before{background-color:#4289ff;}
.mta_menu .box_time .more_menu{min-width:110px;}
.mta_menu .box_terminal .more>i{margin-top:5px;}
.mta_menu .box_terminal .more_menu{min-width:110px;}
.mta_menu .box_terminal .more_menu .item{height:33px; line-height:33px; padding:0 15px;}
.mta_menu .box_terminal .more_menu .item>em{margin-top:9px; margin-right:5px; background-size:65%;}
.mta_menu .box_terminal .more_menu .item>em.icon_terminal_pc{background-size:55%;}
.mta_menu .box_terminal .more_menu .item>em.icon_terminal_mobile{margin-top:7px; background-size:35%;}
.mta_menu .box_cycle .more_menu{min-width:110px;}

.box_charts{min-height:300px; padding:10px}

#compared_form{width:530px;}
#compared_form .t{border:0;}
#compared_form .compared_bodyer{padding-top:12px; text-align:center; font-size:0;}
#compared_form .compared_bodyer .unit_input{margin:5px 0; display:inline-block;}
#compared_form .compared_bodyer .unit_input>b{font-size:12px;}
#compared_form .compared_bodyer .unit_input .input_time{width:300px;}
#compared_form .button{padding:25px 0; text-align:center; border:0;}
#compared_form .button .btn_global:first-child{margin:0;}

#mta .title_sub{ font-size:14px; color:#555555; padding:10px 0}

.box_rate_list .rate{ width:100%; margin:32px auto; position:relative; z-index:1; text-align:center}
.box_rate_list .rate div{ width:100%; position:absolute; top:0px; font-size:16px }
.box_rate_list .list_item{ padding:14px 0px; room:1}
.box_rate_list .list_item .list_item_lbar{ float:left; width:50%;margin-right:1%; height:30px; line-height:30px}
.box_rate_list .list_item .list_item_rbar{ float:left;width:48%;}
.box_rate_list .value{ float:left; height:30px; line-height:30px; font-size:16px; width:65px;}
.box_rate_list .process{ background:#f5f5f5; height:8px; width:100px; float:left; margin:10px 0}
.box_rate_list .process div{ height:100%;}
.box_rate_list .process div.color_4ae96b{ background:#4ae96b}
.box_rate_list .process div.color_38d5e4{ background:#38d5e4}
.box_rate_list .process div.color_52e1b3{ background:#52e1b3}
.box_rate_list .process div.color_618bf7{ background:#618bf7}
/*************************** 全局 end ***************************/


/*************************** 流量统计 start ***************************/
.box_data_list{min-height:140px; margin:0 -7px 0 -7px;}
.box_data_list>li{width:25%;float:left;}
.box_data_list>li .item{min-height:100px; margin:0 7px; padding:20px 28px; background-color:#fff; border-radius:4px;}
.box_data_list>li .item h1{height:29px; line-height:29px; font-size:16px; color:#000;}
.box_data_list>li .item h2{height:38px; line-height:38px; margin-top:5px; font-size:26px; color:#00a578;}
.box_data_list>li .item h3{height:20px; line-height:20px; margin-top:5px; font-size:12px; color:#3470e9;}
.box_data_list>li .item h2 .compare, .box_data_list>li .item h3.compare{font-size:20px; color:#888;}
.box_data_list>li .item h2 .compare.vs, .box_data_list>li .item h3 .compare.vs{font-size:16px; margin-right:15px;}
.box_data_list>li .fr{width:33px; height:16px; margin-top:15px;}
.box_data_list>li .fr.down{background:url(../images/mta/compared_down.png) center center no-repeat;}
.box_data_list>li .fr.up{background:url(../images/mta/compared_up.png) center center no-repeat;}

.box_list .box_data_list.box_item>li{width:50%;}
.box_list .box_data_list.box_item>li .item{box-shadow: 0 0 10px rgba(244,244,244,1); border-radius:4px;}

.box_browser{padding-top:40px; padding-bottom:40px;}
.box_browser .item{min-width:100px; min-height:284px; padding:0 30px; border-left:1px #eee solid; float:left;}
.box_browser .item .box_charts{height:250px; min-height:250px; margin:0; padding:0;}
.box_browser .item .browser_data{height:40px; line-height:40px;}
.box_browser .item .browser_data .browser_left{float:left;}
.box_browser .item .browser_data .browser_right{width:100px; height:8px; overflow:hidden; margin-top:16px; background-color:#f5f5f5; position:relative; float:right;}
.box_browser .item .browser_data .browser_right .process{height:8px; overflow:hidden; background-color:#7560ff;}
.box_browser .item .browser_data .browser_percent{margin:0 13px; text-align:right; float:right;}
.box_browser .item:first-child{width:400px; padding:0; border:0;}

.table_report_list{width:100%;}
.table_report_list>thead td{height:1px;}
.table_report_list>tbody td{height:30px; padding-bottom:5px; font-size:14px;}
.table_report_list>tbody td>div{height:30px; line-height:30px; overflow:hidden;}

.visits_parent_top_box .global_container{height:425px;}

.box_detail .r_con_table{width:100%; margin:0; margin-top:21px;}
.box_url_info .table_report_list{width:100%; margin:0; margin-top:10px;}
.box_url_info .table_report_list .title{max-width:350px;}
/*************************** 流量统计 end ***************************/


/*************************** 流量转化率 start ***************************/
.box_charts_list{margin:14px -2px 0 -2px;}
.box_charts_list>li{width:25%; float:left;}
.box_charts_list>li .item{height:329px; margin:0 2px; padding:9px 0; background-color:#fafafa;}
.box_charts_list>li .item .title{height:27px; line-height:27px; padding:0 10px; font-size:15px;}
.box_charts_list>li .item .percent{height:37px; line-height:37px; padding:0 10px; font-size:0;}
.box_charts_list>li .item .percent .operate_ratio{font-size:25px; color:#000; display:inline-block; margin-right:15px;}
.box_charts_list>li .item .percent .compare{font-size:14px; color:#aaa;}
.box_charts_list>li .item .box_rect{height:195px; padding-top:15px; position:relative;}
.box_charts_list>li .item .box_rect .rect{width:100%; height:0; background-color:#0bcf99; border-top:2px #0bcf99 solid; position:absolute; bottom:0; left:0; z-index:1; transition:height .3s; -moz-transition:height .3s; -webkit-transition:height .3s;}
.box_charts_list>li .item .box_rect .rect_compare{width:100%; height:0; background:url(../images/mta/bg_rect_compare.png); border-top:2px rgba(66,137,255,.5) solid; position:absolute; bottom:0; left:0; z-index:2; transition:height .3s; -moz-transition:height .3s; -webkit-transition:height .3s;}
.box_charts_list>li .item .people{padding-top:8px;}
.box_charts_list>li .item .people .operate_data{line-height:1; padding:5px 10px; font-size:14px; color:#aaa;}
.box_charts_list>li .item .people .compare{font-size:12px;}

#conversion_detail .complete_ratio{font-weight:600; color:#00a578;}
#conversion_detail .complete_ratio>span{font-size:14px;}
#conversion_detail .compare{color:#3470e9;}
#conversion_detail .contents_left{width:65%; min-height:55px; float:left;}
#conversion_detail .contents_left .operate{height:30px; line-height:30px; overflow:hidden; font-size:18px;}
#conversion_detail .contents_left .operate_data{height:22px; line-height:22px; overflow:hidden; color:#555;}
#conversion_detail .contents_left .operate_data span{line-height:21px; font-size:14px;}
#conversion_detail .contents_left .operate_data.compare{margin-top:9px; color:#aaa;}
#conversion_detail .contents_right{width:35%; min-height:55px; float:right;}
#conversion_detail .contents_right .operate_ratio{width:36px; height:22px; line-height:22px; padding:0 8px; font-size:14px; color:#00a578; background-color:#e6f8f3; position:relative; display:inline-block;}
#conversion_detail .contents_right .operate_ratio span{line-height:22px; font-size:14px;}
#conversion_detail .contents_right .operate_ratio:after{width:0; height:0; border-width:10px 0 11px 11px; border-style:solid; border-color:transparent transparent transparent #e6f8f3; position:absolute; top:0; right:-10px; content:'';}
#conversion_detail .contents_right .operate_ratio.compare{margin-top:9px; color:#3470e9; background-color:#ecf3ff;}
#conversion_detail .contents_full{width:100%; min-height:55px;}
/*************************** 流量转化率 end ***************************/


/*************************** 订单统计 start ***************************/
.box_menu{font-size: 0;padding-top: 10px;}
.box_menu a{display: inline-block;vertical-align: bottom;height: 38px;line-height: 38px;border-bottom:3px solid transparent; margin-right: 50px;font-size: 16px;color: #000;}
.box_menu a.cur{border-bottom-color: #07bb8b;color: #07bb8b;}
.box_list .box_item{display: none;padding-top: 40px;padding-bottom: 20px;}

.box_payment .r_con_table{width:100%; margin:0;}
.box_payment .r_con_table td{font-size:14px; color:#555;}
.box_payment .r_con_table td .compare{font-size:12px; color:#aaa;}
.box_payment .r_con_table td:first-child{color:#00a578;}

.box_coupon .coupon_title{height:33px; line-height:33px; margin:13px 0 23px;}
.box_coupon .coupon_title .coupon_ratio{font-size:24px; color:#00a578; float:right;}
.box_coupon .coupon_title .compare{margin-left:10px; font-size:16px; color:#555;}
.box_coupon .r_con_table{width:100%; margin:0;}
.box_coupon .r_con_table td:first-child{color:#00a578;}

.box_orders_browser{padding-top:40px; padding-bottom:40px;}
.box_orders_browser .item{width:33%; min-height:284px; padding:0 30px; border-left:1px #eee solid; float:left;}
.box_orders_browser .item .box_charts{height:250px; min-height:250px; margin:0; padding:0;}
.box_orders_browser .item .browser_data{height:40px; line-height:40px;}
.box_orders_browser .item .browser_data .browser_left{float:left;}
.box_orders_browser .item .browser_data .browser_right{color:#5440dc; float:right;}
.box_orders_browser .item .box_browser_pc, .box_orders_browser .item .box_browser_mobile{padding-top:30px;}
.box_orders_browser .item .box_browser_mobile .browser_data .browser_right{color:#0fc20f;}
.box_orders_browser .item:first-child{width:400px; padding:0; border:0;text-align: center;}
#browser_charts>div{margin: auto;}
/*************************** 订单统计 end ***************************/


/*************************** 产品销量排行 start ***************************/
.box_products_list .global_container{overflow:visible;}
.box_products_list .list{padding:20px;}
.box_products_list .list>div{line-height:22px; float:left;}
.box_products_list .list .products{width:48%; position:relative;}
.box_products_list .list .products .img{width:90px; height:90px; overflow:hidden; margin-top:5px; text-align:center; border-radius:4px; float:left;}
.box_products_list .list .products .img img{max-width:100%; max-height:100%;}
.box_products_list .list .products .info{width:70%; padding-left:105px;}
.box_products_list .list .products .info .number{margin-top:6px; font-size:12px; color:#aaa;}
.box_products_list .list .total_sales{width:20%;}
.box_products_list .list .total_sales>p{line-height:1; padding:6px 0; font-size:20px; color:#00a578;}
.box_products_list .list .total_sales .number{margin-top:6px; font-size:12px; color:#aaa;}
.box_products_list .list .country{width:20%; color:#555;}
.box_products_list .list .country>p{margin-bottom:4px;}
.box_products_list .list .country>p>strong{font-size:18px; color:#00a578;}
.box_products_list .list .country>p>span{margin-left:10px; font-size:14px; color:#aaa;}
.box_products_list .list .related{width:12%;}
.box_products_list .list .related .info{padding-right:15px;}
.box_products_list .list .detail_list{display:none; float:none; border-top:2px solid #ccc; border-bottom:2px solid #ccc; padding:12px 15px; background:#fff;}
.box_products_list .list .detail_list .related_box{width:48%; overflow:hidden;}
.box_products_list .list .detail_list .related_box li.title{padding:2px 8px;}
.box_products_list .list .detail_list .related_box .no{width:5%; float:left; overflow:hidden;}
.box_products_list .list .detail_list .related_box .data{width:95%; float:left; overflow:hidden;}
.box_products_list .list .detail_list .related_box .data span{display:inline-block; padding-right:20px;}
.box_products_list .list dl{position:relative; display:inline-block;}
.box_products_list .list dl>dt{height:30px; line-height:30px;}
.box_products_list .list dl>dt>a{font-size:12px; color:#aaa;}
.box_products_list .list dl>dt>a>i{width:8px; height:5px; margin-top:13px; margin-left:5px; background:url(../images/frame/icon_arrow_down_small_gray.png) no-repeat center; display:inline-block; vertical-align:top; transition:all .4s; -webkit-transition:all .4s; transform:rotate(0); -webkit-transform:rotate(0);}
.box_products_list .list dl>dd{width:250px; padding:7px 0; background-color:#fff; position:absolute; top:20px; left:-20px; z-index:1; display:none; opacity:0; filter:alpha(opacity=0);}
.box_products_list .list dl>dd.related_list{width:420px; right:-20px; left:auto;}
.box_products_list .list dl:hover>dt>a>i{transform:rotate(180deg); -webkit-transform:rotate(180deg);}
.box_products_list .list dl:hover>dd{display:block; top:20px;}
.box_products_list .list:first-child{margin-top:0;}

.related_box{height:160px; overflow:hidden; padding:0 20px;}
.related_box>li{height:32px; line-height:32px;}
.related_box>li>div{float:left;}
.related_box>li .name{width:114px;}
.related_box>li .count, .related_box>li .rate{width:48px; text-align:right;}
.related_box>li .count{color:#00a57a;}
.related_box>li .rate{color:#555;}
.related_box>li .img{width:35px; height:35pxp; overflow:hidden; text-align:center;}
.related_box>li .img img{max-width:100%; max-height:100%;}
.related_box>li .pro_info{width:267px; padding-left:13px; color:#aaa;}
.related_box>li .pro_info>p{height:22px; line-height:22px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -webkit-text-overflow:ellipsis;}
.related_box>li .pro_info>p>a{color:#000;}
.related_list .related_box{height:323px; overflow-y:auto;}
.related_list .related_box>li{height:45px; line-height:45px; margin-bottom:10px;}
/*************************** 产品销量排行 end ***************************/

/*****************************会员统计 start****************************/
#mta .box_mart_none{ margin-top:0px}
/*****************************会员统计 end****************************/

/*****************************搜索统计 start****************************/
#search_logs .r_con_table tbody .other_box{float: left;height:24px;line-height:24px;margin:4px 8px 8px 0;padding:0 8px;font-size: 12px;background-color:#e4f6f1;border-radius:4px;}
/*****************************搜索统计 end****************************/
