/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/
img{max-width: 100%;max-height: 100%;}
/*************************** 单页管理 start ***************************/
#page .r_con_table{min-width:93%;}

#page_inside .myorder_rows .box_select{width:60px;}
#page_inside .global_container{overflow: visible;}

#news .r_con_table tr td span.other_box{white-space:nowrap; margin-right:5px;}
#news .r_con_table .attr_list .attr_box{width:180px; height:30px; overflow:hidden; margin-right:10px; margin-bottom:6px; background-color:#fff; border:1px #ddd solid; float:left; position:relative;}
#news .r_con_table .attr_list .attr_box>dd{float:left;}
#news .r_con_table .attr_list .attr_box>dd.attr_ico{width:30px; height:30px; background:url(../images/products/move.png) no-repeat center center #f7f7f7; cursor:move;}
#news .r_con_table .attr_list .attr_box>dd.attr_txt{width:150px; line-height:30px; overflow:hidden; text-indent:5px; cursor:default;}
#news .r_con_table .attr_list .attr_box>dd.attr_menu{width:50px; height:30px; line-height:26px; text-align:center; background-color:#f7f7f7; border-left:1px #ddd solid; position:absolute; top:0; right:-51px; z-index:10;}
#news .r_con_table .attr_list .attr_add{width:30px; height:30px; line-height:28px; overflow:hidden; margin-right:10px; margin-bottom:6px; background-color:#fff; border:1px #ddd solid; float:left; position:relative; text-align:center;}
#news .r_con_table .attr_list .attr_add>a{display:block; text-decoration:none; font-size:20px;}
#news .r_con_table .attr_list .placeHolder{border:1px #ddd dotted;}
/*************************** 单页管理 end ***************************/


/*************************** 广告管理 start ***************************/
#billing .ad_position{}
#billing .ad_position .item{float: left;width: 118px;padding-top: 85px;height: 33px;line-height: 33px;text-align: center;border:1px solid #cbcecd;color: #999999;border-radius: 5px;margin-right: 20px;background:url(../images/operation/img_ad_pis_0.png) no-repeat center 22px;cursor: pointer;}
#billing .ad_position .item_1{background-image: url(../images/operation/img_ad_pis_1.png);}
#billing .ad_position .item_2{background-image: url(../images/operation/img_ad_pis_2.png);}
#billing .ad_position .item_10{background-image: url(../images/operation/img_ad_pis_10.png);}
#billing .ad_position .item_11{background-image: url(../images/operation/img_ad_pis_11.png);}
#billing .ad_position .item_12{background-image: url(../images/operation/img_ad_pis_12.png);}
#billing .ad_position .item_0:hover,#billing .ad_position .item_0.cur{background-image: url(../images/operation/img_ad_pis_0_cur.png);}
#billing .ad_position .item_1:hover,#billing .ad_position .item_1.cur{background-image: url(../images/operation/img_ad_pis_1_cur.png);}
#billing .ad_position .item_2:hover,#billing .ad_position .item_2.cur{background-image: url(../images/operation/img_ad_pis_2_cur.png);}
#billing .ad_position .item_10:hover,#billing .ad_position .item_10.cur{background-image: url(../images/operation/img_ad_pis_10_cur.png);}
#billing .ad_position .item_11:hover,#billing .ad_position .item_11.cur{background-image: url(../images/operation/img_ad_pis_11_cur.png);}
#billing .ad_position .item_12:hover,#billing .ad_position .item_12.cur{background-image: url(../images/operation/img_ad_pis_12_cur.png);}
#billing .ad_position .item.cur,#billing .ad_position .item:hover{border-color: #07bb8b;color: #07bb8b;}
#billing .ad_position .item.no_drop{cursor: no-drop;opacity: 0.6;color: #999;border-color: #cbcecd;}
#billing .ad_position .item input{display: none;}
/*************************** 广告管理 end ***************************/


/*************************** 邮件页 start ***************************/
#email .center_container_1200{padding-top:20px; padding-bottom:20px;}
#email .global_container{overflow:inherit; position:relative;}
#email .email_content{overflow: hidden;height: 450px;overflow-y: auto;padding: 10px;background: #fff;border: 1px #ddd solid;}


.email_container{padding:30px 0;}
.email_container .global_form{max-width:1200px; margin:0 auto;}
.email_container .global_form .rows:first-child>label{padding-top:0;}
.email_container .global_form .rows .btn_global{height:30px; line-height:30px; margin-right:10px; font-size:12px; border:1px #bbb solid;}
.email_container .global_form .rows .btn_tpl_choice{color:#00a578; border-color:#00a578;}
.email_container .global_form .rows .cke_chrome{width:100%!important;}

/* 右侧弹窗 Start */
#fixed_right .fixed_template_save .box_button{margin-top:35px;}
#fixed_right .fixed_template_save .box_button .btn_global{margin-right:8px;}

#fixed_right .fixed_template_choice .inside_container{padding:0;}
#fixed_right .fixed_template_choice .template_choice_list{}
#fixed_right .fixed_template_choice .template_choice_list .list{display:none;}
#fixed_right .fixed_template_choice .template_choice_list .item{position: relative;width:133px; float:left; display:inline; margin-bottom:20px;margin-right: 20px;border-radius: 5px;border:1px solid #f1f1f1;}
#fixed_right .fixed_template_choice .template_choice_list .item .img{border-bottom:none; padding:10px;height:115px; margin:0 auto; text-align:center;cursor:pointer;}
#fixed_right .fixed_template_choice .template_choice_list .item .img span{display:inline-block; height:100%; vertical-align:middle;}
#fixed_right .fixed_template_choice .template_choice_list .item .img img{vertical-align:middle; max-width:100%; max-height:100%;}
#fixed_right .fixed_template_choice .template_choice_list .item .img input{display:none;}
#fixed_right .fixed_template_choice .template_choice_list .item .img_mask{width:100%; height:100%; background:url(../images/photo/icon_item_hover.png) no-repeat 103px 7px rgba(0,0,0,.3); border-radius:5px; position:absolute; top:0; left:0; z-index:3; display:none;}
#fixed_right .fixed_template_choice .template_choice_list .item .del_mask{width:25px; height:25px; overflow:hidden; text-indent:99px; background:url(../images/photo/icon_item_delete.png) no-repeat; position:absolute; top:7px; right:37px; z-index:4; display:none;}
#fixed_right .fixed_template_choice .template_choice_list .item .del_mask:hover{background-image:url(../images/photo/icon_item_delete_hover.png);}
#fixed_right .fixed_template_choice .template_choice_list .item .name{text-align:center; margin:0 auto; overflow:hidden; height:20px; line-height:20px;padding-bottom: 5px; overflow:hidden; font-size:12px; white-space:nowrap; text-overflow:ellipsis;}
#fixed_right .fixed_template_choice .template_choice_list .item.cur .img_mask, #fixed_right .fixed_template_choice .template_choice_list .item:hover .img_mask, #fixed_right .fixed_template_choice .template_choice_list .item:hover .del_mask{display:block;}
#fixed_right .fixed_template_choice .template_choice_list .item.cur .img_mask{background-image: url(../images/photo/icon_item_cur.png);}
/* 右侧弹窗 End */

#email .box_drop_double dd .drop_menu .item>span.item_name{max-width:270px;}
/*************************** 邮件页 end ***************************/


/*************************** 友情链接 start ***************************/
#partner .r_con_table img{max-width:85px; max-height:85px; border-radius:4px;}
#partner .box_select{width:60px;}
/*************************** 友情链接 end ***************************/


/*************************** 到货通知 start ***************************/
#arrival{padding:0;}
/*************************** 到货通知 end ***************************/


/*************************** 订阅管理 start ***************************/
#newsletter{padding:0;}
/*************************** 订阅管理 end ***************************/


/*************************** 在线客服 start ***************************/
#chat{position:relative;}
#chat .used{margin-right: 20px;font-size: 14px;}
#chat .used .switchery{margin-left: 5px;}
#chat .fixed{width:auto;}
#chat .fixed .r_con_form{border:1px #e8e8e8 solid;}
#chat .fixed .r_con_form .rows>label{width:18%;}
#chat .style_box{width:auto; margin:15px 0 10px; background-color:#fff; border:1px #e8e8e8 solid;}
#chat .style_box .box{width:20%;}
#chat .style_box .box_hd{height:40px; text-align:center; line-height:40px; border-bottom:1px #e8e8e8 dashed;}
#chat .style_box .box_bd img{max-width:100%; max-height:100%;}
#chat .style_box .box_bd a{cursor:default;}
#chat .move_myorder{cursor:move;}
#chat .center{text-align:center;}

.chat_center_container{width: 900px;}
#chat .chat_title{height: 60px;line-height: 60px;font-size: 26px;color: #676a6f;}
#chat .chat_title .add{margin-top: 15px;}
#chat .chat_box{position: relative;}
#chat .chat_box .chat_list{position: relative;min-height: 160px;margin-bottom: 15px;padding: 20px 0 20px 209px;background: #fff url(../images/set/icon_chat_add.png) no-repeat top left;border-radius: 5px;overflow: hidden;}
#chat .chat_box .chat_list.first{margin-left: 0;}
#chat .chat_box .chat_list.qq{background-image: url(../images/set/icon_chat_qq.png);}
#chat .chat_box .chat_list.skype{background-image: url(../images/set/icon_chat_skype.png);}
#chat .chat_box .chat_list.email{background-image: url(../images/set/icon_chat_email.png);}
#chat .chat_box .chat_list.trademanager{background-image: url(../images/set/icon_chat_trademanager.png);}
#chat .chat_box .chat_list.wechat{background-image: url(../images/set/icon_chat_wechat.png);}
#chat .chat_box .chat_list.whatsapp{background-image: url(../images/set/icon_chat_whatsapp.png);}
#chat .chat_box .chat_list .move{display: none;position: absolute;top: 0;left: 0;cursor: move;width: 30px;height: 30px;background: url(../images/set/icon_chat_move.png) no-repeat center center;}
#chat .chat_box .chat_list .list_box{background: #fff;}
#chat .chat_box .chat_list .list{width: 190px;padding: 12px 0 12px 21px;height: 44px;position: relative;border: 1px solid #eeeeee;border-radius: 5px;float: left;margin-left: 11px;margin: 5px 0 5px 10px;}
#chat .chat_box .chat_list .list.cur:before{width: 100%;height: 100%;border-radius: 5px;content: '';position: absolute;top: -1px;left: -1px;border:1px #aaa dashed;}
#chat .chat_box .chat_list .icon_myorder{display: none;position: absolute;height: 22px;top: 0;bottom: 0;left: 5px;margin:auto;}
#chat .chat_box .chat_list .name{height:22px; line-height:22px; font-size:14px; color:#000;}
#chat .chat_box .chat_list .name>span{width:100px; height:22px; overflow:hidden; display:inline-block; vertical-align:top; white-space:nowrap; text-overflow:ellipsis; -webkit-text-overflow:ellipsis;}
#chat .chat_box .chat_list .account{height: 22px;line-height: 22px;font-size: 12px;color: #888;}
#chat .chat_box .chat_list .edit{display: none;color: #07bb8a;font-size: 12px;margin-left: 13px;}
#chat .chat_box .chat_list .del{display: none;color: #aaa;margin-left: 6px;font-size: 12px;}
#chat .chat_box .chat_list .list:hover .icon_myorder{display: block;}
#chat .chat_box .chat_list .list:hover .edit,#chat .chat_box .chat_list .list:hover .del{display: inline-block;}
/*#chat .chat_box .chat_list:hover .move{display: block;}*/

#chat .chat_box_en .chat_list .edit{margin-left:6px;}

#chat_edit_form .box_select{width:166px;}
/*************************** 在线客服 end ***************************/


/*************************** 博客 start ***************************/
#blog{padding:0;}
#blog .inside_container{margin-bottom:10px;}

#blog_inside .inside_container{margin-bottom:10px; padding:0 10px;}

#blog_inside .set_add{margin-top:0;}
#blog_inside .blog_nav .d_del{width:24px; height:24px; overflow:hidden; margin-top:8px; margin-left:10px; display:inline-block; vertical-align:top;}
#blog_inside .seo_box .box_input{width:90%;}

#blog_inside .review_box{border-bottom: 1px solid #e9e9e9;padding-bottom: 28px;padding-top: 16px;}
#blog_inside .review_box .star_box{height: 30px;line-height: 30px;}
#blog_inside .review_box .agree{display: inline-block;height: 30px;line-height: 30px;margin-left: 20px;padding-left: 27px;color: #999;font-size: 14px;background: url(../images/products/icon_good.png) no-repeat left center;}
#blog_inside .review_box .msg{line-height: 20px;font-size: 14px;padding-bottom: 11px;padding-top: 16px;}
#blog_inside .review_box .r_img{height: 60px;margin: 14px 0;}
#blog_inside .review_box .r_img .list{float: left;width: 58px;height: 58px;margin-right: 7px;border:1px solid #dddddd;text-align: center;vertical-align: middle;font-size: 0;}
#blog_inside .review_box .r_img .list img{vertical-align: middle;max-width: 100%;max-height: 100%;}
#blog_inside .review_box .r_img .list:after{display: inline-block;vertical-align: middle;height: 100%;content: '';}
#blog_inside .review_box .info{padding-top: 12px;height: 20px;line-height: 20px;font-size: 12px;}
#blog_inside .review_box .info span{padding-left: 20px;color: #999;}

#blog_inside .form_remark_log{margin-top:30px; background-color:#f8f8f8; border:1px #cbcecd solid; border-radius:5px;}
#blog_inside .form_remark_log .form_box{margin:8px; height:32px; line-height:32px;}
#blog_inside .form_remark_log .remark_left{width:100%; margin-left:-55px; float:left;}
#blog_inside .form_remark_log .remark_left>div{margin-left:55px;}
#blog_inside .form_remark_log .box_input{width:100%; height:32px; line-height:32px; padding:0; border:0; vertical-align:top;}
#blog_inside .form_remark_log .box_input:focus{box-shadow:none;}
#blog_inside .form_remark_log .btn_save{width:50px; height:32px; color:#fff; cursor:pointer; background-color:#0cb083; border-radius:5px; border:0; float:right;}

/*************************** 博客 end ***************************/


/*************************** 谷歌翻译 start ***************************/
#translate{padding:0;}
#translate .inside_container{width:1000px; margin:0 auto;}
#translate .inside_table{width:1000px; margin:0 auto;}

#translate .config_table{width:100%; margin:0; margin-bottom:10px; font-size:14px; background-color:#f7f7f7; border:0; border-radius:5px;}
#translate .config_table tr td{padding:20px; border:0;}
/*************************** 谷歌翻译 start ***************************/



