/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

/*************************** 全局 start ***************************/
.mb20{margin-bottom:20px;}
.ml5{margin-left:5px;}
.mr5{margin-right:5px;}

.w_1200 .left_container{margin-left:-390px; float:left;}
.w_1200 .left_container .left_container_side{margin-left:390px;}
.w_1200 .right_container{width:380px; margin-left:10px; float:right;}
.w_1200 .right_container .global_container:first-child{margin-top:0;}

.w_1400 #orders_inside .center_container_1200{margin:0 auto;}

body.en .orders_shipping .right_list .rows>strong{width:100px;}
body.en .orders_info .list>li>strong{width:138px;}
body.en .orders_payment .list>li>strong{width:138px;}
body.en .orders_payment .list>li>span{margin-left:138px;}
body.en #fixed_right .fixed_orders_info .rows>label{width:138px;}

#explode_progress_import, #explode_progress_export{padding:20px; line-height:200%;}
#explode_progress_import>p, #explode_progress_export>p{margin:0;}

.jcTrackIframe{width:40%; overflow-y:auto; background:#fff; position:fixed; top:50px; bottom:0; right:-40%; z-index:10001; transition:all 0.3s; -moz-transition:all 0.3s; -webkit-transition:all 0.3s; transform:perspective(10001px); box-shadow:1px 0px 3px 1px rgba(7,187,139,0.3)}
/*************************** 全局 end ***************************/


/*************************** 订单列表页 start ***************************/
.r_con_table tbody .icon_flag{vertical-align:middle;}
.r_con_table tbody .sales_show{color:#aaa;}
.r_con_table tbody .operation dt{position:relative;}
.r_con_table tbody .operation dt em{width:8px; height:8px; text-align:center; font-size:12px; color:#fff; background-color:#f5222d; border-radius:50px; position:absolute; top:-2px; right:6px; display:block;}
.r_con_table tbody .operation .inbox{position:relative;}
.r_con_table tbody .operation .inbox>em{width:8px; height:8px; text-align:center; font-size:12px; color:#fff; background-color:#f5222d; border-radius:50px; position:absolute; top:3px; right:12px; display:block;}
.list_menu_button>li>a.change_status{background-image:url(../images/frame/icon_order_status.png);}
.list_menu_button>li>a.change_status:hover{background-image:url(../images/frame/icon_order_status_current.png);}
/*************************** 订单列表页 end ***************************/


/*************************** 订单导出页 start ***************************/
#export_edit_form .rows .tab_box .tab_box_row dt{padding-left:0; font-size:14px; color:#000;}
#export_edit_form .rows .box_select{width:274px;}
#export_edit_form .rows .btn_option_set{height:32px; line-height:32px; padding:0 20px; text-decoration:none; font-size:14px; border:0; border-radius:5px; display:inline-block; vertical-align:top;}

/* 右侧弹窗 Start */
#fixed_right .fixed_export_config .export_menu{overflow:hidden; position:relative;}
#fixed_right .fixed_export_config .export_menu li{padding:3px 0;}
#fixed_right .fixed_export_config .box_button{margin-top:17px;}
#fixed_right .fixed_export_config .box_button .btn_global{margin-right:8px; border:0!important;}
/* 右侧弹窗 End */
/*************************** 订单导出页 end ***************************/


/*************************** 订单详情页 start ***************************/
#orders_inside .center_container_1200{margin:0 20px;}

.orders_status_list{height:136px; overflow:hidden;}
.orders_status_list .item{width:12%; text-align:center; position:relative; float:left;}
.orders_status_list .item>strong{height:25px; line-height:25px; font-size:14px; font-weight:bold; color:#333;}
.orders_status_list .item .border{width:100%; position:absolute; top:47px; right:50%; border-bottom:3px #d7d7d7 solid;}
.orders_status_list .item .choice{width:100%; height:28px; position:absolute; top:34px; left:0; z-index:2;}
.orders_status_list .item .choice>i{width:28px; height:28px; margin:0 auto; background-color:#d7d7d7; border-radius:50px; display:block;}
.orders_status_list .item .time{margin-top:47px; font-size:12px; color:#a0a4a3;}
.orders_status_list .item .block_box{width:50%; height:28px; background-color:#f4f4f4; position:absolute; top:34px; z-index:1; display:none;}
.orders_status_list .item .block_left{left:0;}
.orders_status_list .item .block_right{right:0;}
.orders_status_list .item.current>strong{color:#07bb8a;}
.orders_status_list .item.current .border{border-color:#07bb8a;}
.orders_status_list .item.current .choice>i{background:url(../images/frame/icon_checkbox_current.png) no-repeat center #07bb8a;}
.orders_status_list .item_9.current>strong, .orders_status_list .item_9.current>strong{color:#f94f4f;}
.orders_status_list .item_9.current .border, .orders_status_list .item_9.current .border{border-color:#f94f4f;}
.orders_status_list .item_9.current .choice>i, .orders_status_list .item_9.current .choice>i{background:url(../images/frame/icon_close.png) no-repeat 3px 2px #f94f4f;}
.orders_status_list .item_9.current .block_right, .orders_status_list .item_9.current .block_right{display:block;}
.orders_status_list .item_1 .block_left{display:block;}
.orders_status_list .item_9 .block_right{display:block;}


.left_container{width:100%; margin:0; float:none;}
.left_container .left_container_side{margin:0;}
.right_container{width:100%; margin:0; float:none;}
.left_container .global_container:first-child{margin-top:0;}
.right_container .global_container:first-child{margin-top:10px;}

.global_container .btn_edit{text-decoration:none; font-size:14px; color:#0bb183; float:right;}
.global_container .asiafly_btn{ background-color: #0bb183; color: #fff;margin-right: 10px;}
.global_container .use_asiafly{ line-height: 32px; background-color: #0bb183; color: #fff;}

.orders_parent_box{width:50%; float:left;}
.orders_parent_box:first-child{width:50%;}
.orders_parent_top_box{width:100%;}
.orders_parent_top_box>.ml5{margin-left:0;}
.orders_parent_top_box>.mr5{margin-right:0;}
.orders_parent_top_box .global_container:first-child{margin-top:10px;}

.right_list{margin-top:10px;}
.right_list .rows{padding:8px 0;}
.right_list .rows>strong, .right_list .rows>span{padding-right:10px;}
.right_list .rows>strong{width:82px; float:left; color:#000}
.right_list .rows>span{line-height:20px; margin-left:92px; color:#555; display:inherit;}
.right_list .rows>span.query{text-decoration:underline; cursor:pointer;}
.right_list .shipping_tem{padding-left: 60px;}
.right_list .shipping_tem .img{float: left;margin-left: -60px;width: 50px;height: 50px;}
.right_list .shipping_tem .img img{max-width: 100%;max-height: 100%;}
.right_list .shipping_tem .name{line-height: 25px;height: 50px;overflow: hidden;}
.right_list .rows .asiafly_label a{text-decoration: underline;color: #07bb8a;}
.right_list .rows .track_trackin a{text-decoration: underline;color: #07bb8a;}
.right_list .rows .down_file{text-decoration: underline;color: #07bb8a;}

.orders_number{height:26px; line-height:26px; margin-top:8px;}
.orders_number>strong{font-size:14px; display:inline-block;}
.orders_number>span{margin-left:10px; font-size:12px; color:#999; display:inline-block;}

.orders_refund_box .refund_left{width:100px; line-height:30px; font-size:16px; display:inline-block;}
.orders_refund_box .refund_right{display:inline-block;}

.box_order_info .global_container{padding:15px; border:1px #eee solid;}

.orders_info .list>li{padding:6px 0; font-size:14px; color:#666;}
.orders_info .list>li>strong, .order_info .list>li>span{padding-left:5px;}
.orders_info .list>li>strong{width:100px; float:left;}
.orders_info .list>li>span{width:100px; line-height:20px; margin-left:0; display:inline-block; vertical-align:middle;}
.orders_info .list>li>span.web_price{width:auto; font-size:12px; color:#999;}
.orders_info .list>li:first-child{padding:0 0 12px; font-size:16px; color:#444;}
.orders_info .list>li:first-child>span{color:#0bb183;}
.orders_info .coupon_code{margin-left:105px; line-height:20px;}

.orders_status .box_status{padding-left:3px;}
.orders_status .box_status .title{font-size:16px; color:#444;}
.orders_status .box_status .status{margin-top:16px; margin-left:10px; font-size:16px; color:#0bb183;}
.orders_status .box_button{margin-top:15px;}
.orders_status .box_button .btn_next, .orders_status .box_button .btn_cancel{min-width:104px; margin-bottom:8px; margin-right:10px; padding:0 10px; text-align:center; float:left; display:block;}
.orders_status .box_button .btn_next{color:#fff; background-color:#0cb083; border-color:#0cb083;}
.orders_status .box_button .btn_cancel{border-color:#e6e6e8;}
.orders_status .box_button .btn_refund{background-color:#fff; border-color:#e6e6e8;}
.orders_status .box_button .btn_refund:hover{text-decoration:none; background-color:#f4f4f4;}
.orders_status .box_button .btn_loading{font-size:0; background:url(/static/themes/default/images/global/loading_small.gif) no-repeat center #f3f3f3; cursor:no-drop;}
.orders_status .list{margin-top:15px;}
.orders_status .list>li{padding:5px 0;}
.orders_status .list>li>strong, .orders_status .list>li>span{padding-left:3px;}
.orders_status .list>li>strong{width:80px; float:left;}
.orders_status .list>li>span{margin-left:80px; display:inherit;}

.orders_payment .orders_user{padding-left:3px;}
.orders_payment .orders_user>strong{font-size:18px; color:#444;}
.orders_payment .orders_user>span{line-height: 22px; font-size:14px; color:#0cb083;}
.orders_payment .orders_source{line-height:21px; margin-top:6px; padding-left:3px; font-size:0;}
.orders_payment .orders_source>img{display:inline-block; vertical-align:middle;}
.orders_payment .orders_source>span{margin-left:10px; font-size:12px; color:#999; display:inline-block; vertical-align:middle;}
.orders_payment .orders_source>a{height:15px; margin-left:7px; display:inline-block; vertical-align:middle;}
.orders_payment .list{margin-top:15px;}
.orders_payment .list>li{padding:5px 0;}
.orders_payment .list>li>strong, .orders_payment .list>li>span{padding-left:3px;}
.orders_payment .list>li>strong{width:80px; float:left;}
.orders_payment .list>li>span{margin-left:80px; display:inherit;}

.orders_shipping dt{border-top:1px #f1f1f1 solid; padding:15px 0;}
.orders_shipping dt .title{line-height:19px; padding:5px 0 8px;}
.orders_shipping dt .title>strong{color:#07bb8a;}
.orders_shipping dt .title>strong:before{width:19px; height:19px; margin-right:10px; background:url(../images/orders/icon_shipping.png) no-repeat center; display:inline-block; vertical-align:top; content:'';}
.orders_shipping dt .title>strong.error{font-size:16px; color:#c00;}
.orders_shipping dt .title>span{margin-left:10px; font-size:12px; color:#999;}
.orders_shipping dt.first{border:0;}
.orders_shipping dd{border-top:1px #f1f1f1 dashed; padding-bottom:15px;}
.orders_shipping dd .title{line-height:19px; padding-top:10px;}
.orders_shipping .right_list .rows>span{margin-right:10px; margin-left:0; display:inline-block; vertical-align:middle;}
.orders_shipping .right_list .rows>span.web_price{margin-right:0; font-size:12px;}
.orders_shipping .right_list .rows>span .get_label{background: #0bb183;color: #fff;}
.orders_paypal_address{position:relative;}
.orders_paypal_address .switchery{position:absolute; top:31px; right:30px;}

.orders_log .big_title{cursor:pointer;}
.orders_log .log_list{display:none;}

.log_list{padding-top:30px;}
.log_list .time{width:70px; line-height:20px; padding-top:30px; padding-right:23px; text-align:right; font-size:12px; color:#999; float:left;}
.log_list .information{margin-left:92px; padding:30px 0 28px 24px; font-size:12px; border-bottom:1px #e9e9e9 solid; border-left:1px #e9e9e9 solid; position:relative;}
.log_list .information .radio{width:9px; height:9px; overflow:hidden; background-color:#0bb183; border-radius:50px; position:absolute; top:46px; left:-4px;}
.log_list .information .status{color:#0bb183;}
.log_list .information .log{line-height:16px; margin-top:12px; font-size:12px; color:#444;}
.log_list .information .user{margin-top:4px; color:#999;}

.orders_remark_log .form_remark_log{margin-top:30px; background-color:#f8f8f8; border:1px #cbcecd solid; border-radius:5px;}
.orders_remark_log .form_remark_log .form_box{margin:8px; height:32px; line-height:32px;}
.orders_remark_log .form_remark_log .remark_left{width:100%; margin-left:-55px; float:left;}
.orders_remark_log .form_remark_log .remark_left>div{margin-left:55px;}
.orders_remark_log .form_remark_log .box_input{width:100%; height:32px; line-height:32px; padding:0; border:0; vertical-align:top;}
.orders_remark_log .form_remark_log .box_input:focus{box-shadow:none;}
.orders_remark_log .form_remark_log .btn_save{width:50px; height:32px; color:#fff; cursor:pointer; background-color:#0cb083; border-radius:5px; border:0; float:right;}
.orders_remark_log .log_list .information .log{margin-top:2px;}
.orders_remark_log .log_list .information .user{margin-top:6px;}

#orders_products_list{width:100%; margin:0; margin-top:15px;}
#orders_products_list td{padding:12px 10px;}
#orders_products_list thead td{height:32px; line-height:32px; padding:0 10px; font-size:12px; font-weight:normal;}
#orders_products_list dl{width:100%; margin:0; padding:0; v}
#orders_products_list dl dt{width:80px; height:80px; overflow:hidden; background-color:#fff; float:left; display:block;}
#orders_products_list dl dt img{max-width:100%; max-height:100%;}
#orders_products_list dl dt a{width:80px; height:80px; text-align:center; display:table-cell; vertical-align:middle; *display:block; *font-family:Arial; *font-size:70px;}
#orders_products_list dl dt a img{vertical-align:middle;}
#orders_products_list dl dd{margin-left:98px; padding-right:60px; text-align:left; display:block; -webkit-margin-start:98px;}
#orders_products_list dl dd h4{line-height:180%; padding-bottom:3px; font-weight:normal;}
#orders_products_list dl dd h4>a{color:#555;}
#orders_products_list dl dd p{margin:0; padding:0; line-height:18px; font-size:12px; color:#aaa; display:block;}
#orders_products_list .show_input{display:none;}
#orders_products_list .box_input, #orders_products_list .unit_input{height:26px; line-height:26px;}
#orders_products_list .unit_input>b{line-height:26px;}
#orders_products_list .unit_input>input{width:60px;}
#orders_products_list .box_input{background-color:#fff;}
#orders_products_list .show_web{color:#999;}
#orders_products_list .del{width:24px; height:24px; overflow:hidden; margin-top:10px; text-indent:99px; background:url(../images/frame/icon_delete_1.png) no-repeat center; display:block;}
#orders_products_list .del:hover{background-image:url(../images/frame/icon_delete_1_current.png);}
#orders_products_list .btn_prod_add{color:#fff!important;}

/* 右侧弹窗 Start */
#shipping_address_form, #shipping_info_form{max-width:410px;}

#fixed_right .fixed_orders_info .rows{padding-top:18px;}
#fixed_right .fixed_orders_info .rows>label{width:100px; line-height:36px; padding-top:0; float:left;}
#fixed_right .fixed_orders_info .rows .fixed_price{line-height:36px; color:#555;}
#fixed_right .fixed_orders_info #orders_fee_value{padding-top:5px;}

#fixed_right .fixed_shipping_address{margin:0;}
#fixed_right .fixed_shipping_address .rows{margin-bottom:18px;}
#fixed_right .fixed_shipping_address .rows .input_box{position:relative; display:block;}
#fixed_right .fixed_shipping_address .rows .input_box .input_box_label{height:30px; line-height:30px; font-size:14px; font-weight:400; color:#444; display:block;}
#fixed_right .fixed_shipping_address .rows .input_box .box_input{width:388px;}
#fixed_right .fixed_shipping_address .rows .unit_input>b{width:37px; text-align:right;}
#fixed_right .fixed_shipping_address .rows .unit_input .box_input{width:353px;}
#fixed_right .fixed_shipping_address .rows .box_input_group{position:relative;}
#fixed_right .fixed_shipping_address .rows .box_input_group .input_group_addon{width:55px; height:40px; line-height:40px; padding:0; text-align:center; white-space:nowrap; border:1px #c4cdd5 solid; border-right:0; border-top-left-radius:5px; border-bottom-left-radius:5px; float:left;}
#fixed_right .fixed_shipping_address .rows .box_input_group .input_box{float:left;}
#fixed_right .fixed_shipping_address .rows .box_input_group .input_group{width:487px; border-top-left-radius:0; border-bottom-left-radius:0;}
#fixed_right .fixed_shipping_address .rows p.error{line-height:16px; color:#f00; display:none;}
#fixed_right .fixed_shipping_address .form_box .box{width:200px; float:left;}
#fixed_right .fixed_shipping_address .form_box .box .box_input{width:178px;}
#fixed_right .fixed_shipping_address .form_box .box .box_select{width:198px;}
#fixed_right .fixed_shipping_address .form_box .box:first-child{margin-right:10px;}

#fixed_right .fixed_shipping_info .insurance_info{line-height:20px; margin-top:12px;}
#fixed_right .fixed_shipping_info .insurance_info .input_checkbox{margin-top:3px;}
#fixed_right .fixed_shipping_info .insurance_info .insurance_price{margin-left:10px;}
#fixed_right .fixed_shipping_info .insurance_update{line-height:20px; margin-top:12px;}
#fixed_right .fixed_shipping_info .insurance_update .input_checkbox{margin-top:3px;}
#fixed_right .fixed_shipping_info .box_button{margin-top:25px;}

#fixed_right .fixed_shipped .oversea_title{margin-top:25px; padding-top:15px; font-size:16px; border-top:1px #f1f1f1 solid;}
#fixed_right .fixed_shipped .oversea_title:first-child{margin:0; padding:0; border:0;}
#fixed_right .fixed_shipped .rows:first-child>label{padding-top:0;}
#fixed_right .fixed_shipped .box_textarea{width:90%; max-width:430px;}
#fixed_right .fixed_shipped .box_button{margin-top:40px;}

#fixed_right .fixed_asiafly_list .r_con_table{margin: 10px 0;}
#fixed_right .fixed_asiafly_list .r_con_table .asiafly_row{border:2px solid transparent;}
#fixed_right .fixed_asiafly_list .r_con_table .asiafly_row:hover, #fixed_right .fixed_asiafly_list .r_con_table .asiafly_row.checked{border:2px solid #05a579;}

/* 右侧弹窗 End */
/*************************** 订单详情页 end ***************************/

/*************************** 产品订单页面 start ***************************/
.orders_print{width: 612px;margin:auto;}
.orders_print *{font-size: 12px;color: #333;}
.orders_print ul{padding: 12px 0;border-top: 1px solid #eee;}
.orders_print ul li{line-height: 18px;}
.orders_print .head_table{margin-bottom: 13px;}
.orders_print .head_table td{font-size: 14px;line-height: 20px;}
.orders_print .head_table img{max-height: 40px;}
.orders_print .print_table th{border-bottom: 1px solid #333333;border-top: 2px solid #333333;padding: 12px 6px;font-weight: bold;}
.orders_print .print_table td{vertical-align: top;border-bottom: 1px solid #eeeeee;padding: 12px 6px;}
.orders_print .print_table td dl{padding-left: 70px;}
.orders_print .print_table td dt{margin-left: -70px;float: left;}
.orders_print .print_table td dd h4{line-height: 18px;margin-bottom: 8px;}
.orders_print .print_table td dd p{line-height: 18px;color: #666;}
.orders_print .print_table td.big{font-size: 14px;}
.orders_print .print_table td img{max-width: 60px;max-height: 60px;}
.orders_print .print_table td.tips{line-height: 18px;border-bottom: none;color: #666;}
/*************************** 产品订单页面 end ***************************/

/*************************** 运单页 start ***************************/
#waybill .inside_waybill{margin:0 35px; padding:30px 0;}
#waybill .inside_waybill .list_menu{max-width: 1190px;margin: 0 auto 20px;padding: 0;}
#waybill .inside_waybill .list_menu form{position: relative;}
#waybill .inside_waybill .list_menu .form_input{display: block;width: 100%;height: 51px;line-height: 51px;background: url(../../ico/search.png) no-repeat 15px center;border:none;text-indent: 44px;}
#waybill .inside_waybill .list_menu .form_input::-webkit-input-placeholder{color: #999;}
#waybill .inside_waybill .list_menu .search_btn{height: 32px;margin:auto;background: #07bb8a;border-radius: 3px; padding: 0 19px;position: absolute;top: 0;right: 10px;bottom: 0;color: #fff;}
#waybill .inside_waybill .global_container{max-width:1130px; margin:0 auto 20px; padding:30px;}
#waybill .inside_waybill .orders_info{height:36px; line-height:36px;}
#waybill .inside_waybill .orders_info>span{display:inline-block; vertical-align:top;}
#waybill .inside_waybill .orders_info .orders_number{margin:0;}
#waybill  .box_turn_page{max-width:1200px; margin:0 auto;}
#waybill  .box_turn_page .turn_page{ background:0}
.waybill_list{margin-bottom:15px; border:1px #f1f1f1 solid; border-bottom:0;}
.waybill_list .waybill_title{min-height:32px; line-height:32px; padding:14px 20px; border-bottom:1px #f1f1f1 solid;}
.waybill_list .waybill_title .package_name{float:left;}
.waybill_list .waybill_title .package_view{margin-left:26px; font-size:12px; float:left;}
.waybill_list .waybill_title .package_view .orders_shipping{font-size:12px;}
.waybill_list .waybill_title .package_view .orders_insurance{margin-left:18px;}
.waybill_list .waybill_title .package_view .package_track{margin-left:18px;}
.waybill_list .waybill_title .package_view .package_track .query{text-decoration:underline; cursor:pointer;}
.waybill_list .waybill_title .package_button{float:right;}
.waybill_list .waybill_title .package_button .btn_global{min-width:auto; margin-left:10px; padding:0 14px; border:0;}
.waybill_list .waybill_title .package_button .btn_delivery{color:#07bb8a; background-color:#f0f6f4;}
.waybill_list .waybill_title .package_button .btn_separate{color:#fff; background-color:#07bb8a;}
.waybill_list .r_con_table{margin:0; border:0;}
.waybill_list .r_con_table dl{width:100%; margin:0; padding:0; display:block;}
.waybill_list .r_con_table dl dt{width:80px; height:80px; overflow:hidden; background:#fff; border-radius:4px; float:left; display:block;}
.waybill_list .r_con_table dl dt>a{width:85px; height:85px; text-align:center; display:block; vertical-align:middle;font-size: 0;}
.waybill_list .r_con_table dl dt>a>img{max-width:100%; max-height:100%; vertical-align:middle;border-radius: 4px;}
.waybill_list .r_con_table dl dd{margin-left:98px; text-align:left; display:block; -webkit-margin-start:98px;}
.waybill_list .r_con_table dl dd h4{line-height:180%; padding-bottom:6px; font-weight:normal;}
.waybill_list .r_con_table dl dd p{margin:0; padding:0; font:11px/150% Verdana, Helvetica, sans-serif; display:block;}



/* 右侧弹窗 Start */
#fixed_right .fixed_separate .r_con_table{width:100%; margin:25px 0;}
#fixed_right .fixed_separate dl{width:100%; margin:0; padding:0; display:block;}
#fixed_right .fixed_separate dl dt{width:80px; height:80px; overflow:hidden; background:#fff; border:1px #f1f1f1 solid; float:left; display:block;}
#fixed_right .fixed_separate dl dt>a{width:85px; height:85px; text-align:center; display:block; vertical-align:middle;}
#fixed_right .fixed_separate dl dt>a>img{max-width:100%; max-height:100%; vertical-align:middle;}
#fixed_right .fixed_separate dl dd{margin-left:98px; text-align:left; display:block; -webkit-margin-start:98px;}
#fixed_right .fixed_separate dl dd h4{line-height:180%; padding-bottom:6px; font-weight:normal;}
#fixed_right .fixed_separate .box_input{font-size:14px; background-color:#fff;}
#fixed_right .fixed_separate .qty_num{height:38px; line-height:38px; margin-left:15px; font-size:14px; display:inline-block; vertical-align:top;}
/* 右侧弹窗 End */
/*************************** 运单页 end ***************************/


/*************************** 导入快递页 start ***************************/
#import_delivery{padding:0;}
#import_delivery h1{line-height: 56px;padding-top: 10px;font-size: 20px;color: #000;}
#import_delivery .btn_download{color:#fff; background-color:#07bb8a;}

#explode_progress{padding:0;}
#explode_progress>p{margin:5px 0;}
#progress_container{display: none;}
#progress_container table{margin: 10px 0;}
#progress_container .r_con_table tr.error *{color: #c00;}

#progress_loading{width:32px; height:32px; line-height:32px; margin:15px auto 30px; text-align:center; font-size:16px; color:#000; background:url(/static/themes/default/images/global/loading.gif) no-repeat left center; display:block;}
#progress_loading.completed{width:auto; background:none;}
#progress_loading.completed .btn_cancel{width:90px; margin:5px auto 20px; display:block;}
/*************************** 导入快递页 end ***************************/


