/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

/*************************** 多语言 start ***************************/
body.en .app_main .app_item .box_view>p{line-height:16px; margin-top:0;}
body.en .app_main .app_item .box_view .btn_install{margin-top:8px;}

body.en .my_app_list .app_category_list>li .info>p{line-height:17px; margin-top:10px;}
/*************************** 多语言 start ***************************/

.w_1400 .app_container{width: 98%;}
.w_1400 .app_main .app_item{width: 49%;margin: 0 0.5% 1% 0.5%;}
.w_1400 .app_main .app_item_next{padding: 0;}
.w_1400 .app_main .app_item .box_view{margin-left: 20px;}
.w_1400 .app_main .app_item .box_view strong{margin-top: 20px;}

/*************************** 全局 start ***************************/
.icon_item_seckill{background-image:url(../images/plugins/icon_item_seckill.png);}
.icon_item_tuan{background-image:url(../images/plugins/icon_item_tuan.png);}
.icon_item_package{background-image:url(../images/plugins/icon_item_package.png);}
.icon_item_promotion{background-image:url(../images/plugins/icon_item_promotion.png);}
.icon_item_holiday{background-image:url(../images/plugins/icon_item_holiday.png);}
.icon_item_distribution{background-image:url(../images/plugins/icon_item_distribution.png);}
.icon_item_gallery{background-image:url(../images/plugins/icon_item_gallery.png);}
.icon_item_facebook_store{background-image:url(../images/plugins/icon_item_facebook_store.png);}
.icon_item_googlefeed{background-image:url(../images/plugins/icon_item_googlefeed.png);}
.icon_item_review{background-image:url(../images/plugins/icon_item_review.png);}
.icon_item_import_delivery{background-image:url(../images/plugins/icon_item_import_delivery.png);}
.icon_item_overseas{background-image:url(../images/plugins/icon_item_overseas.png);}
.icon_item_freight{background-image:url(../images/plugins/icon_item_freight.png);}
.icon_item_facebook_pixel{background-image:url(../images/plugins/icon_item_facebook_pixel.png);}
.icon_item_aliexpress{background-image:url(../images/plugins/icon_item_aliexpress.png);}
.icon_item_amazon{background-image:url(../images/plugins/icon_item_amazon.png);}
.icon_item_facebook_login{background-image:url(../images/plugins/icon_item_facebook_login.png);}
.icon_item_google_login{background-image:url(../images/plugins/icon_item_google_login.png);}
.icon_item_paypal_login{background-image:url(../images/plugins/icon_item_paypal_login.png);}
.icon_item_vk_login{background-image:url(../images/plugins/icon_item_vk_login.png);}
.icon_item_twitter_login{background-image:url(../images/plugins/icon_item_twitter_login.png);}
.icon_item_instagram_login{background-image:url(../images/plugins/icon_item_instagram_login.png);}
.icon_item_blog{background-image:url(../images/plugins/icon_item_blog.png);}
.icon_item_cdn{background-image:url(../images/plugins/icon_item_cdn.png);}
.icon_item_business{background-image:url(../images/plugins/icon_item_business.png);}
.icon_item_product_inbox{background-image:url(../images/plugins/icon_item_product_inbox.png);}
.icon_item_block_access{background-image:url(../images/plugins/icon_item_block_access.png);}
.icon_item_pdf{background-image:url(../images/plugins/icon_item_pdf.png);}
.icon_item_advanced_setup{background-image:url(../images/plugins/icon_item_advanced_setup.png);}
.icon_item_upload{background-image:url(../images/plugins/icon_item_upload.png);}
.icon_item_wholesale{background-image:url(../images/plugins/icon_item_wholesale.png);}
.icon_item_platform{background-image:url(../images/plugins/icon_item_platform.png);}
.icon_item_screening{background-image:url(../images/plugins/icon_item_screening.png);}
.icon_item_wish{background-image:url(../images/plugins/icon_item_wish.png);}
.icon_item_facebook_messenger{background-image:url(../images/plugins/icon_item_facebook_messenger.png);}
.icon_item_intelligent_translation{background-image:url(../images/plugins/icon_item_intelligent_translation.png);}
.icon_item_facebook_ads_extension{background-image:url(../images/plugins/icon_item_facebook_ads_extension.png);}
.icon_item_massive_email{background-image:url(../images/plugins/icon_item_massive_email.png);}
.icon_item_swap_chain{background-image:url(../images/plugins/icon_item_swap_chain.png);}
.icon_item_google_verification{background-image:url(../images/plugins/icon_item_google_verification.png);}
.icon_item_google_pixel{background-image:url(../images/plugins/icon_item_google_pixel.png);}
.icon_item_batch_edit{background-image:url(../images/plugins/icon_item_batch_edit.png);}
.icon_item_shopify{background-image:url(../images/plugins/icon_item_shopify.png);}
.icon_item_paypal_dispute{background-image:url(../images/plugins/icon_item_paypal_dispute.png);}
.icon_item_paypal_marketing_solution{background-image:url(../images/plugins/icon_item_paypal_marketing_solution.png);}
.icon_item_custom_comments{background-image:url(../images/plugins/icon_item_custom_comments.png);}

/*************************** 全局 end ***************************/


/*************************** 应用主页 start ***************************/
#app{padding:0;}
.no_app{position: relative;}
.no_plugins{height: 198px; margin: auto;position: absolute;top: 0;bottom: 0;left: 0;right: 0;text-align: center;}
.no_plugins .title{height: 74px;line-height: 74px;font-size: 40px;color: #000;}
.no_plugins .subtitle{height: 42px;line-height: 42px;font-size: 20px;color: #555;}
.no_plugins .go_app_store{display: inline-block;height: 52px;line-height: 52px;background: #0db083;border-radius: 3px;margin-top: 29px;padding: 0 45px;font-size: 18px;color: #fff;}

.app_container{width:800px; margin:0 auto;}

.app_header{height:240px; background:url(../images/plugins/bg_app_header.png) no-repeat center -60px;position: relative;}
.app_header h3{height:38px; line-height:38px; margin-top:62px; text-align:center; font-size:36px; color:#fff;}
.app_header .btn_app_menu{display: none;vertical-align: top;width:38px; height:38px; background:url(../images/plugins/btn_menu.png) no-repeat center #07bb8a; margin-left: 15px; border-radius:5px;}
.app_header .category_menu{margin:auto;position: absolute;right: 1.5%;bottom: 27px;left: 1.5%;text-align: center;font-size: 0;}
.app_header .category_menu a{display: inline-block;height: 34px;line-height: 34px;margin-bottom: 5px;padding: 0 26px;color: #fff;font-size: 16px;}
.app_header .category_menu a.current{background: #07bb8b;border-radius: 4px;}
.app_header .app_search{width: 0;height: 0;overflow: hidden;}
.app_header .app_search .form_search{width:660px; height:46px; overflow:hidden; background-color:#fff; border-radius:5px; float:left;}
.app_header .app_search .form_search .form_input{width:576px; height:46px; line-height:46px; padding:0 16px; border:0; float:left;}
.app_header .app_search .form_search .search_btn{width:52px; line-height:46px; overflow:hidden; text-indent:99px; cursor:pointer; background:url(../images/plugins/btn_search.png) no-repeat center; border:0; float:left;}

/*列表样式*/
.app_main{padding:40px 0;}
.app_main .category_box{display: none;}
.app_main .app_item{width: 100%; height:135px; padding-right: 80px; padding-left: 135px; margin: 0 0 20px 0; background-repeat:no-repeat; border-radius:5px; position:relative; float:left; transition:all .4s; -webkit-transition:all .4s;background-color: #fff;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.app_main .app_item .btn_box{width: 80px;height: 36px;margin-top: 51px;margin-right: -80px;text-align: center;float: right;line-height: 36px;display: inline-block;vertical-align: top;}
.app_main .app_item .btn_box .btn_view{width: 50px;margin-right: 7px;float: right;color:#0cb083;}
.app_main .app_item .btn_box .box_used{margin-right: 10px;float: right;}
.app_main .app_item .btn_install{color: #0cb083;}
.app_main .app_item .installed{color: #aaa;}
.app_main .app_item .box_view{margin-left: 35px; border-radius:5px; }
.app_main .app_item .box_view strong{height: 21px;line-height: 21px;margin-top: 30px;font-size: 16px;color: #000;display: block;}
.app_main .app_item .box_view strong span{display: inline-block;vertical-align: top;height: 19px;line-height: 19px;border:1px solid #888;border-radius: 3px; margin-left: 12px;padding: 0 6px;font-size: 12px;color: #888;}
.app_main .app_item .box_view>p{margin-top:10px; line-height:20px; font-size:12px; color:#666; cursor:default;}
.app_main .app_item .import_progress{margin-top:16px; display:none;}
.app_main .app_item .import_progress .progress_bar{width:100%; height:6px; overflow:hidden; background-color:#eee; border-radius:20px;}
.app_main .app_item .import_progress .progress{width:0; height:6px; overflow:hidden; background-color:#07bb8b; border-radius:20px; transition:width .8s; -moz-transition:width .8s; -webkit-transition:width .8s;}
.app_main .app_item .import_progress .progress_percent{margin-top:6px; text-align:right; font-size:12px; color:#aaa;}
.app_main .app_item .import_progress .progress_percent>span{color:#07bb8b;}
.app_main .app_item:hover{transform:translateY(-5px); -webkit-transform:translateY(-5px);}
.app_main li.app_item{padding-right: 126px;}
.app_main li.app_item .btn_box{width: 126px;margin-right: -126px;}

.app_main .app_item_next{text-align:center;padding: 0;background: none;}
.app_main .app_item_next>strong{line-height:49px; margin-top:36px; font-size:28px; display:block;}
.app_main .app_item_next>span{margin-top:8px; display:block;}
.app_main .app_item_next:hover{transform:translateY(0px); -webkit-transform:translateY(0px);}

.pop_app_menu form{width:800px; border:0;}
.pop_app_menu .app_category_list{padding:30px 25px 50px;}
.pop_app_menu #app_category_list_box{position: relative;}
.pop_app_menu .app_category_list .item{width:165px; margin: 0px 9px 20px;position: absolute;}
.pop_app_menu .app_category_list .item dl{margin-top:16px;}
.pop_app_menu .app_category_list .item dl dt{height:31px; line-height:31px; overflow: hidden; margin-bottom:4px; font-size:16px;text-overflow: ellipsis;white-space: nowrap;}
.pop_app_menu .app_category_list .item dl dd{height:24px; line-height:24px;}
.pop_app_menu .app_category_list .item dl dd>a{font-size:14px;}
.pop_app_menu .app_category_list .item dl:first-child{margin-top:0;}

.pop_app_install form{width:650px; border:0;}
.pop_app_install form .t{height:0; border:0;}
.pop_app_install form .t h2{position:absolute; top:0; right:0;}
.pop_app_install .install_header{height:140px; text-align:center; background:url(../images/plugins/bg_ueeshop.png) no-repeat center 63px #07bb8a;}
.pop_app_install .install_header>h3{height:28px; line-height:28px; margin-top:24px; font-size:20px; color:#fff; display:inline-block;}
.pop_app_install .install_bodyer{padding:18px 90px;}
.pop_app_install .install_bodyer .title{height:39px; line-height:39px; font-size:18px; color:#666;}
.pop_app_install .install_bodyer .title>strong{font-size:20px; color:#333;}
.pop_app_install .install_bodyer .infomation{line-height:25px; font-size:14px; color:#666;}
.pop_app_install .install_bodyer .button{text-align:center; border:0;}
.pop_app_install .install_bodyer .button .btn_submit{height:32px; line-height:32px; color:#fff; background-color:#07bb8a;}

.pop_app_oauth .download{height: 32px;line-height: 32px;display: inline-block;padding: 0 13px 0 35px;background: url(../images/shipping/icon_download.png) no-repeat 14px center;border:1px solid #07bb8a;color: #07bb8a;font-size: 14px;text-decoration: none;border-radius: 17px;margin-top: 10px;}
.pop_app_oauth form{width:800px; border:0;}
.pop_app_oauth form .t{height:85px; line-height:85px; border:0; border-bottom:1px #ebebeb solid;}
.pop_app_oauth form .t h1{text-indent:25px;}
.pop_app_oauth form .t.success{background-image:url(../images/frame/icon_success.png); background-repeat:no-repeat; background-position:25px center;}
.pop_app_oauth form .t.success h1{text-indent:63px;}
.pop_app_oauth .success_bodyer{min-height: 200px;padding:35px 25px;}
.pop_app_oauth .success_bodyer.loading{background: url(../../themes/default/images/global/loading.gif) no-repeat center;}
.pop_app_oauth .success_bodyer .infomation{width:403px; float:left;}
.pop_app_oauth .success_bodyer .data_list{margin-bottom:15px; display:none;}
.pop_app_oauth .success_bodyer .content{width:350px; line-height:20px; margin-bottom:15px; font-size:12px; color:#999;}
.pop_app_oauth .success_bodyer .button{height: auto;margin:10px 0 20px;padding: 0;text-align:left; border:0;}
.pop_app_oauth .success_bodyer .button .btn_global{margin:0; color:#fff; background-color:#0cb083; border:0; display:none;}
.pop_app_oauth .success_bodyer .button .help{display:none;line-height:32px; margin-left:10px; color:#aaa;}
.pop_app_oauth .success_bodyer .picture{width:316px; padding-left:30px; border-left:1px #ebebeb solid; float:left;}
.pop_app_oauth .success_bodyer .picture>img{max-width:100%; max-height:100%;}
.pop_app_oauth .success_bodyer #btn_paypal_marketing{border:0;}
.pop_app_oauth .success_bodyer #btn_paypal_marketing .xcomponent-element{height:32px; background:#fff;}
.pop_app_oauth .rows>label{line-height:1; padding-top:10px; padding-bottom:5px;}
.pop_app_oauth .rows .box_input{width:340px;}
.pop_app_oauth .rows:first-child>label{padding-top:0;}

.pop_app_oauth .facebook_flow_container .store_id{width:540px; line-height:20px; font-size:14px; color:#a2a2a2;}
.pop_app_oauth .facebook_flow_container .button{margin-top:15px;}
.pop_app_oauth .facebook_flow_container .button>div{padding-bottom: 15px;color: #999;font-size: 12px;}
.pop_app_oauth .facebook_flow_container button{height:38px; line-height:38px; overflow:hidden; margin-right:6px; padding:0 18px; font-size:13px; font-weight:bold; color:#fff; background-color:#4267b2; border-color:#4267b2; border-radius:3px; transition:200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;}
.pop_app_oauth .facebook_flow_container button:hover{background-color:#365899; border-color:#365899;}
.pop_app_oauth .facebook_flow_container button:active{background-color:#29487d; border-color:#29487d;}

.pop_app_switch form{width:800px; border:0;}
.pop_app_switch form .t{height:85px; line-height:85px; border:0; border-bottom:1px #ebebeb solid;}
.pop_app_switch form .t h1{text-indent:25px;}
.pop_app_switch .switch_bodyer{padding:25px;}
.pop_app_switch .switch_bodyer .info_title{ font-size:16px; margin-bottom:10px;}
.pop_app_switch .switch_bodyer .infomation{padding-bottom:10px;}
.pop_app_switch .switch_bodyer .data_list>li{width:50%; height:32px; line-height:32px; padding:5px 0; float:left;}
.pop_app_switch .switch_bodyer .data_list>li .number_box{margin-left:10px; display:none;}
.pop_app_switch .switch_bodyer .data_list>li .unit_input, .pop_app_switch .switch_bodyer .data_list>li .box_input{height:30px; line-height:30px;}
.pop_app_switch .switch_bodyer .button{padding:10px 0 20px; text-align:left; border:0;}
.pop_app_switch .switch_bodyer .button .btn_global{margin:0; color:#fff; background-color:#0cb083; border:0; display:none;}
/*************************** 应用主页 start ***************************/


/*************************** 我的应用主页 start ***************************/
.my_app_list{padding: 30px 0;}
.my_app_list .app_category_title{height:51px; line-height:51px; margin-top:29px; font-size:18px; color:#000;}
.my_app_list .app_category_title:first-child{margin-top:0;}
.my_app_list .app_category_list{display: none;}
/*************************** 我的应用主页 start ***************************/

#app .app_list{float: left;width: 43%;height: 200px;margin:10px 1.5%;padding:1.5%;border:1px solid #ccc;border-radius: 2px;}

#review #progress{padding:0 20px 20px;}
#review #progress>p{margin:5px 0;}


/*************************** 分销 Start ***************************/
/* w_1400 Start **/
.w_1400 #mta_box .nav>div, #mta_box .nav>dl, #mta_box .nav ul{margin-right:60px;}
.w_1400 #mta_box .nav dl dd a{margin:0 5px;}
.w_1400 #mta_box .nav ul li .form_input{width:170px;}
/* w_1400 End */

#dis{}
#dis .box_select{width: 250px;}

#withdraw_search label{width:12%; text-align:right; padding-right:2%;}
#withdraw_search .input{display:inline-block;}
#withdraw_search .input .form_input, #withdraw_search .input select{margin-bottom:5px; padding:0 5px; background-color:#fff; border:1px #ddd solid; border-radius:5px; display:inline-block;}
#withdraw_search .input .form_input{height:30px; line-height:30px;}
#withdraw_search .input select{height:32px; line-height:32px; vertical-align:top;}
#withdraw_search .input .btn_ok{display:inline-block; float:none;padding: 0 10px;height: 32px;border-radius: 5px;}
#withdraw_search .total{display:inline-block;}
#withdraw_search .total>li{margin-left:30px; display:inline-block;}

.box_data_list>li .item .count{margin-left:5px; font-size:14px; color:#555;}
/*************************** 分销 End ***************************/


/*************************** 买家秀 Start ***************************/
#gallery{padding:0;}
#gallery td img{max-width:85px; max-height:85px;border-radius: 4px;}

#gallery_inside .global_container{overflow:visible;}
#gallery_inside .box_select{width:60px;}
#gallery_inside .box_select>select{width:120%;}

#gallery_inside .proary_rows{width:500px;}
#gallery_inside .box_drop_double dd .drop_menu .drop_add{display: none;}
/*************************** 买家秀 End ***************************/


/*************************** Facebook专页店铺 Start ***************************/
#index_set{margin:20px; padding-left:440px;}
#index_set .themes_box{position: relative;float: left;margin-left: -440px;width: 400px;border: 5px solid #fff;}
#index_set .themes_box .themes_pic{width:400px;}
#index_set .themes_box .abs_item{position:absolute; cursor:pointer;}
#index_set .themes_box .abs_item:hover:before, #index_set .themes_box .abs_item.cur:before{position: absolute;content: '';top: -4px;bottom: -4px;;left: -4px;;right: -4px;border:3px solid #0cb083;}

.set_products_btn{height:31px;}
.set_products_btn .set_add{margin-top:0; margin-left:5px;}

.set_products_list{margin:20px 0; position:relative;}
.set_products_list:after{content: '';display: block;width: 100%;clear:both;}
.set_products_list .set_products_item{width:130px; margin:5px; background-color:#f5f5f5; border:1px transparent solid; border-radius:5px; position:relative; float:left;}
.set_products_list .set_products_item .edit_box{position: absolute;right: 5px;top: 5px;}
.set_products_list .set_products_item .edit_box a{display: block;width: 23px;height: 23px;margin-bottom: 5px;border-radius: 11.5px;}
.set_products_list .set_products_item .edit_box .main{background: #ccc url(../images/products/icon_star.png) no-repeat 0 0;}
.set_products_list .set_products_item .edit_box .main.p_main{background-color: #fec921;}
.set_products_list .set_products_item .edit_box .del{display: none;background: url(../images/frame/icon_delete_1.png) no-repeat center center;}
.set_products_list .set_products_item .edit_box .del:hover{background-image: url(../images/frame/icon_delete_1_current.png);}
.set_products_list .set_products_item .pic{height:120px; overflow:hidden; margin:0 auto; padding:10px; text-align:center; cursor:move; border-bottom:none;}
.set_products_list .set_products_item .pic img{max-width:100%; max-height:100%; display:inline-block; vertical-align:middle;}
.set_products_list .set_products_item .pic span{height: 100%; display:inline-block; vertical-align:middle;}
.set_products_list .set_products_item .content{width:90%; height:20px; line-height:20px; overflow:hidden; margin:0 auto; padding-bottom:5px; text-align:center; font-size:12px;}
.set_products_list .set_products_item .content>a{width:100%; overflow:hidden; display:block; white-space:nowrap; text-overflow:ellipsis; -webkit-text-overflow:ellipsis;}
.set_products_list .set_products_item:hover .edit_box .del{display: block;}
.set_products_list .set_products_item.placeHolder{background-color:#fff; border:1px #ddd dashed;}

.fixed_add_products .list_menu{height:auto; line-height:normal; padding:0; position:inherit!important; border:0; box-shadow:none;}
.fixed_add_products .search_form{margin-top: 0;margin-bottom: 28px;float: none;width: auto;padding-right: 36px;}
.fixed_add_products .search_form .search_btn{float: right;margin-right: -36px;}
.fixed_add_products .search_form .k_input{width: 100%;position: relative;}
.fixed_add_products .search_form .k_input .more{float: none;position: absolute;right: 0;top: 0;}
.fixed_add_products .search_form .k_input .form_input{float: none;width: 95%;}

.add_products_list{text-align: center;}
.w_1400 .add_products_list .add_products_item{margin: 0 10px 20px;}
.add_products_list .add_products_item{position: relative;width:133px; display: inline-block; vertical-align: top; margin: 0px 7px 14px;border-radius: 4px;border:1px solid #f1f1f1;}
.add_products_list .add_products_item .set_products_item{display: none;}
.add_products_list .add_products_item .img{border-bottom:none; padding:10px;height:115px; margin:0 auto; text-align:center;cursor:pointer;}
.add_products_list .add_products_item .img span{display:inline-block; height:100%; vertical-align:middle;}
.add_products_list .add_products_item .img img{vertical-align:middle; max-width:100%; max-height:100%;}
.add_products_list .add_products_item .img input{display:none;}
.add_products_list .add_products_item .img_mask{display:none; background: rgba(0,0,0,0.3) url(../images/photo/icon_item_hover.png) no-repeat 103px 7px; position:absolute; top: 0;left: 0; width: 100%;height: 100%; z-index:3;border-radius: 4px;}
.add_products_list .add_products_item .name{text-align:center; margin:0 auto; overflow:hidden; height:20px; line-height:20px; overflow:hidden; font-size:12px; white-space:nowrap; text-overflow:ellipsis;padding: 0 5px 5px;}
.add_products_list .add_products_item.cur .img_mask,.add_products_list .add_products_item:hover .img_mask{display:block;}
.add_products_list .add_products_item.cur .img_mask{background-image: url(../images/photo/icon_item_cur.png);}
/*************************** Facebook专页店铺 End ***************************/


/*************************** Google Feed Start ***************************/
.r_con_table tbody td.img .pic_box{width:85px; height:85px; text-align:center; display:block;}
.r_con_table tbody td.img .pic_box>img{overflow:hidden; border-radius:4px;}
#googlefeed .feed_tips{margin: 0 30px;padding: 10px;line-height: 26px;}
#googlefeed_inside #updating{line-height: 20px;}
#googlefeed_inside .rows>label>span{font-size: 12px;color: #aaa;}

/*************************** Google Feed End ***************************/

/*************************** 交换链接 Start ***************************/
#swap_chain .refresh{ color:#07bb8a; margin-left:10px;}
/*************************** 交换链接 End ***************************/

/*************************** Google验证 Start ***************************/
#google_verification .google_verification_box .item{ width:490px; height:110px; padding:20px 20px 20px 85px; margin:0 0 20px 20px; background:url(../images/plugins/google_verification_box_bg.png) #fff 23px center no-repeat; position:relative; float:left; box-sizing:border-box; border-radius:3px;}
#google_verification .google_verification_box .item:nth-child(odd){ margin-left:0;}
#google_verification .google_verification_box .item.add{ padding:10px; background:#fff; cursor:pointer;}
#google_verification .google_verification_box .item .name{ padding-top:8px; margin-bottom:11px; font-size:16px; color:#555;}
#google_verification .google_verification_box .item .add_bg{ width:100%; height:100%; border:2px dashed #eee; position:relative; box-sizing:border-box; border-radius:3px;}
#google_verification .google_verification_box .item .add_bg i{ width:34px; height:4px; margin-left:-17px; margin-top:-2px; background:#ddd; display:block; position:absolute; top:50%; left:50%;}
#google_verification .google_verification_box .item .add_bg em{ width:4px; height:34px; margin-left:-2px; margin-top:-17px; background:#ddd; display:block; position:absolute; top:50%; left:50%;}
#google_verification .google_verification_box .item .del{ position:absolute; top:20px; right:20px;}
/*************************** Google验证 End ***************************/

/*************************** Paypal纠纷 Start ***************************/
.mb20{margin-bottom:20px;}
.ml5{margin-left:5px;}
.mr5{margin-right:5px;}

#dispute_check_info{display:none; height:30px; line-height:30px; font-size:16px; text-align:center;}
#dispute_check_info>i{display:inline-block; vertical-align:top; width:30px; height:30px; background:url(/static/themes/default/images/global/loading_small.gif) no-repeat center;}

.dispute_status_list{height:136px; overflow:hidden;}
.dispute_status_list .item{width:33%; text-align:center; position:relative; float:left;}
.dispute_status_list .item>strong{height:25px; line-height:25px; font-size:14px; font-weight:bold; color:#333;}
.dispute_status_list .item .border{width:100%; position:absolute; top:47px; right:50%; border-bottom:3px #d7d7d7 solid;}
.dispute_status_list .item .choice{width:100%; height:28px; position:absolute; top:34px; left:0; z-index:2;}
.dispute_status_list .item .choice>i{width:28px; height:28px; margin:0 auto; background-color:#d7d7d7; border-radius:50px; display:block;}
.dispute_status_list .item .time{margin-top:47px; font-size:12px; color:#a0a4a3;}
.dispute_status_list .item .block_box{width:50%; height:28px; background-color:#f4f4f4; position:absolute; top:34px; z-index:1; display:none;}
.dispute_status_list .item .block_left{left:0;}
.dispute_status_list .item .block_right{right:0;}
.dispute_status_list .item.current>strong{color:#07bb8a;}
.dispute_status_list .item.current .border{border-color:#07bb8a;}
.dispute_status_list .item.current .choice>i{background:url(../images/frame/icon_checkbox_current.png) no-repeat center #07bb8a;}
.dispute_status_list .item_1 .block_left{display:block;}
.dispute_status_list .item_3 .block_right{display:block;}
.dispute_status_list.claim .item{width:20%;}
.dispute_status_list.claim .item_3 .block_right{display:none;}

.dispute_parent_box{width:50%; float:left;}
.dispute_parent_box:first-child{width:50%;}
.dispute_parent_top_box{width:100%;}
.dispute_parent_top_box>.ml5{margin-left:0;}
.dispute_parent_top_box>.mr5{margin-right:0;}
.dispute_parent_top_box .global_container:first-child{margin-top:10px;}

.dispute_number{line-height:26px; margin-top:8px; padding-bottom:14px;}
.dispute_number>strong{display:inline-block; font-size:16px; color:#000;}
.dispute_number>span{display:inline-block; margin-left:10px; font-size:12px; color:#999;}

.box_dispute_info .global_container{padding:15px; border:1px #eee solid;}

.dispute_info .list>li{padding:6px 0; font-size:14px; color:#666;}
.dispute_info .list>li>strong{width:100px; float:left;}
.dispute_info .list>li>span{width:240px; line-height:20px; margin-left:0; display:inline-block; vertical-align:middle;}
.dispute_info .list>li>span.web_price{width:auto; font-size:12px; color:#999;}
.dispute_info .coupon_code{margin-left:105px; line-height:20px;}
.dispute_info .box_button{margin-top:10px;}
.dispute_info .box_button .btn_next, .dispute_info .box_button .btn_cancel{min-width:104px; margin-bottom:8px; margin-right:10px; padding:0 10px; text-align:center; float:left; display:block;}
.dispute_info .box_button .btn_next{color:#fff; background-color:#0cb083; border-color:#0cb083;}
.dispute_info .box_button .btn_cancel{border-color:#e6e6e8;}
.dispute_info .box_button .btn_refund{background-color:#fff; border-color:#e6e6e8;}
.dispute_info .box_button .btn_refund:hover{text-decoration:none; background-color:#f4f4f4;}
.dispute_info .box_button .btn_loading{font-size:0; background:url(/static/themes/default/images/global/loading_small.gif) no-repeat center #f3f3f3; cursor:no-drop;}

#messages{margin-right:-15px; margin-left:-15px; padding-bottom:50px;}
#messages .row{margin-top:15px;}
#messages .row .col_box{display:inline-block; vertical-align:top; padding:0 15px; float:left;} 
#messages .row .col_left{width:70px;}
#messages .row .col_right{width:670px;}
#messages .row .avatar{display:block; vertical-align:middle; width:58px; height:58px; line-height:55px; background-color:rgba(50,50,50,0); border:2px #cdcdcd solid; border-radius:50%; text-align:center;}
#messages .row .avatar.isMe{border-color:#333; color:#333;}
#messages .row .message_bubble{border:1px #cdcdcd solid; border-radius:4px; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; padding:20px; position:relative; box-shadow:0 0 3px 1px rgba(205,205,205,.5); -webkit-box-shadow:0 0 3px 1px rgba(205,205,205,.5);}
#messages .row .message_bubble>p{padding:4px 0 14px; color:#333;}
#messages .row .message_bubble>p>a{text-decoration:underline;}
#messages .row .message_bubble .message_tips{border-bottom:1px #ccc solid; margin-bottom:20px;}
#messages .row .message_bubble .message_body{font-size:14px; line-height:1.6;}
#messages .row .message_bubble .message_footer{padding-bottom:10px; font-size:12px;}
#messages .row .message_bubble .offer_detail{line-height:1.6; border-bottom:1px #ccc solid; margin-bottom:20px; padding-top:0;}
#messages .row .message_bubble:before{width:14px; height:14px; background:#fff; border:1px solid #cdcdcd; border-top:0; border-right:0; position:absolute; top:22px; left:-8px; content:''; transform:rotate(45deg); -o-transform:rotate(45deg); -ms-transform:rotate(45deg); -moz-transform:rotate(45deg); -webkit-transform:rotate(45deg); box-shadow:-4px 4px 5px -2px rgba(205,205,205,.5); -webkit-box-shadow:-4px 4px 5px -2px rgba(205,205,205,.5);}
#messages .row .form_control{width:644px; border:1px #ccc solid; border-radius:4px; padding:6px 12px; font-size:14px; line-height:1.6; color:#333; box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);}
#messages .compose{margin-bottom:30px;}

.right_list{margin-top:10px;}
.right_list .rows{padding:8px 0;}
.right_list .rows>span{line-height:20px; padding-right:10px; color:#555;}

.order_details .right_list .rows>strong, .order_details .right_list .rows>span{padding-right:10px;}
.order_details .right_list .rows>strong{width:82px; float:left; color:#000}
.order_details .right_list .rows>span{line-height:20px; margin-left:92px; color:#555; display:inherit;}
.order_details .right_list .rows>span>a{text-decoration:underline;}
/*************************** Paypal纠纷 End **************************/

/*************************** DHL在线开户 Start ***************************/
#dhl_account_open .global_container{padding:20px 30px;}
#dhl_account_open .global_form .rows_title{padding: 10px 0; border-top: 1px #f1f1f1 solid; border-bottom: 1px #f1f1f1 solid;}
#dhl_account_open .global_form .twice_box{width:47%; margin-left:3%; float:left; clear:none;}
#dhl_account_open .global_form .twice_box .box_input{width:90%; padding:0 5%;}
#dhl_account_open .global_form .twice_box.twice_first{margin-right:3%; margin-left:0;}
#dhl_account_open .global_form .rows>label{line-height: 32px;}
#dhl_account_open .global_form .box_input{height: 36px;line-height: 36px;}
#dhl_account_open .global_form .rows .input .input_text{font-size: 14px;color: #555;line-height: 30px;}
#dhl_account_open .global_form .rows .input .input_text .text_link{color: #07bb8a;}
#dhl_account_open .global_form .rows .input .input_link{text-decoration: underline;color: #888;}
#dhl_account_open .global_form .rows_title.rows>label{display: inline-block;padding-top: 0;font-size: 18px;font-weight: bold;}
#dhl_account_open .global_form .rows_title.rows .input{float: right;line-height: 30px;} 
#dhl_account_open .global_form .rows_title.rows .input .input_checkbox_box .input_checkbox{vertical-align: middle;margin-top: 0;}
.fixed_btn_submit .btn_prev{background-color:#0cb083;color: #fff; width: 130px;margin-left: 12px;padding: 0;font-size: 16px;word-spacing: 2px;}
.fixed_btn_submit .btn_save{width:130px; margin-left:12px; padding:0; font-size:16px; word-spacing:2px;}
#dhl_account_open .btn_download{color:#fff; background-color:#07bb8a;}
#right_side{position: fixed;right: 20px;bottom: 100px;background: #0cb083;padding:10px;}
#right_side h2{text-align: center;color: #fff;}
#right_side h3{text-align: center;color: #fff;}
#right_side p{text-align: center;color: #fff;}
/*************************** DHL在线开户 End ***************************/

/*************************** 评论 start ***************************/
#custom_comments .list_title{margin: 10px 30px;}
#custom_comments .edit_box, #custom_comments .edit_box *{line-height: 24px;}
#custom_comments .input img{max-width: 500px;}

#custom_comments .list_menu_button>li>a.save{display: none;background: #07bb8a;padding: 0 25px;color: #fff;}
#custom_comments .r_con_table .box_input{border-color: transparent;}
#custom_comments .r_con_table .box_input.cur{border-color: #ddd;}
#custom_comments .r_con_table .bat_edit{display: none;}
#custom_comments .r_con_table .bat_edit_item{padding: 20px 10px;}

#custom_comments .review_box{border-bottom: 1px solid #e9e9e9;padding-bottom: 28px;padding-top: 16px;}
#custom_comments .review_box .del{display: none;margin-top: 13px;}
#custom_comments .review_box .star_box{height: 30px;line-height: 30px;}
#custom_comments .review_box .agree{display: inline-block;height: 30px;line-height: 30px;margin-left: 20px;padding-left: 27px;color: #999;font-size: 14px;background: url(../images/products/icon_good.png) no-repeat left center;}
#custom_comments .review_box .msg{line-height: 20px;font-size: 14px;padding-bottom: 11px;padding-top: 16px;padding-right: 30px;}
#custom_comments .review_box .r_img{height: 60px;margin: 14px 0;}
#custom_comments .review_box .r_img .list{float: left;width: 58px;height: 58px;margin-right: 7px;border:1px solid #dddddd;text-align: center;vertical-align: middle;font-size: 0;}
#custom_comments .review_box .r_img .list img{vertical-align: middle;max-width: 100%;max-height: 100%;}
#custom_comments .review_box .r_img .list:after{display: inline-block;vertical-align: middle;height: 100%;content: '';}
#custom_comments .review_box .info{padding-top: 12px;height: 20px;line-height: 20px;font-size: 12px;}
#custom_comments .review_box .info span{padding-left: 20px;color: #999;}
#custom_comments .review_box:hover .del{display: block;}

#custom_comments .form_remark_log{margin-top:30px; background-color:#f8f8f8; border:1px #cbcecd solid; border-radius:4px;}
#custom_comments .form_remark_log .form_box{margin:8px; height:32px; line-height:32px;}
#custom_comments .form_remark_log .remark_left{width:100%; margin-left:-55px; float:left;}
#custom_comments .form_remark_log .remark_left>div{margin-left:55px;}
#custom_comments .form_remark_log .box_input{width:100%; height:32px; line-height:32px; padding:0; border:0; vertical-align:top;}
#custom_comments .form_remark_log .box_input:focus{box-shadow:none;}
#custom_comments .form_remark_log .btn_save{width:50px; height:32px; color:#fff; cursor:pointer; background-color:#0cb083; border-radius:4px; border:0; float:right;}

#custom_comments .btn_download{color:#fff; background-color:#07bb8a;}
#custom_comments .btn-success{background: #07bb8a;border-color: #07bb8a;}
#custom_comments .fileinput-button:hover, #custom_comments .fileinput-button:focus, #custom_comments .fileinput-button:active, #custom_comments .fileinput-button.active{color:#fff; background-color:#449d44; border-color:#449d44;}

#fixed_right .review_star{display: block;padding-top: 5px;}
#fixed_right .review_star span{display: inline-block;vertical-align: middle;width: 18px;height: 18px;background: url(../../themes/default/images/global/star.png) no-repeat;cursor: pointer;}
#fixed_right .review_star a{vertical-align: middle;margin-left: 15px;}
#fixed_right .review_star .star_0{background-position: -100px -40px;}
#fixed_right .review_star .star_1{background-position: 0 -40px;}

#progress_container{display: none;}
#progress_container table{margin: 10px 0;}
#progress_container .r_con_table tr.error *{color: #c00;}

#progress_loading{width:32px; height:32px; line-height:32px; margin:15px auto 30px; text-align:center; font-size:16px; color:#000; background:url(/static/themes/default/images/global/loading.gif) no-repeat left center; display:block;}
#progress_loading.completed{width:auto; background:none;}
#progress_loading.completed .btn_cancel{width:90px; margin:5px auto 20px; display:block;}

/*************************** 评论 end ***************************/