/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

/*************************** 宽屏 start ***************************/
.w_1200 .relation_box td{padding:12px 5px;}
.w_1200 .relation_box thead td{padding:0;}

.w_1400 .relation_box td{padding:12px 10px;}
.w_1400 .relation_box thead td{padding:0;}

.w_1400 #products_inside .center_container_1200{margin:0 auto;}
.w_1400 #category_inside .center_container_1200{margin:0 auto;}
.w_1200 #products_inside .freight_box .box_select{width: 100%;}
/*************************** 宽屏 end ***************************/


/*Icon*/
.icon_platform_amazon{background-image:url(../images/products/icon_platform_amazon.png);}
.icon_platform_aliexpress{background-image:url(../images/products/icon_platform_aliexpress.png);}
.icon_platform_wish{background-image:url(../images/products/icon_platform_wish.png);}
.icon_platform_ebay{background-image:url(../images/products/icon_platform_ebay.png);}
.icon_platform_alibaba{background-image:url(../images/products/icon_platform_alibaba.png);}


/*************************** 产品列表页 start ***************************/
.sort_box{display: inline-block;height: 19px;position: relative;padding-right: 12px;color: #555;}
.sort_box:before{content: '';width: 0;height: 0;border-width: 0 4px 6px 4px;border-style: solid;border-color: transparent;border-bottom-color: #555; position: absolute;right: 0;top: 2px;}
.sort_box:after{content: '';width: 0;height: 0;border-width: 6px 4px 0px 4px;border-style: solid;border-color: transparent;border-top-color: #555; position: absolute;right: 0;bottom: 2px;}
.sort_box.desc:before{display: none;}
.sort_box.asc:after{display: none;}
.en .list_menu_button>li .more_menu{width: 150px;}
.list_menu_button>li{font-size:0;}
.list_menu_button>li .more_menu{width: 105px;}
/*.list_menu_button>li>a.bat_close{display: none;}*/
.list_menu_button>li>a.facebook{padding:0 28px 0 50px; background-image:url(../images/frame/icon_facebook.png); background-position:24px center;}
.list_menu_button>li>a.facebook_release, .list_menu_button>li>a.facebook_delete{padding:0 20.46px 0 38px; background-position:15px center; display:none;}
.list_menu_button>li>a.facebook_release{margin:0; background-image:url(../images/frame/icon_release.png); border-top-right-radius:0; border-bottom-right-radius:0;}
.list_menu_button>li>a.facebook_delete{background-image:url(../images/frame/icon_del.png); border-top-left-radius:0; border-bottom-left-radius:0;}
.list_menu_button>li .facebook_border{width:1px; height:14px; background-color:#d7d7d7; position:absolute; top:9px; left:79px; display:none;}
.list_menu_button>li:hover>a.facebook{display:none!important;}
.list_menu_button>li:hover>a.facebook_release, .list_menu_button>li:hover>a.facebook_delete, .list_menu_button>li:hover .facebook_border{display:inline-block; vertical-align:top;}
.list_menu_button>li.loading>a.facebook{font-size:0; background:url(/static/themes/default/images/global/loading_small.gif) no-repeat center #f3f3f3;}
.list_menu_button>li.loading:hover>a.facebook{display:block!important;}
.list_menu_button>li.loading:hover>a.facebook_release, .list_menu_button>li.loading:hover>a.facebook_delete, .list_menu_button>li.loading:hover .facebook_border{display:none!important;}

.r_con_table tbody td.img .pic_box{width:85px; height:85px; text-align:center; display:block;}
.r_con_table tbody td.img .pic_box>img{overflow:hidden; border-radius:4px;}
#products .r_con_table tbody td.info .name{font-size:13px;}
#products .r_con_table tbody td.info .classify{line-height:24px; padding-bottom:5px;}
#products .r_con_table tbody td.info .other_box{height:24px; line-height:24px; margin:4px 8px 8px 0; padding:0 8px; font-size:12px; background-color:#e4f6f1; border-radius:4px; display:block;}
#products .r_con_table tbody td.info .loading{width:14px; height:24px; margin:4px 8px 8px 0; background:url(/static/themes/default/images/global/loading_small.gif) no-repeat left center; display:block;}
#products .r_con_table tbody td.price_input .form_input{height:36px; line-height:36px; margin-top:-9px; margin-left:5px; padding:0 5px;}
#products .r_con_table tbody td.price_input .cur{line-height: 36px;}
#products .r_con_table tbody td.myorder_select .box_select{width:50px; margin-top:-9px;}

#category_select_hide, #myorder_select_hide{display:none;}
/*************************** 产品列表页 end ***************************/


/*************************** 产品编辑页 start ***************************/
#products_inside .center_container_1200{margin:0 20px;}

#products_inside .global_container{overflow:inherit; position:relative;}
#products_inside .box_select{width:404px;}
#products_inside .box_textarea{height:56px;}
#products_inside .border_t{margin-top:10px; border-top:1px #f6f6f6 solid;}
#products_inside .big_notes{line-height:23px; margin-bottom:10px;font-size: 12px;}
#products_inside .right_container .big_title{height:50px; line-height:50px; margin-top:0; cursor:pointer;}
#products_inside .right_container .big_title.no_pointer{cursor:default;}

#products_inside #btn_expand{width:140px; height:36px; line-height:36px; float:right;}
#products_inside .classify{margin-right:160px;}
#products_inside .classify .box_select{width:100%; max-width:100%;}
#products_inside .expand_list select{margin-right:10px;}
#products_inside .expand_list{padding-top:6px; clear:both;}
#products_inside .expand_list>li{margin-top:5px; margin-right:160px; position:relative;}
#products_inside .expand_list>li>a{margin-top:6px; margin-left:9px; position:absolute; top:0; right:-35px;}
#products_inside .expand_list>li .box_select{width:100%; max-width:100%; display:inline-block; vertical-align:top;}
#products_inside .expand_list div{margin-bottom:6px;}

#products_inside .price_box{margin-right:20px; float:left; clear:none;}
#products_inside .twice_box{width:48%; margin-left:2%; float:left; clear:none;}
#products_inside .twice_box .box_input{width:90%; padding:0 5%;}
#products_inside .twice_box .unit_input{width:100%;}
#products_inside .twice_box .unit_input>b.last{width:10%; padding:0 2%;}
#products_inside .twice_box .unit_input .box_input{width:86%; padding:0 5%;}
#products_inside .twice_box.twice_first{margin-right:2%; margin-left:0;}

#products_inside .box_basic_more{position:absolute; top:20px; right:11px;}
#products_inside .box_basic_more dt>a{width:36px; height:24px; padding:9px; display:block;}
#products_inside .box_basic_more dt>a>i{width:inherit; height:inherit; background:url(../images/products/btn_basic_more_gray.png) no-repeat center center; border-radius:3px; display:block;}
#products_inside .box_basic_more:hover dt>a>i{background-image:url(../images/products/btn_basic_more.png); background-color:#ccc;}
.en #products_inside .box_basic_more dd{width: 140px;left: -41px;background: #fff;}
#products_inside .box_basic_more dd{width:100px; overflow:hidden; padding:7px 0; background-color:#fff; border-radius:4px; position:absolute; top:42px; left:-35px; display:none;}
#products_inside .box_basic_more dd .input_checkbox_box{height:32px; line-height:32px; text-decoration:none; font-size:0; display:block;}
#products_inside .box_basic_more dd .input_checkbox_box>span{font-size:12px; display:inline-block; vertical-align:top;}
#products_inside .box_basic_more dd .input_checkbox_box .input_checkbox{width:12px; height:12px; margin:9px 10px 0 15px; vertical-align:top;}
#products_inside .box_basic_more dd .btn_open_attr>em{width:16px; height:15px; margin:8px 10px 0 15px; position:relative; display:inline-block; vertical-align:top;}
#products_inside .box_basic_more dd .add_attr>em:before{width:1px; height:15px; margin:auto; background:#07bb8a; position:absolute; top:0; bottom:0; left:7px; content:'';}
#products_inside .box_basic_more dd .add_attr>em:after{width:15px; height:1px; margin:auto; background:#07bb8a; position:absolute; top:0; bottom:0; left:0; content:'';}
#products_inside .box_basic_more dd .edit_attr>em{background:url(../images/shipping/icon_edit.png) no-repeat center;}
#products_inside .box_basic_more dd .myorder_attr>em{background:url(../images/frame/icon_myorder.png) no-repeat top;}
#products_inside .box_basic_more:hover dd{display:block;}
#products_inside .box_attr_basic_more{top:6px; right:0; display:none;}
#products_inside .box_attr_basic_more dt>a{width:24px; height:16px; padding:0; padding-bottom:8px;}
#products_inside .box_attr_basic_more dt>a>i{background-image:url(../images/products/btn_basic_more.png); background-color:#ccc; background-size:80%;}
#products_inside .box_attr_basic_more dd{width:70px; top:24px; left:-26px; z-index:9;}
#products_inside .box_attr_basic_more dd .input_checkbox_box{height:28px; line-height:28px; text-align:center;}
#products_inside .box_seo_basic_more{top:30px; right:13px;}
#products_inside .box_seo_basic_more dt>a{width:24px; height:16px; padding:0; padding-bottom:8px;}
#products_inside .box_seo_basic_more dt>a>i{background-image:url(../images/products/btn_basic_more.png); background-color:#ccc; background-size:80%;}
#products_inside .box_seo_basic_more dd{width:70px; top:20px; left:-26px; z-index:9;}
#products_inside .box_seo_basic_more dd .input_checkbox_box{height:28px; line-height:28px; text-align:center;}
#products_inside .box_attr_add_basic_more{top:72px;}

#products_inside .box_attr:hover .box_attr_basic_more{display:block;}

#products_inside .input_unit{max-width:100px;}

#products_inside .d_line{padding-top:30px; border-bottom:1px #f1f1f1 solid;}
#products_inside .d_list{margin-right:10px; float:left;}
#products_inside .d_tit{height:32px; line-height:32px; padding-top:10px; font-size:14px; display:block;}
#products_inside .d_empty{height:5px; display:block;}
#products_inside .d_del{margin-top:48px; margin-left:10px;}
#products_inside .d_del.d_del_empty{margin-top:10px;}
#products_inside #add_wholesale{margin-top:10px;}

#products_inside .sold_status{width:250px;}
#products_inside .sold_status_box{margin-left:28px;}
#products_inside .sold_status_box .switchery{margin-top:9px; vertical-align:top;}
#products_inside .sold_status_box .sold_in_title{line-height:38px; display:inline-block; vertical-align:top;}
#products_inside .sold_status_box .sold_in_time{margin-left:5px;}

#products_inside .attr_add{padding-top:22px;}

.box_text .rows{float: left;position:relative;clear: both;padding-right: 38px;}
.box_text .rows .attr_delete{position:absolute; top:55px; right:0; display:none;}
.box_text .rows label>span{height:30px; line-height:30px; margin-right:9px; font-size:13px; display:block;}
.box_text .rows label .switchery{margin-top:6px; margin-right:39px;}
.box_text .rows:hover .attr_delete{display:block;}

.box_editor_attribute .rows{position:relative;}
.box_editor_attribute .rows .attr_delete{position:absolute; top:23px; right:0; display:none;}
.box_editor_attribute .rows:hover .attr_delete{display:block;}

.description_box .head_hide{width:550px; height:44px; overflow:hidden; margin-bottom:12px; float:left;}
.description_box .head_hide>ul{height:44px; display:inline-block; transition:all 0.3s; -moz-transition:all 0.3s; -webkit-transition:all 0.3s;}
.description_box .head_hide>ul>li{line-height:41px; margin-right:30px; cursor:pointer; border-bottom:3px transparent solid; position:relative; float:left;}
.description_box .head_hide>ul>li>span{height:41px; display:block;}
.description_box .head_hide>ul>li .attr_delete{position:absolute; top:9px; right:-24px; display:none;}
.description_box .head_hide>ul>li:hover .attr_delete{display:block;}
.description_box .head_hide>ul>li.current{border-color:#07bb8a;}
.description_box .head_btn{width:24px; height:41px; overflow:hidden; cursor:pointer; display:none; float:left;}
.description_box .head_btn>i{width:inherit; height:inherit; background:url(../images/products/icon_arrow_down_big_gray.png) no-repeat center; display:inline-block; vertical-align:top;}
.description_box .head_btn.end{cursor:not-allowed;}
.description_box .head_btn.end>i{background-image:url(../images/products/icon_arrow_down_big_light_gray.png);}
.description_box .head_btn_left{transform:rotate(90deg); -moz-transform:rotate(90deg); -webkit-transform:rotate(90deg);}
.description_box .head_btn_right{transform:rotate(-90deg); -moz-transform:rotate(-90deg); -webkit-transform:rotate(-90deg);}
.description_box .tab_box{margin-top:5px; margin-right:54px; float:right;}
.description_box .input>ul>li{display:none;}

.box_attr{margin-top:20px; position:relative;}
.box_attr .rows .input{overflow:inherit; position:relative;}
.box_attr label{min-height: 30px;padding-top:0!important; padding-right:40px;}
.box_attr label>span{margin-left:8px; color:#0bb183;}

.box_attr_list .btn_attr_choice{height:24px; line-height:24px; margin-right:5px; margin-bottom:5px; vertical-align:top;}
.box_attr_list .btn_attr_choice>i{height:24px; background-position:-7px -23px;}
.box_attr_list .btn_attr_choice.placeHolder{background-color:#fff; border:1px #aaa dashed;}
.box_attr_list .box_input{height:24px; line-height:24px; border:0; display:inline-block; vertical-align:top;}
.box_attr_list .select_all{margin-top:3px; color:#b0b0b0; float:left; display:inline-block;}
.box_attr_list .attr_selected, .box_attr_list .attr_not_yet{overflow:hidden; padding:6px 10px 1px; border:1px #cbcecd solid; border-radius:4px; position:relative;}
.box_attr_list .attr_selected{min-height:29px; cursor:text;}
.box_attr_list .attr_selected .box_input{width:20px; background-color:#fff; z-index:2; display:none;}
.box_attr_list .attr_selected .box_input:focus{box-shadow:none;}
.box_attr_list .attr_selected .select_list{display:inline-block; vertical-align:top;}
.box_attr_list .attr_selected .placeholder{line-height:36px; position:absolute; top:0; left:10px; z-index:1;}
.box_attr_list .attr_selected .btn_attr_choice:before{width:6px; height:10px; background:url(../images/frame/icon_myorder.png) no-repeat left top; position:absolute; top:7px; left:7px; display:none; content:'';}
.box_attr_list .attr_selected .btn_attr_choice:hover:before{display:block;}
.box_attr_list .attr_not_yet{background-color:#f8f8f8; border-top:0; display:none;}
.box_attr_list .attr_not_yet .btn_attr_choice{background-color:#f8f8f8;}
.box_attr_list .attr_not_yet .btn_attr_choice>i{background-color:#f8f8f8; background-position:-7px -23px;}
.box_attr_list .selected_focus{border-color:#07bb8b; outline:none!important; box-shadow:0 0 5px rgba(7,187,139,.3);}
#add_attribute, #edit_attribute{margin-top:18px; margin-right:10px;}

.attribute_select_list{width:300px; background-color:#fff; position:absolute; top:37px; left:0; z-index:2; box-shadow:#ddd 0 0 10px 2px;}
.attribute_select_list>li>a{width:inherit; line-height:20px; padding:5px 25px; text-decoration:none; display:block;}
.attribute_select_list>li>a:hover{background-color:#f5f5f5;}

.tags_row{margin-top:15px;}

.seo_box, .freight_box, .platform_box{padding-bottom:20px; display:none;}
.seo_box .rows{position:relative;}
.seo_box .rows .input{width:360px;}
.seo_box .keys_row .input{width:327px;}
.seo_box .custom_row .input{width:340px;}
.seo_box .box_input{width:90%;}
.seo_box .unit_input .box_input{width:auto;}
#edit_seo_list{height:50px; line-height:50px; position:absolute; top:20px; right:20px;}
.seo_info_box{display:none;}
.seo_info_box>div{margin-top:10px;}
.seo_info_box .keyword{line-height:18px; font-size:12px; word-break:break-all;}
.seo_info_box .description{line-height:18px; font-size:12px; word-break:break-all;}
.seo_info_box .url{line-height:18px; text-decoration:underline; font-size:12px;}
.freight_box{position:relative;}
.freeshipping_box{position:absolute; top:-41px; right:0;}
.freeshipping_box .switchery{margin:0;}
.box_volume_weight{margin-top:2px; margin-left:10px; vertical-align:top;}

.cubage_input{margin-left:10px;}
.cubage_input>b{padding:0 4px;}
.cubage_input .box_input{padding:0 5px;}
.cubage_input:first-child{margin-left:0;}

.platform_list>li{margin-bottom:10px; padding:10px 20px; background-color:#f2f8f6; border-radius:4px;position: relative;}
.platform_list>li .icon{height:40px; line-height:40px; margin-top:-4px; padding: 0 0 0 65px;background-repeat:no-repeat; background-position:left center;}
.platform_list>li .icon dt{margin-top:5px;}
.platform_list>li .box_textarea{background-color:#fff;}
.platform_list>li .del{position: absolute;width:24px; height:24px; line-height:24px; overflow:hidden; top: 14px;right: 27px; text-indent:99px; background:url(../images/frame/icon_delete_1.png) no-repeat center; float:right; display:block;}
.platform_list>li .del:hover{background-image:url(../images/frame/icon_delete_1_current.png);}
.platform_list>li .lang_txt{margin-top:6px;}
.platform_list>li .lang_txt .unit_input{display: block;}
.platform_list>li .lang_txt:first-child{margin-top:0;}
.platform_list>li .box_select{width:90px!important; margin-bottom:10px; background-color:#fff;}
.platform_list>li .box_select.PlatformTypeSec{display: none;width: 140px !important;margin-left: 10px;}
.platform_list>li .box_textarea{min-width:inherit; height:56px!important;}
.platform_list>li.only .box_textarea{width:242px!important;}

/* 产品属性 Start */
#attribute_ext_box{margin-top:20px; display:none;}
#attribute_ext_box .box_multi_tab{overflow:inherit;}
#attribute_ext{background-color:#fff; border-top:1px #cbcecd solid; border-radius:4px;min-height: 150px;}
#attribute_ext.tab_show{border-top-left-radius:0;}
.relation_box{width:100%; text-align:center;}
.relation_box .title{text-align:center; background:#f7f7f7;}
.relation_box td{padding:12px 0; font-size:12px; border-bottom:1px #f6f6f6 solid;}
.relation_box td .box_input{height:22px; line-height:22px;}
.relation_box td .form_input{width:40px; height:22px; line-height:22px;}
.relation_box td .sku_input{width:130px;}
.relation_box td .input_price{width:55px;}
.relation_box td .switchery{margin:0; vertical-align:top;}
.relation_box td.attr_name{text-align:left;}
.relation_box thead tr{border-bottom:1px #cbcecd solid;}
.relation_box thead td{height:32px; line-height:32px; padding:0; font-size:12px; background-color:#f9fbfa; border:0;}
.relation_box thead td:first-child{text-align:left; text-indent:10px;}
.relation_box tbody{display:none;}
.relation_box .group_title td{text-align:left; font-weight:bold;}
.relation_box .spacing{padding:10px;}
.relation_box .spacing img{left:0; top:0;}
.relation_box .synchronize_btn{padding:0 10px; line-height:18px; text-decoration:none; color:#fff; border-radius:3px; background-color:#888; display:inline-block;}
.open_attr_price{position:absolute; top:27px; right:15px;}
.box_combination .input{line-height:30px;}

.batch_box{position:relative;}
.batch_box .btn_batch{width:inherit; height:inherit; display:block;}
.batch_box .batch_edit{background-color:#fff; border:1px #ccc solid; position:absolute; right:-1px; top:36px; z-index:9;}
.batch_box .batch_edit>em{border-width:0 5px 5px 5px; border-color:transparent transparent #ccc transparent; border-style:solid; display:block; position:absolute; top:-5px; right:30px; z-index:10;}
.batch_box .batch_edit>i{border-width:0 5px 5px 5px; border-color:transparent transparent #fff transparent; border-style:solid; display:block; position:absolute; top:-3px; right:30px; z-index:11;}
.batch_box .batch_edit .rows{width:200px;}
.batch_box .batch_edit .rows>label{height:28px; line-height:28px; padding:0; padding-left:10px; text-align:left; font-size:12px; background-color:#f9fbfa; display:block;}
.batch_box .batch_edit .rows .input{text-align:left; padding-left:10px;}
.batch_box .batch_edit .rows .input>p{line-height:16px; padding:4px 0;}
.batch_box .batch_edit .rows .input>p>input{margin-top:2px; display:inline-block; vertical-align:top;}
.batch_box .batch_edit .button{line-height:30px; padding-bottom:10px;}
.batch_box .batch_edit .btn{height:26px; line-height:26px; padding:0 15px; font-size:12px; color:#fff; border:0; border-radius:3px; display:inline-block;}
.batch_box .batch_edit .btn_batch_submit{margin-right:8px; background-color:#55a290;}
.batch_box .batch_edit .btn_batch_cancel{background-color:#82C0B2;}
/* 产品属性 End */

/* 右侧弹窗 Start */
#fixed_right .fixed_video .box_button{margin-top:35px;}
#fixed_right .fixed_video .box_button .btn_global{margin-right:8px; border:0!important;}

#fixed_right .fixed_general_attribute .input{position:relative; overflow:inherit;}
#fixed_right .fixed_general_attribute .input>.box_input{width:90%;}
#fixed_right .fixed_general_attribute .attribute_select_list{width:332px; background-color:#fff; position:absolute; top:37px; left:0; z-index:10; display:none; box-shadow:#ddd 0 0 10px 2px;}
#fixed_right .fixed_general_attribute .attribute_select_list>li>a{width:inherit; line-height:16px; padding:8px 25px; text-decoration:none; display:block;}
#fixed_right .fixed_general_attribute .attribute_select_list>li>a:hover{background-color:#f5f5f5;}
#fixed_right .fixed_general_attribute .box_button{margin-top:35px;}
#fixed_right .fixed_general_attribute .box_button .btn_global{margin-right:8px; border:0!important;}

#fixed_right .fixed_edit_attribute .edit_tips{font-size:14px;}
#fixed_right .fixed_edit_attribute .choice_type{margin-top:20px;}
#fixed_right .fixed_edit_attribute .edit_attr_list{margin-top:20px;}
#fixed_right .fixed_edit_attribute .rows label{padding:0;}
#fixed_right .fixed_edit_attribute .rows .tab_box_btn{padding:0;}
#fixed_right .fixed_edit_attribute .item{margin-top:8px; padding-left:0; position:relative; transition:all 0.3s; -moz-transition:all 0.3s; -webkit-transition:all 0.3s;}
#fixed_right .fixed_edit_attribute .item .myorder{line-height:18px; padding:11px 10px 11px 2px; position:absolute; top:0; left:0; vertical-align:top; display:none;}
#fixed_right .fixed_edit_attribute .item .box_input{height:38px; line-height:38px; float:left;}
#fixed_right .fixed_edit_attribute .item .input_checkbox_box{margin-top:12px; margin-left:10px;}
#fixed_right .fixed_edit_attribute .item .product_count{width:95px; line-height:40px; overflow:hidden; margin-left:13px; color:#999; float:left;}
#fixed_right .fixed_edit_attribute .item .attr_delete{margin-top:8px; margin-left:13px; float:left; display:none;}
#fixed_right .fixed_edit_attribute .item:hover{padding-left:18px;}
#fixed_right .fixed_edit_attribute .item:hover .myorder{display:block;}
#fixed_right .fixed_edit_attribute .item.placeHolder{border:1px #aaa dashed; background-color:#fff;}
#fixed_right .fixed_edit_attribute .edit_editor_list{margin-top:20px;}
#fixed_right .fixed_edit_attribute .edit_editor_list .product_count{line-height:36px;}
#fixed_right .fixed_edit_attribute .edit_editor_list .attr_delete{margin-top:6px; margin-left:13px;}
#fixed_right .fixed_edit_attribute .box_button{margin-top:17px;}
#fixed_right .fixed_edit_attribute .box_button .btn_global{margin-right:8px; border:0!important;}

#fixed_right .fixed_edit_attribute_option_edit .edit_tips{line-height:16px; font-size:14px;}
#fixed_right .fixed_edit_attribute_option_edit .edit_attr_list{margin-top:29px;}
#fixed_right .fixed_edit_attribute_option_edit .rows label{padding:0;}
#fixed_right .fixed_edit_attribute_option_edit .rows .tab_box_btn{padding:0;}
#fixed_right .fixed_edit_attribute_option_edit .item{padding:7px 0;}
#fixed_right .fixed_edit_attribute_option_edit .item .box_input{height:38px; line-height:38px; float:left;}
#fixed_right .fixed_edit_attribute_option_edit .item .default_name{width:95px; line-height:40px; overflow:hidden; margin-left:13px; float:left; white-space:nowrap; text-overflow:ellipsis; -webkit-text-overflow:ellipsis;}
#fixed_right .fixed_edit_attribute_option_edit .box_button{margin-top:17px;}
#fixed_right .fixed_edit_attribute_option_edit .box_button .btn_global{margin-right:8px; border:0!important;}
#fixed_right .fixed_edit_attribute_option_edit .bg_no_table_data{padding-top:50%; display:none;}

#fixed_right .fixed_associate_pic .edit_tips{line-height:16px; font-size:14px;}
#fixed_right .fixed_associate_pic .switchery_pictures{margin-top:20px;}
#fixed_right .fixed_associate_pic .edit_picture_list{margin-top:20px;}
#fixed_right .fixed_associate_pic .item{padding:5px 0; position:relative;}
#fixed_right .fixed_associate_pic .item .title{line-height:30px; overflow:hidden;}
#fixed_right .fixed_associate_pic .item .multi_img{overflow:hidden; margin:0; padding:0; border-bottom:1px #e3e3e3 solid; clear:none;}
#fixed_right .fixed_associate_pic .item .multi_img .img .preview_pic{width:60px; height:60px;}
#fixed_right .fixed_associate_pic .item .multi_img .img .upload_btn{width:60px; height:60px; background-size:100%; border:0;}
#fixed_right .fixed_associate_pic .item .multi_img .img .preview_pic>a{width:56px; height:56px; padding:1px;}
#fixed_right .fixed_associate_pic .item .multi_img .img .pic_btn>a{margin-top:23px;}
#fixed_right .fixed_associate_pic .box_button{margin-top:17px;}
#fixed_right .fixed_associate_pic .box_button .btn_global{margin-right:8px; border:0!important;}
#fixed_right .fixed_associate_pic .bg_no_table_data{padding-top:50%; display:none;}

#fixed_right .fixed_edit_keyword .edit_keyword_list{margin-top:20px;}
#fixed_right .fixed_edit_keyword .rows label{padding:0;}
#fixed_right .fixed_edit_keyword .item{margin-top:8px; padding-left:0; position:relative;}
#fixed_right .fixed_edit_keyword .item .box_input{height:38px; line-height:38px; float:left;}
#fixed_right .fixed_edit_keyword .item .input_checkbox_box{margin-top:12px; margin-left:10px;}
#fixed_right .fixed_edit_keyword .item .product_count{width:95px; line-height:40px; overflow:hidden; margin-left:13px; color:#999; float:left;}
#fixed_right .fixed_edit_keyword .item .attr_delete{margin-top:8px; margin-left:13px; float:left;}
#fixed_right .fixed_edit_keyword .box_button{margin-top:17px;}
#fixed_right .fixed_edit_keyword .box_button .btn_global{margin-right:8px; border:0!important;}
/* 右侧弹窗 End */
/*************************** 产品编辑页 end ***************************/



/*************************** 产品分类编辑页 start ***************************/
#category .return_title{margin: 0px 30px;padding: 5px 25px;}
#category .no_count{cursor: default;}
#category_inside .center_container_1200{margin:0 20px;}
#category_inside .box_select{width:404px;}
/*************************** 产品分类编辑页 end ***************************/


/*************************** 产品批量处理页 / 产品导出页 start ***************************/
#explode_progress>p{margin:5px 0;}

#upload_edit_form .btn_download{color:#fff; background-color:#07bb8a;}
#progress_container{display:none;}
#progress_container .r_con_table{margin:0;}
#progress_container .r_con_table .loading{width:14px; height:20px; background:url(/static/themes/default/images/global/loading_small.gif) no-repeat left center; display:block;}
#progress_container .r_con_table .completed{width:14px; height:20px; background:url(../images/set/current.png) no-repeat left center; display:block;}
#progress_container .r_con_table tr .name{max-width:440px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -webkit-text-overflow:ellipsis;}
#progress_container .r_con_table tr.error *{color:#c00;}
#progress_loading{width:32px; height:32px; line-height:32px; margin:15px auto 30px; text-align:center; font-size:16px; color:#000; background:url(/static/themes/default/images/global/loading.gif) no-repeat left center; display:block;}
#progress_loading.completed{width:auto; background:none;}
#progress_loading.completed .btn_cancel{width:90px; margin:5px auto 20px; display:block;}


#batch .return_title{margin-left:20px;}
#batch_form{background-color:#fff;}
#batch_form .r_con_table{margin-top:20px; margin-bottom:20px; border-bottom:0;}
#batch_form .r_con_table tfoot td{border:0;}
#batch_form .unit_input>b{height:34px; line-height:34px;}
#batch_form .box_select{width:67px;}
#batch_form .sold_in_time{height:34px; line-height:34px;}
#batch_form .sold_in_time>input{background-color:#fff;}
/*************************** 产品批量处理页 / 产品导出页 end ***************************/


.global_form.r_con_table{margin-bottom:300px;}
.global_form.r_con_table .rows .input{overflow:visible; padding:8px 0; float:none; height:auto; display:table-cell; width:auto;}


/*************************** 评论 start ***************************/
#review_inside .input img{max-width: 500px;}
#review_inside .review_box{border-bottom: 1px solid #e9e9e9;padding-bottom: 28px;padding-top: 16px;}
#review_inside .review_box .del{display: none;margin-top: 13px;}
#review_inside .review_box .star_box{height: 30px;line-height: 30px;}
#review_inside .review_box .agree{display: inline-block;height: 30px;line-height: 30px;margin-left: 20px;padding-left: 27px;color: #999;font-size: 14px;background: url(../images/products/icon_good.png) no-repeat left center;}
#review_inside .review_box .msg{line-height: 20px;font-size: 14px;padding-bottom: 11px;padding-top: 16px;padding-right: 30px;}
#review_inside .review_box .r_img{height: 60px;margin: 14px 0;}
#review_inside .review_box .r_img .list{float: left;width: 58px;height: 58px;margin-right: 7px;border:1px solid #dddddd;text-align: center;vertical-align: middle;font-size: 0;}
#review_inside .review_box .r_img .list img{vertical-align: middle;max-width: 100%;max-height: 100%;}
#review_inside .review_box .r_img .list:after{display: inline-block;vertical-align: middle;height: 100%;content: '';}
#review_inside .review_box .info{padding-top: 12px;height: 20px;line-height: 20px;font-size: 12px;}
#review_inside .review_box .info span{padding-left: 20px;color: #999;}
#review_inside .review_box:hover .del{display: block;}

#review_inside .form_remark_log{margin-top:30px; background-color:#f8f8f8; border:1px #cbcecd solid; border-radius:4px;}
#review_inside .form_remark_log .form_box{margin:8px; height:32px; line-height:32px;}
#review_inside .form_remark_log .remark_left{width:100%; margin-left:-55px; float:left;}
#review_inside .form_remark_log .remark_left>div{margin-left:55px;}
#review_inside .form_remark_log .box_input{width:100%; height:32px; line-height:32px; padding:0; border:0; vertical-align:top;}
#review_inside .form_remark_log .box_input:focus{box-shadow:none;}
#review_inside .form_remark_log .btn_save{width:50px; height:32px; color:#fff; cursor:pointer; background-color:#0cb083; border-radius:4px; border:0; float:right;}

#review_inside .o_number{height: 50px;line-height: 50px;font-size: 18px;color: #000;}
#review_inside .product{padding: 10px 0 20px 90px;}
#review_inside .product .img{float: left;margin-left: -90px;width: 70px;height: 70px;}
#review_inside .product .img img{max-width: 100%;max-height: 100%;}
#review_inside .product .name{font-size: 14px;line-height: 18px;}
/*************************** 评论 end ***************************/


/*************************** 数据同步 start ***************************/
#fixed_right .box_input.bg_gray{background: #ccc;cursor: no-drop;}
.r_con_sync .inside_table{padding:0;}
.r_con_sync .inside_menu_table{padding-top:20px;}
.r_con_sync .account_list_box{padding: 9px 0 0;background: #fff;}
.r_con_sync .account_list{padding: 0 30px 5px 5px;}
.r_con_sync .account_list .more_menu{min-width: auto;line-height: 27px;}
.r_con_sync .box_drop_down_menu .more_menu .item{padding: 0 92px 0 15px;}
.r_con_sync .box_drop_down_menu .more_menu a{padding: 0 5px;display: inline-block;}
.r_con_sync .box_drop_down_menu .more_menu .opation a{padding: 0;}
.r_con_sync .list_menu_button a{padding: 0 25px;}
/*.r_con_sync .list_menu_button .copy{display: none;}*/
.r_con_sync .list_menu_button .del{padding: 0 16px 0 35px;}
.r_con_sync .dashboard{margin-bottom:10px;}
.r_con_sync .dashboard .div-btn{position:relative; margin:0 15px 5px 5px;}
.r_con_sync .dashboard .div-btn .btn_ok{float:none; margin:0; position:relative;}
.r_con_sync .dashboard .div-btn:hover .btn_ok{background:#4a907f;}
.r_con_sync .dashboard .div-btn .btn_ok span{display:inline-block; margin-left:5px; width:0; height:0; border-top:6px solid; vertical-align:middle; border-right:4px solid transparent; border-left:4px solid transparent; box-sizing:border-box;}
.r_con_sync .dashboard .div-btn ul{ position:absolute; top:90%; left:0; z-index:1000; display:none; min-width:160px; padding:5px 0; list-style:none; margin-top:2px; text-align:left; background-color:#fff; -webkit-background-clip:padding-box; background-clip:padding-box; border:1px solid rgba(0,0,0,.15); border-radius:4px; -webkit-box-shadow:0 6px 12px rgba(0,0,0,.175); box-shadow: 0 6px 12px rgba(0,0,0,.175);}
.r_con_sync .dashboard .div-btn ul>li{display:block; padding:3px 20px 5px; clear:both; font-weight:400; line-height:18px; white-space:nowrap; cursor:pointer;}
.r_con_sync .dashboard .div-btn ul>li:hover{color:#262626;text-decoration:none;background-color:#f5f5f5;}
.r_con_sync .pop_form .btn_ok, .r_con_sync .pop_form .btn_cancel{float:none;}
.r_con_sync .pop_form .button button{display:inline-block;}
.r_con_sync .sync_progress .tips_contents{overflow-y:auto; background:#fff; width:640px; margin:0 auto; padding:40px; border-radius:4px; line-height:30px; text-align:center;}

.r_con_sync a.green{color:green;}
.r_con_sync .global_form .rows .input{min-height:30px; line-height:30px;}
/*.r_con_sync .global_form .rows .input select{width:300px;height: 30px;border: 1px solid #ddd;padding: 0 5px;vertical-align: middle;border-radius: 5px;}*/
.r_con_sync .global_form .rows .input .category_list{padding:8px 3px 0 3px; line-height:24px; min-height:24px; color:#990000;}
.r_con_sync .global_form .rows .input>label{display:inline-block; margin-right:10px; min-height:18px; padding:2px 0; text-align:left; width:auto;}
.r_con_sync .global_form .rows .input>label input{vertical-align:middle;}
.r_con_sync .global_form .rows .input .property-table{background-color:#fbfbfb; box-sizing:border-box; padding:10px 10px 15px; min-height:20px;}
.r_con_sync .global_form .rows .input .property-table .property-form{padding-bottom:10px;}
.r_con_sync .global_form .rows .input .property-table .property-form .form-item{clear:both; margin-bottom:5px;}
.r_con_sync .global_form .rows .input .property-table .property-form .form-item em{font-style:inherit; display:block; width:150px; height:auto; float:left; padding:4px 0; padding-right:15px; margin-bottom:10px; text-align:right; line-height:21px; position:relative;}
.r_con_sync .global_form .rows .input .property-table .property-form .form-item .form-control{ display:block; margin-left:165px; line-height:20px;}
.r_con_sync .global_form .rows .input .property-table .property-form .form-item .form-control>label{display:inline-block; margin-right:10px; min-height:18px; padding:2px 0; text-align:left; width:auto;}
.r_con_sync .global_form .rows .input .property-table .property-form .form-item .form-control>label input{vertical-align:middle;}
.r_con_sync .global_form .rows .input .property-table .custom-property{border-top:1px dashed #ccc; padding-top:10px; padding-left:75px;}
.r_con_sync .global_form .rows .input .property-table .custom-property .custom-property-item{line-height:30px; margin-bottom:8px;}
.r_con_sync .global_form .rows .input .WholeSaleBox{padding-bottom:5px; padding-top:8px;}
.r_con_sync .global_form .rows .input .sku-property-list>label{display:inline-block; margin-right:15px; min-height:18px; padding:2px 0; text-align:left; width:auto;}
.r_con_sync .global_form .rows .input .sku-property-list>label input{vertical-align:middle; margin:0 3px 3px 0; line-height:normal; cursor:pointer;}
.r_con_sync .global_form .rows .input .color-property .property-title{display:inline-block; width:12px; height:12px; border:1px solid #e4e4e4; overflow:hidden; text-indent:-9999px; padding:0; margin:-2px 0;}
.r_con_sync .global_form .rows .input .turn_on_mobile_detail{line-height:35px;}
.r_con_sync .global_form .rows .input .custom_weight{padding-top:12px;}
.r_con_sync .global_form .rows .input .custom_weight>div{padding:3px 0;}
/*.r_con_sync caption, .r_con_sync table, .r_con_sync tbody, .r_con_sync td, .r_con_sync tfoot, .r_con_sync th, .r_con_sync thead, .r_con_sync tr{ margin:0; padding:0; font-size:100%; font:inherit;}*/
.r_con_sync .sku-table th, .sku-table td{padding:0 10px 0 10px;}
.r_con_sync .sku-custom-property{padding:10px 0;}
.r_con_sync .sku-custom-property-list{margin:10px 0; width:auto; border:1px solid #e8e8e8;}
.r_con_sync .sku-custom-property-list th{background-color:#f2f2f2; padding-top:10px; padding-bottom:10px; text-align:left;}

.r_con_sync .global_form .rows .input .detail_textarea{height:150px; border-radius:4px; -ms-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; display:inline-block; vertical-align:top;}
.r_con_sync .global_form .rows .input .detail_textarea textarea{ padding:5px 10px; width:720px; height:140px;}
.r_con_sync .global_form .rows .input.upload_file .upload_box, .r_con_sync .global_form .rows .input .upload_file .upload_box, .r_con_sync .global_form .rows .input.upload_file .upload_box a{ width:80px; height:80px;}
.r_con_sync .global_form .rows .input.upload_file .upload_box a.zoom{width:20px; height:20px;}

.copy_products_box #btn_expand{width:140px; height:36px; line-height:36px; float:right;}
.copy_products_box .classify{margin-right:160px;}
.copy_products_box .classify .box_select{width:100%; max-width:100%;}
.copy_products_box .expand_list select{margin-right:10px;}
.copy_products_box .expand_list{padding-top:6px; clear:both;}
.copy_products_box .expand_list>li{margin-top:5px; margin-right:160px; position:relative;}
.copy_products_box .expand_list>li>a{margin-top:6px; margin-left:9px; position:absolute; top:0; right:-35px;}
.copy_products_box .expand_list>li .box_select{width:100%; max-width:100%; display:inline-block; vertical-align:top;}
.copy_products_box .expand_list div{margin-bottom:6px;}
/*************************** 数据同步 end ***************************/

/*************************** 供应商 start ***************************/
#business{padding:0;}

#business_inside .myorder_rows .box_select{width:60px;}
/*************************** 供应商 end ***************************/



