/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

.center_container .global_container{overflow: visible;}
img{vertical-align:top; border:0;}
.none{display:none;}
.hand{cursor:pointer;}
.mar_t_0{margin-top:0!important;}
.pic_box span{vertical-align:middle; height:100%; display:inline-block;}
.pic_box img{vertical-align:middle;}
.global_form .rows .input.nohidden{overflow:inherit;}
.nenu_title{height: auto;}

/***** global(公共) start *****/

.r_con_table tr td.va_t{vertical-align: top;}
.r_con_table tr td.va_t input{margin-top: 7px;}
#turn_page_oth{text-align:center; height:30px; line-height:30px; clear:both;}
#turn_page_oth font, #turn_page_oth a{width:30px; height:30px; display: inline-block; text-align:center; text-decoration:none;border:1px solid #ededed;border-radius: 4px;vertical-align: top;font-size: 12px;}
#turn_page_oth .page_item_current{background:#48bd92; color:#fff; cursor:default;border-color: #48bd92;}
#turn_page_oth .page_button, #turn_page_oth .page_noclick{width:auto; padding:0 12px;border:1px solid #ededed;border-radius: 4px;}
#turn_page_oth .page_noclick{cursor:no-drop;}

.control_btn{margin-bottom:5px;}
.photo{width:90px;}
.other span{margin-right:30px;}
.chzn-container{font-size:12px!important;}

#holiday .list_nav .turn_page, #sales .list_nav .turn_page, #combination .list_nav .turn_page, #coupon .list_nav .turn_page{clear:none; margin-left:15px; margin-top:13px;}

.r_con_table tbody tr td .p_maintit{font-size: 14px;line-height: 30px;}
.p_row{overflow:hidden;padding-bottom: 10px;width: 100%;}
.p_row.bor{border-bottom: 1px solid #edf0f5;}
.p_row .p_img{width:50px; height:50px; text-align:left; vertical-align:middle;}
.p_row .p_img img{max-width:100%; max-height:100%;border-radius: 4px;font-size: 0;}
.p_row .p_info{padding-left:60px;}
.p_row .p_info .p_name{padding-right: 20px;font-size:12px; max-height:40px; line-height:20px; overflow:hidden; display:block;padding-bottom: 5px;}
.p_row .p_info .p_price{display: none;}
.p_row .p_info .price{margin-top:5px;}
.p_row .p_info p{overflow:hidden;}

.p_title{position: relative;height:35px; line-height:35px; padding-left:21px; font-weight:bold; border-left:3px #55a290 solid; margin-top:10px; background:#fff;}
.p_title>input{width:30%;}
.p_title>.price_input{width:10%;}
.p_title:first-child{margin-top:0px;}
.p_title .turn_page{margin-right:4%;}

#iframe_page #search_btn{background:#ccc; border:1px #bbb solid;}

.p_frame{width:98%; position:relative; padding-left:2%; padding-top:5px; background:#fff; z-index:10;}


/***** global(公共) end *****/

/***** 节日模板 start *****/
#holiday .list_box{text-align: center;}
#holiday .list_box .item{margin:20px 1.5%; position:relative; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;float: none;display: inline-block;vertical-align: top;cursor: pointer;}
#holiday .list_box .item:before{display: none;content: '';position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;background: rgba(0,0,0,0.55) url(../images/photo/icon_big_item.png) no-repeat center center;
}
#holiday .list_box .item:hover:before{display: block;}
#holiday .list_box .item .img{width:210px; height:283px; overflow:hidden; cursor:pointer;}
#holiday .list_box .item .img img{max-width:100%; max-height:100%;}
#holiday .list_box .item .info{position:absolute; left:0; bottom:0; width:100%; height:35px; line-height:35px; background:rgba(0,0,0,0.4); color:#fff; overflow:hidden; display:none;}
#holiday .list_box .item .info span{margin-left:2%;}
#holiday .list_box .item .btn{width:24%; padding-top:8px;}
#holiday .list_box .item .btn>a{margin-right:15%;}
#holiday .list_box .current:before{display: block;background-image: url(../images/photo/icon_big_item_cur.png);}
#holiday .mr_0{margin-right:0;}
#holiday .lang_box{}
#holiday .lang_box .lang{text-indent: 0;}
#holiday .lang_box .current{border-width: 1px;}
#holiday .m_lefter{width:231px;margin-left: 20px;}
#holiday .m_righter{margin-left:280px;margin-right: 20px;}
#holiday .global_form{background:#fff;}
#holiday .global_form .no_input{}
#holiday .global_form .no_input .sec_tit{font-size: 14px;color: #333;line-height: 30px;padding-top: 20px;}
#iframe_page .p_title .btn_ok{float:right; margin:3px 16px 0 0;}
#holiday .lefter .p_related_frame .p_related_item .p_related_info .related_list{height:22px; line-height:22px;}
#holiday .lefter .p_related_frame .p_related_item .p_related_info .related_big_list{height:24px; line-height:24px;}
/***** 节日模板 end *****/

/***** 团购 start *****/
#sales .lefter .p_related_frame .p_related_item .p_related_info .related_list{height:22px; line-height:22px;}
#sales .lefter .p_related_frame .p_related_item .p_related_info .related_big_list{height:24px; line-height:24px;}
#sales .lefter .form_input{height:20px; line-height:21px;}
#sales .edit_hd{padding-top:10px; padding-bottom:10px; line-height:24px; background:#f6f6f6;}
#sales .rows_box{background:#fff; margin-bottom:20px;}
#sales .global_form{border-top:0;}
#sales .global_form .p_img{width:60px; height:60px; overflow:hidden; background:#fff; margin-right:2%;border-radius: 4px;}
#sales .global_form .p_img img{max-width:100%; max-height:100%;border-radius: 4px;}
#sales .global_form .p_info{padding-left:80px;}
/***** 团购 end *****/

/***** 组合产品 start *****/
.p_list{padding:0px 0;width: 50%;}
.p_list li{ margin-bottom:10px; padding-left: 60px;}
.p_list li .p_img{width:50px; height:50px; margin-left: -60px;text-align:left; vertical-align:middle;}
.p_list li .p_img img{max-width:100%; max-height:100%;border-radius: 4px;font-size: 0;}
.p_list li .p_name{font-size:12px; max-height:44px; line-height:22px; overflow:hidden; display:block;}
.p_float_item{width:45%; height:118px; position:absolute; z-index:1000; background:#fff; border:1px #ccc solid;}
.p_float_item .p_float_img{width:118px; height:118px; text-align:center; position:absolute; z-index:1001; left:0px; top:0px; background:#fff;}
.p_float_item .p_float_img img{max-width:100%; max-height:100%;border-radius: 4px;}
.p_float_item .p_float_info{ width:100%; padding-left:130px; height:120px;position:absolute; z-index:1000; left:0px; top:0px; padding-right:10px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.p_float_item .p_float_info .p_float_list{width:93%; height:27px;line-height:27px; border-bottom:1px #ccc dotted; font-size:12px; overflow:hidden;}
.p_float_item .p_float_info .p_float_biref{height:54px;}

@media (max-width: 1300px){
	.p_row{width: 100%;}
	.p_list{width: 100%;}
}
/***** 组合产品 end *****/


/*************************** 优惠券 start ***************************/
#coupon{padding:0;}

#coupon .control_btn .ecit-notice{ float:right; line-height:30px; height:30px;}
#coupon .r_con_table td.tl{text-align:left;}
#coupon .global_form{background:#fff;}

.rows.chars{padding-bottom: 29px;border-bottom: 1px solid #eff0f0;}
.rows .cou_inp{margin-right: 15px;}
.rows .cou_inp label{padding-top: 0px;}
.coupon_type input{display: none;}
.coupon_type .ty_list{position: relative;float: left;margin-right: 15px;width: 118px;height: 48px;padding-top: 70px;background: url(../images/sales/icon_coupon_type.png) no-repeat left 26px;border:1px solid #cbcecd;border-radius: 4px;line-height: 18px;color: #555;text-align: center;cursor: pointer;vertical-align: bottom;}
.coupon_type .ty_list span{position: absolute;bottom: 12px;left: 5px;right: 5px;max-height: 36px;}
.coupon_type .ty_list_1{background-position: -135px 26px;}
.coupon_type .ty_list_2{background-position: right 26px;}
.coupon_type .ty_list.checked{background-image: url(../images/sales/icon_coupon_type_cur.png);border-color: #07bb8a;color: #07bb8a;}


.user_choice .user_search .btn_ok{margin-left:15px; display:inline-block; float:none;}
.user_choice .user_menu{width:70%;}
.user_choice .user_list{width:50%; height:278px; overflow-y:auto; border:1px #ccc solid; margin-top:10px; background:#fff;}
.user_choice .user_list li{height:30px; line-height:30px; overflow:hidden; border-bottom:1px #ccc dotted; cursor:pointer;}
.user_choice .user_list li input{cursor:pointer; margin-left:10px; margin-top:9px;}
.user_choice .user_list li a{display:block; padding-left:33px; text-decoration:none;}
.user_choice .user_list li a:hover{color:#333;}
.user_choice .user_list li.current{background:#87aabe;}
.user_choice .user_list li.current a{color:#fff;}
.user_choice .clear_check{padding:0 30px; border:1px #32ad90 solid; text-align:center; height:33px; line-height:33px; margin-left:10px; cursor:pointer; background:#37bd9c; color:#fff;}

.range_tools .icon{width:26px; height:26px; overflow:hidden; margin-top:2px; background-image:url(../images/sales/icon_picture.png); background-repeat:no-repeat; display:inline-block; vertical-align:top;}
.range_tools .icon_user{background-position:0 0;}
.range_tools .icon_level{background-position:0 -26px;}
.range_tools .icon_products_category{background-position:0 -52px;}
.range_tools .icon_products{background-position:0 -78px;}
.range_tools .icon_tags{background-position:0 -104px;}

.range_search{position:relative;}
.range_search_fixed{width:260px; position:absolute; top:30px; left:0; z-index:5; display:none;}
.range_search_fixed .arrow{height:15px; position:relative;}
.range_search_fixed .arrow>em, .range_search_fixed .arrow>i{width:0; height:0; border-width:0 10px 10px 10px; border-color:transparent transparent #ddd transparent; border-style:solid; position:absolute; left:20px; bottom:0; display:block;}
.range_search_fixed .arrow>i{border-color:transparent transparent #fff transparent; bottom:-2px;}
.range_search_fixed .range_search_menu{height:250px; overflow-y:scroll; overflow-x:hidden; padding:8px 15px 10px; background-color:#fff; border:1px #ddd solid; border-radius:5px; box-shadow:0 0 20px 5px #ddd;}
.range_search_fixed .range_search_menu .btn_back{width:25px; height:25px; margin-top:3px; background-color:#ddd; border-radius:5px; position:relative; display:inline-block;}
.range_search_fixed .range_search_menu .btn_back>em, .range_search_fixed .range_search_menu .btn_back>i{width:0; height:0; border-width:8px 8px 8px 0; border-color:transparent #fff transparent transparent; border-style:solid; position:absolute; left:8px; top:5px; display:block;}
.range_search_fixed .range_search_menu .btn_back>i{border-color:transparent #ddd transparent transparent; left:10px;}
.range_search_fixed .range_search_menu .unit_input{margin-top: 3px;margin-left:6px; margin-bottom:6px; display:inline-block; vertical-align:top;height: 25px;line-height: 25px;}
.range_search_fixed .range_search_menu .unit_input .box_input{height: 25px;line-height: 25px;}
.range_search_fixed .range_search_menu .unit_input .last{cursor:pointer;height: 25px;line-height: 25px;}
.range_search_fixed .range_search_menu .item{height:38px; line-height:38px; overflow:hidden; padding:0; cursor:pointer; border-bottom:1px #ddd solid; position:relative;}
.range_search_fixed .range_search_menu .item>span{width:165px; height:38px; overflow:hidden; margin-left:8px; display:inline-block; vertical-align:top;}
.range_search_fixed .range_search_menu .item .icon{margin-top:6px;}
.range_search_fixed .range_search_menu .item:hover>span, .range_search_fixed .range_search_menu .item.current>span{color:#57a391;}
.range_search_fixed .range_search_menu .item:hover .icon, .range_search_fixed .range_search_menu .item.current .icon{background-image:url(../images/sales/icon_picture_current.png);}
.range_search_fixed .range_search_menu .children{width:12px; height:38px; display:inline-block; vertical-align:top;}
.range_search_fixed .range_search_menu .children>em, .range_search_fixed .range_search_menu .children>i{width:0; height:0; border-width:8px 0 8px 8px; border-color:transparent transparent transparent #ddd; border-style:solid; position:absolute; right:0; top:10px; display:block;}
.range_search_fixed .range_search_menu .children>i{border-color:transparent transparent transparent #fff; right:2px;}
.range_search_fixed .range_search_menu .range_search_skin{width:auto; height:200px; background:url(../../themes/default/images/global/loading_oth.gif) no-repeat center; display:none;}

.current_list .item{height:30px; line-height:30px; overflow:hidden; margin-top:10px; margin-right:10px; padding:0 10px; background-color:#fff; border:1px #ddd solid; border-radius:5px; display:block; float:left;}
.current_list .item>span{max-width:150px; overflow:hidden; margin:0 6px; color:#333; display:inline-block; vertical-align:top;}
.current_list .item>em{width:10px; height:38px; text-align:center; color:#333; cursor:pointer; display:inline-block; vertical-align:top;}

/*
#coupon_inside .icon{width:22px; height:22px; overflow:hidden; margin-top:1px; margin-right:3px; background-image:url(../images/sales/icon_picture_current.png); background-repeat:no-repeat; display:inline-block; vertical-align:top;}
#coupon_inside .icon_email{background-position:0 0;}
#coupon_inside .icon_level{background-position:0 -26px;}
#coupon_inside .icon_category{background-position:0 -52px;}
#coupon_inside .icon_products{background:none;}
#coupon_inside .icon_products>img{max-width:100%; max-height:100%;}
#coupon_inside .icon_tags{background-position:0 -104px;}
*/
/*************************** 优惠券 end ***************************/

/***** 满减设置 start *****/
#discount_list .unit_input{}
#discount_list .d_del{width:24px; height:24px; overflow:hidden; margin-top:48px; margin-left:10px; display:inline-block; vertical-align:top;}
#discount_list .d_del_empty{margin-top:10px;}
#discount_list .d_list{float: left;margin-right: 10px;}
#discount_list .d_tit{display: block;height: 32px;line-height: 32px;color: #333;font-size: 14px;padding-top: 10px;}
#discount_list .d_empty{height:5px; display:block;}
#sales .d_line{border-bottom: 1px solid #f1f1f1;padding-top: 30px;}
/***** 满减设置 end ********/


/********************************** 20180623 start **********************************/

.box_drop_down_menu .more_menu .item{padding: 0 72px 0 15px;}
.box_drop_down_menu .more_menu .item>a{padding: 0 5px;}
.box_drop_down_menu .more_menu .opation{width: 62px;margin-right: -62px;}
.discount_type input{display: none;}
.discount_type .ty_list{float: left;margin-right: 10px;width: 78px;height: 32px;padding-top: 46px;background: url(../images/sales/icon_discount_type.png) no-repeat left 16px;border:1px solid #cbcecd;border-radius: 4px;line-height: 32px;color: #555;text-align: center;cursor: pointer;}
.discount_type .ty_list_1{background-position: right 16px;}
.discount_type .ty_list.checked{background-image: url(../images/sales/icon_discount_type_cur.png);border-color: #07bb8a;color: #07bb8a;}


/*.list_menu_button>li>a.edit{display: none;}*/
#sales .inside_container{border-bottom: 1px solid #e1e1e1;}
#sales .sales_content{padding: 10px 30px;}
#sales .tit{font-size: 12px;display: inline-block;vertical-align: middle;margin-right: 8px;}
#sales .date_rows{padding-bottom: 20px;}
#sales .date_rows .box_input{background-color: #fff;}
#sales .date_rows .input_checkbox_box .input_checkbox{vertical-align: middle;}
#sales .set_add{margin-top: 0;}

.set_sales_list{position: relative;}
.set_sales_list:after{content: '';display: block;width: 100%;clear:both;}
.set_sales_list .set_sales_item{float: left;position: relative;width: 340px;border:1px solid #f0f0f0;border-radius: 4px;padding-top: 20px;padding-bottom: 20px;margin-right: 8px;margin-bottom: 8px;background: #fff;}
.w_1400 .set_sales_list .set_sales_item{width: 390px;}
#set_sales_list .set_sales_item{position: absolute;}
.set_sales_list .set_sales_item .edit_box{position: absolute;right: 5px;top: 5px;}
.set_sales_list .set_sales_item .edit_box a{display: block;width: 23px;height: 23px;margin-bottom: 5px;border-radius: 11.5px;}
.set_sales_list .set_sales_item .edit_box .main{background: #ccc url(../images/sales/icon_star.png) no-repeat 0 0;}
.set_sales_list .set_sales_item .edit_box .main.p_main{background-color: #fec921;}
.set_sales_list .set_sales_item .edit_box .del{display: none;background: url(../images/frame/icon_delete_1.png) no-repeat center center;}
.set_sales_list .set_sales_item:hover .edit_box .del{display: block;}
.set_sales_list .set_sales_item .edit_box .del:hover{background-image: url(../images/frame/icon_delete_1_current.png);}
.set_sales_list .set_sales_item .pic{float: left;margin-left: 18px;width: 40px;height: 40px;vertical-align: middle;text-align: center;}
.set_sales_list .set_sales_item .pic img{display: inline-block;vertical-align: middle;max-width: 100%;max-height: 100%;}
.set_sales_list .set_sales_item .pic span{display: inline-block;height: 100%;vertical-align: middle;}
.set_sales_list .set_sales_item .content{padding-left: 18px;font-size: 12px;}
.set_sales_list .set_sales_item .name{display:block; height:30px; line-height:16px; overflow:hidden; margin:-4px 40px 5px 0; padding-left:15px; font-size:12px; color:#999;}
.set_sales_list .set_sales_item .price{margin-bottom:10px; margin-left:55px;}
.set_sales_list .set_sales_item table{margin-left: 55px;}
.set_sales_list .set_sales_item table td{padding-bottom: 5px;padding-right: 10px;font-size: 12px;}
.set_sales_list .set_sales_item .blank5{height: 5px;}
.set_sales_list .set_sales_item .attr_list{position: relative;min-height: 37px;}
.set_sales_list .set_sales_item .attr_list:hover{z-index: 1;}
.set_sales_list .set_sales_item .attr_list .attr_abs{overflow: hidden;background: #fff;}
.set_sales_list .set_sales_item .attr_list .attr_abs.cur{overflow: visible;height: auto;background: #f9f9f9;border-radius: 4px;}
.set_sales_list .set_sales_item .attr_list .box_select{float: left;width: 29%;padding-right: 2%;margin-right: 1%;margin-bottom: 5px;height: 30px;line-height: 30px;font-size: 0;}
.set_sales_list .set_sales_item .attr_list select{height: 30px;width: 120%;}
.set_sales_list .set_sales_item .attr_list .more{height: 24px;line-height: 24px;color: #999;font-size: 12px;}
.set_sales_list .set_sales_item .unit_input{height: 30px;line-height: 30px;}
.set_sales_list .set_sales_item .unit_input.table{margin-left: 14px;}
.set_sales_list .set_sales_item .unit_input>b{vertical-align: top;}
.set_sales_list .set_sales_item .unit_input>b.last{line-height: 30px;}
.set_sales_list .set_sales_item .box_input{height: 30px;line-height: 30px;}
.set_sales_list .set_sales_item .unit_input .box_select_down .list{top: 30px;}


#sales #fixed_right .list_menu{padding: 0;line-height: normal;height: auto;}
#sales #fixed_right .search_form{margin-top: 0;margin-bottom: 28px;float: none;width: auto;padding-right: 36px;}
#sales #fixed_right .search_form .search_btn{float: right;margin-right: -36px;}
#sales #fixed_right .search_form .k_input{width: 100%;position: relative;}
#sales #fixed_right .search_form .k_input .more{float: none;position: absolute;right: 0;top: 0;}
#sales #fixed_right .search_form .k_input .form_input{float: none;width: 95%;}

.add_sales_list{text-align: center;}
.w_1400 .add_sales_list .add_sales_item{margin: 0 10px 20px;}
.add_sales_list .add_sales_item{position: relative;width:133px; display: inline-block; vertical-align: top; margin: 0px 7px 14px;border-radius: 4px;border:1px solid #f1f1f1;}
.add_sales_list .add_sales_item .set_sales_item{display: none;}
.add_sales_list .add_sales_item .img{border-bottom:none; padding:10px;height:115px; margin:0 auto; text-align:center;cursor:pointer;}
.add_sales_list .add_sales_item .img span{display:inline-block; height:100%; vertical-align:middle;}
.add_sales_list .add_sales_item .img img{vertical-align:middle; max-width:100%; max-height:100%;}
.add_sales_list .add_sales_item .img input{display:none;}
.add_sales_list .add_sales_item .img_mask{display:none; background: rgba(0,0,0,0.3) url(../images/photo/icon_item_hover.png) no-repeat 103px 7px; position:absolute; top: 0;left: 0; width: 100%;height: 100%; z-index:3;border-radius: 4px;}
.add_sales_list .add_sales_item .name{text-align:center; margin:0 auto; overflow:hidden; height:20px; line-height:20px; overflow:hidden; font-size:12px; white-space:nowrap; text-overflow:ellipsis;padding: 0 5px 5px;}
.add_sales_list .add_sales_item.cur .img_mask,.add_sales_list .add_sales_item:hover .img_mask{display:block;}
.add_sales_list .add_sales_item.cur .img_mask{background-image: url(../images/photo/icon_item_cur.png);}

/********************************** 20180623 end **********************************/
