/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

/*************************** 全局 start ***************************/
/* w_1200 Start */
.w_1200 #chat .fixed{width:39%; float:left;}
.w_1200 #chat .style_box{width:59.9%; margin:0; margin-left:39.9%; position:absolute; left:0; top:0;}
.w_1200 #chat .style_box .box{width:128px;}

.w_1200 #config .rows .input .not_input{width:280px;}
.w_1200 #config .rows .input .not_input .input_name{width:215px;}
.w_1200 #config .rows .input .not_input .input_url{width:231px;}
.w_1200 #config .rows .input .long{width:320px;}
/* w_1200 End */

/* w_1400 Start */
.w_1400 #chat .style_box .box{width:150px;}
/* w_1400 End */

.top_menu_title{line-height:60px; padding-bottom:20px; font-size:26px; color:#676a6f;}

.config_table a.share_del{width:24px; height:24px; overflow:hidden; margin-top:6px; display:inline-block; vertical-align:top;}
.config_table .box_input{width: 99%;background: #fff;}
.config_table .share_str{display: inline-block;margin-top: 2.5px;margin-left: 8px;line-height: 25px;}

a.edit{line-height: 20px;display: inline-block;}
a.del{line-height: 20px;}

#config .r_con_table{margin: auto;width: 100%;}
#config .r_con_table td{padding: 15px 20px;}
#config .r_con_table a.go{position: relative;display: inline-block;width: 45px;height: 20px;}
#config .r_con_table a.go:before{position: absolute;content: '';top: 0;bottom: 0;right: 3px;width: 0;height: 0;margin:auto;border-width: 9px 0px 9px 9px;border-style: solid;border-color: transparent;border-left-color: #cccccc;}
#config .r_con_table a.go:after{position: absolute;content: '';top: 0;bottom: 0;right: 6px;width: 0;height: 0;margin:auto;border-width: 9px 0px 9px 9px;border-style: solid;border-color: transparent;border-left-color: #fff;}
#config .r_con_table tr:hover a.go:after{border-left-color: #e7f7f3;}
/*************************** 全局 end ***************************/


/*************************** 基本设置 start ***************************/
#config .share_div{width: 25px;height: 25px;display: inline-block;vertical-align: top;margin-top: 2.5px;line-height: 0;background: url(../images/frame/icon_share.png) no-repeat 0 0;}
#config .share_twitter{background-position: 0 -25px;}
#config .share_pinterest{background-position: 0 -50px;}
#config .share_youtube{background-position: 0 -75px;}
#config .share_google{background-position: 0 -100px;}
#config .share_vk{background-position: 0 -125px;}
#config .share_instagram{background-position: 0 -150px;}
#config .share_linkedin{background-position: 0 -175px;}

#config .set_edit{padding:0 16px;float: right;margin-top: 4px;height: 32px;line-height: 32px;border-radius: 5px;background-color: #07bb8a;color: #fff;font-size: 14px;text-decoration: none;-webkit-transition: 0.3s all;-moz-transition: 0.3s all;transition: 0.3s all;opacity: 0;}
#config .rows .input .set_edit{margin-top: 7px;}
#config .global_container:hover .set_edit{opacity: 1;}
#config .watermark_tab{border-collapse:collapse; background:#fff; margin-top:3px;}
#config .watermark_tab .item{border:1px solid #e8e8e8; cursor:pointer; text-align:center; line-height:120%;}
#config .watermark_tab .item>div{position:relative; width:60px; padding:20px 10px;}
#config .watermark_tab .item .filter{position:absolute; left:0; top:0; width:100%; height:100%; background:#000; filter:alpha(opacity=70); -moz-opacity:0.7; opacity:0.7; display:none;}
#config .watermark_tab .item .check{position:absolute; left:0; top:0; width:100%; height:100%; background:url(../images/frame/selected_icon.png) no-repeat center center; display:none;}
#config .watermark_tab .item_on .filter, #config .watermark_tab .item_on .check{display:block;}
#config .preview{width:249px; height:249px; overflow:hidden; background:url(../images/frame/demo.jpg) no-repeat;}
#config .preview .watermark_tab{background:none;}
#config .preview .watermark_tab .item{width:83px; height:83px; padding:0; border:0;}
#config .preview .watermark_tab .item img{max-width:83px; max-height:83px; text-align:center;}
#config .watermark_position{float: left;width: 100px;height: 100px;padding: 9px;border:1px dashed transparent;border-radius: 4px;margin-right: 10px;background: url(../images/set/watermark_position_1.png) no-repeat center center;cursor: pointer;}
#config .watermark_position_5{background-image: url(../images/set/watermark_position_5.png);}
#config .watermark_position_9{background-image: url(../images/set/watermark_position_9.png);}
#config .watermark_position.cur{border-color: #07bb8a;}
#config #slider_box #slider{width:200px; height:10px; margin:2px 6px 0 7px;}
#config #slider_box span{font-size:11px; color:#777;}
#config .quick_box{width:600px; border:1px #ddd solid; border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background-color:#fff;}
#config .quick_box .quick_td{width:270px; padding:0 15px; float:left; height:46px; line-height:46px;}
#config .quick_box .quick_td>label{width:100px; display:inline-block;}
.en #config .quick_box .quick_td>label{width:150px;}
#config .lang_list .choice_btn{padding-right:5px;}
#config .lang_list .small_flag{width:16px; height:13px; overflow:hidden;}
#config .lang_list .edit{margin-left:5px; margin-right:15px;}
#config .rows .input .help_item{margin-bottom:5px;}
#config .rows .input .not_input{width:240px;}
#config .rows .input .not_input .input_name{width:175px;}
#config .rows .input .not_input .input_url{width:191px;}
#config .rows .input .long{width:280px;}

#config .config_table_body_set .table_item{margin:0; background:none; border:0; border-top:1px #f1f1f1 solid;}
#config .config_table_body_set .table_item:first-child{border-top:0;}
#config .config_table_body_set .table_item tr td{height:53px; line-height:53px; padding:0;}
#config .config_table_body_set .table_item tr td>span{font-size:14px;}
#config .config_table_body_set .table_item tr td .desc{color: #aaa;font-size: 12px;}
#config .config_table_body_set .table_item tr td>a{line-height:53px;}
#config .config_table_body_set .table_item tr td .img{margin-top:17px;}
#config .config_table_body_set .table_item:hover, #config .config_table_body_set .table_item:hover tbody tr{background:none;}

#config .email_config_table a.edit{margin:0;line-height: normal;display: none;}
#config .email_config_table .img img{max-height: 12px;}
#config .email_config_table:hover a.edit{display: block;}
#smtp_ver_form .loading{width: 50px;height: 50px;margin:auto auto 10px;background: url(../../themes/default/images/global/loading.gif) no-repeat center;}

#shopping_edit_form .orders_sms_rows .input_checkbox{margin-top:11px;}

#email_edit_form .sys_remark{line-height:26px;}
#email_edit_form .sys_remark strong{font-weight:bold;}
#email_edit_form .tpl_tips{display:none;}

#reg_set .r_con_table .edit{color: #07bb8a;font-size: 12px;}
#reg_set .r_con_table .del{color: #888;font-size: 12px;}
#reg_set_form .box_select{width:226px;}

#language_edit_form .box_select{width:100px;}

/*域名绑定 start*/
#domain_binding{}
#domain_binding .domain_box{padding-bottom: 10px;}
#domain_binding .domain_box .btn_global{margin: 11px 0 0 10px;}
#domain_binding .set_add{margin-top: 4px;}
#domain_binding .r_con_table tbody td .btn_add_item{line-height: 28px;}
#domain_binding .domain_form{padding-bottom: 30px;}
#domain_binding .domain_form .rows{margin:10px 30px;}
#domain_binding .domain_form .rows.center{text-align: center;}
#domain_binding .domain_form .rows label.title{font-size: 30px;color: #000;text-align: center;}
#domain_binding .domain_form .rows .box_input{width: 70%;height: 48px;line-height: 48px;margin:30px auto;text-align: center;font-size: 16px;}
#domain_binding .domain_form .rows .btn_global{height: 34px;line-height: 34px;padding: 0 48px;font-size: 16px;}
#domain_binding .domain_form .rows.bind_rows label{font-size: 18px;}
#domain_binding .domain_form .rows.bind_rows label em{padding: 0 5px;font-size: 22px;color: #000;}
#domain_binding .domain_form .rows.bind_rows .input{padding: 4px 0;line-height: 22px;font-size: 14px;}
#domain_binding .domain_form .rows .input.tips{display: none;line-height: 20px;padding: 20px 5px 5px;text-align: center;font-size: 16px;}
#domain_binding .r_con_table{width: 94%;}
/*域名绑定 end*/


/*SEO start*/
#seo .box_option_list{max-width: 2000px;margin-right: 1px;}
#seo .global_container{overflow: visible;}
#seo .view_seo{background: url(../images/set/icon_view.png) no-repeat left center;margin-right: 19px;padding-left: 24px;float: right;font-size: 12px;color: #555;}
#seo .update_sitemap{background: url(../images/set/icon_upload.png) no-repeat left center;padding-left: 24px;float: right;font-size: 12px;color: #555;}
#seo .sitemap_box{border-bottom: 1px solid  #edf0f5; padding: 7px 0 28px;}
#seo .sitemap_box .rows{line-height: 38px;padding-left: 90px;}
#seo .sitemap_box .rows label{width: 90px;line-height: 38px;margin: 0;margin-left: -90px;padding: 0;float: left;}
#seo .sitemap_box .rows .input{font-size: 14px;}
#seo .sitemap_box .rows.date{line-height: normal;}
#seo .sitemap_box .rows.date span{font-size: 12px;}
#seo .big_notes{line-height:23px; margin-bottom:10px;font-size: 12px;}
#seo .seo_box .rows{position: relative;}
#seo .box_basic_more{position:absolute; top:20px; right:11px;}
#seo .box_basic_more dt>a{width:36px; height:24px; padding:9px; display:block;}
#seo .box_basic_more dt>a>i{display:block;width:inherit; height:inherit; background:url(../images/products/btn_basic_more.png) no-repeat center center; border-radius:3px; background-color:#ccc; background-size:80%;}
.en #seo .box_basic_more dd{width: 140px;left: -41px;background: #fff;}
#seo .box_basic_more dd{width:100px; overflow:hidden; padding:7px 0; background-color:#fff; border-radius:4px; position:absolute; top:42px; left:-35px; display:none;}
#seo .box_basic_more dd .input_checkbox_box{height:32px; line-height:32px; text-decoration:none; font-size:0; display:block;}
#seo .box_basic_more dd .input_checkbox_box>span{font-size:12px; display:inline-block; vertical-align:top;}
#seo .box_basic_more:hover dd{display:block;}
#seo .box_basic_more:hover dt>a>i{background-image:url(../images/products/btn_basic_more.png); background-color:#ccc;}
#seo .box_seo_basic_more{position: absolute;top:30px; right:0;}
#seo .box_seo_basic_more dt>a{width:24px; height:16px; padding:0; padding-bottom:8px;}
#seo .box_seo_basic_more dd{width:70px; top:20px; left:-26px; z-index:9;}
#seo .box_seo_basic_more dd .input_checkbox_box{height:28px; line-height:28px; text-align:center;}

#fixed_right .fixed_edit_keyword .edit_keyword_list{margin-top:20px;}
#fixed_right .fixed_edit_keyword .rows label{padding:0;}
#fixed_right .fixed_edit_keyword .item{margin-top:8px; padding:0 8px; position:relative;}
#fixed_right .fixed_edit_keyword .item .box_input{height:38px; line-height:38px; float:left;}
#fixed_right .fixed_edit_keyword .item .input_checkbox_box{margin-top:12px; margin-left:10px;}
#fixed_right .fixed_edit_keyword .item .product_count{width:95px; line-height:40px; overflow:hidden; margin-left:13px; color:#999; float:left;}
#fixed_right .fixed_edit_keyword .item .attr_delete{margin-top:8px; margin-left:13px; float:left;}
#fixed_right .fixed_edit_keyword .box_button{margin-top:17px;}
#fixed_right .fixed_edit_keyword .box_button .btn_global{margin-right:8px; border:0!important;}
/*SEO end*/

/*水印升级*/
.themes_progress .input_button{text-align:center;}
.themes_progress .input_button .btn_global{display:none; width:128px;}
.themes_progress .input_button .btn_proceed{background:#0cb083; border-color:#0cb083; color:#fff;}
/*************************** 基本设置 end ***************************/


/*************************** 风格模板 start ***************************/
#index_set{ margin:20px;padding-left: 440px; }
#index_set .themes_box{position: relative;float: left;margin-left: -440px;width: 400px;border: 5px solid #fff;}
#index_set .themes_box .themes_pic{width: 400px;}
#index_set .themes_box .abs_item{position: absolute;cursor: pointer;}
#index_set .themes_box .abs_item:hover:before,#index_set .themes_box .abs_item.cur:before{position: absolute;content: '';top: -4px;bottom: -4px;;left: -4px;;right: -4px;border:3px solid #0cb083;}
#index_set .show_type{}
#index_set .show_type .ty_list{width: 118px;height: 34px;padding-top: 84px;background: url(../images/set/icon_adshow_type.png) no-repeat left 19px;float: left;margin-right: 20px;font-size: 14px;text-align: center;color: #999;border:1px solid #cbcecd;border-radius: 5px;cursor: pointer;}
#index_set .show_type .ty_list_2{background-position: -140px 19px;}
#index_set .show_type .ty_list_3{background-position: -280px 19px;}
#index_set .show_type .ty_list.cur{background-image: url(../images/set/icon_adshow_type_cur.png);color: #07bb8a;border-color: #07bb8a;}



.icon_terminal_pc{width:30px; height:23px; background:url(../images/mta/icon_terminal_pc.png) no-repeat center top; display:inline-block; vertical-align:top;}
.icon_terminal_mobile{width:30px; height:23px; background:url(../images/mta/icon_terminal_mobile.png) no-repeat center top; display:inline-block; vertical-align:top;}
#themes .box_drop_down_menu{margin-left:20px; padding:0;display: inline-block;vertical-align: middle;}
#themes .box_terminal .more>i{margin-top:5px;}
#themes .box_terminal .more_menu{min-width:110px;top: 39px;display: none;}
#themes .box_terminal .more_menu .item{height:33px; line-height:33px; padding:0 15px;}
#themes .box_terminal .more_menu .item>em{margin-top:9px; margin-right:5px; background-size:65%;}
#themes .box_terminal .more_menu .item>em.icon_terminal_pc{background-size:55%;}
#themes .box_terminal .more_menu .item>em.icon_terminal_mobile{margin-top:7px; background-size:35%;}
#themes .box_cycle .more_menu{min-width:110px;}

/*#themes .inside_container h1 dl{position: relative;display: inline-block;vertical-align: middle;height: 39px;line-height: 39px;margin-left: 20px;z-index: 10;}
#themes .inside_container h1 dl dt{line-height: normal;}
#themes .inside_container h1 dl dt img{display: inline-block;vertical-align: top;margin-top: 4px;}
#themes .inside_container h1 dl dt i{display: inline-block;vertical-align: top;margin-top: 10px;width: 19px;height: 19px;background: url(../images/frame/icon_arrow_down_small_gary.png) no-repeat center center;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;transition:all 0.4s;}
#themes .inside_container h1 dl dd{display: none;position: absolute;top: 39px;left: -25px;background: #fff;padding: 7px 0;}
#themes .inside_container h1 dl dd a{display: block;padding: 0 15px;height: 30px;line-height: 30px;font-size: 14px;color: #666;white-space: nowrap;}
#themes .inside_container h1 dl:hover dt i{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);transform: rotate(180deg);}
#themes .inside_container h1 dl:hover dd{display: block;}
#themes .inside_container h1 dl dd img{display: inline-block;width: 15px;vertical-align: top;margin-top: 5.5px;margin-right: 12px;}*/
#themes .rows .adpic_row{padding:10px; position:relative;}
#themes .rows .adpic_row:hover{cursor:pointer; background:#f1f8f5;}
#themes .rows .adpic_row .l_img{width:36%; height:213px; margin-top:0; background:#f6f6f6; border-radius:5px;}
#themes .rows .adpic_row .l_img .img .upload_btn{background: url(../images/frame/bg_index_set_pic.png) no-repeat center 69px;}
#themes .rows .adpic_row .l_img .img .upload_btn,#themes .rows .adpic_row .l_img .img,#themes .rows .adpic_row .l_img .img .preview_pic{width: 100%;height: 100%;margin: auto;}
#themes .rows .adpic_row .l_img .img .pic_btn{width: 100%;height: 100%;}
#themes .rows .adpic_row .l_img .img .pic_btn a{margin-top: 88px;}
#themes .rows .adpic_row .l_img .img.isfile:hover .pic_btn{display: block;z-index: 2;}
#themes .rows .adpic_row .l_img .img .size{position: absolute;top: 133px;left: 0;right: 0;line-height: 24px;font-size: 14px;color: #aaa;text-align: center;padding: 0 20px;}
#themes .rows .adpic_row .l_img .img.isfile:hover .size{z-index: 2;color: #fff;top: 115px;}
#themes .rows .adpic_row .l_img .img .preview_pic{background: none;}
#themes .rows .adpic_row .l_img .img .preview_pic>a{cursor:default;width: 100%;height: 100%;padding: 0;border:none;position: relative;z-index: 1;background: #f6f6f6;}
#themes .rows .adpic_row .l_img .img .preview_pic>a.zoom{cursor:pointer;}
#themes .rows .adpic_row .upload_file_multi .img{margin-bottom:0;}
#themes .rows .adpic_row .upload_file_multi .img .preview_pic{width:82px; height:82px;}
#themes .rows .adpic_row .upload_file_multi .img .upload_btn{width:82px; height:82px; background-size:100%;}
#themes .rows .adpic_row .upload_file_multi .img .preview_pic>a{width:70px; height:70px;}
#themes .rows .adpic_row .ad_info input{background-color:#fff;}
#themes .rows .adpic_row .ad_info .unit_input{margin-top:10px;}
#themes .rows .adpic_row .ad_info .unit_input:first-child{margin:0;}
#themes .rows .adpic_row .ad_view{width:60%; margin-left:36%;}
#themes .rows .adpic_row .ad_view input{width:90%; max-width:333px; background-color:#fff;}
#themes .rows .adpic_row .ad_view .view_item{margin-top:10px; margin-left:40px;}
#themes .rows .adpic_row .ad_view .view_item b{line-height:28px; display: block;}
#themes .rows .adpic_row .ad_view .view_item:first-child{margin-top:0;}
#themes .rows .adpic_row .drag_bg{height:39px; overflow:hidden; margin:auto; position:absolute; top:0; bottom:0; right:2%; display:none;}
#themes .rows .adpic_row:hover .drag_bg{display:block;}
#themes .config_table thead td{padding:19px 10px;}

#themes .themes_nav_container{overflow:visible;}
#themes .themes_nav_container .box_drop_double{width:345px;}
#themes .themes_nav_container .target_rows .box_select{width:60px;}

#themes_nav{background:#fff;}
#themes_nav .nav_form_left{width:60%;}
#themes_nav .nav_form_left .custom_row{padding-left:20px;}
#themes_nav .nav_form_right{width:40%;}
#themes_nav .module_nav_table .del{margin-left:5px;}
#themes_nav .module_nav_table .del>img{vertical-align:middle;}
#themes_nav .module_nav_table .add_custom_item, #themes_nav .module_nav_table .add_item{margin-left:20px;}
#themes_nav .module_nav_table .select_input{padding-left:30px;}
#themes_nav .myorder_list{padding:1px 0 20px 0;}
#themes_nav .myorder_list li{height:36px; line-height:36px; border:1px transparent solid;}
#themes_nav .myorder_list li>div{background: url(../images/products/menu_dt_cur.png) no-repeat 15px center; cursor:move; text-indent:40px; border-bottom:1px solid #eee;}
#themes_nav .myorder_list .placeHolder{border:1px #1584D5 dashed; background-color:#fff;}
#themes_nav #nav_custom_hide, #themes_nav #nav_hide{display:none;}
#themes_nav .r_con_form .rows_hd_blank{display:none;}
.themes_nav_form .nav_oth{margin-top:8px;}

.themes_content{padding-right: 479px; margin:20px 10px;}
.themes_set{padding-bottom: 10px;padding-top: 5px;}
.themes_set .themes{line-height: 34px;font-size: 15px;color: #757676;text-transform: uppercase;text-indent: 10px;}
.themes_set .use{float: right;padding: 0 17px;height: 32px;line-height: 32px;border-radius: 5px;background: #07bb8a;border:1px solid #07bb8a;font-size: 14px;text-align: center;color: #fff;}
.themes_set .view{float: right;padding: 0 17px;height: 32px;line-height: 32px;border-radius: 5px;border:1px solid transparent;color: #07bb8a;font-size: 14px;text-align: center;}
.themes_current{max-width: 510px;margin:auto;background: #fff;border:5px solid #fff;}
.themes_current .themes_img{overflow: hidden;}
.themes_current img{max-width: 100%;}

.themes_themes{float: right;width: 479px;margin-right: -489px;height: 100%;overflow-y: auto;}
.themes_themes #themes_box{position: relative;}
.themes_themes .item{position: absolute;width: 145px;margin:0 0 12px 0px;border-radius:5px;}
.themes_themes .item .img{overflow:hidden; cursor:pointer; display:table-cell; vertical-align:middle; text-align:center;}
.themes_themes .item .img img{max-width:100%; max-height:100%; vertical-align:middle;}
.themes_themes .item .img_mask{display:none; background:rgba(0,0,0,0.55); position:absolute; top:0; left:0; width: 100%;height: 100%; z-index:3;}
.themes_themes .item .img_mask:before{content: '';position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin:auto;width: 40px;height: 40px;background: url(../images/photo/icon_big_item.png) no-repeat center center;}
.themes_themes .item .info{display: none !important;width:100%; height:35px; line-height:35px; background:#000; color:#fff; overflow:hidden; position:absolute; left:0; bottom:0; z-index:4; filter:alpha(opacity=40); -moz-opacity:0.4; opacity:0.4}
.themes_themes .item .info span{margin-left:10px;}
.themes_themes .item .info .btn{width:30px;}
.themes_themes .item .info .btn>a{margin-right:10px;}
.themes_themes .current{}
.themes_themes .current .img_mask,.themes_themes .item:hover .img_mask{display:block;}
.themes_themes .current .img_mask:before{background-image: url(../images/photo/icon_big_item_cur.png);}


#themes_products_detail .themes{background:#fff;}
#themes_products_detail .themes .item{margin:20px 0 0 20px; position:relative; border:3px #e8e8e8 solid; border-radius:5px;}
#themes_products_detail .themes .item .img{width:210px; height:280px; overflow:hidden; cursor:pointer; display:table-cell; vertical-align:middle; text-align:center;}
#themes_products_detail .themes .item .img img{max-width:100%; max-height:100%; vertical-align:middle;}
#themes_products_detail .themes .item .img_mask{display:none; background:url(../images/photo/r.png) no-repeat center; position:absolute; top:0; left:0; width:210px; height:280px; z-index:3;}
#themes_products_detail .themes .item .info{width:100%; height:35px; line-height:35px; background:#000; color:#fff; overflow:hidden; display:none; position:absolute; left:0; bottom:0; z-index:4; filter:alpha(opacity=40); -moz-opacity:0.4; opacity:0.4}
#themes_products_detail .themes .item .info span{margin-left:10px;}
#themes_products_detail .themes .item .info .btn{width:30px;}
#themes_products_detail .themes .item .info .btn>a{margin-right:10px;}
#themes_products_detail .themes .current{border:3px #54a28f solid;}
#themes_products_detail .themes .current .img_mask{display:block;}
#themes_products_detail .module_nav_table .del{margin-left:5px;}
#themes_products_detail .module_nav_table .del>img{vertical-align:middle;}
#themes_products_detail .module_nav_table .add_custom_item, #module .module_nav_table .add_item{margin-left:20px;}
#themes_products_detail .module_nav_table .select_input{padding-left:30px;}
#themes_products_detail .add_item{color:red; cursor:pointer;}
#themes_products_detail .rows .input .help_item{margin-bottom:5px;}
#themes_products_detail .rows .input .btn_option{width:28px; height:28px; line-height:28px; font-size:20px; text-align:center; text-decoration:none; vertical-align:top; background-color:#fff; border:1px #ddd solid; border-radius:5px; display:inline-block;}

#themes_style .module_style_table{background:#e7f7f3; width:100%;}
#themes_style .module_style_table td{background:#fff;}
#themes_style .module_style_table thead{color:#60666a;}
#themes_style .module_style_table tbody td{height:40px; line-height:40px;}
#themes_style .module_style_table tbody td div{display:table-cell;}
#themes_style .module_style_table tbody td .form_input{height:28px; line-height:28px; border:1px solid #ddd; background:#fff; border-radius:5px; padding:0 5px; outline:0;}
#themes_style .module_style_table tbody td input{width:50px;}
#themes_style .r_con_form .rows{background:#e7f7f3;}
#themes_style .r_con_form .btn_box{width:100%; background:#fff;}
#themes_style .r_con_form .btn_box>label{display:none;}
#themes_style .r_con_form .btn_box>.input{width:100%; text-align:center; float:none;}
#themes_style .btn_ok, #themes_style .btn_cancel{display:inline-block; float:none;}
#themes_style .color_rows{float: left;clear: none;margin-right: 15px;}
/*#themes_style .nav_box{overflow: hidden;clear: both;padding: 10px; background: #f9f9f9;border-radius: 5px;margin-top: 20px;}*/
#themes_style .tit{clear:both;font-size: 16px;color: #000;padding-top: 20px;}
/*************************** 风格模板 end ***************************/


/*************************** 国家管理 start ***************************/
#country .tips{background: url(../images/frame/icon_red_tips.png) no-repeat 20px center;padding-left: 45px;color: red;}
#country .center_container{width: 80%;min-width: 750px;max-width: 1160px; }
#country .r_con_table td{padding: 18px;}
#country .r_con_table .gray{color: #888;}
#country .r_con_table .icon_flag{vertical-align: middle;} 
#country .r_con_table .big_title{height: 56px;line-height: 56px;text-indent: 18px;padding-top: 18px;font-size: 20px;}
#country .country_lang_list{line-height: 28px;}

#country .country_menu_list{}
#country .country_menu_list .menu_one{height: 45px;line-height: 45px;font-size: 14px;color: #666;background: #f7f7f7;padding-left: 20px;}
#country .country_menu_list dl{}
#country .country_menu_list dt{position: relative;}
#country .country_menu_list dt i{display: none;position: absolute;left: 0;top: 0;bottom: 0;margin:auto;width: 20px;background: url(../images/set/icon_myorder_move.png) no-repeat left center;}
#country .country_menu_list dt:hover i{display: block;}
#country .country_menu_list dt i:hover{cursor: move;}
#country .country_menu_list .sub{height: 60px;line-height: 60px;border-bottom: 1px solid #f1f1f1;padding-left: 20px;}
#country .country_menu_list a{margin-right: 15px;line-height: 60px;color: #07bb8a;font-size: 12px;}
#country .country_menu_list a.del{color: #888;}

#country .box_select{width:105px;}
/*************************** 国家管理 end ***************************/


/*************************** 运费管理 start ***************************/
#shipping .global_container{overflow: visible;}
#shipping .insurance_btn{font-size: 14px;color: #07bb8a;}
#shipping .shipping_template_box{display: inline-block;padding: 0;margin: 0;font-size: 14px;}
#shipping .shipping_template_box .box_drop_down_menu .more_menu{min-width: 100%;}
#shipping .download{height: 32px;line-height: 32px;display: inline-block;padding: 0 13px 0 35px;background: url(../images/shipping/icon_download.png) no-repeat 14px center;border:1px solid #07bb8a;color: #07bb8a;font-size: 14px;text-decoration: none;border-radius: 17px;margin-top: 10px;}
#shipping .weightarea_box{overflow: hidden;}
#shipping .weightarea_box .item{position: relative;float: left;width: 118px;height: 118px;border:1px solid #cbcecd;background: url(../images/shipping/icon_weightarea.png) no-repeat 0 0;margin: 0 10px 10px 0;border-radius: 5px;cursor: pointer;}
#shipping .weightarea_box .item.cur,#shipping .weightarea_box .item:hover{border-color: #07bb8a;background-image: url(../images/shipping/icon_weightarea_cur.png);}
#shipping .weightarea_box .item_1{background-position: -130px 0;}
#shipping .weightarea_box .item_2{background-position: -260px 0;}
#shipping .weightarea_box .item_3{background-position: -390px 0;}
#shipping .weightarea_box .item_4{background-position: -520px 0;}
#shipping .weightarea_box .item input{display: none;}
#shipping .weightarea_box .item .tool_tips_ico{position: absolute;width: 100%;height: 100%;top: 0;left: 0;background: none;padding: 0;margin: 0;cursor: pointer;}
#shipping .weightarea_box .item .name{margin: 79px 5px 0;line-height: 20px;max-height: 40px;overflow: hidden;color: #888;font-size: 14px;text-align: center;}
#shipping .weightarea_box .item.cur .name,#shipping .weightarea_box .item:hover .name{color: #07bb8a;}
#shipping .shipping_area_title{height:30px; line-height:30px; margin-bottom:5px; padding:0 12px; font-weight:bold; background-color:#fff; border:1px #E8E8E8 solid;}

#shipping .input_checkbox_box{min-width:120px; margin-top:12px; margin-right:30px; font-size:12px; color:#666; float:left;}
#shipping .input_checkbox_box.disabled{color:#ccc; cursor:no-drop;display: none;}
#shipping .input_checkbox_box.disabled .input_checkbox{border-color:#ccc;}
#shipping .input_checkbox_box.disabled .input_checkbox:before{background:none; display:none;}

#shipping .rows_hd{height: 62px;line-height: 62px;margin: 15px 0 10px;font-size: 16px;border-top: 1px solid #e8e8e8;}
#shipping .country_area_title{height:40px; line-height:40px; margin-top:5px; font-size:14px; position:relative;}
#shipping .country_area_title .down{width:40px; height:40px; background: url(../images/shipping/icon_country_down.png) no-repeat center center; position:absolute; top:0; right:0;}
#shipping .country_area_title .down.cur{transform:rotate(180deg); -moz-transform:rotate(180deg); -webkit-transform:rotate(180deg);}
#shipping .continent_area{margin-bottom:5px; padding:15px; background:#f8f8f8; border-radius:5px;}
#shipping .continent_area .continent{height:15px; font-size:12px; position:relative;}
#shipping .continent_area .continent .input_checkbox_box{margin:0;}
#shipping .continent_area .continent .down{width: 54px;height: 54px;position: absolute;top: -19px;right: -15px;background: url(../images/shipping/icon_continent_down.png) no-repeat center center;}
#shipping .continent_area .continent .down.cur{transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);}
#shipping .continent_area .country_item{margin-top:12px; display:none;}

#shipping .row{margin-bottom:4px;}
#shipping .row .d_del{width:24px; height:24px; overflow:hidden; margin-top:6px; margin-left:10px; display:inline-block; vertical-align:top;}
#shipping #InsArea td span{margin-bottom:6px; margin-right:10px;}
#shipping table td span{margin-bottom:6px;}
#shipping .box_setting{margin:20px 0;}
#shipping .box_setting_item{display:none;}
#shipping .box_setting_item .rows .free{height:36px; line-height:36px; display:inline-block; vertical-align:top;}
#shipping .box_setting_item .rows:first-child>label{padding:0;}

#shipping .shipping_area{width:100%; zoom:1; position:relative;}
#shipping .shipping_area:after{clear:both; display:block; content:'';}
#shipping .shipping_area .disable{filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;}

#shipping .shipping_area .nav_list .list_btn{border-bottom: 1px solid #eee;margin-bottom: 20px;}
#shipping .shipping_area .nav_list .list_btn a{float: left;height: 33px;line-height: 33px;padding:0 20px;border:1px solid #eeeeee;border-radius: 5px 5px 0 0;color: #aaa;background: #f4f4f4;text-decoration: none;margin-bottom: -1px;}
#shipping .shipping_area .nav_list .list_btn a.cur{background: #fff;border-bottom-color: #fff;color: #000;}
#shipping .shipping_area .nav_list .list_btn a.add{border-color: #fff;background: none;border-bottom-color: #eee;color: #00a578;}
#shipping .shipping_area .shipping_area_list{}
#shipping .shipping_area .shipping_area_list .area_hd{padding:15px 0 8px;}
#shipping .shipping_area .shipping_area_list .area_hd>h4{height:24px; line-height:24px;}
#shipping .shipping_area .shipping_area_list .area_list{padding:0;}
#shipping .shipping_area .shipping_area_list .area_list>li{position: relative;padding:15px 180px 15px 25px;margin-bottom: 10px;background: #f2f8f6;}
#shipping .shipping_area .shipping_area_list .area_list>li>h5{line-height:32px; overflow:hidden;color: #000;font-size: 14px;}
#shipping .shipping_area .shipping_area_list .area_list>li .desc{line-height: 20px;max-height: 60px;overflow: hidden;font-size: 12px;color: #999;}
#shipping .shipping_area .shipping_area_list .area_list>li .operate{position: absolute;right: 0;top: 0;bottom: 0;margin:auto;height: 48px;}
#shipping .shipping_area .shipping_area_list .area_list>li .operate a{display: block;height: 24px;line-height: 24px;padding: 0 25px;}
#shipping .shipping_area .shipping_area_list .menu_view{}
#shipping .shipping_area .shipping_area_list .menu_view.edit{}
#shipping .shipping_area .shipping_area_list .sub_click{width:74%; background:#f7f7f7; padding-left:2%; cursor:move;}
#shipping .shipping_area .shipping_area_list .cur{color:#87AABE; font-weight:bold;}
#shipping .shipping_area .shipping_area_list .menu_one:hover, #shipping .shipping_area .shipping_area_list .sub:hover, #shipping .shipping_area .shipping_area_list  .sub:hover .sub_click{background-color:#e6ebee; color:#444; text-decoration:none;}
#shipping .shipping_area .shipping_area_list .sub h5{ height:28px; overflow:hidden;}
#shipping .shipping_area .shipping_area_list .sub:hover h5{width:125px;}
#shipping .shipping_area .shipping_area_list .menu_one:hover .menu_view, #shipping .shipping_area .shipping_area_list .sub:hover .menu_view{display:inline;}
#shipping .shipping_area .shipping_area_list .placeHolder{border:1px #1584D5 dashed; background:#fff;}
#shipping .shipping_area .shipping_area_list .config_table tr td{padding:10px;}
#shipping .shipping_area .edit_form{overflow-y:auto;}
#shipping .shipping_area .r_con_form .rows>label{width:25%;}
#shipping .shipping_area .r_con_form .rows .input{width:60%; overflow:inherit;}

#shipping .add_unit{position: relative;width:25px; height:25px;  overflow:hidden;  text-align:center; text-decoration:none; font-size:0px; color:#07bb8a;font-weight: bold; border-radius:50%; display:inline-block; vertical-align:top;border: 1px solid #07bb8a;margin-top: 2px;}
#shipping .add_unit:before{position: absolute;top: 0;bottom: 0;right: 0;left: 0;margin:auto;width: 3px;height: 13px;background: #07bb8a;content: '';}
#shipping .add_unit:after{position: absolute;top: 0;bottom: 0;right: 0;left: 0;margin:auto;width: 13px;height: 3px;background: #07bb8a;content: '';}
#shipping .add_unit{margin-left:8px; transition:transform 80ms ease; transform:rotate(0); -webkit-transform:rotate(0);}
#shipping .input_unit{overflow:inherit;}
#shipping .box_select{max-width: 272px;}
/*
#shipping .unit_box{display:inline-block; float:left; position:relative;}
#shipping .unit_box .button{width:38px; height:32px; line-height:32px; background-color:transparent; border:1px transparent solid; border-right:0; border-top-left-radius:5px; border-bottom-left-radius:5px; position:relative; z-index:12;}
#shipping .unit_box .list{width:540px; min-height:45px; background-color:#fff; border:1px #ccc solid; position:absolute; left:38px; top:0; z-index:11; display:none;}
#shipping .unit_box .list .list_bd{padding:10px;}
#shipping .unit_box .list .list_bd .item{width:130px; height:26px; line-height:26px; overflow:hidden; margin:0 10px 10px; padding:0 10px; cursor:pointer; background-color:#f8f8f8; display:inline-block;}
#shipping .unit_box .list .list_bd .item>span{width:120px; height:26px; overflow:hidden; display:inline-block;}
#shipping .unit_box .list .list_bd .item>em{height:10px; line-height:7px; margin-top:9px; font-size:12px; float:right; display:inline-block;}
#shipping .unit_box .list .list_ft{min-height:30px; padding:15px 20px; background-color:#f8f8f8;}
#shipping .unit_box .list .list_ft .price_input{height:28px; line-height:28px; border:1px solid #ddd; background:#fff; border-radius:5px; -ms-border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; display:inline-block;}
#shipping .unit_box .list .list_ft .price_input b{display:inline-block; font-weight:normal; padding:0 9px; border-right:1px solid #ddd; position:relative; line-height:inherit;}
#shipping .unit_box .list .list_ft .price_input .form_input{display:inline-block; border-radius:5px; border-color:transparent; vertical-align:top; padding:0 10px; height:26px; line-height:26px;}
#shipping .unit_box .list .list_ft .btn_ok{margin-left:10px; margin-right:0; float:right;}
#shipping .unit_box.show .button{background-color:#fff; border-color:#ccc;}
#shipping .unit_box.show .button .add_unit{transform:rotate(45deg); -webkit-transform:rotate(45deg);}
#shipping .unit_box.show .list{display:block;}
*/

#WeightBetween, #VolumeBetween, #ExtWeight, #ExtWeightArea, #WeightArea, #Quantity, #VolumeArea{display:none;}

#shipping .input.visible{overflow: visible;}

#method_api_box .unit_input{margin-bottom:6px;}
#method_api_box .rows p{padding: 5px 0;line-height: 22px;}

/* 保险 */
#insurance_edit_form{}
#insurance_edit_form .tit{color: #000;font-size: 14px;line-height: 30px;padding-top: 10px;}
#insurance_edit_form .btn_add_item{margin-top: 10px;}
#insurance_edit_form .icon_delete_1{margin-top: 6px;}

/* 右侧弹窗 Start */
#fixed_right .shipping_overseas_edit .edit_overseas_list{margin-top:29px;}
#fixed_right .shipping_overseas_edit .rows label{padding:0;}
#fixed_right .shipping_overseas_edit .rows .tab_box_btn{padding:0;}
#fixed_right .shipping_overseas_edit .item{padding:7px 0;}
#fixed_right .shipping_overseas_edit .item .box_input{height:38px; line-height:38px; float:left;}
#fixed_right .shipping_overseas_edit .item .product_count{width:95px; line-height:40px; overflow:hidden; margin-left:13px; color:#999; float:left;}
#fixed_right .shipping_overseas_edit .item .overseas_delete{margin-top:8px; margin-left:13px; float:left;}
#fixed_right .shipping_overseas_edit .box_button{margin-top:17px;}
#fixed_right .shipping_overseas_edit .box_button .btn_global{margin-right:8px; border:0!important;}

#fixed_right .shipping_template_edit .edit_template_list{margin-top:29px;}
#fixed_right .shipping_template_edit .rows .tab_box_btn{padding:0;}
#fixed_right .shipping_template_edit .item{padding:7px 0;}
#fixed_right .shipping_template_edit .item .box_input{height:38px; line-height:38px; float:left;}
#fixed_right .shipping_template_edit .item .product_count{width:95px; line-height:40px; overflow:hidden; margin-left:13px; color:#999; float:left;}
#fixed_right .shipping_template_edit .item .template_delete{margin-top:8px; margin-left:13px; float:left;}
#fixed_right .shipping_template_edit .box_button{margin-top:17px;}
#fixed_right .shipping_template_edit .box_button .btn_global{margin-right:8px; border:0!important;}
#fixed_right .shipping_template_edit .input_radio_box{margin: 12px 10px 0 0;}
/* 右侧弹窗 End */
/*************************** 运费管理 end ***************************/


/*************************** 图片管理 start ***************************/
.upload{height:30px; line-height:30px; padding:7px 0; overflow:hidden; float:left; max-width:550px;}
.upload>h3{float:left; margin-left:11px; margin-right:11px; font-weight:bold;}
.upload .up_input{float:left; margin-right:5px;}
.upload .up_input>object{float:left;}
.upload .tips{font-size:12px; height:30px; line-height:30px; overflow:hidden;}

#photo .inside_table{padding-bottom:0; background-color:transparent;}
#photo .list_menu_photo_index{background: #f4f4f4;position: relative;z-index: 5;}
#photo .list_menu_photo_index:before{position: absolute;right: 30px;left: 30px;top: 0;content: '';}
#photo .list_menu_photo{padding:0 25px;height: 49px;line-height: 49px;z-index: 5;}
#photo .list_menu_photo_index .search_form{background-color: #fff;}
#photo .list_menu_photo_index .list_menu_button>li>a{height: 29px;line-height: 29px;border:1px solid #d5d5d5;color: #555;}
#photo .list_menu_photo_index .list_menu_button>li>a.add{color: #fff;border-color: #07bb8a;}
#photo .list_menu_photo_index .list_menu_button>li>a.add:hover{color: #fff;}
#photo .list_menu_photo_index .list_menu_button>li>a:hover{color: #07bb8a;border-color: #07bb8a;}
#photo .photo_list{padding: 20px;}
#photo .photo_list .photo_list_box{text-align: center;}
#photo .photo_list .photo_list_box:after{content: '';display: inline-block;width: 100%;height: 0;clear: both;}
#photo .photo_list .item{position: relative;display: inline-block;vertical-align: top;width:140px; float:none;  margin:5px;background: #fff;border-radius: 5px;}
#photo .photo_list .item .img{border-bottom:none; padding:10px;height:120px; margin:0 auto; text-align:center;cursor:pointer;overflow: hidden;}
#photo .photo_list .item .img span{display:inline-block; height:100%; vertical-align:middle;}
#photo .photo_list .item .img img{vertical-align:middle; max-width:100%;}
#photo .photo_list .item .img input{display:none;}
#photo .photo_list .item .img_mask{display:none; background: rgba(0,0,0,0.3) url(../images/photo/icon_item_hover.png) no-repeat 103px 7px; position:absolute; top: 0;left: 0; width: 100%;height: 100%; z-index:3;border-radius: 5px;}
#photo .photo_list .item .img_view{width:17px; height:16px; overflow:hidden; position:absolute; top:74px; left:61px; z-index:4; display:none;}
#photo .photo_list .item .img_view>i{width:inherit; height:inherit; background-repeat:no-repeat; background-position:center; display:block;}
#photo .photo_list .item .name{text-align:center; margin:0 auto; overflow:hidden; height:20px; line-height:20px;padding-bottom: 5px; overflow:hidden; font-size:12px; white-space:nowrap; text-overflow:ellipsis; width:90%}
#photo .photo_list .item .name>a{display:block;}
#photo .photo_list .item .zoom{position:absolute; right:3px; bottom:3px; z-index:4; outline:0;}
#photo .photo_list .item .refresh{position:absolute; right:32px; bottom:3px; z-index:4; outline:0;}
#photo .photo_list .cur .img_mask,#photo .photo_list .item:hover .img_mask, #photo .photo_list .cur .img_view, #photo .photo_list .item:hover .img_view{display:block;}
#photo .photo_list .cur .img_mask{background-image: url(../images/photo/icon_item_cur.png);}
#photo .list_foot{height:30px; overflow:hidden; padding:5px 170px;}
#photo .list_foot .btn_ok{padding:0 25px;}
#photo .list_foot .btn_cancel{padding:0 25px;}
#photo .photo_multi_img{margin-top:10px;}
#photo .photo_multi_img .item{float:left; margin-right:15px;margin-bottom: 15px;position:relative;}
#photo .photo_multi_img .item a{width:113px; height:113px; border:1px solid #e8e8e8; border-radius: 5px; display:block; text-align:center}
#photo .photo_multi_img .item a em{display: inline-block;height: 100%;vertical-align: middle;}
#photo .photo_multi_img .item a img{max-width:100%; max-height:100%; vertical-align:middle;}
#photo .photo_multi_img .item span{ display:block;width: 25px;height: 25px;overflow: hidden;text-indent: 99px;background: url(../images/photo/icon_item_delete.png) no-repeat;position: absolute;top: 5px;right: 5px;z-index: 4;}
#photo .photo_multi_img .item span:hover{background: url(../images/photo/icon_item_delete_hover.png) no-repeat; cursor:pointer}
#photo .photo_multi_img .item .box_input{width:93px; margin-top:5px;padding: 0 10px; height:26px; line-height:26px}


#photo .r_con_table tr td span.other_box{white-space:nowrap; margin-right:5px;}
#photo .r_con_table .attr_list .attr_box{width:180px; height:30px; overflow:hidden; margin-right:10px; margin-bottom:6px; background-color:#fff; border:1px #ddd solid; float:left; position:relative;}
#photo .r_con_table .attr_list .attr_box>dd{float:left;}
#photo .r_con_table .attr_list .attr_box>dd.attr_ico{width:20px; height:18px; background: url(../images/frame/icon_myorder.png) repeat-y center top; cursor:move; margin-top:6px}
#photo .r_con_table .attr_list .attr_box>dd.attr_txt{width:150px; line-height:30px; overflow:hidden; text-indent:5px; cursor:default;}
#photo .r_con_table .attr_list .attr_box>dd.attr_menu{width:50px; height:30px; line-height:26px; text-align:center; background-color:#f7f7f7; border-left:1px #ddd solid; position:absolute; top:0; right:-51px; z-index:10;}
#photo .r_con_table .attr_list .attr_box>dd.attr_menu a{ background: url(../images/products/icon_sync_operation.png) no-repeat 0 0; display:block; float:left; width:50%; height:30px;}
#photo .r_con_table .attr_list .attr_box>dd.attr_menu a.edit{ background-position:7px 7px}
#photo .r_con_table .attr_list .attr_box>dd.attr_menu a.del{ background-position:-54px 7px}
#photo .r_con_table .attr_list .attr_add{ width:30px; height:30px; text-align:center; border:1px solid #ddd; float:left; overflow:hidden}
#photo .r_con_table .attr_list .attr_add a{display:block; height:100%; width:100%;line-height:30px; font-size:18px; color:#888}
#photo .r_con_table .attr_list .placeHolder{border:1px #ddd dotted;}

#photo.auto_box_choice .inside_table{padding:0;}
/*************************** 图片管理 end ***************************/


/*分享图标*/
#share_list .share_btn{width:60px; height:60px; margin-left:10px; margin-bottom:10px; background-image:url(../images/frame/share.png); background-repeat:no-repeat; background-color:transparent; border:1px #fff solid; cursor:move; border-radius:50%; overflow:hidden;}
#share_list .placeHolder{border:1px #aaa dashed; border-radius:50%; background:#fff;}
.share_facebook{background-position:0 0;}
.share_google{background-position:-60px -120px;}
.share_twitter{background-position:-60px 0;}
.share_vk{background-position:-120px -120px;}
.share_linkedin{background-position:-120px 0;}
.share_googleplus{background-position:-180px 0;}
.share_digg{background-position:-120px -60px;}
.share_reddit{background-position:-180px -60px;}
.share_stumbleupon{background-position:0 -120px;}
.share_delicious{background-position:-60px -60px;}
.share_pinterest{background-position:0 -60px;}


/*************************** 平台授权 start ***************************/
#authorization .pop_form .button .btn_ok, #authorization .pop_form .button .btn_cancel{float:none;}
#authorization .pop_form_amazon .r_con_form .rows label{width:200px;}
#authorization .pop_form_amazon .r_con_form .rows .input{width:500px;}
#authorization .pop_form_amazon .r_con_form .rows .input a.blue{color:#09F; text-decoration:underline;}
#authorization .pop_form_amazon .r_con_form .rows .input .bg_gray{background:#ccc; cursor:no-drop;}

#authorization .open_api tbody tr td center{ padding-bottom:12px;}
#authorization .open_api tbody tr td center p{font-size:24px; padding:12px 0;}
#authorization .open_api center .btn_ok{display:inline-block; float:none; min-width:60px;}
/*************************** 平台授权 end ***************************/


/*************************** 支付设置 start ***************************/
#payment .pay_type{overflow:hidden;}
#payment .pay_type a{float:left;margin-right: 20px;font-size: 14px;color: #666;padding-bottom: 14px;border-bottom: 3px solid transparent;text-decoration: none;}
#payment .pay_type a.cur{border-color: #07bb8a;color: #07bb8a;}
#payment .pay_list{}
#payment .pay_list .item{width: 30%;margin: 40px 0 40px 5%;float: left;}
#payment .pay_list .item.fir{margin-left: 0;}
#payment .pay_list .pic{height: 32px;margin-bottom: 6px;vertical-align: middle;font-size: 0;}
#payment .pay_list .pic img{max-width: 100%;max-height: 100%;vertical-align: middle;}
#payment .pay_list .pic span{display: inline-block;height: 100%;vertical-align: middle;}
#payment .pay_list .name{height: 34px;line-height: 34px;overflow: hidden;color: #444;font-size: 14px;}
#payment .pay_list .desc{font-size: 12px;color: #999;line-height: 20px;height: 80px;overflow: hidden;}
#payment .pay_list .get{display: block;background: #0cb083;border-radius: 5px;color: #fff;font-size: 14px;width: 60px;height: 28px;line-height: 28px;text-align: center;text-decoration: none;margin-top: 12px;}
#payment .pay_list .line{border-bottom: 1px solid #f1f1f1;}
/*************************** 支付设置 end ***************************/


/*************************** 汇率设置 start ***************************/
#exchange .rows .tips{line-height: 32px;}
/*************************** 汇率设置 end ***************************/


/*************************** 第三方代码 start ***************************/
#third .gary{font-size: 12px;color: #888;}
/*************************** 第三方代码 end ***************************/


/*************************** 管理员 start ***************************/
#manage{padding:0;}

#manage_inside .global_container h3{font-size:20px;}
#manage_inside .global_container .box_select{width:226px;}
#manage_inside .global_container .btn_permit{height:32px; line-height:32px; padding:0 20px; text-decoration:none; font-size:14px; border:0; border-radius:5px; display:inline-block; vertical-align:top;}

/* 右侧弹窗 Start */
#fixed_right .fixed_permit .PermitHead{border-bottom:1px solid #e8e8e8; height:28px; font-weight:bold; color:#555; text-indent:5px;}
#fixed_right .fixed_permit .module{text-indent:5px; color:#888; font-size:12px; border-bottom:1px solid #e8e8e8; margin-right:5px; line-height:32px;}
#fixed_right .fixed_permit .module:hover{background:#e7f7f3;}
#fixed_right .fixed_permit dl dt, #fixed_right .fixed_permit dl dd{float:left; line-height:normal; padding:6px 0;}
#fixed_right .fixed_permit dl dt{margin-left:30px;}
#fixed_right .fixed_permit dl dd{width:73%; margin-left:10px;}
#fixed_right .fixed_permit dl dd>input{margin-left:10px;}
#fixed_right .fixed_permit .box_button{margin-top:17px;}
#fixed_right .fixed_permit .box_button .btn_global{margin-right:8px; border:0!important;}
/* 右侧弹窗 End */
/*************************** 管理员 end ***************************/


/*************************** 系统日志 start ***************************/
#logs{padding:0;}
/*************************** 系统日志 end ***************************/