/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

#user_inside .inside_container{margin-bottom:10px;}

#user_inside .box_input,#user_inside .box_textarea{width: 500px;}
#user_inside .password_edit .box_input{width: 70%;}
#user_inside .box_select{width:200px;}
#user_inside .border_t{margin-top: 21px;}
#user_inside .border_t:before{position: absolute;content: '';border-top: 1px solid #f6f6f6;width: 100%;left: 0;top: -11px;}

/*.list_menu_button>li>a.edit{display: none;}*/

.base_info .email{font-size:16px; padding-top:26px; padding-bottom:18px; height:32px; line-height:32px;}
.base_info .source{height:32px; line-height:32px; padding-top:10px; font-size:16px;}
.base_info .u_info{height: 35px;line-height: 35px;font-size: 14px;}
.base_info .u_info .f16{ font-size:16px;}
.base_info .u_info .w50{display: inline-block;width: 50px;}

.address_info{}
.address_info .address_list{float: left;width: 47%;margin-right: 2.5%;}
.address_info .address_list .addr_tit{height: 70px;line-height: 70px;color: #222;font-size: 24px;}
.address_info .address_list .addr_box{position: relative;padding: 30px 25px;border:1px solid #cbcecd;border-radius: 5px;margin-bottom: 25px;}
.address_info .address_list .addr_box .more{position: absolute;bottom: -36px;left: 0;height: 36px;line-height: 36px;padding: 0 30px 0 2px;font-size: 14px;color: #999;text-decoration: none;}
.address_info .address_list .addr_box .name{color: #333;font-size: 14px;line-height: 26px;margin-bottom: 8px;font-weight: bold;}
.address_info .address_list .addr_box li{font-size: 14px;line-height: 28px;color: #333;}
.address_info .address_list .addr_box .desc{color: #999;padding-left: 3px;}

.active_situation{margin: 20px 0;line-height: 28px;font-size: 14px;}
.active_situation th,.active_situation td{padding-bottom: 12px;vertical-align: top;}
.active_situation th{color: #333;width: 89px;}
.active_situation td{color: #666;}

.u_orders_info{ margin:20 0px; width:100%; line-height:28px; font-size:14px;}
.u_orders_info th,.u_orders_info td{padding-bottom: 12px;vertical-align: top;}
.u_orders_info th{ color:#333; width:89px;}
.u_orders_info td{ color:#2eca9c;}

#reg_set .fixed{width:35%; margin-right:2%;}
#reg_set .custom{width:61%;}
#reg_set .fixed .rows_hd{height:45px; line-height:45px; background:#fff; padding-left:5%; font-weight:bold;}
#reg_set .r_con_table td{text-align:left; padding-left:5%;}
#reg_set .r_con_wrap{width:100%; padding:0 20px;}
#reg_set .r_con_form{background:#fff; padding-bottom:30px;}
#reg_set .custom .rows_hd, #reg_set .r_con_form .rows_hd{height:48px; line-height:48px; text-indent:21px; font-weight:bold; border-left:3px #55a290 solid; background:#fff;}

#user #explode_progress{padding:20px; line-height:200%;}
#user .module_title{height:36px; line-height:36px; background:#eee;}
#user .module_title li{float:left; padding:0 30px; margin-right:3px;}
#user .module_title li a{float:left; font-size:14px; color:#666;}
#user .module_title li.cur{background:#53a18e;}
#user .module_title li.cur a{font-weight:bold; color:#fff;}
#user #lib_user_address .billing_addr, #user #lib_user_address .shipping_addr{border-bottom:1px #ccc solid; padding:10px;}
#user #lib_user_address .big{margin-bottom:15px; font-size:14px; font-family:georgia; color:#666;}
#user #lib_user_address .addr_item{width:230px; margin-right:10px; margin-bottom:15px;}
#user #lib_user_address .addr_item li{margin-bottom:5px; font-family:verdana; line-height:150%;}
#user #lib_user_address .textbtn{height:23px; line-height:23px; padding:0 7px; background:url(/static/themes/default/images/pro_item_add.jpg) repeat-x; border:1px #c8c8c8 solid; border-radius:4px; -webkit-border-radius:4px; box-shadow:0 2px 2px #eee; cursor:pointer; color:#666; font-size:12px; display:inline-block; margin-right:10px;}
#user #lib_user_address .textbtn:hover{color:#ff6600;}

.sort_icon_arrow{background:url(../images/frame/filter.png) no-repeat -7px -24px;}
.sort_icon_arrow_down{background:url(../images/frame/filter.png) no-repeat -130px -23px; margin-bottom:3px;}
.sort_icon_arrow_up{background:url(../images/frame/filter.png) no-repeat -187px -23px; margin-bottom:3px;}
#user .r_con_table thead td>a{color:#60666a;}
#user .r_con_table thead td i{width:9px; height:11px; margin-left:7px; vertical-align:middle; display:inline-block; cursor:pointer;}
#user .r_con_table tr td.img{ text-align:center;}
#user .r_con_table tr td.img img{max-width: 85px;max-height: 85px;border-radius: 4px;}
#user .r_con_table tr td .no_check_email{background: url(../images/frame/icon_win_warning.png) no-repeat left center;padding-left: 22px;margin-top: 4px;background-size: 16px;}
#user .r_con_table tr td .non_user{height:24px; line-height:24px; margin:4px 8px 0 0; padding:0 8px; font-size:12px; background-color:#e4f6f1; border-radius:4px; float:left;}
#user .r_con_table tr.lock *{color: #aaa !important;}

.user_choice .user_menu{width:70%;}
.user_choice .user_list{width:50%; height:278px; overflow-y:auto; border:1px #ccc solid; margin-top:10px; background:#fff;}
.user_choice .user_list li{height:30px; line-height:30px; overflow:hidden; border-bottom:1px #ccc dotted; cursor:pointer;}
.user_choice .user_list li input{cursor:pointer; margin-left:10px; margin-top:9px;}
.user_choice .user_list li a{display:block; padding-left:33px; text-decoration:none;}
.user_choice .user_list li a:hover{color:#333;}
.user_choice .user_list li.current{background:#87aabe;}
.user_choice .user_list li.current a{color:#fff;}
.user_choice .clear_check{padding:0 30px; border:1px #32ad90 solid; text-align:center; height:33px; line-height:33px; margin-left:10px; cursor:pointer; background:#37bd9c; color:#fff;}

/*************************** 站内信 start ***************************/
.inbox_container{width:1000px; margin:0 auto 20px; background-color:#fff; border:1px #e5e5e5 solid; border-radius:5px;}
.inbox_left{width:260px; float:left;}
.inbox_right{width:739px; border-left:1px #e5e5e5 solid; float:right;}

#inbox{padding:0;}
#inbox .search{height:60px; overflow:hidden;}
#inbox .search>form{height:24px; margin:19px 20px 0; padding:0 8px; background-color:#f3f3f3; border:1px transparent solid; border-radius:50px; display:inline-block;}
#inbox .search>form .box_input{width:0; height:24px; line-height:24px; padding:0; border:0; float:left; transition:width 0.3s; -moz-transition:width 0.3s; -webkit-transition:width 0.3s;}
#inbox .search>form .box_input:focus{box-shadow:none;}
#inbox .search>form .search_btn{width:24px; height:24px; overflow:hidden; text-indent:99px; cursor:pointer; background:url(../images/user/icon_search.png) no-repeat center; border:0; float:left; display:block;}
#inbox .search>form.show .box_input{width:170px; margin-right:8px;}
#inbox .search>form:hover .box_input{width:170px; margin-right:8px;}
#inbox .message_list{max-width:100%; height:100%; overflow-x:hidden; overflow-y:scroll; border-top:1px #f1f1f1 solid; position:relative; -webkit-overflow-scrolling:touch;}
#inbox .message_list li{height:64px; line-height:21px; overflow:hidden; padding:0 15px; font-size:12px; cursor:pointer; border-top:1px #f1f1f1 solid; border-left:2px transparent solid; position:relative;}
#inbox .message_list li>i{min-width:13px; height:18px; line-height:18px; padding:0 6px; text-align:center; font-size:12px; color:#fff; background-color:#fb4729; border-radius:50px; position:absolute; top:14px; right:20px; display:block;}
#inbox .message_list li .email{width:170px; height:21px; overflow:hidden; margin-top:12px; font-size:14px; white-space:nowrap; text-overflow:ellipsis; -webkit-text-overflow:ellipsis;}
#inbox .message_list li .message{height:21px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -webkit-text-overflow:ellipsis;}
#inbox .message_list li:hover, #inbox .message_list li.current{background-color:#f3fcfb; border-left-color:#13b287;}
#inbox .message_list li:first-child{border-top:0;}
#inbox .message_title{height:59px; /*background-color:#fafafa;*/}
#inbox .message_title>h2{height:59px; line-height:59px; margin-left:30px; font-size:16px; float:left;}
#inbox .message_title .products_view{height:38px; line-height:38px; padding-top:12px; padding-right:20px; position:relative; float:right; display:none;}
#inbox .message_title .products_info{display:inline-block; vertical-align:top;}
#inbox .message_title .products_info .img{width:38px; height:38px; text-align:center; background-color:#fff; float:left;}
#inbox .message_title .products_info .img img{max-width:100%; max-height:100%;}
#inbox .message_title .products_info .name{width:auto; max-width:150px; height:38px; overflow:hidden; margin-left:13px; font-size:12px; float:left; white-space:nowrap; text-overflow:ellipsis; -webkit-text-overflow:ellipsis;}
#inbox .message_title .products_info_msg .name{max-width:200px;}
#inbox .message_title .products_menu{width:43px; height:38px; background:url(../images/user/icon_menu.png) no-repeat center; position:relative; display:inline-block; vertical-align:top;}
#inbox .message_title .products_menu>i{width:8px; height:8px; background-color:#fb4729; border-radius:50px; position:absolute; top:7px; right:7px; display:none;}
#inbox .message_title .menu_products_list{width:248px; position:absolute; top:51px; right:-1px; z-index:1; display:none;}
#inbox .message_title .menu_products_list .arrow{height:8px; position:relative;}
#inbox .message_title .menu_products_list .arrow>em, #inbox .message_title .menu_products_list .arrow>i{width:0; height:0; border-width:0 7px 8px 7px; border-color:transparent transparent #e5e5e5 transparent; border-style:solid; position:absolute; right:34px; bottom:0; display:block;}
#inbox .message_title .menu_products_list .arrow>i{border-color:transparent transparent #fff transparent; bottom:-2px;}
#inbox .message_title .menu_products_list .list{overflow-x:hidden; overflow-y:scroll; background-color:#fff; border:1px #e5e5e5 solid;}
#inbox .message_title .menu_products_list .list .item{height:50px; padding:15px 19px 15px 20px; cursor:pointer; border-top:1px #f1f1f1 solid; position:relative;}
#inbox .message_title .menu_products_list .list .item>i{min-width:13px; height:18px; line-height:18px; padding:0 6px; text-align:center; font-size:12px; color:#fff; background-color:#fb4729; border-radius:50px; position:absolute; top:11px; left:64px; display:block;}
#inbox .message_title .menu_products_list .list .item .img{width:50px; height:50px; background-color:#fff; border:1px #f1f1f1 solid; float:left; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
#inbox .message_title .menu_products_list .list .item .img>img{max-width:100%; max-height:100%;}
#inbox .message_title .menu_products_list .list .item .name{width:116px; height:40px; line-height:20px; overflow:hidden; margin:5px 0 5px 24px; font-size:12px; float:left;}
#inbox .message_title .menu_products_list .list .item:first-child{border:0;}
#inbox .message_title .menu_products_list .list .item:hover, #inbox .message_title .menu_products_list .list .item.current{background-color:#f6f6f6;}
#inbox .message_title .menu_products_list li.more{height:50px; padding:0; text-align:center;}
#inbox .message_title .menu_products_list li.more .btn_more{height:26px; line-height:26px; margin-top:10px; text-decoration:none; font-size:14px; color:#fff; background-color:#ddd; border:0;}
#inbox .message_dialogue{overflow-x:hidden; overflow-y:scroll; padding:5px 35px; /*background-color:#fafafa;*/ border-top:1px #f1f1f1 solid; -webkit-overflow-scrolling:touch;}
#inbox .dialogue_box{width:425px; margin:10px;}
#inbox .dialogue_box .time{height:27px; line-height:27px; font-size:12px;}
#inbox .dialogue_box .message{line-height:25px; padding:15px; background-color:#eaeaea; border-radius:5px; position:relative;}
#inbox .dialogue_box .picture{width:100px; height:100px; margin-top:10px; padding:15px; text-align:center; background-color:#eaeaea; border-radius:5px; float:left; position:relative;}
#inbox .dialogue_box .picture img{max-width:100%; max-height:100%;}
#inbox .dialogue_box_left .message:before, #inbox .dialogue_box_left .picture:before{width:11px; height:13px; background:url(../images/frame/icon_dialogue_box_left_gray.png) no-repeat; position:absolute; bottom:6px; left:-10px; display:block; content:'';}
#inbox .dialogue_box_right{text-align:right; float:right;}
#inbox .dialogue_box_right .message{text-align:left; background-color:#b9f2e2;overflow: hidden;}
#inbox .dialogue_box_right .picture{background-color:#b9f2e2; float:right;}
#inbox .dialogue_box_right .message:after, #inbox .dialogue_box_right .picture:after{width:11px; height:13px; background:url(../images/frame/icon_dialogue_box_right.png) no-repeat; position:absolute; bottom:6px; right:-10px; display:block; content:'';}
#inbox .message_bottom{height:130px; padding:0 20px; background-color:#fff; border-top:1px #f1f1f1 solid;}
#inbox .form_message{padding:17px 0;}
#inbox .form_message .box_textarea{width:699px; height:54px; line-height:18px; padding:0; overflow-x:hidden; overflow-y:auto; border:0; -webkit-overflow-scrolling:touch;}
#inbox .form_message .box_textarea:focus{box-shadow:none;}
#inbox .form_message .btn_submit{margin-top:10px; color:#fff; background-color:#0cb083; float:right;}

#inbox .mail_box{ padding-top:85px;}
#inbox .mail_box .txt_tips{ float:right; font-size:12px; color:#999; margin-right:15px; margin-top:8px;}
#inbox .mail_box .btn_submit{ float:right;}

#inbox .message_title, #inbox .message_dialogue, #inbox .message_bottom{display:none;}

#inbox .unread_message{width:100%; text-align:center; position:relative; display:inline-block;}
#inbox .unread_message>p{width:100%; height:34px; line-height:34px; padding-top:110px; text-align:center; font-size:18px; background:url(../images/user/bg_unread_message.png) no-repeat center top; position:absolute; top:35%; left:0;}
#inbox .unread_message>i{width:35px; height:35px; line-height:35px; text-align:center; font-size:18px; color:#fff; background-color:#fb4729; border-radius:50px; position:absolute; top:34%; left:415px;}
/*************************** 站内信 end ***************************/


/*************************** 系统消息 start ***************************/
#message{padding:0;}

#message_inside .option_rows{width:50%;}
/*************************** 系统消息 end ***************************/

#jquery-lightbox #lightbox-container-image-box{width:600px!important; height:600px!important;}
#jquery-lightbox #lightbox-image{max-width:100%; max-height:100%;}
#jquery-lightbox #lightbox-container-image-data-box{width:580px!important;}