/* 可视化编辑容器 Start */
#visual .inside_container>h1{height: 29px;}
#visual .inside_container .inside_menu{border-bottom: none;padding-bottom: 10px;}
#visual .inside_container .inside_menu>li.fr{float: right;}
#visual .inside_container .title{font-size: 20px;}
#visual .inside_container .edit_btn{padding: 0 17px;height: 32px;line-height: 32px;border-radius: 5px;background: #07bb8a;border: 1px solid #07bb8a;font-size: 14px;text-align: center;color: #fff;}

#visual .container{width: 86%;max-width: 1300px;max-height: 710px;background: #fff;margin: auto;padding: 6% 4%;position: relative;}
#visual .container img{max-width: 100%;}
#visual .container .box_list{padding-right: 300px;position: relative;}
#visual .container .view_box{width: 100%;max-width: 936px;position: relative;}
#visual .view_pc{width: 100%;background: #fff;border:position: relative;}
#visual .view_pc .img{height: 100%;min-height: 400px;max-height: 582px;overflow: hidden;border: 1px solid #ebebeb;}
#visual .view_mobile{width: 23.5%;max-width: 220px;max-height: 82%;overflow: hidden;background: #fff;border:1px solid #dcdcdc;border-radius: 22px;padding: 0 1%;position: absolute;right: -40px;bottom: -1px;}
#visual .view_mobile:before{content: '';width: 15%;border: 2px solid #eaeaea;border-radius: 100%;margin: 0 auto 7%;padding-top: 15%;position: absolute;right: 0;bottom: 0;left: 0;}
#visual .view_mobile .top{width: 51px;height: 8px;margin-top: 10%;position: absolute;top: 0;left: 35.8%;}
#visual .view_mobile .top:before{content: '';width: 8px;height: 8px;background: #e6e6e6;border-radius: 4px;float: left;}
#visual .view_mobile .top:after{content: '';width: 33px;height: 4px;background: #e6e6e6;border-radius: 2px;margin-top: 2px;float: right;}
#visual .view_mobile .img{max-height: 330px;overflow: hidden;border: 1px solid #ebebeb; margin: 20.8% auto 30%;}
#visual .view_mobile .img img{max-height: 100%;}
.en #visual .container .btn_box{height: 240px;}
#visual .container .btn_box{width: 230px;height: 188px;margin: auto ;position: absolute;top: 0;right: 0;bottom: 0;text-align: center;}
#visual .container .btn_box .edit_btn{display: block;width: 228px;height: 46px;line-height: 46px;background: #07bb8a;border:1px solid #07bb8a;border-radius: 4px;font-size: 18px;color: #fff;}
#visual .container .btn_box .switch_style_btn{margin-top: 16px;background: none;border-color: #e6e6e6;color: #000;}
#visual .container .btn_box dd{padding:6px 0;line-height: 26px;font-size: 12px;color: #aaa;}
#visual .terminal_list{opacity: 1; width: 162px;height: 30px; background:#fff; border:1px solid #dddddd;border-radius: 16px;margin: 15px auto 5px;}
#visual .terminal_list a{width: 82px;height: 32px; background: url(../images/view/icon_terminal.png) no-repeat center center; border-radius: 16px;margin:-1px 0;}
#visual .terminal_list a.pc{background-position: center top; margin-left: -1px;float: left;}
#visual .terminal_list a.mobile{background-position: center bottom;margin-right: -1px;float: right;}
#visual .terminal_list a.cur{background-color: #0cb083;background-image: url(../images/view/icon_terminal_cur.png);}

#template_list{display: none;overflow-y: auto;background: #fff;margin:auto;position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 10001;text-align: center;}
#template_list .close{width: 44px;height: 44px;background: url(../images/frame/icon_win_close.png) no-repeat center center;position: fixed;top: 16px;right: 20px;z-index: 10003;}
#template_list .terminal_box{background: #fff;padding-bottom: 15px;position: fixed;top: 0;right: 0;left: 0;z-index: 10002;}
#template_list .top_title{height: 56px;line-height: 56px;padding-top: 60px;font-size: 36px;}
#template_list .sub_title{display: none;height: 26px;line-height: 26px;font-size: 16px;color: #888;}
#template_list.visual_edit .head_fixed{height: 128px;}
#template_list.visual_edit .mobile .head_fixed{height: 107px;}
#template_list .head_fixed{height: 230px;}
#template_list .mobile .head_fixed{height: 209px;}
#template_list.small_head .head_fixed, #template_list.small_head .mobile .head_fixed{height: 62px;}
#template_list.small_head .terminal_list{display: none;opacity: 0;}
#template_list.small_head .top_title{display: none;}
#template_list.small_head .sub_title{padding-top: 15px;}
#template_list .category{padding-top: 15px;}
#template_list .category a{display: inline-block;height: 30px;line-height: 30px;border:1px solid transparent; border-radius: 16px; margin: 0 4px;padding: 0 28px;font-size: 16px;color: #888;}
#template_list .category a.cur{border-color: #0db083;color: #0db083;}
#template_list .tem_box{display: none;width: 84.9vw;overflow: hidden;margin:auto;}
#template_list .tem_box .rows{overflow: hidden;}
#template_list .tem_box .list{width: 26.3vw;overflow: hidden;margin: 2.8vw 1vw 0;position: relative;float: left;box-sizing:border-box;-webkit-box-sizing:border-box;}
#template_list .tem_box .list .img{height: 15.5vw;background: url(../../../static/themes/default/images/global/loading.gif) no-repeat center center;border: 1px solid  #e8e8e8;padding: 9px;position: relative;cursor: pointer;}
#template_list .tem_box .list .img:before{content:'';width: 100%;height: 9px;background: #fff;border-top: 1px solid  #e8e8e8;position: absolute;top: -1px;right: 0;left: 0;}
#template_list .tem_box .list .img:after{content:'';width: 100%;height: 9px;background: #fff;border-bottom: 1px solid  #e8e8e8;position: absolute;right: 0;bottom: -1px;left: 0;}
#template_list .tem_box .list .img.cur, #template_list .tem_box .list .img.cur:before, #template_list .tem_box .list .img.cur:after{border-color: #0cb083;}
#template_list .tem_box .list .img.cur span{width: 100%;height: 100%;background: rgba(0,0,0,0.35) url(../images/photo/icon_big_item_cur.png) no-repeat center center;position: absolute;top: 0;left: 0;z-index: 1;}
#template_list .tem_box .list img{max-width: 100%;}
#template_list .tem_box .edit_box{height: 30px;line-height: 30px;background: #fff;padding: 0 0 8px;position: relative;z-index: 1;}
#template_list .tem_box .edit_box .edit_btn{height: 30px;line-height: 30px;background: #0cb083;border:1px solid #0cb083;border-radius: 16px;padding: 0 15px;font-size: 12px;color: #fff;opacity: 0;transition: all 0.3s;}
#template_list .tem_box .edit_box .view_btn{height: 32px;line-height: 32px;background: rgba(0,0,0,0.28);border-radius: 16px;margin-left: 10px;padding: 0 15px;font-size: 12px;color: #fff;opacity: 0;transition: all 0.3s;}
#template_list .tem_box .list:hover .edit_btn, #template_list .tem_box .list:hover .view_btn{opacity: 1;}
#template_list .tem_box .loading{height: 44px;line-height: 44px;margin-top: 20px;margin-bottom: 15px;text-align: center;}
#template_list .tem_box .loading span{display: inline-block;font-size: 16px;color: #999;}
#template_list .tem_box .loading.cur span{background: url(../../../static/themes/default/images/global/loading.gif) no-repeat 5px center;padding-left: 44px;}

#template_list .tem_box.mobile{width: 88vw;}
#template_list .tem_box.mobile .list{width: 20vw;margin: 2.86vw 1vw 0;}
#template_list .tem_box.mobile .list .img{height: 30vw;}

#plugins_visual{ width:100vw; height:100vh; background:#ececec; position:fixed; top:0; left:0; z-index:9999;}
#plugins_visual .loading_mask{ width:100%; height:100%; background:url(../../../static/themes/default/images/global/loading_oth.gif) #fff center no-repeat; position:absolute; top:0; left:0; z-index:1;}
#plugins_visual .top_bar{ height:60px; line-height:60px; background:#f6f7f7; position:relative; text-align:center; border-bottom:1px solid #ececec;}
#plugins_visual .top_bar .go_home{ height:32px; line-height:32px; margin:15px 0 0 20px; padding:0 20px 0 35px; background:#888; float:left; font-size:14px; color:#fff; border-radius:16px; position:relative;  cursor:pointer;}
#plugins_visual .top_bar .go_home i{ width:14px; height:14px; position:absolute; top:9px; left:10px;}
#plugins_visual .top_bar .go_home i:after,
#plugins_visual .top_bar .go_home i:before{ border:7px solid transparent; border-right:7px solid #888; width:0; height:0; position:absolute; top:0; left:0; content:'';}
#plugins_visual .top_bar .go_home i:before{ border-right-color:#fff; left:-2px;}
#plugins_visual .top_bar .go_pages{ padding:0 60px 0 35px; float:left; font-size:14px; color:#555; position:relative; border-right:1px solid #eaeaea; cursor:pointer;}
#plugins_visual .top_bar .go_pages .pages_name{}
#plugins_visual .top_bar .go_pages .pages_name span{ color:#0cb083;}
#plugins_visual .top_bar .go_pages .pages_name span i{ width:16px; height:16px; position:absolute; top:24px; right:25px;}
#plugins_visual .top_bar .go_pages .pages_name span i:after,
#plugins_visual .top_bar .go_pages .pages_name span i:before{ border:8px solid transparent; border-top:8px solid #fff; width:0; height:0; position:absolute; top:0; left:0; content:'';}
#plugins_visual .top_bar .go_pages .pages_name span i:before{ border-top-color:#0cb083; top:2px;}
#plugins_visual .top_bar .go_btn{ display:inline-block; height:30px; line-height:30px; margin-top:15px; margin-right:20px; padding:0 40px; background:#fff; color:#0cb083; float:right; border:1px solid #0cb083; border-radius:16px; cursor:pointer;}
#plugins_visual .top_bar .go_client{ width:164px; height:60px; margin-left:-82px; position:absolute; top:0; left:50%;}
#plugins_visual .top_bar .go_btn.go_style{ background:none; border:1px solid transparent; color:#333;}
#plugins_visual .top_bar .go_btn.go_save{ background:#0cb083; color:#fff;}
#plugins_visual .top_bar .go_btn.go_preview{ position:relative;}
#plugins_visual .top_bar .go_btn.go_preview .qrcode{ width:150px; height:150px; margin-left:-75px; background:#fff; border:1px solid #ececec; position:absolute; left:50%; top:44px; z-index:1;}
#plugins_visual .top_bar .go_btn.go_preview .qrcode img{ max-width:100%; max-height:100%;}
#plugins_visual .main_bar{ width:100%; height:calc(100vh - 60px); margin:0; padding:0; background:#fff; position:relative;}
#plugins_visual .tool_bar{ position:fixed; right:-412px; top:61px; border-left:1px solid #ececec; transition: all 0.2s ease-in-out;}
#plugins_visual .tool_bar.current{ right:-50px;}
#plugins_visual .tool_bar.current_banner{ right:0;}
#plugins_visual .tool_bar .close{ width:12px; height:82px; margin-top:-41px; position:absolute; top:50%; left:-12px; cursor:pointer; background:url(../images/view/icon_close.png) no-repeat;}
#plugins_visual .tool_bar .close:hover{ background:url(../images/view/icon_close_current.png) no-repeat;}
#plugins_visual .tool_bar .nav_bar{ height:calc(100vh - 61px); background:#f4f4f4;}
#plugins_visual .tool_bar .nav_bar .item{ width:49px; height:64px; padding-top:38px; background-repeat:no-repeat; background-position:center 13px; position:relative; font-size:12px; color:#555; text-align:center; box-sizing:border-box; cursor:pointer;}
#plugins_visual .tool_bar .nav_bar .item.current{ background-color:#fff; color:#0cb083;}
#plugins_visual .tool_bar .nav_bar .item.current:before{ width:1px; height:100%; background:#fff; position:absolute; top:0; left:-1px; content:'';}
#plugins_visual .tool_bar .nav_bar .item.add{ background-image:url(../images/view/icon_pic_add.png);}
#plugins_visual .tool_bar .nav_bar .item.pic{ background-image:url(../images/view/icon_pic.png);}
#plugins_visual .tool_bar .nav_bar .item.pic.current{ background-image:url(../images/view/icon_pic_current.png);}
#plugins_visual .tool_bar .set_bar{ width:240px; height:calc(100vh - 61px - 40px); padding:20px; background:#fff;}
#plugins_visual .tool_bar .set_bar .set_item{ display:none; height:100%; outline:none;}
#plugins_visual .tool_bar .set_bar .set_item.current{ display:block;}
#plugins_visual .tool_bar .set_bar .set_item .name{ height:25px; line-height:25px; color:#111;}
#plugins_visual .tool_bar .set_bar .set_item .tips{ padding:0; font-size:12px; color:#aaa;}
#plugins_visual .tool_bar .set_bar .set_item .blank_line{ height:1px; margin:10px 0; background:#f5f5f5;}
#plugins_visual .tool_bar .set_bar .set_item .plugins_select{ width:100%; height:36px; padding:0 10px; background:url(../images/frame/icon_select.png) right center no-repeat; background-size:auto 5px; border:1px solid #cbcecd; box-sizing:border-box; border-radius:3px; appearance:none; -moz-appearance:none; -webkit-appearance:none;}
#plugins_visual .tool_bar .set_bar .set_item .plugins_input{ width:100%; height:36px; line-height:36px; padding:0 10px; font-size:13px; color:#555; border:1px solid #cbcecd; border-radius:3px; box-sizing:border-box;}
#plugins_visual .tool_bar .set_bar .set_item .plugins_textarea{ width:100%; height:90px; line-height:20px; padding:10px; font-size:13px; color:#555; border:1px solid #cbcecd; border-radius:3px; box-sizing:border-box;}
#plugins_visual .tool_bar .set_bar .set_item .font_size .progress{ width:176px; height:2px; margin-top:17px; background:#eeeeee; float:left; position:relative; margin-left:8px; cursor:pointer;}
#plugins_visual .tool_bar .set_bar .set_item .font_size .progress .bar{ width:0; height:2px; position:absolute; top:0; left:0; background:#0db083;}
#plugins_visual .tool_bar .set_bar .set_item .font_size .progress .bar i{ width:12px; height:12px; background:#0db083; position:absolute; top:-5px; right:-5px; display:block; border-radius:6px;}
#plugins_visual .tool_bar .set_bar .set_item .font_size .text{ width:48px; height:36px; line-height:36px; text-align:center; float:right;}
#plugins_visual .tool_bar .set_bar .set_item .font_style{ font-size:0; letter-spacing:-3px;}
#plugins_visual .tool_bar .set_bar .set_item .font_style i{ width:20px; height:20px; margin-right:20px; background-position:center; background-repeat:no-repeat; display:inline-block; cursor:pointer;}
#plugins_visual .tool_bar .set_bar .set_item .font_style i.italic{ background-image:url(../images/view/icon_font_i.png);}
#plugins_visual .tool_bar .set_bar .set_item .font_style i.italic.current{ background-image:url(../images/view/icon_font_i_current.png);}
#plugins_visual .tool_bar .set_bar .set_item .font_style i.underline{ background-image:url(../images/view/icon_font_u.png);}
#plugins_visual .tool_bar .set_bar .set_item .font_style i.underline.current{ background-image:url(../images/view/icon_font_u_current.png);}
#plugins_visual .tool_bar .set_bar .set_item .font_style i.bold{ background-image:url(../images/view/icon_font_b.png);}
#plugins_visual .tool_bar .set_bar .set_item .font_style i.bold.current{ background-image:url(../images/view/icon_font_b_current.png);}
#plugins_visual .tool_bar .set_bar .set_item .font_style .color_style{ width:22px; height:22px; border:2px solid #e5e5e5; float:right; text-indent:999px; border-radius:3px; cursor:pointer;}
#plugins_visual .tool_bar .set_bar .set_item .gallery{ display:inline-block; height:20px; line-height:20px; margin-top:12px; padding-left:16px; font-size:14px; color:#0cb083; position:relative;}
#plugins_visual .tool_bar .set_bar .set_item .gallery:before{ width:8px; height:2px; background:#0cb083; position:absolute; top:9px; left:4px; content:'';}
#plugins_visual .tool_bar .set_bar .set_item .gallery:after{ width:2px; height:8px; background:#0cb083; position:absolute; top:6px; left:7px; content:'';}
#plugins_visual .tool_bar .set_bar .set_item .multi_img .img{ width:223px; height:99px; margin:0;}
#plugins_visual .tool_bar .set_bar .set_item .multi_img .img .preview_pic{ width:100%; height:100%;}
#plugins_visual .tool_bar .set_bar .set_item .multi_img .img .upload_btn{ width:100%; height:100%; background-image:url(../images/view/bg_multi_img_big.png);}
#plugins_visual .tool_bar .set_bar .set_item .multi_img .img .preview_pic>a{ width:100%; height:100%; box-sizing:border-box;}
#plugins_visual .tool_bar .set_bar .set_item .slide_contents{ border-bottom:1px solid #f5f5f5;}
#plugins_visual .tool_bar .set_bar .set_item .slide_contents .title{ height:58px; line-height:58px; font-size:18px; color:#000; position:relative; cursor:pointer;}
#plugins_visual .tool_bar .set_bar .set_item .slide_contents .title i{ width:14px; height:14px; position:absolute; right:0; top:22px;}
#plugins_visual .tool_bar .set_bar .set_item .slide_contents .title i:after,
#plugins_visual .tool_bar .set_bar .set_item .slide_contents .title i:before{ border:7px solid transparent; border-top:7px solid #fff; width:0; height:0; position:absolute; bottom:0; left:0; content:'';}
#plugins_visual .tool_bar .set_bar .set_item .slide_contents .title i:before { border-top-color:#bbb; bottom:-2px;}
#plugins_visual .tool_bar .set_bar .set_item .slide_contents .box{ display:none;}
#plugins_visual .tool_bar .set_bar .set_item .slide_contents.current .title i:after,
#plugins_visual .tool_bar .set_bar .set_item .slide_contents.current .title i:before{ border:7px solid transparent; border-bottom:7px solid #fff; width:0; height:0; position:absolute; top:0; left:0; content:'';}
#plugins_visual .tool_bar .set_bar .set_item .slide_contents.current .title i:before{ border-bottom-color:#bbb; top:-2px;}
#plugins_visual .tool_bar .set_bar .set_item .loc_box{ display:none;}

#plugins_visual .tool_bar .set_bar .set_item .rows .lang_tab{}
#plugins_visual .tool_bar .set_bar .set_item .rows .lang_tab .tab_title{ height:30px; line-height:30px; color:#111; float:left;}
#plugins_visual .tool_bar .set_bar .set_item .rows .lang_tab .tab_box{ float:right;}
#plugins_visual .tool_bar .set_bar .set_item .rows .lang_tab .tab_box .tab_box_row dd{ /*left:-27px;*/ right:3px; left:auto;}
#plugins_visual .tool_bar .set_bar .set_item .rows .item_box_banner{ display:none;}
#plugins_visual .tool_bar .set_bar .set_item .rows .item_box_banner_current{ display:block;}
#plugins_visual .tool_bar .set_bar .set_item .rows .item_box_mbanner{ display:none;}
#plugins_visual .tool_bar .set_bar .set_item .rows .item_box_mbanner_current{ display:block;}
#plugins_visual #plugins_iframe_themes{ width:100%; height:100%; position:absolute; top:0; left:0; transition: all 0.5s ease-in-out;}
#plugins_visual #plugins_iframe_mobile{ width:414px; height:100%; max-height:736px; margin-left:-207px; position:absolute; top:0; left:50%; transition: all 0.5s ease-in-out;}

#gallery_pop form{ width:1345px;}
#gallery_pop .r_con_form{ height:calc(100vh - 100px - 63px - 71px); max-height:none; background:#f2f3f3;}
#gallery_pop .top_bar{ padding:0 60px;}
#gallery_pop .top_bar .cate{ display:inline-block; line-height:75px; font-size:20px; color:#000;}
#gallery_pop .top_bar .more{ display:inline-block; margin-left:16px; padding-right:20px; font-size:12px; color:#888; position:relative; cursor:pointer;}
#gallery_pop .top_bar .more:hover .more_box{ display:block;}
#gallery_pop .top_bar .more i{ width:10px; height:10px; position:absolute; top:4px; right:4px;}
#gallery_pop .top_bar .more i:after,
#gallery_pop .top_bar .more i:before{ border:5px solid transparent; border-top:5px solid #f2f3f3; width:0; height:0; position:absolute; top:0; left:0; content:'';}
#gallery_pop .top_bar .more i:before{ border-top-color:#cacaca; top:2px;}
#gallery_pop .top_bar .more .more_box{ display:none; width:100px; position:absolute; left:0; top:100%; z-index:1;}
#gallery_pop .top_bar .more .more_box .list{ background:#fff; margin-top:10px; padding:6px 0; border-radius:5px; box-shadow:0 0 10px 0 rgba(0,0,0,0.2);}
#gallery_pop .top_bar .more .more_box .list .item{ height:30px; line-height:30px; font-size:12px; color:#555; text-indent:25px; overflow:hidden;}
#gallery_pop .top_bar .more .more_box .list .item:hover{ background:#effaf7;}
#gallery_pop .mid_bar{ height:calc(100vh - 100px - 63px - 71px - 75px); padding:0 60px; overflow:auto;}
#gallery_pop .mid_bar .item{ width:385px; height:255px; margin-bottom:20px; margin-left:26px; float:left; position:relative; text-align:center;}
#gallery_pop .mid_bar .item:hover i{ display:block;}
#gallery_pop .mid_bar .item.current i{ display:block;}
#gallery_pop .mid_bar .item i{ display:none; width:100%; height:100%; background:url(../images/view/icon_check.png) rgba(0,0,0,0.5) center no-repeat; position:absolute; top:0; left:0; cursor:pointer;}
#gallery_pop .mid_bar .item img{ max-width:100%; max-height:100%;}
/* 导航部分 Start */
#nav .rows .adpic_row{padding:10px; position:relative;}
#nav .rows .adpic_row:hover{cursor:pointer; background:#f1f8f5;}
#nav .rows .adpic_row .l_img{width:36%; height:213px; margin-top:0; background:#f6f6f6; border-radius:5px;}
#nav .rows .adpic_row .l_img .img .upload_btn{background: url(../images/frame/bg_index_set_pic.png) no-repeat center 69px;}
#nav .rows .adpic_row .l_img .img .upload_btn,#nav .rows .adpic_row .l_img .img,#nav .rows .adpic_row .l_img .img .preview_pic{width: 100%;height: 100%;margin: auto;}
#nav .rows .adpic_row .l_img .img .pic_btn{width: 100%;height: 100%;}
#nav .rows .adpic_row .l_img .img .pic_btn a{margin-top: 88px;}
#nav .rows .adpic_row .l_img .img.isfile:hover .pic_btn{display: block;z-index: 2;}
#nav .rows .adpic_row .l_img .img .size{position: absolute;top: 133px;left: 0;right: 0;line-height: 24px;font-size: 14px;color: #aaa;text-align: center;padding: 0 20px;}
#nav .rows .adpic_row .l_img .img.isfile:hover .size{z-index: 2;color: #fff;top: 115px;}
#nav .rows .adpic_row .l_img .img .preview_pic{background: none;}
#nav .rows .adpic_row .l_img .img .preview_pic>a{cursor:default;width: 100%;height: 100%;padding: 0;border:none;position: relative;z-index: 1;background: #f6f6f6;}
#nav .rows .adpic_row .l_img .img .preview_pic>a.zoom{cursor:pointer;}
#nav .rows .adpic_row .upload_file_multi .img{margin-bottom:0;}
#nav .rows .adpic_row .upload_file_multi .img .preview_pic{width:82px; height:82px;}
#nav .rows .adpic_row .upload_file_multi .img .upload_btn{width:82px; height:82px; background-size:100%;}
#nav .rows .adpic_row .upload_file_multi .img .preview_pic>a{width:70px; height:70px;}
#nav .rows .adpic_row .ad_info input{background-color:#fff;}
#nav .rows .adpic_row .ad_info .unit_input{margin-top:10px;}
#nav .rows .adpic_row .ad_info .unit_input:first-child{margin:0;}
#nav .rows .adpic_row .ad_view{width:60%; margin-left:36%;}
#nav .rows .adpic_row .ad_view input{width:90%; max-width:333px; background-color:#fff;}
#nav .rows .adpic_row .ad_view .view_item{margin-top:10px; margin-left:40px;}
#nav .rows .adpic_row .ad_view .view_item b{line-height:28px; display: block;}
#nav .rows .adpic_row .ad_view .view_item:first-child{margin-top:0;}
#nav .rows .adpic_row .drag_bg{height:39px; overflow:hidden; margin:auto; position:absolute; top:0; bottom:0; right:2%; display:none;}
#nav .rows .adpic_row:hover .drag_bg{display:block;}
#nav .config_table thead td{padding:19px 10px;}
#nav .global_container{overflow:visible;}
#nav .global_container .box_drop_double{width:345px;}
#nav .global_container .target_rows .box_select{width:60px;}

/* 导航部分 End */