@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

@font-face {
  font-family: "Interstate";
  src: url("../../../../../../css/font/Interstate/Interstate-Regular.woff2") format("woff2"),
       url("../../../../../../css/font/Interstate/Interstate-Regular.woff") format("woff"),
       url("../../../../../../css/font/Interstate/Interstate-Regular.ttf") format("truetype"),
       url("../../../../../../css/font/Interstate/Interstate-Regular.eot") format("embedded-opentype"),
       url("../../../../../../css/font/Interstate/Interstate-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.global{padding: 5.1% 4% 0 4%;}
.ind_bg{height: 0;padding-top: 3.2%;background: #f2f2f2;}
.banner{position:relative;}
.banner img{vertical-align:middle;}
.ind_top{/*overflow: hidden;*/}
.ind_top a{width: 48.7%;text-align: center;font-size: 0;}
.ind_top a img{ max-height:100%;}
.ind_top .name{display: block;padding-top: 0.5rem;padding-bottom: 1.125rem;line-height: 1.125rem;font-size: 0.75rem;color: #333;font-family: 'Tahoma';}

.top_title{height: 17.6vw; line-height:17.6vw;text-align: center;font-size:1.125rem;color: #333;font-family: "Interstate",Arial;text-transform: uppercase;}
.home_pro_touch{width:100%; /*overflow:hidden;*/}
.home_pro_touch .list{width:500%;}
.home_pro_touch .list .item{width:37.3vw; margin-right:4vw; overflow:hidden;text-align: center;}
.home_pro_touch .list .item:first-child{margin-left:4vw;}
.home_pro_touch .list .item .img{width:37.3vw;height: 20vh; position:relative;}
.home_pro_touch .list .item .img img{max-height:100%;}
.home_pro_touch .list .item .img .icon_discount{position:absolute; top:0; right:0; width:2.375rem; height:1.5625rem; color:#fff; line-height:.75rem; padding-top:.3125rem;background: #f7285e;}
.home_pro_touch .list .item .img .icon_discount b{font-size:0.875rem;}
.home_pro_touch .list .item .img .icon_discount_foot{width:0; height:0; border-width:.3125rem 1.1875rem 0; border-style:solid; border-left-color:transparent; border-right-color:transparent; position:absolute; right:0; top:1.875rem;border-top-color: #f7285e;}
.home_pro_touch .list .item .img .icon_seckill{line-height:1.25rem; overflow:hidden; padding:0 .375rem; color:#fff; position:absolute; top:.375rem; left:.375rem; display:none;background: #f7285e;}
.home_pro_touch .list .item .name{line-height:1rem; height:2rem; margin-top:.375rem;margin-bottom: 0.625em; overflow:hidden;font-size: 0.75rem;overflow: hidden;}
.home_pro_touch .list .item .name a{font-size:.75rem; color:#333;}
.home_pro_touch .list .item .price{line-height:1.25rem; font-size:.75rem; padding-bottom:1.25rem; color:#333333;}
.home_pro_touch .list .item .price del{font-size:.75rem; color:#bbbbbb;padding-left: 0.5rem;}

.home_pro{}
.home_box{padding: 0 4%; overflow:hidden;}
.home_box .small_pro{float: left;width:48%;text-align: center;}
.home_box .small_pro:nth-child(odd){float: right;}
.home_box .small_pro .img{width:100%; height:44vw; text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:11.7%; position:relative;}
.home_box .small_pro .img img{max-height:100%; vertical-align:middle;}
.home_box .small_pro .img .icon_discount{position:absolute; top:0; right:0; width:2.375rem; height:1.5625rem; color:#fff; line-height:.75rem; padding-top:.3125rem;background: #f7285e;}
.home_box .small_pro .img .icon_discount b{font-size:0.875rem;}
.home_box .small_pro .img .icon_discount_foot{width:0; height:0; border-width:.3125rem 1.1875rem 0; border-style:solid; border-left-color:transparent; border-right-color:transparent; position:absolute; right:0; top:1.875rem;border-top-color: #f7285e;}
.home_box .small_pro .img .icon_seckill{line-height:1.25rem; overflow:hidden; padding:0 .375rem; color:#fff; position:absolute; top:.375rem; left:.375rem; display:none;background: #f7285e;}
.home_box .small_pro .proname{line-height:1rem; height:2rem; margin-top:.375rem;margin-bottom: 0.625em; overflow:hidden;font-size: 0.75rem;overflow: hidden;}
.home_box .small_pro .proname a{font-size:.75rem; color:#333;}
.home_box .small_pro .price{line-height:1.25rem; font-size:.75rem; padding-bottom:1.25rem; color:#333333;}
.home_box .small_pro .price del{font-size:.75rem; color:#bbbbbb;padding-left: 0.5rem;}

.mindex1 a,
.mindex3 a,
.mindex5 a{ display:block;}
.mindex1 a img,
.mindex3 a img,
.mindex5 a img{ max-height:100%;}