/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/
@charset "utf-8";
/*******************新增语言版波斯语的样式调整 start**********************/
body.lang_fa .detail_left {float: right;}
/*******************新增语言版波斯语的样式调整 end**********************/
/***************************** 营销风格 start *****************************/
.market_shopbox .prod_info_quantity{font-size:0px; margin:0px 0 20px; position:relative;}
.market_shopbox .prod_info_quantity .quan_input{float: left;height: 38px;line-height: 38px;border:1px solid #e7e7e7;}
.market_shopbox .prod_info_quantity .quan_btn{float: left;margin-left: 5px;height: 40px;line-height: 40px;width: 19px;position: relative;}
.market_shopbox .prod_info_quantity>span{font-size: 12px;margin-left: 10px;}
.market_shopbox .prod_info_quantity .more_price{float: left;font-size: 12px;color: #999;text-decoration: underline;margin-left: 18px;line-height: 40px;}
.market_shopbox .prod_info_quantity label{font-size:14px; display:inline-block;color: #555;text-indent: 10px;vertical-align: top;}
.market_shopbox .prod_info_quantity .quantity_box{width:auto; height:38px; line-height:38px; padding:0; border:0; display:inline-block; vertical-align:top;}
.market_shopbox .prod_info_quantity .quantity_box input{ width:90px;height: 38px;line-height: 38px;text-align: left;font-size: 14px;color: #555;border:none;text-indent: 2px;}
.market_shopbox .prod_info_quantity .total_cost{display:inline-block; margin-left:40px; font-size:14px;}
.market_shopbox .prod_info_quantity .total_cost strong{font:16px/16px Helvetica;}
.market_shopbox .prod_info_quantity .prod_info_inventory{margin-left:10px;display: inline-block;margin-top: 14px;}
.market_shopbox .prod_info_quantity .prod_info_inventory>b{font-weight:700;}
.market_shopbox .prod_info_quantity .qty_box{line-height:28px;display:inline-block; vertical-align:bottom;}
.market_shopbox .prod_info_quantity .qty_box>div{position: absolute;bottom: 0px;left: 0;width:17px; height:17px; line-height:17px; overflow:hidden; text-align:center; font-size:12px; cursor:pointer; border:1px solid #e7e7e7; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none;color: #424242;font-size: 14px;font-weight: bold;font-family: sans-serif;}
.market_shopbox .prod_info_quantity .qty_box #btn_add{border-bottom:1px #e7e7e7 solid; top:0; bottom:auto;}
.market_shopbox .prod_info_actions .button_box:before{background: #1c1b1b;display: none;}
.market_shopbox .prod_info_actions .button_box:first-child:before{display: block;}
.market_shopbox .prod_info_actions .addtocart{border-color:#1c1b1b; color:#222;}
.market_shopbox .prod_info_actions .buynow{background:#1c1b1b; border-color:#1c1b1b; color:#fff;}
/***************************** 营销风格 end *****************************/

/***************************** 品牌风格 start *****************************/
.brand_shopbox .rows{padding-left: 80px;line-height: 44px;}
.brand_shopbox .rows h5{float: left;margin-left:-80px;line-height: 22px;padding: 13px 0px;padding-right: 18px;font-size: 14px;color: #222;text-align: left;}

.brand_shopbox .prod_info_quantity{font-size:0px; padding-top: 8px; line-height: 24px;}
.brand_shopbox .prod_info_quantity>span{font-size: 12px;margin-left: 10px;}
.brand_shopbox .prod_info_quantity label{font-size:12px; display:inline-block;padding-right: 10px;}
.brand_shopbox .prod_info_quantity .quantity_box{display:inline-block; width:60px; height:24px; padding:4px 0; border:1px #dddddd solid;background:#fff;border-left: none;border-right: none;text-align: center;}
.brand_shopbox .prod_info_quantity .quantity_box input{ width:60px; height:24px; line-height:24px; color:#333; border:0; outline:0;text-align: center;}
.brand_shopbox .prod_info_quantity .total_cost{display:inline-block; margin-left:40px; font-size:14px;}
.brand_shopbox .prod_info_quantity .total_cost strong{font:16px/16px Helvetica;}
.brand_shopbox .prod_info_quantity .prod_info_inventory{margin-left:10px;}
.brand_shopbox .prod_info_quantity .prod_info_inventory>b{font-weight:700;}
.brand_shopbox .prod_info_quantity .qty_box{line-height:32px;display:inline-block; vertical-align:bottom;}
.brand_shopbox .prod_info_quantity .qty_box>div{width:28px; height:32px; line-height:32px; overflow:hidden; text-align:center; font-size:20px; cursor:pointer; border:1px solid #dddddd; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none;font-weight: bold;color: #ddd;font-size: 0;background: url(../../../images/products/icon_qty_less.png) no-repeat center center;border-radius: 3px 0 0 3px;}
.brand_shopbox .prod_info_quantity .qty_box #btn_add{color: #333;background-image: url(../../../images/products/icon_qty_plus.png);border-radius: 0 3px 3px 0;}

.brand_shopbox .prod_info_actions{margin-top: 20px;}
.brand_shopbox .prod_info_actions .addtocart{float: left;margin-right: 10px;margin-bottom: 12px;}
.brand_shopbox .prod_info_actions .addtocart:hover,.brand_shopbox .prod_info_actions .buynow:hover{box-shadow: 0 0 4px rgba(0,0,0,0.4);}
.brand_shopbox .prod_info_actions .buynow{color: #fff;background: #fc8321;}
/***************************** 品牌风格 end *****************************/

body{min-width: auto;background: #fff;}
#shopbox_outer{width:939px; overflow:hidden; margin:20px 10px 10px; background-color:#fff;}
.detail_left{width:439px;float: left;}
.detail_right{width:480px;}

.detail_pic{width:439px; text-align:center;}
.detail_pic .up{height: 439px;position: relative;}
.detail_pic .up .big_box{width: 100% !important;}
.detail_pic .down{margin: 15px 0;}
.detail_pic .magnify{position:relative; width:100%; height:100%;}
.detail_pic .magnify .big_pic{text-align:center;}
.detail_pic .magnify .detail_img_box{position:absolute; overflow:hidden; z-index:999; top:-9999px; border:1px #8c8684 solid; background-color:#fff;}
.detail_pic .magnify .detail_img{position:absolute; max-width:1500px;}
.detail_pic .magnify .rect_mask{background-image:url(../../../images/global/rect_mask.gif); position:absolute; cursor:crosshair; top:-9999px; left:0; z-index:100;}
.detail_pic .small_carousel{margin: auto; position:relative;}
.detail_pic .small_carousel .viewport{width:100%; height:100%; overflow:hidden; position:relative;}
.detail_pic .small_carousel .viewport .list .item{float: left;margin: 0 1px;}
.detail_pic .small_carousel .btn{display: none;position: absolute;width: 18px;height: 100%;top: 0;bottom: 0;left: -30px;margin:auto;background: url(../../../images/products/icon_pic_btn.png) no-repeat -32px center;}
.detail_pic .small_carousel .btn>span{display: none;}
.detail_pic .small_carousel .right{background-position: right center;left: auto;right: -30px;}
.detail_pic .viewport .list{height:658px; padding:0;}
.detail_pic .viewport .list .item{height:50px; margin:0; margin-bottom:6px; position:relative; display:list-item;}
.detail_pic .viewport .list a{width:48px; height:48px; padding:0; background:#fff; border:1px #fff solid; display:block; vertical-align:middle;}
.detail_pic .viewport .list .current{padding:0;}
.detail_pic .viewport .list .current a{border:1px #000 solid!important;}
.detail_pic .viewport .list .arrow, .detail_pic .viewport .list .current .arrow{display:none;}

.prod_info_title h1{line-height:26px; font-size:20px;}
.prod_info_brief{padding:5px 0; color:#999;}
.prod_info_number{padding:5px 0; color:#999;}
.prod_info_review{height:23px; line-height:23px; padding:10px 0px 10px; border:0;}
.prod_info_review .review_star{margin-top:2px; float:left;}
.prod_info_review .write_review{font-size:14px; float:left;}
.prod_info_review .write_review.review_count{margin:0 15px 0 8px; text-decoration:none; color:#999;font-size: 12px;}
.prod_info_review .prod_info_inquiry{margin-left:15px; padding:0; clear:none;}
.prod_info_review .prod_info_inquiry a{height:23px; line-height:23px; padding-left:25px; font-size:14px; color:#999; background:url(../../../images/products/icon_q_a.png) no-repeat left 3px; display:inline-block;}
.prod_info_review .track{text-decoration:underline; color:#222; display:inline-block;}

.discount_count{height:30px; line-height:30px; background:url(../../../images/products/icon_time.png) no-repeat left center;padding-left: 28px;margin-left: 18px;font-size: 0;background-size: auto 80%;}
.discount_count .discount_time{height: 22px;line-height: 22px;border-radius: 11px;margin-top: 5px;background: #ff332c;padding: 0 11px;font-size: 12px;color: #fff;}
.discount_count .day{padding:0 4px 0 0;}

.prod_info_price{padding:0; position:relative;}
.prod_info_price .price_left{padding:8px 0 10px;}
.prod_info_price .price_left .price_info_title{float:left;}
.prod_info_price .price_left>del{white-space:nowrap; color:#888; font-size:14px; float:left; margin-left:13px;}
.prod_info_price .price_left .current_price{height:30px; line-height:30px;}
.prod_info_price .price_left .current_price .save_box{float: left;display:inline-block; vertical-align:bottom;}
.prod_info_price .price_left .current_price .save_box>div{font-size:14px; color:#dd0017;}
.prod_info_price .price_left .current_price del{font-size: 14px;color: #999;display: inline-block;vertical-align: bottom;}
.prod_info_price .price_left .current_price .left{position:relative; z-index:1; float:left; padding-right:10px;}
.prod_info_price .price_left .current_price .price{padding-left:65px; font-family:Arial; font-size:22px; color:#222; display:inline-block; vertical-align:bottom;}
.prod_info_price .price_1 .price_info_title{font-size:16px; line-height:22px;}
.prod_info_price .unit_price .current_price .price{padding-left:13px;}
.prod_info_price .unit_price .save_price{padding-left:0; padding-top:7px; float:left;}
.prod_info_currency{position:absolute; left:0; top:0px; line-height:24px; background:none;}
.prod_info_currency dt a{font-size:16px; text-indent:4px; padding:6px 0 0 4px; line-height:20px; width:60px; display:block; color:#555;}
.prod_info_currency dt a:hover{text-decoration:none;}
.prod_info_currency .arrow{position:absolute; right:8px; top:12px;transition:all 0.3s;-moz-transition:all 0.3s;-webkit-transition:all 0.3s;background: url(../../../images/global/icon_currency_down.png) no-repeat center center;width: 9px;height: 6px;}
.prod_info_currency dd{display:none; font-size:12px;border-radius:0 0 4px 4px; -webkit-border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px;}
.prod_info_currency dd ul{text-indent:9px; padding-top:8px; padding-bottom:8px;}
.prod_info_currency dd ul li{padding: 0;margin: 0;line-height: 26px;}
.prod_info_currency dd a{display:block;font-size: 12px;}
.prod_info_currency dd a:hover{background:#888; text-decoration:none; color:#fff;}
.prod_info_currency_more:hover{border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; box-shadow:0 0px 7px rgba(0,0,0,0.3); -webkit-box-shadow:0 0px 7px rgba(0,0,0,0.3); background:#fff;}
.prod_info_currency_more:hover .arrow{transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);}
.prod_info_currency_more:hover dd{display:block;}

.prod_info_form .bg{background: #fafafa;padding: 10px;margin:0 -10px;}
.prod_info_form .attributes{margin:0 0 0px -11px; padding:0 0 0 9px;border-color: transparent;}
.prod_info_form li select{width:100%; height:38px; line-height:38px; font-size:14px; color:#555; border:1px #e7e7e7 solid; border-radius:0;}

.prod_info_wholesale{padding-bottom:5px;padding-top: 5px;}
.prod_info_wholesale .pw_title{padding:2px 0 6px; font-size:13px;}
.prod_info_wholesale .pw_table{border-left: 1px solid #e4e4e4;margin-bottom: 5px;}
.prod_info_wholesale .pw_column{float:left;}
.prod_info_wholesale .pw_td{height:41px; line-height:41px; overflow:hidden; text-align:left; color:#333;border:1px solid #e4e4e4;border-top: none;border-left: none;padding: 0 13px;font-size: 12px;color: #555;background: #fff;}
.prod_info_wholesale .pw_td.bt{border-top: 1px solid #e4e4e4;}

.sold_box{height: 26px;line-height: 26px;margin-top: 10px;font-size: 14px;}
.sold_box .fl{padding-right: 10px;}
/*.prod_info_detail .prod_info_wholesale .pw_title{width:78px; float:left;}
.prod_info_detail .prod_info_wholesale .pw_table{width:342px; height:58px; overflow:hidden; background-color:#fff; float:left;}
.prod_info_detail .prod_info_wholesale .pw_table_box{height:58px;}
.prod_info_detail .prod_info_wholesale .pw_column{width:113px;}
.prod_info_detail .prod_info_wholesale .pw_td{width:113px; height:28px; line-height:28px; text-align:left; text-indent:12px;}
.prod_info_detail .prod_info_wholesale .pw_btn{width:22px; height:59px; position:relative; display:inline-block;}
.prod_info_detail .prod_info_wholesale .pw_btn>i{border-width:11px 0 13px 11px; border-color:transparent transparent transparent #fafafa; border-style:solid; position:absolute; top:18px; right:2px; z-index:11; display:block; transition:all .4s; -webkit-transition:all .4s; transform:rotate(0); -webkit-transform:-webkit-rotate(0);}
.prod_info_detail .prod_info_wholesale .pw_btn>em{border-width:11px 0 13px 11px; border-color:transparent transparent transparent #6f6f6f; border-style:solid; position:absolute; top:18px; right:0; z-index:10; display:block; transition:all .4s; -webkit-transition:all .4s; transform:rotate(0); -webkit-transform:-webkit-rotate(0);}
.prod_info_detail .prod_info_wholesale .pw_btn.return>i{right:-2px; -webkit-transform:-webkit-rotate(180deg); transform:rotate(180deg);}
.prod_info_detail .prod_info_wholesale .pw_btn.return>em{-webkit-transform:-webkit-rotate(180deg); transform:rotate(180deg);}*/
.prod_info_detail .key_info_line .key_info_left{width:78px; padding:0; text-align:left; float:left;}
.prod_info_detail .key_info_line .key_info_right{width:340px; float:left;}

.prod_info_actions .button_box{position: relative;overflow: hidden;float: left;margin-right:10px; margin-bottom:12px;}
.prod_info_actions .button_box:before{content: '';position: absolute;left: 0;top: 0;width: 0;height: 100%;background: #ffc439;}
.prod_info_actions .button_box:hover:before{width: 100%;}

.prod_info_actions .add_btn{width:200px; height:44px; line-height:44px; padding:0; text-align:center; text-transform:uppercase; font-size:16px; color:#ffc439; background:none; border:1px #ffc439 solid; border-radius:0; display:block;border-radius: 3px;cursor: pointer;}
.prod_info_actions .button_box:hover .add_btn{color: #fff;z-index: 0;position: relative;}
.prod_info_actions .platform_btn{width:auto; height:34px; line-height:34px; font-size:14px; text-indent: 35px; color: #333; background-image:url(../../../images/global/icon_platform_custom.png); background-repeat:no-repeat; border:1px #e3e3e3 solid; border-radius:4px; -webkit-border-radius:4px;border-radius: 3px;float: left;margin-right: 10px;margin-bottom: 10px; padding-right: 15px;}
.prod_info_actions .buynow{font-size:16px;cursor: pointer;}
.prod_info_actions .buynow,.prod_info_actions .addtocart,.prod_info_actions .paypal_checkout_button,.prod_info_actions .button_box:before{transition:0.2s all;-moz-transition:0.2s all;-webkit-transition:0.2s all ease-in;}
.paypal_checkout_button:hover{box-shadow: 0 0 4px rgba(0,0,0,0.4);}
.prod_info_actions .soldout{margin-bottom: 12px;}
.prod_info_actions .box_paypal{display:block; position:relative; z-index:1; float:left;}
.prod_info_actions .paypal_checkout_button{width:200px; background: #fcca42  url(../../../images/products/icon_paypal.png) no-repeat center;border:0;cursor: pointer;}
.prod_info_actions .paypal_checkout_button:hover{background-position:center;}
.prod_info_actions #paypal_button_container{display:inline-block; vertical-align:top; width:210px; height:46px; position:relative; text-overflow:ellipsis; text-indent:-999px;}
.prod_info_actions #paypal_button_container .paypal-button{height:46px!important;}
.prod_info_actions #paypal_button_container .paypal-button>.zoid-outlet{width:210px; height:46px;}
.prod_info_actions #btn_paypal_replace{background:url(../../../images/products/btn_paypal_replace.png) no-repeat center #ffc439; position:absolute; z-index:10000;}
.prod_info_actions .platform_box{margin-top:6px;}
.prod_info_actions .platform_box .title{padding-bottom:10px; font-size:14px; color:#1c1b1b;}
.prod_info_actions .amazon_btn{background-position:-10px -8px;}
.prod_info_actions .aliexpress_btn{background-position:-10px -58px;}
.prod_info_actions .wish_btn{background-position:2px -108px; text-indent:55px;}
.prod_info_actions .ebay_btn{background-position:-10px -158px;}
.prod_info_actions .alibaba_btn{background-position:-8px -208px;}
.prod_info_actions .favorite_btn{display: inline-block;margin-top: 5px;height:21px; line-height:23px; padding-left:32px; color:#555; background:url(../../../images/global/icon_favorite_custom.png) no-repeat;}
.prod_info_actions .view_btn{height:21px; line-height:23px; text-decoration:underline; font-size:13px; color:#222;float: left;margin-right: 20px;}




