/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/
@charset "utf-8";

/***************************宽屏样式(start)***************************/
.w_1200 #prod_detail{padding:0 0px 30px 0px;}

.w_1200 #prod_detail .detail_box_left{width:735px;}
.w_1200 .pic_size_width{width:640px;}
.w_1200 .detail_pic .right{width:640px; height:640px;}
.w_1200 .discount_sales{clear:inherit; margin-left:0;}


/***************************宽屏样式(end)***************************/


.prod_info_form .attributes{margin: 0 0 0px -11px;padding: 0 0 0px 9px;}
.prod_info_form .attr_sure{background: #eee;}
.prod_info_form li.attr_show>div em{bottom: -5px;right: -5px;}
.prod_info_form li.attr_show>div .icon_selected{background-position: -2px -2px;}
.prod_info_form li.attr_show>div .icon_selected_bg{border-left-color:inherit;border-left-width: 11px;border-left-style: solid;border-radius: 5.5px;}


#prod_detail{padding:0 0px 30px 0px;}
#prod_detail .detail_left{position:relative; z-index:101;}
#prod_detail .detail_right{width:428px;padding-bottom: 20px;}
#prod_detail .detail_box_left{float: left;width: 525px;position: relative;}
#prod_detail .detail_option{width:447px;}
#prod_detail .detail_info{width:299px;}
#prod_detail .prod_desc_left{ margin-top:0px;}

.pic_size_width{width:440px;}
.detail_box{position: relative;}
.detail_pic{text-align:center;}
.detail_pic:after{content: '';display: block;width: 100%;clear: both;}
.detail_pic .left{width:76px; float:left;}
.detail_pic .right{width:440px; height:440px; float:right; position:relative;}
.detail_pic .right .big_box{position:absolute; left:0; top:0; z-index:2; max-width:100%;max-height: 100%;}
.detail_pic .magnify{position:relative; width:100%; height:100%;}
.detail_pic .magnify .big_pic{text-align:center;}
.detail_pic .magnify .video_container{display:none;}
.detail_pic .magnify .detail_img_box{position:absolute; overflow:hidden; z-index:3; top:-9999px; border:1px #8c8684 solid; background-color:#fff;}
.detail_pic .magnify .detail_img{position:absolute; max-width:1500px;}
.detail_pic .magnify .rect_mask{background-image:url(../../../images/global/rect_mask.gif); position:absolute; cursor:crosshair; top:-9999px; left:0; z-index:2;}
.detail_pic .small_carousel{position:relative;}
.detail_pic .small_carousel .viewport{width:100%; height:100%; overflow:hidden; position:relative;}
.detail_pic .small_carousel .btn{width:37px; height:22px; position:absolute; cursor:pointer; outline:0;display: none;}
.detail_pic .small_carousel .top{background: #f3f3f3 ; bottom:-30px;left: 0;}
.detail_pic .small_carousel .top:before{position: absolute;content: '';width: 0;height: 0;border-width: 0px 6px 6px 6px;border-style: solid;border-color: transparent;border-bottom-color: #333;top: 8px;left: 0;right: 0;margin:auto;}
.detail_pic .small_carousel .top:after{position: absolute;content: '';width: 0;height: 0;border-width: 0px 6px 6px 6px;border-style: solid;border-color: transparent;border-bottom-color: #f3f3f3;top: 9px;left: 0;right: 0;margin:auto;}
.detail_pic .small_carousel .top:hover{background: #bbb;}
.detail_pic .small_carousel .top:hover:before{border-bottom-color: #fff;}
.detail_pic .small_carousel .top:hover:after{border-bottom-color: #bbb;}
.detail_pic .small_carousel .bottom{background: #f3f3f3; bottom:-30px;left: 37px;}
.detail_pic .small_carousel .bottom:before{position: absolute;content: '';width: 0;height: 0;border-width: 6px 6px 0px 6px;border-style: solid;border-color: transparent;border-top-color: #f3f3f3;top: 8px;left: 0;right: 0;margin:auto;z-index: 1;}
.detail_pic .small_carousel .bottom:after{position: absolute;content: '';width: 0;height: 0;border-width: 6px 6px 0px 6px;border-style: solid;border-color: transparent;border-top-color: #333;top: 9px;left: 0;right: 0;margin:auto;}
.detail_pic .small_carousel .bottom:hover{background: #bbb;}
.detail_pic .small_carousel .bottom:hover:before{border-top-color: #bbb;}
.detail_pic .small_carousel .bottom:hover:after{border-top-color: #fff;}
.detail_pic .viewport .list{height:658px;width: 76px !important;font-size: 0;}
.detail_pic .viewport .list .item{display:list-item; margin-bottom: 9px; height:70px; position:relative; float:left;background: #111;}
.detail_pic .viewport .list a{background:#fff; width:66px; height:66px; display:block; vertical-align:middle; border-width:1px; border-style:solid; padding:1px;}
.detail_pic .viewport .list .arrow{width:0; height:0; border-style:solid; border-width:5.5px 0 5.5px 5px; position:absolute; right:-5px; top:0;bottom: 0;margin:auto; display:none;}
.detail_pic .viewport .list .current{padding:2px;height: 66px;}
.detail_pic .viewport .list .current a{border:none; padding:0;}
.detail_pic .viewport .list .current .arrow{display:block;border-color: transparent transparent transparent #111;}

.prod_info_title h1{font-size:20px;line-height: 26px;margin-top: -5px;}
.prod_info_desc{font-size: 12px;color: #999;padding: 5px 0;line-height: 18px;}
.prod_info_number{padding:5px 0; color:#999;}
.prod_info_review{padding:10px 0px 10px;height: 23px;line-height: 23px;}
.prod_info_review .review_star{float:left;margin-top: 4px;}
.prod_info_review .write_review{float:left;}
.prod_info_review .write_review.review_count{margin: 0 8px;color: #222;}
.prod_info_review .prod_info_inquiry{ margin-left: 25px;}
.prod_info_review .prod_info_inquiry a{ background:url(../../../images/products/icon_q_a.png) no-repeat left center; padding-left:25px; display:inline-block; color:#d71f06;color: #999;font-size: 12px;}
.prod_info_review .track{display: inline-block;text-decoration:underline;color: #222;font-size: 12px;}
.prod_info_data li{margin-bottom: 0;}
.prod_info_share{float: left;margin-left: 90px;color: #999;font-size: 14px;height: 42px;line-height: 42px;margin-top: 5px;}
.prod_info_share.no_pdf{float: none;width: 217px;margin:auto;}
.prod_info_share li{margin-right: 0;}
.prod_info_share .center>b, .prod_info_share .addthis_sharing_toolbox{float:right;}
.prod_info_share .center>b{font-weight:normal;margin-right: 5px;}
.prod_info_pdf{float: right;height: 42px;line-height: 42px;font-size: 14px;color: #999;padding-left: 28px;background: url(../../../images/products/icon_pdf.png) no-repeat left center;}
.prod_info_pdf em{display: none;}
.favorite_box{width: 50px;height: 50px;position: absolute;top: 0px;right: 0px;padding: 10px;font-size: 0;z-index: 105;}
.favorite_box .favorite_btn{display: block;font-size: 0;width: 50px;height: 50px;border-radius: 25px;background: rgba(255,255,255,0.7) url(../../../images/products/icon_fav.png) no-repeat left top;}
.favorite_box .favorite_btn.is_in{background-position: left bottom;}


.prod_info_price{padding-bottom:10px; position:relative;}
.prod_info_price .price_left{padding: 12px 0 12px; line-height:32px;}
.prod_info_price .price_left .price_info_title{float:left;}
.prod_info_price .price_left>del{white-space:nowrap; color:#888; font-size:14px; float:left; margin-left:13px;}
.prod_info_price .price_left .current_price{float:left;}
.prod_info_price .price_left .current_price .save_box{line-height: 16px;vertical-align: bottom;}
.prod_info_price .price_left .current_price .save_box>div{font-size: 12px;color: #dd0017;}
.prod_info_price .price_left .current_price del{font-size: 12px;display: inline-block;vertical-align: bottom;}
.prod_info_price .price_left .current_price .left{position:relative; float:left; padding-right:10px;}
.prod_info_price .price_left .current_price .price{padding-left:70px; font-size: 30px;}
.prod_info_price .price_1 .price_info_title{font-size:16px; line-height:22px;}
.prod_info_price .unit_price .current_price .price{padding-left:13px;}
.prod_info_price .unit_price .save_price{padding-left:0; padding-top:7px; float:left;}
.prod_info_currency{position:absolute; left:0; top:4px; line-height:24px; background:none;z-index: 1;}
.prod_info_currency dt a{font-size:18px; text-indent:4px; padding:6px 0 0 4px; line-height:20px; width:65px; display:block; color:#555;}
.prod_info_currency dt a:hover{text-decoration:none;}
.prod_info_currency .arrow{position:absolute; right:9px; top:12px;transition:all 0.3s;-moz-transition:all 0.3s;-webkit-transition:all 0.3s;background: url(../../../images/global/icon_currency_down.png) no-repeat center center;width: 9px;height: 6px;}
.prod_info_currency dd{display:none; font-size:12px;border-radius:0 0 4px 4px; -webkit-border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px;}
.prod_info_currency dd ul{text-indent:9px; padding-top:8px; padding-bottom:8px;}
.prod_info_currency dd ul li{padding: 0;margin: 0;line-height: 26px;}
.prod_info_currency dd a{display:block;font-size: 12px;}
.prod_info_currency dd a:hover{background:#888; text-decoration:none; color:#fff;}
.prod_info_currency_more:hover{border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; box-shadow:0 0px 7px rgba(0,0,0,0.3); -webkit-box-shadow:0 0px 7px rgba(0,0,0,0.3); background:#fff;}
.prod_info_currency_more:hover .arrow{transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);}
.prod_info_currency_more:hover dd{display:block;}
.discount_attr{color:#999; margin-top:1px; margin-right:10px;}
.discount_attr>span{color:#cb2027; font-size:14px;}
.discount_price{text-transform:uppercase;}
.discount_count{height:32px; line-height:32px; background:url(../../../images/products/icon_time.png) no-repeat left center;padding-left: 32px;margin-left: 18px;font-size: 0;}
.discount_count .discount_time{height: 22px;line-height: 22px;border-radius: 11px;margin-top: 5px;padding: 0 11px;font-size: 12px;color: #fff;}
.discount_count .day{padding:0 4px 0 0;}
.discount_sales{height:20px; line-height:20px; clear:both; margin-left:62px;}
.save_price{color:#808080; padding-top:9px; font-size:12px; padding-left:0px; height:15px; line-height:13px;}
.save_price .save_style{color:#f28810; font-size:12px; padding-left:4px;}

.prod_info_wholesale_box{float: left;position: relative;}
.prod_info_wholesale{width: 700px;display: none;padding: 5px 0;position: absolute;right: 0;top: 49px;left: 50%;z-index: 1000;font-size: 14px;background: #fff;text-align: center;background: #fafafa;border:1px solid #e4e4e4;}
.prod_info_wholesale:before{content: '';position: absolute;width: 12px;height: 12px;background: #fafafa;border-top: 1px solid #e4e4e4;border-left: 1px solid #e4e4e4;left: 0;right: 0;top: -8px;margin:auto;transform:rotate(45deg);-moz-transform:rotate(45deg);-webkite-transform:rotate(45deg);}
.prod_info_wholesale:after{content: '';position: absolute;top: -10px;width: 100%;height: 10px;}
.prod_info_wholesale .pw_table{float: left; overflow:hidden;}
.prod_info_wholesale .pw_column{ float:left;}
.prod_info_wholesale .pw_td{height:38px; line-height:38px; overflow:hidden; text-align:center; color:#333;color: #555;padding: 0 13px;font-size: 12px;}
.prod_info_wholesale .pw_th{color: #222;}
.prod_info_wholesale_box:hover .prod_info_wholesale{display: block;}


.prod_info_moq{margin-top:10px;}

.prod_info_quantity{font-size:0px; margin:3px 0 20px;}
.prod_info_quantity .quan_input{float: left;height: 38px;line-height: 38px;border-width: 1px;}
.prod_info_quantity .quan_btn{float: left;margin-left: 5px;height: 40px;line-height: 40px;width: 19px;position: relative;}
.prod_info_quantity>span{font-size: 12px;margin-left: 10px;}
.prod_info_quantity .more_price{display: block;font-size: 12px;color: #999;text-decoration: underline;margin-left: 18px;line-height: 40px;}
.prod_info_quantity label{font-size:14px; display:inline-block;color: #555;text-indent: 10px;vertical-align: top;}
.prod_info_quantity .quantity_box{display:inline-block; vertical-align: top;height: 38px;line-height: 38px;border:none;}
.prod_info_quantity .quantity_box input{ width:90px;height: 38px;line-height: 38px;text-align: left;font-size: 14px;color: #555;border:none;text-indent: 2px;}
.prod_info_quantity .total_cost{display:inline-block; margin-left:40px; font-size:14px;}
.prod_info_quantity .total_cost strong{font:16px/16px Helvetica;}
.prod_info_quantity .prod_info_inventory{margin-left:10px;line-height: 40px;}
.prod_info_quantity .prod_info_inventory>b{font-weight:700;}
.prod_info_quantity .qty_box{line-height:28px;display:inline-block; vertical-align:bottom;}
.prod_info_quantity .qty_box>div{position: absolute;bottom: 0px;left: 0;width:17px; height:17px; line-height:17px; overflow:hidden; text-align:center; font-size:12px; cursor:pointer; border-width: 1px; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none;color: #424242;font-size: 14px;font-weight: bold;font-family: sans-serif;}
.prod_info_quantity .qty_box #btn_add{bottom: auto;top: 0px;}

.prod_info_actions .add_btn{display:block; width:100%; height:44px; line-height:44px; border-radius:4px; text-align:center; font-size:16px; margin-bottom:12px; text-transform:uppercase; cursor:pointer;}
.prod_info_actions .plat_btn{float: left;width:auto;margin-right: 20px;padding-left: 50px;padding-right: 20px;font-size: 14px;color: #333;text-transform: capitalize;text-align: left;}
.prod_info_actions .addtocart{background: none;border-color: #222;margin-bottom: 0;color: #222;}
.prod_info_actions .addtocart_box{position: relative;overflow: hidden;margin-bottom: 12px;}
.prod_info_actions .addtocart_box:before{content: '';position: absolute;left: 0;top: 0;z-index: -1;width: 0;height: 100%;background: #1c1b1b;}

.prod_info_actions .arrival, .prod_info_actions .soldout{background:#aaa;border-color: #aaa;color: #fff;}
.prod_info_actions .soldout{cursor:no-drop;}
.prod_info_actions .buynow{background: #1c1b1b;color: #fff;}
.prod_info_actions .box_paypal{display:block; position:relative; z-index:1;}
.prod_info_actions .paypal_checkout_button{border-color:#fcca42; background:#fcca42; background-image:url(../../../images/products/icon_paypal.png); background-position:center center; background-repeat:no-repeat;}
.prod_info_actions #paypal_button_container{display:inline-block; vertical-align:top; width:100%; height:44px; position:relative; text-indent:-999px;}
.prod_info_actions #paypal_button_container .paypal-button>.zoid-outlet{width:100%;}
.prod_info_actions #btn_paypal_replace{background:url(../../../images/products/btn_paypal_replace.png) no-repeat center #ffc439; position:absolute; z-index:10000;}
.prod_info_actions .addtocart_box,.prod_info_actions .addtocart_box:before,.prod_info_actions .addtocart_box:after{transition:0.2s all;-moz-transition:0.2s all;-webkit-transition:0.2s all ease-in;}
.prod_info_actions .addtocart,.prod_info_actions .buynow, .prod_info_actions .paypal_checkout_button{display:none;transition:0.2s all;-moz-transition:0.2s all;-webkit-transition:0.2s all ease-in;}
.prod_info_actions .buynow:hover, .prod_info_actions .paypal_checkout_button:hover{box-shadow: 0 0 4px rgba(0,0,0,0.4);}
.prod_info_actions .addtocart_box:hover .addtocart{color: #fff;}
.prod_info_actions .addtocart_box:hover:before{width: 100%;}
.prod_info_actions .platform_tit{height: 49px;line-height: 49px;font-size: 16px;color: #1c1b1b;}
.prod_info_actions .platform_btn{ position:relative; padding-right:30px;}
.prod_info_actions .platform_btn em{ width:9px; height:4px; display:block; position:absolute; top:15px; right:9px; background:url(../../../images/ico/icon_arrow_0.png) no-repeat; transition: all 0.2s ease-in-out;}
.prod_info_actions .platform_btn:hover em{ transform:rotate(180deg);}
.prod_info_actions .platform_btn .platform_ab{ width:100%; padding-top:5px; position:absolute; left:-1px; top:31px; background:#fff; display:none; z-index:1; border:1px solid #e3e3e3; border-top:0; border-bottom-left-radius:4px; border-bottom-right-radius:4px;}
.prod_info_actions .platform_btn .platform_ab a{ padding:7px 15px; display:block; line-height:20px; text-indent:30px; text-decoration:none;}
.prod_info_actions .platform_btn .platform_ab a:hover{ color:#888; background:#ddd;}
.prod_info_actions .platform_btn:hover .platform_ab{ display:block;}
.prod_info_actions .amazon_btn{text-decoration:none; color:#333; background:url(../../../images/global/icon_amazon.jpg) no-repeat 10px center;}
.prod_info_actions .aliexpress_btn{text-decoration:none; color:#333; background:url(../../../images/global/icon_aliexpress.png) no-repeat 10px center;}
.prod_info_actions .wish_btn{text-decoration:none; color:#333; background:url(../../../images/global/icon_wish.png) no-repeat 10px center;}
.prod_info_actions .ebay_btn{text-decoration:none; color:#333; background:url(../../../images/global/icon_ebay.png) no-repeat 10px center;}
.prod_info_actions .alibaba_btn{text-decoration:none; color:#333; background:url(../../../images/global/icon_alibaba.png) no-repeat 10px center;}
.sold_box{height: 26px;line-height: 26px;margin-top: 8px;font-size: 14px;}
.sold_box .fl{padding-right: 10px;}
.key_info_line{font-size:13px; color:#333; padding:5px 0 20px;}
.key_info_left{float:left; width: auto; text-align:left; padding-right:10px;}
.key_info_right{float:left; min-width:276px; _width:276px;}
.key_info_right>strong, .key_info_right>span{float:left; margin-right:5px; font-size:12px;}
.shipping_cost_price{color:#333;}
.shipping_cost_button{cursor:pointer; white-space:nowrap; background:url(../../../images/global/header_cart_hover.png) no-repeat right 6px; padding-right:11px;}
.shipping_cost_button:hover{text-decoration:underline;}

.pd_content{padding: 20px;}
.prod_description_padding{height: 60px;clear: both;}
.prod_description{overflow:hidden;}
.prod_description .prod_content>li{border-width: 1px 0 0;}
.prod_description .prod_content>li>.item{display: block;position: relative;height: 92px;line-height: 92px;font-size: 18px;cursor: pointer;}
.prod_description .prod_content>li>.item:before{content:'';position: absolute;right: 0px;top: 0;bottom: 0;margin:auto;width: 12px;height: 2px;background: #cfcfcf;}
.prod_description .prod_content>li>.item:after{content:'';position: absolute;right: 5px;top: 0;bottom: 0;margin:auto;width: 2px;height: 12px;background: #cfcfcf;}
.prod_description .prod_content>li.current>.item:after{display: none;}
.prod_description .prod_content>li .desc{display: none;min-height: auto;padding:13px 0px;}
.prod_description .prod_content>li .desc *{max-width: 100%;}
.prod_description .prod_content .item_specifics{border-width: 0 0 1px 0;}
.prod_description .prod_content>li.current .desc{display: block;}
#review_box{margin-top: 0;background: #fff;}
.prod_description .prod_write_review .review_title{display: none;}
.prod_description .prod_write_review .review_main{display: none;}
.prod_description .review_box{padding-bottom: 46px;border-bottom: 1px dotted #adadad;}
.prod_description .review_box .star_num{float: left;margin-right: 11px;height: 39px;line-height: 39px;font-size: 54px;color: #222;}
.prod_description .review_box .re_info{float: left;}
.prod_description .review_box .count{height: 10px;line-height: 10px;font-size: 14px;color: #999;margin-top: 14px;}
.prod_description .review_box .write_review{float: right;padding: 0 23px;background: #222;color: #fff;font-size: 14px;height: 39px;line-height: 39px;text-decoration: none;}
.review_item{padding: 35px 0;}
.prod_recent_review{min-height: auto;padding-bottom: 0;margin-bottom: 0;border:none;}
.prod_review_view .blank12{display: none;}
.prod_review_more{margin-top: 20px;text-align: center;font-size: 0;}
.prod_review_more .customer_btn{height: 38px;line-height: 38px;padding: 0 46px;border:1px solid #555;color: #555;font-size: 12px;display: inline-block;background: none;}

#prod_detail .sidebar{margin:0; padding:0;}
#may_like{border:none;}
#may_like .b_title{height: 54px;line-height: 54px;margin: 0;border-width: 0 0 1px 0;font-size: 18px;text-indent: 0;}
#may_like .b_list{padding:30px 0 60px 0px;}
#may_like .b_list .pro_item{float: left;width: 23.75%;padding: 0;border:0;margin-left: 1.666%;}
#may_like .b_list .pro_item.fir{margin-left: 0;}
#may_like .b_list .pro_item:hover{background: #fff;}
#may_like .b_list dt{position: relative;width: 100%;height: 0px;padding-top: 100%;float: none;}
#may_like .b_list dt a{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
#may_like .b_list .pro_info{width:auto;margin-left: 0;}
#may_like .b_list .pro_name{padding-top: 10px;line-height: 22px;max-height: 44px;overflow: hidden;-moz-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;}
#may_like .b_list .pro_price{padding: 0;line-height: 22px;max-height: 22px;overflow: hidden;}
#may_like .b_list .pro_price *{font-weight: normal;font-size: 16px;}
