/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/
/*******************新增语言版波斯语的样式调整 start**********************/

body.lang_fa .brisze .box_abs{}
body.lang_fa .brisze .item{float: right;}
body.lang_fa .brisze .left{left: unset;right: 11px;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .flash .tit{padding-left: 39px;background: #f7f7f7 url(../images/icon_false.png) no-repeat center left;}
body.lang_fa .flash .lad{float: right;}
body.lang_fa .flash .products_box {float: right;padding-right: 13px;margin-left: 25px;}
body.lang_fa .flash .products_box .prod_box{position: relative;text-align: right;}
body.lang_fa .flash .products_box .prod_box .pro_name{text-align: right;}
body.lang_fa .flash .products_box .prod_box .pro_mp .color{left: unset;top: 0;right:0;}
body.lang_fa .floor .flad{float: right;}
body.lang_fa .floor .frb .cate a{float: right;}
body.lang_fa .floor .frb .frpb .box_abs{}
body.lang_fa .floor .frb .frpb .box_item{float: right;}
body.lang_fa .floor .frb .frpb .prod_box{float: right;}
/* body.lang_fa .floor .style0 .frb .frpb .prod_box .add_to_cart{float: right;padding-left: 35px;background: url(../images/icon_addtocart.png) no-repeat left 6px center;text-align: right;color: #fff;margin-left: 1px;} */
body.lang_fa .floor .style0 .frb .frpb .prod_box .favorite{float: right;}
body.lang_fa .floor .style1 .frb .frpb .prod_box .prod_price{float: right;}
body.lang_fa .floor .style1 .frb .frpb .prod_box .prod_price .i_prod2_price1{float: right;}
body.lang_fa .floor .style1 .frb .frpb .prod_box .prod_price .i_prod2_price0{float: right;margin-left: 9px;}
body.lang_fa .newsletter .newto{float: right;}
body.lang_fa .newsletter .form .input input[type=text]{float: right;}
body.lang_fa .brisze{float: left;margin-right: 1px}
body.lang_fa .brisze .right{right: unset;left: 11px;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .flash .products_box .prod_box .prod_price .icon_discount {padding-left: 4px;padding-right: 2px;right: unset;left: 0px;}
body.lang_fa .floor .frb{float: left;}
body.lang_fa .floor .frb .left{right: unset;left: 57px;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .floor .frb .right{right: unset;left: 29px;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .floor .style0 .frb .frpb .prod_box .pic_box{float: left;}
/* body.lang_fa .floor .style0 .frb .frpb .prod_box .add_to_cart{float: right;padding-left: 35px;background: url(../images/icon_addtocart.png) no-repeat left 6px center;text-align: left;margin-left: 1px;} */
body.lang_fa .floor .style0 .frb .frpb .prod_box .icon_seckill{right: unset;left: 31px;}
body.lang_fa .floor .style0 .frb .frpb .prod_box .icon_new{right: unset;left: 31px;}
body.lang_fa .floor .style0 .frb .frpb .prod_box .icon_discount{right: unset;left: 31px;}
body.lang_fa .floor .style1 .frb .frpb .prod_box .add_to_cart{float: left;}
body.lang_fa .floor .style1 .frb .frpb .prod_box .icon_seckill{right: unset;left: 31px;}
body.lang_fa .floor .style1 .frb .frpb .prod_box .icon_new{right: unset;left: 31px;}
body.lang_fa .floor .style1 .frb .frpb .prod_box .icon_discount{right: unset;left: 10px;}
body.lang_fa .newsletter .form{float: right;margin-right: 106px;}
body.lang_fa .newsletter .form .input input[type=submit]{left: -92px;right: unset;}
body.lang_fa .floor .style0 .frb .frpb .prod_box .add_to_cart {float: right;}


/*******************新增语言版波斯语的样式调整 end  **********************/
.w_1200 .brisze{width: 276px;height: 464px;}
.w_1200 .brisze .tit{padding-top: 29px;padding-bottom: 46px;}
.w_1200 .brisze .box_rlt,.w_1200 .brisze .item{width: 236px;}

.w_1200 .brisze span.hd{display: block;}
.w_1200 #banner{width: 628px; height: 465px;margin-left: 289px; margin-right: 283px;}
.w_1200 #banner .bd,.w_1200 #banner .bd ul,.w_1200 #banner .bd li{height: 465px;}
.w_1200 .flash .products_box .prod_box.last{display: block;}

.w_1200 .newsletter .form .input input[type=text]{width: 464px;}
/*广告图*/
body{background: #f7f7f7;}
a{color: inherit;text-decoration: none;}
.brisze{position: relative;float: right;margin-right: 1px;margin-top: 1px;width: 225px;height: 386px;border: 1px solid #e6e6e6; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;background: #fff;}
.brisze .tit{font-size: 16px;color: #404040;line-height: 1;padding-top: 19px;padding-bottom: 26px;text-align: center;}
.brisze .box_rlt{position: relative;width: 100%;height: 300px;overflow: hidden;margin: 0 auto;width: 206px;}
.brisze .box_abs{position: absolute;top: 0;left: 0;}
.brisze .item{text-align: center;width: 206px;float: left;}
.brisze .item .img{width: 162px;height: 162px;margin: 0 auto;margin-bottom: 28px;}
.brisze .item p{color: #333333;font-size: 14px;line-height: 20px;overflow: hidden;max-height: 60px;}
.brisze .item .price{margin-top: 23px;}
.brisze .item .price b{display: inline-block;font-size: 20px;vertical-align: bottom;line-height: 1;margin-right: 6px;}
.brisze .item .price del{display: inline-block;font-size: 14px;color: #b2b2b2;vertical-align: bottom;line-height: 1;}
.brisze span.hd{display: none;font-size: 14px;color: #9a9a9a;margin-top: 24px;text-align: center;}
.brisze a.btn{position: absolute;display: block;width: 11px;height: 19px;top: 160px;}
.brisze .left{background: url(../images/icon_left.png) no-repeat center;left: 11px;}
.brisze .right{background: url(../images/icon_right.png) no-repeat center;right: 11px;}

#banner{position: relative; width: 521px; height: 386px; margin-left: 225px; margin-right: 253px; margin-top: 10px;}
#banner .hd{text-align: center;}
#banner .hd ul{text-align: center;display: inline-block;float: none;height: 100%;}
#banner .hd ul li{display: inline-block;width: 8px;height: 8px;border-radius: 50%;overflow: hidden;margin: 0 9px;background-color: #fff;}
#banner .hd ul li.on{background-color: #14264c;}
#banner .hd{position: absolute;height: auto;bottom: 29px;margin: 0 auto;left: 0;right: 0;}
#banner .bd,#banner .bd ul,#banner .bd li{height: 386px;}

.flash{margin-top: 37px;margin-bottom: 54px;background: #fff;}
.flash .tit{height: 32px;line-height: 32px;padding: 18px 0;font-size: 24px;color: #333;padding-left: 39px;background: #f7f7f7 url(../images/icon_false.png) no-repeat center left;font-weight: bold;clear: both;text-transform: uppercase;}
.flash .lad{float: left;width: 275px;height: 404px;position: relative;}
.Countdown{position: absolute;bottom: 156px;text-align: center;width: 100%;}
.Countdown .seconds,.Countdown .day_seconds,.Countdown .day_count{display: inline-block;width: 40px;height: 40px;line-height: 40px;color: #333;background: #bdc5d2;border-radius: 5px;font-size: 20px;}
.Countdown .day_count{margin-right: 20px;}
.Countdown .str{color: #333;display: inline-block;width: 20px;text-align: center;font-size: 30px;}
.Countdown .day{display: none;}
.flash .products_box {float: left;padding-right: 13px;margin-left: 25px;}
.flash .products_box .prod_box.last{display: none;}
.flash .products_box .prod_box{position: relative;width: 201px;height: 404px;min-height: auto;margin:0 10px;margin-bottom: 0;text-align: left;}
.flash .products_box .prod_box .pic_box{width: 201px;height: 201px;overflow: hidden;margin-top: 19px;}
.flash .products_box .prod_box .pro_name{height: 60px;margin-top: 28px;margin-bottom: 11px;overflow: hidden;text-align: left;line-height: 20px;}
.flash .products_box .prod_box .pro_name a{display: block;font-size: 14px;color: #333333;}
.flash .products_box .prod_box .pro_mp{position: relative;height: 14px;width: 181px;border-radius: 7px;overflow: hidden;border: 1px solid #0081c9;font-size: 12px;color: #0081c9;text-align: center;}
.flash .products_box .prod_box .pro_mp span{position: absolute;z-index: 1;left: 0;right: 0;}
.flash .products_box .prod_box .pro_mp .color{position: absolute;height: inherit;background-color: #8ed2f7;width: 50%;left: 0;top: 0;}
.flash .products_box .prod_box .prod_price{padding: 22px 0 0 0;}
.flash .products_box .prod_box .prod_price>*{display: inline-block;font-size: 20px;vertical-align: bottom;line-height: 1;}
.flash .products_box .prod_box .prod_price .currency_data{}
.flash .products_box .prod_box .prod_price del{display: inline-block;font-size: 14px;color: #b2b2b2;vertical-align: bottom;line-height: 1;margin-left: 6px;}
.flash .products_box .prod_box .prod_price .icon_discount {display: block;position: absolute;padding-left: 4px;padding-right: 2px;height: 23px;line-height: 23px;background-color: #c62727;font-size: 12px;color: #fff;text-align: center;white-space: nowrap;right: 0px;top: 19px;}
.flash .products_box .prod_box .prod_price .icon_discount b{display: inline-block;}

.lanad{margin: 50px auto;}
.lanad img{ max-height:165px;}


.w_1200 .floor .style0 .flad{width: 277px;}
.w_1200 .floor .style0 .frb{width: 923px;}
.w_1200 .floor .style0 .frb .frpb .box_item{width: 462px;}
.w_1200 .floor .style0 .flad .img,
.w_1200 .floor .style0 .frb .frpb .box_rlt{height: 505px;}
.w_1200 .floor .frb .cate a{font-size: 16px;}
.w_1200 .floor .style0 .frb .frpb .prod_box{width: 400px;padding: 39px 30px 32px;}

.floor{margin-top: 38px;padding-top: 2px;}
.floor .style0 .flad{width: 250px;}
.floor .flad{float: left;}
.floor .flad .tit{line-height: 55px;height: 55px;font-size: 16px;color: #ffffff;padding: 0 20px;overflow: hidden;white-space: nowrap;-ms-text-overflow: ellipsis; text-overflow: ellipsis;text-transform: uppercase;}
.floor .style0 .flad .img{height: 455px;}
/*.floor .flad .img{height: 455px;}*/
.floor .flad .img img{width: 100%;height: 100%;}
.floor .style0 .frb{width: 730px;}
.floor .frb{float: right;position: relative;height: 100%;background-color: #fff;overflow: hidden;}
.floor .frb .left{position: absolute;display: block;width: 8px;height: 14px;background: url(../images/icon_left2.png) no-repeat center;top: 20px;right: 57px;}
.floor .frb .right{position: absolute;display: block;width: 8px;height: 14px;background: url(../images/icon_right2.png) no-repeat center;top: 20px;right: 29px;}
.floor .frb .cate{padding-left: 12px;height: 54px;overflow: hidden;border-bottom: 1px solid #f0f0f0;}
.floor .frb .cate a{float: left;line-height: 54px;font-size: 14px;color: #333;margin: 0 16px;}
.floor .frb .frpb{display: none;}
.floor .style0 .frb .frpb .box_rlt{height: 455px;}
.floor .frb .frpb .box_rlt{position: relative;}
.floor .frb .frpb .box_abs{position: absolute;top: 0;left: 0;}
.floor .style0 .frb .frpb .box_item{width: 365px;}
.floor .frb .frpb .box_item{float: left;}
.floor .frb .frpb .prod_box{float: left;border-right: 1px solid #f0f0f0;border-bottom: 1px solid #f0f0f0;}
/*.floor .style0 .frb .frpb .prod_box:first-child{border-right: 1px solid #f0f0f0;border-bottom: 1px solid #f0f0f0;}*/
.floor .frb .frpb .prod_box + .prod_box{border-bottom: 1px solid #f0f0f0;}
.floor .style0 .frb .frpb .prod_box{width: 340px;height: 181px;min-height: auto;margin: 0;padding: 23px 12px 23px;}
.floor .style0 .frb .frpb .prod_box.bb{border-bottom: 1px solid #f0f0f0;}
.floor .style0 .frb .frpb .prod_box.br{border-right: 1px solid #f0f0f0;}
.floor .style0 .frb .frpb .prod_box .pic_box{width: 173px;height: 173px;}
.floor .style0 .frb .frpb .prod_box .pic_box{float: right;}
.floor .style0 .frb .frpb .prod_box .pro_name{width: 160px;color: #333333;font-size: 14px;height: 60px;line-height: 20px;margin-top: 9px;overflow: hidden;}
.floor .style0 .frb .frpb .prod_box .pro_name a{display: block;color: #333;}
.floor .style0 .frb .frpb .prod_box .prod_price{padding: 0;margin-top: 14px;margin-bottom: 39px;}
.floor .style0 .frb .frpb .prod_box .prod_price>*{display: inline-block;font-size: 14px;vertical-align: bottom;line-height: 1;}
.floor .style0 .frb .frpb .prod_box .prod_price .i_prod2_price0{color: #333;font-weight: normal;}
.floor .style0 .frb .frpb .prod_box .prod_price .i_prod2_price1{font-size: 20px;}
.floor .style0 .frb .frpb .prod_box .add_to_cart{float: left;padding-left: 35px;background: url(../images/icon_addtocart.png) no-repeat left 6px center;height: 37px;line-height: 40px;text-align: right;color: #fff;font-size: 14px;margin-left: 1px;background-color: #3498db;border-radius: 2px;}
.floor .style0 .frb .frpb .prod_box .add_to_cart:hover{transform: scale(1.01);-moz-transform: scale(1.01);-webkit-transform: scale(1.01);}
.floor .style0 .frb .frpb .prod_box .add_to_cart a{display: block;padding-right: 8px;color: #fff;text-decoration: none;}
.floor .style0 .frb .frpb .prod_box .favorite{float: left;width: 35px;height: 35px;border:1px solid #3498db;border-radius: 3px;background: url(../images/icon_heart.png) no-repeat center center;}
.floor .style0 .frb .frpb .prod_box .icon_seckill{display: none;position: absolute;font-size: 14px;color: #fff;text-transform: uppercase;text-align: center;height: 24px;line-height: 24px;right: 31px;top: 39px;padding:0 10px;}
.floor .style0 .frb .frpb .prod_box .icon_new{position: absolute;background-color: #3ed715;font-size: 14px;color: #fff;text-transform: uppercase;text-align: center;height: 24px;line-height: 24px;right: 31px;top: 65px;padding:0 10px;}
.floor .style0 .frb .frpb .prod_box .icon_discount{position: absolute;background-color: #c62727;font-size: 14px;color: #fff;text-transform: uppercase;text-align: center;height: 24px;line-height: 24px;right: 31px;top: 39px;padding:0 10px;}
.floor1 .frb .cate a.on{color: #ff8d68;}
.floor1 {background-color: #ff8d68;}
.floor2 .frb .cate a.on{color: #49d292;}
.floor2 {background-color: #49d292;}
.floor3 .frb .cate a.on{color: #1e9cb6;}
.floor3 {background-color: #1e9cb6;}
.floor4 .frb .cate a.on{color: #49beb7;}
.floor4 {background-color: #49beb7;}


.w_1200 .floor .style1 .flad{width: 340px;}
.w_1200 .floor .style1 .frb{width: 860px;}
.w_1200 .floor .style1 .frb .frpb .box_item{width: 296px;}
.w_1200 .floor .style1 .flad .img,
.w_1200 .floor .style1 .frb .frpb .box_rlt{height: 620px;}
.w_1200 .floor .style1 .frb .frpb .box_rlt{width: 860px;}
.w_1200 .floor .style1 .frb .frpb .prod_box{width: 200px;height: 270px;padding: 20px 35px;}
/*.w_1200 .floor .style1 .frb .frpb .prod_box .pic_box{width: 170px;height: 170px;}*/
.floor .style1 .flad{width: 300px;}
.floor .style1 .flad .img{height: 547px;}
/*.floor .flad .img{height: 455px;}*/
.floor .flad .img img{width: 100%;height: 100%;}
.floor .style1 .frb{width: 680px;}
.floor .style1 .frb .frpb .box_rlt{height: 547px;}
.floor .style1 .frb .frpb .box_item{width: 228px;}
.floor .style1 .frb .frpb .prod_box{width: 177px;height: 254px;min-height: auto;margin: 0;padding: 10px 25px;}
/*.floor .style1 .frb .frpb .prod_box:first-child{border-right: 1px solid #f0f0f0;border-bottom: 1px solid #f0f0f0;}*/
.floor .style1 .frb .frpb .prod_box .pic_box{width: 170px;height: 170px;}
.floor .style1 .frb .frpb .prod_box .pro_name{line-height: 18px;font-size: 13px;color: #333;height: 38px;overflow: hidden;margin: 5px 0;}
.floor .style1 .frb .frpb .prod_box .pro_name a{color: #333;text-decoration: none;}
.floor .style1 .frb .frpb .prod_box .prod_price{font-size: 20px;color: #000;float: left;margin-top: 6px;}
.floor .style1 .frb .frpb .prod_box .prod_price>*{display: inline-block;font-size: 20px;font-weight: normal;vertical-align: bottom;line-height: 1;}
.floor .style1 .frb .frpb .prod_box .prod_price .i_prod2_price1{font-weight: bold;font-size: 20px;color: #000;float: left;}
.floor .style1 .frb .frpb .prod_box .prod_price .i_prod2_price0{float: left;color: #959595;font-size: 14px;margin-left: 9px;}
.floor .style1 .frb .frpb .prod_box .add_to_cart{float: right;width: 30px;height: 30px;border-radius: 150px;overflow: hidden;}
.floor .style1 .frb .frpb .prod_box .add_to_cart a{display: block;background: url(../images/add_to_cart.png) no-repeat center center #1b81c5;height: 100%;overflow: hidden;font-size: 0;text-indent: 999px;}

.floor .style1 .frb .frpb .prod_box .favorite{display: none;}
.floor .style1 .frb .frpb .prod_box .icon_seckill{display: none;position: absolute;font-size: 14px;color: #fff;text-transform: uppercase;text-align: center;height: 24px;line-height: 24px;right: 31px;top: 39px;padding:0 10px;}
.floor .style1 .frb .frpb .prod_box .icon_new{position: absolute;background-color: #3ed715;font-size: 14px;color: #fff;text-transform: uppercase;text-align: center;height: 24px;line-height: 24px;right: 31px;top: 65px;padding:0 10px;}
.floor .style1 .frb .frpb .prod_box .icon_discount{position: absolute;background-color: #c62727;font-size: 14px;color: #fff;text-transform: uppercase;text-align: center;height: 24px;line-height: 24px;right: 10px;top: 10px;padding:0 10px;}


.newsletter{background-color: #333333;height: 121px;width: 100%;margin-top: 65px;overflow: hidden;}
.newsletter .newto{float: left;max-width: 45%;}
.newsletter .newto p{font-size: 25.11px;color: #fff;font-weight: bold;line-height: 26px;margin-top: 33px;margin-bottom: 12px;text-transform: uppercase;}
.newsletter .newto span{font-size: 16px;color: #fff;line-height: 1.2;}
.newsletter .form{float: right;text-align: center;margin-right: 106px;}
.newsletter .form .input{position: relative;width: 100%;height: 52px;margin-top: 34px;}
.newsletter .form .input input[type=text]{float: left;width: 300px;height: 50px;border: 1px solid #fff;border-top-left-radius: 24px;border-bottom-left-radius: 24px;padding: 0 36px;font-size: 14px;color: #666666;font-family: 'Verdana';}
.newsletter .form .input input[type=submit]{position: absolute;right: -92px;width: 135px;height: 52px;font-size: 14px;color: #787878;text-transform: uppercase;background-color: #fcd340;text-align: center;border-radius: 24px;font-weight: bold;cursor: pointer;border:none;}

body #app_gallery{background: #f7f7f7;padding-bottom: 0;}