@charset "UTF-8";

/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/

.w_1200 .search{width:660px;}
.w_1200 .search .text{width:590px;}
.w_1200 .nav_box{padding-left:276px;}
.w_1200 .nav_menu{width: 276px;margin-left: -276px;}
.w_1200 .nav_categories li>h2{width: 258px;}
.w_1200 .nav_categories li>h2>a{font-size: 16px;}
.w_1200 .nav_categories li.hover>h2{position:absolute; width:276px;}
.w_1200 .nav_categories li .nav_subcate{left: 276px;min-height: 485px;}
.w_1200 .wide{width:1200px; min-width:1200px;}

.w_1200 .side_right{width:946px;}
.w_1200 .pro_right{width:940px;}
.w_1200 .prod_sort a{padding:0 15px;}
.w_1200 .prod_menu{display:block;}

body{min-width: 980px;}
.wide{width: 980px;min-width: 980px;margin:auto;}
.trans{transition: all 0.2s ease;-moz-transition: all 0.2s ease;-webkit-transition: all 0.2s ease;}
.trans_img{overflow: hidden;}
.trans_img img{transition: all 300ms ease-out;-moz-transition: all 300ms ease-out;-webkit-transition: all 300ms ease-out;}
.trans_img img:hover{transform: scale(1.03);-moz-transform: scale(1.03);-webkit-transform: scale(1.03);}
input::placeholder{color: #b7b7b7;}
input::-moz-placeholder{color: #b7b7b7;}
input::-webkit-placeholder{color: #b7b7b7;}
/*******************新增语言版波斯语的样式调整 start**********************/
body.lang_fa * {direction: rtl;}
body.lang_fa .fr {float: left;}
body.lang_fa .fl {float: right;}
.w_1200.lang_fa .nav_categories li .nav_subcate{right: 276px;}
body.lang_fa .down_header_cart .cart_note {left: -1px;right: unset;}
body.lang_fa #top_bar .crossn li.line:before {right: 0;}
body.lang_fa .header_cart .cart_count {right: 70px;left: unset;}
body.lang_fa .nav_menu .nav_title {right:0;}
body.lang_fa .nav_menu .nav_title b{right:16px;}
body.lang_fa .nav_categories{right:0;}
body.lang_fa .help_menu .help_title {padding: 4px 13px 4px 0;}
body.lang_fa .nav_categories li.hover>h2{right:0;}
body.lang_fa .nav_categories li .nav_subcate{right:216px;}
body.lang_fa .nav_categories li .nav_subcate dl{float:right;}
body.lang_fa .nav_item li{display: block !important;float:right;}
body.lang_fa #top_bar .crossn li dt:before {left: 6px;}
body.lang_fa #top_bar .crossn li dt:after {left: 6px;}
body.lang_fa #top_bar .crossn li dd {left:0px;right: unset;}
body.lang_fa .nav_categories li>h2>em {left: 5px;}
body.lang_fa .nav_categories li>h2>i {left: 8px;}
body.lang_fa .nav_categories li.hover>h2>em {left: 23px;}
body.lang_fa .nav_categories li.hover>h2>i{left: 26px;}
body.lang_fa #footer_outer #service dl:last-child {float: left;;}
body.lang_fa #nav {position: relative;}
body.lang_fa .nav_item {position: absolute;right: 276px;}
body.lang_fa .nav_menu .nav_title a {padding-left: unset;padding-right: 46px;}
body.lang_fa .new_sidebar .pro_item {padding: 16px 65px 16px 0;}
body.lang_fa .new_sidebar .pro_item>dt {margin-right: -65px;margin-left: unset;}
body.lang_fa #nav .nav_sec {left: unset;right: 0;}
body.lang_fa #nav .nav_sec .nav_sec_item dt a {text-align: right;}
body.lang_fa #nav .small_nav_sec .nav_sec_item a em {right: unset;left: 20px;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa #nav .small_nav_sec .nav_thd_list {left: unset;right: 100%;}
body.lang_fa #nav .nav_sec .nav_thd_item>a {text-align: right;}
/*body.lang_fa .market_prod_list .pro_item .favorite {-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);!*IE*!filter:FlipH;}*/
body.lang_fa #prod_sort>a,body.lang_fa #prod_sort>span {float: right;}
body.lang_fa #signin_module .noCtrTrack {left: 0px;right: unset;}
body.lang_fa #signin_module #lb-wrapper .protect {padding-left: unset;padding-right: 30px;}
body.lang_fa #signin_module #lb-wrapper .protect .ckb {right: 4px;left: unset;}
body.lang_fa .detail_left {float: right;}
body.lang_fa .brand_shopbox .prod_info_actions .addtocart {float: right;margin-left: 10px;margin-right: unset;}
body.lang_fa .prod_info_actions .view_btn {float: right;}
body.lang_fa .prod_info_review .write_review {float: right;}
body.lang_fa .prod_info_review .review_star {float: right;}
body.lang_fa .prod_info_price .price_left .current_price .save_box {float: right;}
body.lang_fa .prod_info_price .price_left .current_price .left {float: right;}
body.lang_fa .brand_shopbox .rows h5 {float: right;margin-left: 10px!important;}
body.lang_fa #shopbox .shopbox_close {left: 0;right: unset;}
body.lang_fa .prod_info_currency .arrow {left:8px;right: unset;}
body.lang_fa .cart_step>div {float: right;}
body.lang_fa .list_content:before {left: 300px;right: unset;}
body.lang_fa .list_summary {margin-right: 20px;}
body.lang_fa .new_win_alert .win_btns .btn {float: left;}
body.lang_fa .input_box .input_box_label {left: unset;right: 11px;}
body.lang_fa .information_shipping .insurance .price {margin-right: 15px;}
body.lang_fa .market_prod_list .pro_item .favorite {right: unset;left: 0;}
body.lang_fa .new_win_alert .win_close .close {right: unset;left: 20px;}
body.lang_fa .new_win_alert.addtocart_alert .btn {float: left;}
body.lang_fa .new_win_alert.addtocart_alert .btn_cancel {float: right;}
body.lang_fa .new_win_alert .win_tips .icon_success_status {left: unset;right: 30px;}
body.lang_fa .new_win_alert .win_tips {padding: 20px 90px 20px 30px;}
body.lang_fa .information_address .address_default .edit_address_info {right: unset;left: 0;}
body.lang_fa .product_price_container .product_price_info .product_price_title {float: right;}
body.lang_fa .product_price_container .product_price_info .product_price_value {float: left;}
body.lang_fa .list_information {padding-right: 15px;float: right;}
body.lang_fa .search .text {border-radius: 0 21px 21px 0;}
body.lang_fa .newsletter .form .input input[type=text] {border-radius: 0 24px 24px 0;}
body.lang_fa .user_address_form .form_box .box {float: right;}
body.lang_fa .user_address_form .form_box .box:first-child {margin-right: 0;margin-left: 13px;}
body.lang_fa .itemFrom .prod_info_detail {padding: 20px 0 20px 60px;}
body.lang_fa.w_1200 .complete_container .complete .orders_info {margin-left: 0;margin-right: 54px;}
body.lang_fa .itemFrom .item_header {text-align: right;}
body.lang_fa .user_language dd {right: unset;left: 0;}
body.lang_fa .itemFrom .prod_operate>p {float: right;}
body.lang_fa .user_address_form .rows .box_input_group .input_group_addon {float: right;border-left: 0;border-radius: 0;border-right: 1px #c4cdd5 solid;}
body.lang_fa .itemFrom .operate_box {float: left;}
body.lang_fa.w_1200 .goods_view dt {float: left;}
body.lang_fa .order_summary .coupon_box .code_input .btn_coupon_submit {float: left;}
body.lang_fa .user_address_form .rows .box_input_group .input_box {float: right;}
body.lang_fa .user_address_form .rows .box_input_group .input_group {border-top-right-radius: 0;border-bottom-right-radius: 0;}
body.lang_fa .cart_header .step>a>b {margin-right: unset;margin-left: 12px;}
body.lang_fa .cart_step>div>b {margin-right: 0;margin-left: 13px;}
body.lang_fa .cart_step>div>em {left: unset;right: 0;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .cart_step>div>i {right: unset;left: -25px;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .detail_right {margin-top: 20px;}
body.lang_fa .brand_shopbox .prod_info_quantity .prod_info_inventory {margin-right: 10px;}
body.lang_fa .cart_header .step>a.step_0 {margin-left: 23px;}
body.lang_fa .complete_container .complete .orders_info .rows label {float: right;}
body.lang_fa .complete_container .complete .orders_info .rows span {float: right;}
body.lang_fa .down_header_cart .cart_list .cart_pro_img {right: 0;left: unset;}
body.lang_fa .down_header_cart .cart_list .cart_pro_name,body.lang_fa .down_header_cart .cart_list .cart_pro_property {margin-left:unset;margin-right: 73px;}
body.lang_fa .down_header_cart .cart_list .cart_pro_price {right: unset;left: 10px;}
body.lang_fa #turn_page li em {-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa #lib_user_menu {float: right;}
body.lang_fa .icon_page_next {margin-left: unset;margin-right: 6px;}
body.lang_fa .icon_page_prev {margin-left: 6px;margin-right: unset;}
body.lang_fa .user_page_pro .pro_item .pro_view .view {right: 0;left: unset;}
body.lang_fa .user_page_pro .pro_item .pro_view .remove {left: 0;right: unset;}
/*body.lang_fa .user_page_pro .pro_item.first {margin-left: 29px;}*/
body.lang_fa .user_page_pro .pro_item.first {margin-right: 0px;}
body.lang_fa .menu_title>li {float: right;}
body.lang_fa #user_setting_container .setting_form {float: right;}
body.lang_fa #user_setting_container .setting_title {float: right;}
body.lang_fa #lib_user_address .address_list .add_item {padding-left: 70px;padding-right: 20px;}
body.lang_fa #lib_user_address .address_list .add_item .options {right: unset;left: 0;}
body.lang_fa .inbox_container .dialogue_box_right .message {text-align: right;}
body.lang_fa .user_form .rows .submit {float: left;}
body.lang_fa .user_form .rows .upload_box {float: right;}
body.lang_fa .prod_info_wholesale .pw_column {border-left: 1px solid #e4e4e4;float: right;}
body.lang_fa .prod_info_wholesale .pw_table {border-left: unset;}
/* edit start */
/*body.lang_fa input{direction: rtl;unicode-bidi: bidi-override;}*/
body.lang_fa input{direction: ltr;}
/* edit end */
/*******************新增语言版波斯语的样式调整 end  **********************/
/*************************** header start ***************************/
.wide .currency{width: 55px;} 
#top_bar_outer{background:#333333;border-bottom: 1px solid #5b5b5b;}
#top_bar{height:34px; line-height:34px;font-size: 14px;}
#top_bar .freeship{width:316px; height:34px; padding-left:36px; background:url(../images/ico-img.png) -166px top no-repeat; overflow:hidden;}
#top_bar .crossn{margin-right:5px;}
#top_bar .crossn li{display:inline-block; padding:0 12px; height:34px; background:url(../images/ico-img.png) -199px -72px no-repeat; position:relative; z-index:1010;}
#top_bar .crossn li{color: #929292;position: relative;}
#top_bar .crossn li .FontColor{color: #fff;}
#top_bar .crossn li:first-child{background:url(../images/ico-img.png) -166px -36px no-repeat; padding-left:36px;}
#top_bar .crossn li.block{padding:0px;}
#top_bar .crossn li.line{width: 24px;height: 34px;position: relative;}
#top_bar .crossn li.line:before{content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin:auto;width: 1px;height: 19px;background: #5b5b5b;}
#top_bar .crossn li div strong{ margin-left:6px;}
#top_bar .crossn li:hover dt{background-color:#fff; border:1px solid #d1d1d1; border-bottom:none; z-index:1011; position:relative; -webkit-border-radius-topleft:6px; -moz-border-radius-topleft:6px; border-top-left-radius:6px; -webkit-border-radius-topright:6px; -moz-border-radius-topright:6px; border-top-right-radius:6px;}
#top_bar .crossn li dt.not_dd{background:none; border:1px transparent solid;padding-right: 0;}
#top_bar .crossn li dt{position: relative;height:28px; line-height:28px; margin-top:3px; border:1px solid transparent; padding:0 25px 0 10px; cursor:pointer; background:url(../images/ico-img.png) right -114px no-repeat;color: #fff;}
#top_bar .crossn li dt:before{content: '';position: absolute;width: 0;height: 0;top: 10px;right: 6px;border-style: solid;border-width: 7px 6px 0 6px;border-color: transparent;border-top-color: #fff;}
#top_bar .crossn li dt:after{content: '';position: absolute;width: 0;height: 0;top: 9px;right: 6px;border-style: solid;border-width: 7px 6px 0 6px;border-color: transparent;border-top-color: #333;}
#top_bar .crossn li:hover dt:before{border-top-color: #333;}
#top_bar .crossn li:hover dt:after{border-top-color: #fff;}
#top_bar .crossn li .crossn_currency_none dt:before, #top_bar .crossn li .crossn_currency_none dt:after{display: none;}
#top_bar .crossn li dt strong{width:40px; display:block; text-align:center;color: #fff;}
#top_bar .crossn li:hover dt,#top_bar .crossn li:hover dt strong,#top_bar .crossn li:hover .FontColor span,#top_bar .crossn li:hover a.FontColor{color: #333;}
#top_bar .crossn li:hover .crossn_currency_none dt strong{color: #fff;}
#top_bar .crossn li dt b{display:none; width:15px; height:15px; margin-left:5px; margin-bottom:-3px; overflow:hidden; background:url(../images/user/mail_icon.png) no-repeat;background-size: 14px;}
#top_bar .crossn li dt.not_dd:before,#top_bar .crossn li dt.not_dd:after{display: none;}
#top_bar .crossn li dt.not_dd,#top_bar .crossn li dt.not_dd a,#top_bar .crossn li dt.not_dd a.FontColor{color: #fff;}
#top_bar .crossn li dd{padding:5px 10px 8px; border:1px solid #d1d1d1; background:#fff; position:absolute; top:31px; right:0px; display:none;}
#top_bar .crossn li dd img{margin-right:5px;}
#top_bar .crossn li dd .inbox_tips{display:inline-block; height:15px; line-height:15px; margin-left:5px; margin-bottom:-3px; padding:0 4px; overflow:hidden; color:#fff; text-align:center; background-color:#c00; border-radius:5px;}
#top_bar .crossn li:hover dd{display:block; z-index:1010; -webkit-border-radius-bottomleft:6px; -moz-border-radius-bottomleft:6px; border-bottom-left-radius:6px; -webkit-border-radius-bottomright:6px; -moz-border-radius-bottomright:6px; border-bottom-right-radius:6px; -webkit-box-shadow:0 2px 7px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 2px 7px rgba(0, 0, 0, 0.3); box-shadow:0 2px 7px rgba(0, 0, 0, 0.3); -webkit-background-clip:padding-box; -moz-background-clip:padding-box; background-clip:padding-box;}
#top_bar .crossn li:hover dd.login{width:184px; padding:15px 10px;}
#top_bar .crossn li:hover dd.user{min-width:80px;}
#top_bar .crossn li:hover dd.user a{display:block; height:21px; line-height:21px; overflow:hidden;}
.wide .language a,.wide .currency a{font-size: 12px;color: #333;}

#header{background:#333333;}
#header .logo{width:266px; height:96px; overflow:hidden;}
#header .logo a{display:table-cell; height:96px; vertical-align:middle;}
#header .logo img{max-width:100%; max-height:100%;}

.search{width:450px; margin:27px 22px 0; background:#fff url(../images/repeat-bg.png) top repeat-x;border-radius: 21px;}
.search input{height:30px; border:0; outline:0;}
.search .text{width:385px; line-height:32px; font-size:14px; padding:5px 10px; padding-left:8px; border:1px solid transparent;border-radius: 21px 0 0 21px;font-style: italic;}
.search .button{width:32px; height:32px; margin: 5px;background-image:url(../images/icon_search.png); background-position:center center; background-repeat:no-repeat; cursor:pointer;background-color: #ffd800;border-radius: 16px;}

.header_cart{position:relative; height:43px; margin-top:23px; border:1px solid transparent;border-radius: 5px 5px 0 0;}
.header_cart.header_active{border-color: transparent;}
.header_cart .cart_inner{height:30px; display:block; position:relative; z-index:1009; background:url(../images/icon_head_cart.png) no-repeat 20px 10px ; padding:8px 0 11px;padding-left: 65px;text-decoration: none;color: #fff;}
.header_cart .cart_count{position:absolute; font-size:16px;}
.header_cart .cart_count{left:30px; top:3px; min-width:20px; height:20px;line-height: 21px;border-radius: 10px; text-align:center; color:#fff;font-size: 12px;background: #028abe;}
.header_cart .cart_text{display: block;margin-bottom: 3px;}
.header_cart .cart_count_price{}
.down_header_cart .cart_note{top: 45px;}
#nav_outer{border-bottom:1px #ccc solid;position:relative; z-index:1000;background: #404040;}
#nav{height:52px;}
#nav .nav_sec{top: 52px;}

.nav_box{padding-left:216px;}
.nav_menu{width:216px;margin-left:-216px;position:relative;}
.nav_menu .nav_title{height:52px; line-height:52px;position:absolute;top:0;left:0;width:100%;background: #fcd340;}
.nav_menu .nav_title a{font-size:16px; color:#333333; text-transform: uppercase; padding-left:46px; display:block; text-decoration:none;}
.nav_menu .nav_title b{position:absolute; top:16px; left:16px; width:18px; height:18px; background:url(../images/icon_menu.png) center center no-repeat;}
.nav_categories{position:absolute;top:52px;left:0;border:1px #e0e0e0 solid; background:#fff; display:none;padding-top: 16px;padding-bottom: 18px;-webkit-box-shadow:0 2px 2px rgba(0, 0, 0, 0.12); -moz-box-shadow:0 2px 2px rgba(0, 0, 0, 0.12); box-shadow:0 2px 2px rgba(0, 0, 0, 0.12);}
.nav_categories li{height:40px; position:relative;}
.nav_categories li>h2{width:198px; border-top:1px transparent solid; border-bottom:1px solid transparent; border-left:1px solid #fff; background:#fff; height:39px; margin:0 16px 0 0; overflow:hidden; position:relative;}
.nav_categories li:first-child>h2{border-top:1px solid #fff;}
.nav_categories li>h2>a{height:39px; line-height:39px; display:block; font-size:14px; color: #333;}
.nav_categories li>h2>a:hover{color: #333;text-decoration: none;}
.nav_categories li>h2>em{display: none;border-width:5px 0 5px 5px; border-style:solid; position:absolute; top:15px; right:5px; z-index:10;}
.NavArrowColor{border-color:transparent transparent transparent #ccc;}
.nav_categories li>h2>i{display: none;border-color:transparent transparent transparent #fff; border-width:5px 0 5px 5px; border-style:solid; position:absolute; top:15px; right:8px; z-index:11;}
.nav_categories li>h2 .pl{display: inline-block;width: 20px;}
.nav_categories li>h2 .more{display: inline-block;width: 39px;text-align: center;vertical-align: top;line-height: 27px;font-size: 20px;}
.nav_categories li>h2 .pic_box{display: inline-block;width: 39px;height: 39px;text-align: center;vertical-align: middle;}
.nav_categories li>h2 .pic_box:after{display: inline-block;height: 100%;vertical-align: middle;content: '';}
.nav_categories li>h2 img{max-width: 20px;max-height: 20px;display: inline-block;vertical-align: middle;margin-left: 3px;}
.nav_categories li.hover>h2{position:absolute; width:216px; border:1px solid #bbb; border-right:none; margin:0;  height:39px; z-index:10000; left:0;
 -webkit-box-shadow:-3px 1px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow:-3px 1px 5px rgba(0, 0, 0, 0.3); box-shadow:-3px 1px 5px rgba(0, 0, 0, 0.3);}
.nav_categories li.hover>h2>em{top:15px; right:23px; z-index:10;}
.nav_categories li.hover>h2>i{top:15px; right:26px; z-index:11;}
.nav_categories li .nav_subcate{position:absolute; left:216px; width:700px; padding:0 12px; min-height:405px; z-index:1001; border:1px solid #bbb; background:#fff; -webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.3); box-shadow:0 0 5px rgba(0, 0, 0, 0.3);}
.nav_categories li .nav_subcate dl{display:block; float:left; width:196px; margin:0 12px; padding:5px;}
.nav_categories li .nav_subcate dl.tline{border-top:1px solid #ddd;}
.nav_categories li .nav_subcate dl dt{font-weight:bold; line-height:160%; padding:8px 0;}
.nav_categories li .nav_subcate dl dd{padding:0 0 5px 3px;}
.nav_categories li .nav_subcate dl dd a{display:block; padding:2px 0; line-height:160%;}

.nav_item{height:52px; overflow:hidden;}
.nav_item li{float:left; line-height:52px;}
.nav_item li>a{text-align:center; color:#fff; padding:0 25px; display:inline-block; text-decoration:none;  font-size:14px;text-transform: uppercase;}
.nav_item li>a:hover{background: #525252;}
.nav_item li:hover dl{visibility:visible;}

/*************************** header end ***************************/




#footer_outer{background-color: #fff;}
#footer_outer #service{padding-bottom: 35px;font-size: 0;text-align: justify;text-justify: inter-ideograph;}
#footer_outer #service .br{display: inline-block;width: 100%;}
#footer_outer #service dl{display: inline-block;max-width: 20%;vertical-align: top;margin-top: 37px;float: none;}
#footer_outer #service dl dt{color: #111111;font-size: 14px;line-height: 16px;margin-bottom: 23px;text-transform: uppercase;font-weight: bold;}
#footer_outer #service dl dd{}
#footer_outer #service dl dd a{display: block;font-size: 12px;line-height: 24px;color: #333;height: 24px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#footer_outer #service dl:last-child{float: right;margin-right: 28px;}
#footer_outer #footer{margin: 30px auto 0;line-height: 30px; padding-bottom:10px;}
#footer_outer #footer .foot_pay{}
#footer_outer #footer .foot_copy{padding: 10px 0;line-height: 24px;overflow: hidden;-ms-text-overflow: ellipsis; text-overflow: ellipsis;white-space: nowrap;color: #aaaaaa;font-size: 12px;}
#footer_outer #service .follow_us_list li>a{height: 40px;line-height: 40px;}
.follow_us_list li{margin-right: 0;}
.partners_box a{margin: 0 5px;}
.partners_box img{max-height: 20px;}
.global_swap_chain{ background:#fff; color:#aaaaaa;}
.global_swap_chain a{color:#aaaaaa;}
/*************************** gloabl start ***************************/
.prod_price em{margin-right: 0;}
.icon_heart{width:18px; height:18px; background:url(../images/global/normal.png) no-repeat -679px -71px; display:inline-block; vertical-align:top;}
.hover_1 .icon_heart{ background:url(../images/global/normal.png) no-repeat -188px -117px;}

.pro_left{width:238px;}
.pro_left .ad{margin-top:20px;}
.pro_right{width:720px;}
.side_left,.help_menu{width: 238px;}

.sidebar{border:1px #e6e6e6 solid; margin-top:20px;}
.sidebar .b_title{height:35px; line-height:35px; border-bottom:1px #ccc dashed; margin:0 10px; font-size:15px;}
.sidebar .b_bottom{line-height:30px; color:#1363bc; text-decoration:none; margin-left:10px;}

/*************************** gloabl end **************************