@charset "UTF-8";

@font-face {
  font-family: "Roboto-Bold";
  src: url("Roboto-Bold.woff2") format("woff2"),
       url("Roboto-Bold.woff") format("woff"),
       url("Roboto-Bold.ttf") format("truetype"),
       url("Roboto-Bold.eot") format("embedded-opentype"),
       url("Roboto-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}