@charset "UTF-8";

@font-face {
  font-family: "Roboto-Regular";
  src: url("font.woff2") format("woff2"),
       url("font.woff") format("woff"),
       url("font.eot") format("embedded-opentype"),
       url("font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}