@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

/*************************** footer start ***************************/
footer .wrap{padding: 1rem .8075rem 4rem;} /* new style footer*/
footer .icon{padding-top:1.5625rem; margin-bottom:1.5625rem;}
footer .icon .item{ width:25%; float:left;}
footer .icon .item .img{ width:3.75rem; height:3.75rem; margin:0 auto;}
footer .icon .item .title{ text-align:center; margin-top:0.625rem; line-height:1rem; height:2rem; overflow:hidden; font-family:"OPENSANS";}

footer .footer_list>li{ margin-top:0.3125rem;}
footer .footer_list>li>a{ width:100%; height:2.5rem; line-height:2.5rem; overflow:hidden; color:#333; font-size:1rem; display:block; background:#f2f2f2; text-align:center; font-family:"OPENSANS";}
footer .footer_list>li .help_list{ display:none;}
footer .footer_list>li .help_list>li{ text-align:center; height:1.5625rem; line-height:1.5625rem; overflow:hidden;}
footer .footer_list>li .help_list>li>a{ color:#333; font-family:"OPENSANS"; font-size:0.875rem;}

footer .newsletter_box{ margin-top:1.25rem;}
footer .newsletter_box>h3{ font-size:1rem; text-align:center; font-family:"OPENSANS";}
footer .newsletter_box .newsletter_main{ margin-top:1.25rem;}
footer .newsletter_box .form_text{ width:100%; height:2.875rem; line-height:2.875rem; box-sizing:border-box; border:1px solid #eaeced; text-indent:0.625rem;}
footer .newsletter_box .form_button{ width:100%; height:2.875rem; line-height:2.5rem; color:#fff; margin-top:0.3125rem; border:0; font-size:0.875rem; font-family:"OPENSANS";}

footer .follow_us_list{ margin-top:0.9375rem; text-align:center;}
footer .follow_us_list li{ width:2.5rem; height:2.5rem; display:inline-block;}
footer .follow_us_list li>a{ width:100%; height:100%; display:block; overflow:hidden; text-indent:6.25rem; background-size:1.25rem auto; background-repeat:no-repeat; background-position:center;}
.icon_follow_facebook{background-image:url(../images/icon_follow_facebook.png);}
.icon_follow_twitter{background-image:url(../images/icon_follow_twitter.png);}
.icon_follow_pinterest{background-image:url(../images/icon_follow_pinterest.png);}
.icon_follow_linkedin{background-image:url(../images/icon_follow_linkedin.png);}
.icon_follow_youtube{background-image:url(../images/icon_follow_youtube.png);}
.icon_follow_google{background-image:url(../images/icon_follow_google.png);}
.icon_follow_vk{background-image:url(../images/icon_follow_vk.png);}
.icon_follow_instagram{background-image:url(../images/icon_follow_instagram.png);}

footer .copyright{ margin-top:0.9375rem; padding:1.25rem 0; border-top:1px solid #e5e5e5; color:#aaa; text-align:center;}
footer .copyright *{ color:#aaa;}

footer .menu{width:100%; height:4rem; background-color:#fff; border-top:1px solid #e5e5e5; position:fixed; bottom:0; z-index:100;}
footer .menu a{ width:20%; height:3rem; float:left; display:block; text-align:center; box-sizing:border-box; padding-top:2rem; color:#333; font-family:"OPENSANS"; background-repeat:no-repeat; background-size:1.5625rem auto; background-position:center .2rem; text-transform:uppercase;}
footer .menu a.home{ background-image:url(../images/menu_home.png);}
footer .menu a.products{ background-image:url(../images/menu_products.png);}
footer .menu a.rfp{ background-image:url(../images/menu_rfp.png);}
footer .menu a.cart{ background-image:url(../images/menu_cart.png);}
footer .menu a.account{ background-image:url(../images/menu_account.png);}
footer .menu a.zhz_products{ background-image:url(../images/menu_products.png);}
/*************************** footer end ***************************/