@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
font-size
rem		px
0.0625	1
0.3125	5
0.625	10
0.75	12
0.875	14
1		16
1.125	18
1.25	20
1.375	22
1.5		24
1.625	26
1.75	28
1.875	30
2.5		40
*/
html {overflow-x: hidden!important;}
body.lang_fa .list_wholesale {direction: ltr;}
body.lang_fa .list_wholesale * {direction: ltr;}
body.lang_fa .list_wholesale .ui_border_l {background-position: right top;}
body.lang_fa .list_wholesale .ui_border_l >div {direction: rtl;    padding-right: 20px;}
body.lang_fa {overflow-x: hidden!important;}
body.lang_fa * {direction: rtl;}
body.lang_fa .fr {float: left!important;}
body.lang_fa .fl {float: right!important;}
body.lang_fa .user_index_menu a {float: left;}
body.lang_fa .user_order .prod_list .plist .info {float: right;}
body.lang_fa .detail_box .txt .rows>strong,body.lang_fa .detail_box .txt .rows>span {float: right;text-align: right;padding-right: 15px;}
body.lang_fa .user_order .prod_list .plist .value {float: left;}
body.lang_fa .user_awaiting .para .more {float: right;}
body.lang_fa .form_name .box {float: right;margin-right: 0;margin-left:3%;}
body.lang_fa .crumb>em {float: right;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .crumb>a {float: right;}
body.lang_fa .detail_box .txt .rows>p {text-align: right;}
body.lang_fa .detail_summary>div .key,body.lang_fa .detail_summary>div .value {text-align: right;float: right;}
body.lang_fa .detail_summary>div .value  {text-align: left;}
body.lang_fa #user .address_row .para a.noselected,body.lang_fa #user .address_row .para a.edit,body.lang_fa #user .address_row .para a.del {float: left;}
body.lang_fa #user .address_row .para span {float: left;}
body.lang_fa .tips_confirm .tips_footer {text-align: left;}
body.lang_fa .crumb>a {float: right;}
body.lang_fa .prod_layer .layer_head .layer_back>em {-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .prod_layer .layer_head .layer_back {right: 0;left: unset;}
body.lang_fa .reviews_list .item .title>span {float:left;}
body.lang_fa .art_menu>a>em {float: left;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .crumb>em {float: right;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .tips_confirm .tips_header .btn_close {float: left;}
body.lang_fa .box_select {background: url(../../images/global/icon_select.png) no-repeat 0.6rem center;}
body.lang_fa .box_select>select {padding-right: 1%;}
body.lang_fa .user_menu li span {float: left;}
body.lang_fa .user_address_form .rows .box_input_group .input_group_addon {float: right;border-top-left-radius: 0;border-bottom-left-radius: 0;border-left:0;border-right: .0625rem #ddd solid;}
body.lang_fa #user .address_row .para a.selected i {margin-left:8px;margin-right: 0;}
body.lang_fa #user .inbox_tab_con .dialogue_box_right .message {text-align: right;}
body.lang_fa .inbox_form .submit_btn {float: left;}
body.lang_fa .inbox_form .input_box {float: right;}
body.lang_fa .inbox_form .upload_box {float: right;}
body.lang_fa .detail_prolist .item .fav_info .del {left: unset;right: .5rem};
body.lang_fa .user_awaiting .para .total {float: left;margin-left:0.6rem;}
body.lang_fa .user_order .title .status {float: left;}
body.lang_fa .user_order .title em {margin-right: 0.5rem;float: left;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .user_order .title .oid {float: right;}
body.lang_fa .user_awaiting .para .payment {float: left;}
body.lang_fa .user_awaiting .item li {float: right;}
body.lang_fa .user_menu li {background-position-x: right;padding-right: 2.6rem;}
body.lang_fa .user_menu li i {right: unset;left:5px;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .user_cart {padding-left: 0;padding-right:3.5rem;background: url(../images/icon_user_shopping_cart.png) right center #fff no-repeat;background-size:1.5rem;}
body.lang_fa .user_index_menu a.global_menu {margin-left: 0.8rem;}
body.lang_fa .nav_container .user .user_logo {float: right;}
body.lang_fa .prod_info_qty .stock>b {float: right;margin-left: 5px;}
body.lang_fa .header_top .head_menu {left: unset;right: 5px;}
body.lang_fa .header_top .logo h1 {text-align: right;}
body.lang_fa .header_top .head_menu.fr {left: 5px;right: unset;}
body.lang_fa .pop_up {right:0;left: unset;}
body.lang_fa .search_side .search .sub{left: .5rem;right: unset;}
body.lang_fa .search_side .close {left: unset!important;right: 0!important;}
body.lang_fa .search_side .close>em {-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .pop_up>.close {left: unset;right: 82vw;}
body.lang_fa .pop_up_container .category_title {float: left!important;}
body.lang_fa .pop_up_container .category_close>em {float: right;margin-right: 10px;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .pop_up.show{-webkit-transform:-webkit-translateX(0); transform:translateX(0);}
body.lang_fa .pop_up {-webkit-transform: -webkit-translateX(100%);transform: translateX(100%);position: fixed;}
body.lang_fa .header_top .logo {text-align: right;}
body.lang_fa .detail_pic_toolbar .gh_menu_back {right: .625rem;left: unset;}
body.lang_fa .detail_pic_toolbar .gh_menu_share {left: .625rem;right: unset;}
body.lang_fa .detail_pic {direction: ltr;}
body.lang_fa .detail_pic  * {direction: ltr;}
body.lang_fa .detail_pic_toolbar .gh_menu_back>i {-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .goods_pic .trigger {left: unset;right: .625rem;}
body.lang_fa .prod_info_price {float: right;}
body.lang_fa .prod_info_favorite {float: left;}
body.lang_fa .prod_info_qty .title {float: right;}
body.lang_fa .prod_info_qty .txt {float: right;}
body.lang_fa .prod_info_qty .stock {float: right;margin-right: .625rem;}
body.lang_fa .prod_info_action .buynow {margin-left: 1%;margin-right: 0;}
body.lang_fa #float_chat .float_list {right: unset;left: .5rem;}
body.lang_fa .icon_sort {margin: .4rem .4rem 0 0;}
body.lang_fa .sort_by_side .menu_list .sort_by_item>a>em {left: 0;right: unset;margin-left: .5rem;}
body.lang_fa .sort_by_side .menu_list .sort_by_item>a {padding-right: 1.5rem;padding-left: unset;}
body.lang_fa footer .menu a {float:right;}
body.lang_fa .menu_list .item a {margin-left: unset;margin-right: .3125rem;}
body.lang_fa #u_header a.cart {left: 0.9375rem;right: unset;}
body.lang_fa .checkout_summary>div .key, .checkout_summary>div .value {float: right;}
body.lang_fa .checkout_summary>div .value {text-align: left;}
body.lang_fa .cart_item_list .item .img .quantity {right: 0;}
body.lang_fa .cart_step>div {float: right;}
body.lang_fa .cart_total>div .title {float: right;}
body.lang_fa .menu_list .item.son>.icon>em {float: left;margin: 1.25rem 0 0 0.6rem;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .cart_total>div>span {float: left;}
body.lang_fa .cart_step>div>em {left: unset;right: 0;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .cart_step>div>i {left: -1rem;right: unset;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa #u_header a.menu {right: 2.5rem;left: unset;}
body.lang_fa .input_box .input_box_label {right: .6875rem;left: unset;}
body.lang_fa .checkout_button .btn_back>em {-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .ship_address_form .rows .box_input_group .input_group_addon {float: right;}
body.lang_fa #u_header a.back {-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}
body.lang_fa .user_login .user_email {background: url(../images/icon_user_login_email.png) no-repeat right .5rem/1rem;}
body.lang_fa .user_login .user_password {background: url(../images/icon_user_login_password.png) no-repeat right .5rem/1rem;}
body.lang_fa .user_login .user_input {padding-right: 2.5rem;padding-left: 0;}
body.lang_fa .pop_up_right {right: unset;left: 0;-webkit-transform: -webkit-translateX(-100%);transform: translateX(-100%);}
body.lang_fa .checkout_address .address_button {right: unset;left: .625rem;}
body.lang_fa .pop_up_container .side_head .side_close {left: 68vw;right: unset;}
/* body.lang_fa .detail_pic .detail_pic_container .goods_pic .fl {float: left!important;} */
/* body.lang_fa .pop_up_container .side_head .side_close>em {-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);IEfilter:FlipH;} */

body.lang_fa input {
	direction: ltr;
}
/*************************** 全局 start ***************************/
body{min-width:320px; height:100%; margin:0 auto; font-family:Arial, Helvetica, sans-serif; color:#333; background-color:#fff;}
.html_overflow, .html_overflow body{overflow:hidden; height:100%;} /* 禁止页面滚动 */
.wrapper{width:100%; min-height:240px; overflow:hidden; margin:0 auto;}
.wrapper:after,.wrapper:before{display:table; content:'';}
.wrapper:after{clear:both;}
.wrapper .banner{direction: ltr!important;}
.wrapper .banner ul{direction: rtl!important;}

.form_null{animation:null .3s 2 0s linear forwards; -webkit-animation:null .3s 2 0s linear forwards;}

/*面包屑*/
.crumb{height:1rem; padding:.625rem .625rem; color:#999; word-wrap:break-word; word-break:normal; background-color:#fafafa;}
.crumb>a{line-height:1.25rem; color:#333; font-weight:300; float:left; display:block; word-break:break-all;}
.crumb>em{margin:.2rem .375rem 0; border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #999; border-style:solid; float:left; display:block; position:relative; z-index:10;}
.crumb>em>i{border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #fff; border-style:solid; display:block; position:absolute; top:-.4rem; right:.1rem; z-index:11;}
.icon_crumb_home{width:1rem; height:1rem; background:url(../images/icon_crumb_home.png) no-repeat center bottom/100%; display:block;}
.hideden_h1{height: 0;overflow: hidden;}

/*按钮*/
.btn_global{width:100%; height:2.5rem; line-height:2.5rem; font-size:1rem; text-align:center; border:0; border-radius:.25rem; cursor:pointer; display:block; box-sizing:border-box; -webkit-box-sizing:border-box;}
.btn_view{margin:.3125rem 0; height:1.875rem;}
.btn_view>button{width:auto; height:1.875rem; line-height:1.875rem; margin:0 auto; padding:0 1rem; font-size:.75rem; background-color:#f2f2f2; display:inline-block; vertical-align:top;}
.btn_disabled{background-color:#f2f2f2!important; color:#bcbcbc!important; cursor:no-drop;}

/*内容为空 列表页为空*/
.content_blank{padding:10rem 1rem 3rem; text-align:center; font-size:.875rem; color:#929292; background:url(../images/bg_no_product.png) no-repeat center 3rem; background-size:12rem;}
.content_more{padding:1rem 0; text-align:center; font-size:.9375rem;}

/*间隔的灰色区域*/
.divide_5px{height:.3125rem; background-color:#f6f6f6;}
.divide_8px{height:.5rem; background-color:#f6f6f6;}
.divide_10px{height:.625rem; background-color:#f6f6f6;}
.divide_16px{height:1rem; background-color:#f6f6f6;}
.divide_20px{height:1.25rem; background-color:#f6f6f6;}

/*弹出窗口 包括头部导航、底部语言、底部货币*/
.pop_up{width:80%; max-width:400px; background-color:#fff;/* position:fixed;*/ position:absolute; top:0; bottom:0; left:0; margin:auto; z-index:10020; -webkit-transform:-webkit-translateX(-100%); transform:translateX(-100%); -webkit-transition:all .4s; transition:all .4s; visibility:hidden;}
/*.pop_up.category_side{width: 100%;}*/
.pop_up .close{width:10vw; height:10vw; max-width:50px; max-height:50px; position:absolute; left:86vw; top:4vh;}
.pop_up .close>em{width:10vw; height:10vw; max-width:50px; max-height:50px; background:url(../images/nav_close.png) no-repeat center/100%; display:block;cursor: pointer;}
.pop_up.show{-webkit-transform:-webkit-translateX(0); transform:translateX(0);}
.pop_up_right{left:auto; right:0; -webkit-transform:-webkit-translateX(100%); transform:translateX(100%);position: fixed;}
.pop_up_container{overflow-y:auto; -webkit-overflow-scrolling:touch;}
.pop_up_container .category_close{width:100%; height:3.4375rem; line-height:3.4375rem; padding: 0; margin: 0 !important;  position:absolute; right:auto; top:0; left:0; max-width: none;max-height: none;}
.pop_up_container .category_close>em{width:0; height:auto; margin:1.2rem auto 0 1.2rem; background:none; border-width:.5rem .5rem .5rem 0; border-color:transparent #999 transparent transparent; border-style:solid; display:block; position:relative; z-index:10;}
.pop_up_container .category_close>em>i{border-width:.5rem .5rem .5rem 0; border-color:transparent #fff transparent transparent; border-style:solid; display:block; position:absolute; top:-.5rem; left:.1rem; z-index:11;}
.pop_up_container .category_title{width: 84%;height:3.4375rem; float: right;line-height:3.4375rem; font-size:1rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.pop_up_container .side_head{height:3.4375rem; line-height:3.4375rem; text-align:center;}
.pop_up_container .side_head .side_close{width:1rem; height:3.3rem; line-height:3.3rem; padding-left:.625rem; padding-right:1rem; background-color:#fff; position:absolute; right:auto; top:auto; left:0; display:inline-block;}
.pop_up_container .side_head .side_close>em{width:auto; height:auto; margin:1.3rem .2rem 0 0; background:none; border-width:.5rem .5rem .5rem 0; border-color:transparent #848484 transparent transparent; border-style:solid; float:right; display:block; position:relative; z-index:10;}
.pop_up_container .side_head .side_close>em>i{border-width:.5rem .5rem .5rem 0; border-color:transparent #fff transparent transparent; border-style:solid; display:block; position:absolute; top:-.5rem; left:.1rem; z-index:11;}
.pop_up_container .side_head .side_title{font-size:1rem;}
.nav_container .user{height:4rem; line-height:4rem; overflow:hidden; font-size:.975rem; color:#aaa; background-color:#f5f5f5;}
.nav_container .user>a{font-size:.975rem;}
.nav_container .user .user_logo{width:2.5rem; height:2.5rem; line-height:2.5rem; margin:0 .9375rem; margin-top:.75rem; text-align:center; font-size:1rem; color:#fff; background-image:url(../images/icon_menu_user.png); background-repeat:no-repeat; background-position:center; background-size:100%; float:left;}
.nav_container .user.center{text-align:center;}
.menu_list{max-width:100%; height:1rem; overflow-x:hidden; overflow-y:auto;-webkit-overflow-scrolling:touch;}
.menu_list .menu_container{padding:0 .625rem;}
.menu_list .item{border-color:#ddd;height:3.375rem; line-height:3.375rem;overflow: hidden;}
.menu_list .item a{display: block;overflow:hidden; margin-left:.3125rem; font-size:1rem; color:#5f5f5f;}
.menu_list .item.son>a{display: inline-block;width: 83%;text-overflow: ellipsis;white-space: nowrap;}
.menu_list .item a>img{width:1rem; height:.6875rem; overflow:hidden; margin-right:.6rem;}
.menu_list .item a>b{ font-weight:bold; color:#333;}
.menu_list .item:last-child{border:0; background:none;}
.menu_list .item.son{position: relative;}
/*
.menu_list .item.son>.icon{position: absolute;right: 0;top: 0;bottom: 0;margin: auto -0.625em auto 0;width:22%; -webkit-transform:-webkit-rotate(0); transform:rotate(0); -webkit-transition:all .4s; transition:all .4s;}
.menu_list .item.son>.icon>em{margin:.85rem 1.1rem 0 0; border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #999; border-style:solid; float:right; display:block; position:relative; z-index:10;}
*/
.menu_list .item.son>.icon{position: absolute;top: 0;right: 0;bottom: 0;left: -0.625rem;width:100%;padding: 0 0.625rem;}
.menu_list .item.son>.icon>em{margin: 1.25rem 0.6rem 0 0;border-width: .5rem 0 .5rem .5rem;border-color:transparent transparent transparent #999;border-style:solid;float:right;display:block;position:relative;z-index:10;-webkit-transform:-webkit-rotate(0);transform:rotate(0);-webkit-transition:all .4s;transition:all .4s;}
.menu_list .item.son>.icon>em>i{border-width: .5rem 0 .5rem .5rem;border-color:transparent transparent transparent #fff;border-style:solid;display:block;position:absolute;top: -.5rem;right:.1rem;z-index:11;}
.menu_list .item.son .current_list{height:1.25rem; line-height:1.25rem;}
.menu_list .item.son .current_list>span{padding:0 .3rem; font-size:.75rem; color:#ccc;}
/*
.menu_list .item.open>.icon{-webkit-transform:rotate(90deg); transform:rotate(90deg);}
.menu_list .item.open>.icon>em{margin:.4rem .2rem 0 0;}
*/
.menu_list .item.open{height:auto;}
.menu_list .item.open>.icon>em{transform:rotate(90deg); -webkit-transform:rotate(90deg);}
.menu_list .item.open>.icon>em>i{top:-.4rem; right:.1rem;}
.menu_list .currency_item img{margin-left:.3rem;}
.menu_list .menu_son{display:none; border-color:#f8f8f8;}
.menu_list .menu_son .item{margin-left:.625rem; border:0;}
.menu_list .menu_son .item a{border-bottom:.0625rem #f2f2f2 solid;}
.menu_list .menu_son .item:last-child a{border:0;}
.menu_list .menu_grandson{border:0;}
.menu_list .menu_grandson a{color:#878787;}
.menu_list .menu_grandson .item:last-child a{border-bottom:.0625rem #f2f2f2 solid;}
.menu_list .attr_son{padding:.625rem; padding-bottom:0;}
.menu_list .attr_son span{line-height:2rem; margin:0 .3125rem .625rem 0; padding:0 .625rem; color:#333; white-space:nowrap; cursor:pointer; border-radius:.3215rem; position:relative; vertical-align:middle; display:inline-block;}
.menu_list .attr_son span>em{width:.5rem; height:.5rem; margin-left:.3rem; margin-top:.75rem; background:url(../images/icon_remove_white.png) no-repeat center; background-size:100%; float:right; display:block;}
.menu_list .attr_son span.current{color:#fff;}
.menu_list .menu_divide{height:.5rem; background-color:#eee;}
.menu_button{padding:.8rem .625rem;}
.menu_button .btn{width:48%; text-transform:uppercase; font-size:.9rem; color:#fff; float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.menu_button .btn:first-child{margin-right:4%;}
.menu_button .btn>em{width:1.15rem; height:1.15rem; margin-right:.625rem; margin-top:.65rem; background-repeat:no-repeat; background-position:center; background-size:100%; display:inline-block; vertical-align:top;}
.menu_button .btn_default{background-color:#d0d0d0;}
.menu_button .btn_default>em{background-image:url(../images/icon_refine_clear.png);}
.menu_button .btn_primary>em{background-image:url(../images/icon_refine_apply.png);}
.refine_current{padding:1rem .625rem .375rem; background-color:#f6f6f6;}
.refine_current>a{height:1.5rem; line-height:1.5rem; margin:0 .625rem .625rem 0; padding:0 .625rem; font-size:.75rem; color:#333; background-color:#fff; border:.0625rem #ccc solid; border-radius:.3125rem; display:inline-block;}
.refine_current>a>em{width:.5rem; height:.5rem; margin-left:.3rem; margin-top:.5rem; background:url(../images/icon_remove_black.png) no-repeat center; background-size:100%; float:right; display:block;}

.modal_side .menu_list{padding:0;}
.modal_side .menu_list .item a{margin-left:.625rem; display:block;}
.modal_side .menu_list .item.son>.icon{right: 0;width: 0;left: auto;padding: 0;}

.search_side{width:100%;}
.search_side .close{width:1rem; height:3.4375rem; line-height:3.4375rem; padding:0 .625rem; background-color:#fff; position:inherit; top:auto; left:0; z-index:1; display:inline-block;}
.search_side .close>em{width:auto; height:auto; margin:1.2rem .2rem 0 0; background:none; border-width:.5rem .5rem .5rem 0; border-color:transparent #999 transparent transparent; border-style:solid; float:right; display:block; position:relative; z-index:10;}
.search_side .close>em>i{border-width:.5rem .5rem .5rem 0; border-color:transparent #fff transparent transparent; border-style:solid; display:block; position:absolute; top:-.5rem; left:.1rem; z-index:11;}
.search_side .search{height:3.5rem; padding-left:2.625rem; padding-right:3.125rem; position:relative;}
.search_side .search .text{width:100%; height:3.5rem; line-height:1rem; padding-left:.375rem; font-size:.875rem; background:none; border:0; border-radius:0;}
.search_side .search .sub{background:url(../images/icon_search_submit.png) no-repeat center/1.5rem; right:.5rem;}
.search_side .search .reset{background:url(../images/icon_search_reset.png) no-repeat center/1.5rem; right:.625rem;}
.search_side .search .sub, .search_side .search .reset{width:2.5rem; height:3.5rem; border:0; position:absolute;}
.search_side .menu_list{padding:0 .625rem;}
.search_side .menu_list .search_title{height:1rem; line-height:1rem; margin-top:1.5rem; font-size:.75rem;}
.search_side .menu_list .search_list>a{line-height:2rem; margin-right:1rem; margin-top:1rem; padding:0 1.25rem; font-size:.875rem; color:#555; background-color:#f5f5f4; border-radius:.3125rem; display:inline-block; vertical-align:top;}

.sort_by_side{position:fixed;}
.sort_by_side .menu_list{padding-top:.625rem; padding-bottom:.625rem; background-color:#fafafa;}
.sort_by_side .menu_list .sort_by_item{border-color:#ddd; position:relative;}
.sort_by_side .menu_list .sort_by_item>a{height:2.5rem; line-height:2.5rem; overflow:hidden; padding-left:1.5rem; font-size:.875rem; color:#5f5f5f; display:block;}
.sort_by_side .menu_list .sort_by_item>a>em{width:1rem; height:1rem; margin-top:.75rem; margin-right:.5rem; background-image:url(../images/icon_checkbox_s.png); background-repeat:no-repeat; background-position:center; background-size:100%; display:inline-block; position:absolute; top:0; right:0; vertical-align:top;}
.sort_by_side .menu_list .sort_by_item>a.current{color:#fff;}
.sort_by_side .menu_list .sort_by_item>a.current>em{background-image:url(../images/icon_checkbox_s_current.png);}

#detail_top{position:fixed; top:0; width:100%; max-width:100%; z-index:10;}

@media (min-width:500px){
	.pop_up .close{left:430px;}
	.pop_up_container .category_close{left:0;}
}

/*勾选按钮(带动画效果)*/
.checkbox_wrapper{width:100%;}
.checkbox_wrapper .checkbox_input{display:table-cell; padding-right:.625rem; white-space:nowrap;}
.checkbox_wrapper .checkbox_input .checkbox_check{vertical-align:-.25rem; width:1.125rem; height:1.125rem; background-color:#fff; border:.0625rem #d9d9d9 solid; border-radius:.25rem; position:relative; cursor:pointer; box-sizing:border-box; -webkit-box-sizing:border-box; box-shadow:0 0 0 0 #27ca9f inset; -webkit-box-shadow:0 0 0 0 #27ca9f inset; transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out; appearance:none; -moz-appearance:none; -webkit-appearance:none; -webkit-font-smoothing:inherit;}
.checkbox_wrapper .checkbox_input .checkbox_check:hover{border-color:#ccc;}
.checkbox_wrapper .checkbox_input .checkbox_check:after{display:block; width:.625rem; height:.5rem; background-image:url(../images/btn_checkbox_check.svg); margin-right:-.25rem; margin-left:-.3125rem; position:absolute; top:.3rem; left:50%; opacity:0; transition:all 0.2s ease-in-out 0.1s; -webkit-transition:all 0.2s ease-in-out 0.1s; transform:scale(.2); -webkit-transform:scale(.2); content:"";}
.checkbox_wrapper .checkbox_input .checkbox_check:checked{border:none; box-shadow:0 0 0 .625rem #27ca9f inset; -webkit-box-shadow:0 0 0 .625rem #s27ca9f inset;}
.checkbox_wrapper .checkbox_input .checkbox_check:checked:after{opacity:1; transform:scale(1); -webkit-transform:scale(1);}
.checkbox_wrapper .checkbox_label{display:table-cell; vertical-align:middle; width:100%; font-size:.75rem; cursor:pointer;}
/*************************** 全局 end ***************************/



/*************************** 浮动在线客服 start ***************************/
#float_chat .float_list{width:2.5rem; height: 8.5rem; overflow:hidden; position:fixed; bottom:20%; right:.5rem; z-index:1000;}
#float_chat .float_list>a{width:2.5rem; height:2.5rem; overflow:hidden; margin-bottom:.5rem; text-indent:9.99rem; background-image:url(../images/icon_chat.png); background-repeat:no-repeat; background-position:center center; background-size:1.3rem; display:block;}
#float_chat .float_list>a.message_us{background-image: none;text-indent: 0;}
#float_chat .float_list>a.btn_top{background-image:url(../images/icon_to_top.png); background-color:rgba(119,119,119,.5); background-size:1.6rem; display:none;}
#float_chat .inner_chat{width:80%; line-height:.44rem; margin-top:-.96rem; padding:.16rem 0 .32rem; text-align:left; font-size:.75rem; color:#fff; background:rgba(255,255,255,.95); border-radius:.5rem; position:fixed; left:10%; top:47%; z-index:10001; display:none;}
#float_chat .inner_chat .chat_hd{line-height:180%; margin-left:.75rem; padding:.75rem 0 .2rem; font-size:.875rem; color:#fff;}
#float_chat .inner_chat .chat_bd{width:92%; height:9.375rem; overflow-y:scroll; padding:.5rem 4%;}
#float_chat .inner_chat .chat_bd>a{height:2.5rem; line-height:2.5rem; padding-left:18%; font-size:1rem; color:#333; background:url(../images/chat_skype.png) no-repeat 10% center; border-bottom:.0625rem #ddd solid; display:block;}
#float_chat .inner_chat .chat_bd .skype{background:url(../images/chat_skype.png) no-repeat 10% center/1rem;}
#float_chat .inner_chat .chat_bd .email{background:url(../images/chat_email.png) no-repeat 10% center/1rem;}
#float_chat .inner_chat .chat_bd .whatsapp{background:url(../images/chat_whatsapp.png) no-repeat 10% center/1rem;}
#float_chat .inner_chat .chat_bd .qq{background:url(../images/chat_qq.png) no-repeat 10% center/1rem;}
#float_chat .inner_chat .chat_close{width:2rem; height:2rem; margin:0 auto; background:url(../images/icon_close.png) no-repeat center center/75%; content:'';}
/*************************** 浮动在线客服 end ***************************/



/*************************** 单页/文章 start ***************************/
.art_content{font-size:.75rem; padding:1.25rem .625rem; line-height:1rem; box-sizing:border-box; -webkit-box-sizing:border-box;}
.art_content strong{font-weight: bold;}
.art_content *{ line-height:1.25rem;}/*font-size:.75rem;*/

.art_menu{padding:0 .625rem; border:#cecece solid; border-width:.0625rem 0;}
.art_menu>a{height:2.5rem; line-height:2.5rem; font-size:.875rem; color:#535353; background:no-repeat .8rem center; background-size:1.5rem; border-bottom:.0625rem #ddd solid; display:block;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;}
.art_menu>a>em{margin-top:.9rem; border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #999; border-style:solid; float:right; display:block; position:relative; z-index:10;}
.art_menu>a>em>i{border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #fff; border-style:solid; display:block; position:absolute; top:-.4rem; right:.1rem; z-index:11;}
.art_menu>a:last-child{border:0;}


.info_list{margin-bottom:2rem;}
.info_list li{line-height:1.25rem; padding:.5rem 0; border-bottom:.0625rem #ddd dotted;}
.info_list li>a{width:75%; height:1.25rem; overflow:hidden; font-size:.75rem; color:#333; float:left; display:block; box-sizing:border-box; -webkit-box-sizing:border-box;}
.info_list li .time{width:25%; line-height:1.25rem; text-align:right; font-size:.75rem; color:#999; float:right; display:block; box-sizing:border-box; -webkit-box-sizing:border-box;}
.info_list li:first-child{padding-top:0;}
/*************************** 单页/文章 end ***************************/



/*************************** 产品列表页 start ***************************/
.icon_sort{width:0; height:0; margin:.4rem 0 0 .4rem; border-left:.3rem transparent solid; border-right:.3rem transparent solid; border-top:.3rem #000 solid; display:inline-block; vertical-align:top;}
.icon_refine{width:1rem; height:1rem; margin:0 .2rem -.2rem 0; background:url(../images/icon_refine.png) no-repeat center; background-size:1rem; display:inline-block;}
.icon_view_list{width:1rem; height:1rem; margin:0 0 -.2rem 0; background:url(../images/icon_view_list.png) no-repeat center; background-size:1rem; display:inline-block;}
.icon_view_gallery{width:1rem; height:1rem; margin:0 0 -.2rem 0; background:url(../images/icon_view_gallery.png) no-repeat center; background-size:1rem; display:inline-block;}

#filter{padding:.625rem 0; background-color:#f8f8f8; position:relative;}
.prod_sort>li{position:relative;}
.prod_sort>li>a{line-height:1rem; padding:.3125rem .625rem; font-size:.875rem; color:#333; position:relative; display:block;}
.prod_sort>li>a>em{display:none;}
.prod_sort>li>a.current{background-color:#fff;}
.prod_sort>li>a.current>em{width:100%; height:.7rem; background-color:#fff; border:#f2f2f2 solid; border-width:0 .0625rem; position:absolute; bottom:-.55rem; left:-.0625rem; z-index:1015; display:block;}
.prod_sort>li>a.dropdown_view{padding-left:.3125rem; padding-right:.3125rem;}

.dropdown_menu{width:101%; background-color:#fff; position:absolute; top:93%; left:-.0625rem; z-index:1010; display:none;}
.dropdown_menu>li{margin:0 .75rem;}
.dropdown_menu>li>a{line-height:1.5rem; padding:.3125rem; font-size:.875rem; font-weight:400; white-space:nowrap; color:#555; display:block; clear:both;}
.dropdown_menu>li>a.current{color:#005ab0; background:url(../images/icon_current.png) no-repeat right center; background-size:1rem;}
.dropdown_menu>li>a>i, .sort_price{width:.09rem; height:.11rem; margin-left:.07rem; vertical-align:middle; display:inline-block;}
.sort_icon_arrow{background:url(../../default/images/global/normal.png) no-repeat -4.61rem -.24rem;}
.sort_icon_arrow_down{background:url(../../default/images/global/normal.png) no-repeat -4.42rem -.24rem; margin-bottom:3px;}
.sort_icon_arrow_up{background:url(../../default/images/global/normal.png) no-repeat -4.87rem -1.16rem; margin-bottom:3px;}

.overflow_hidden{overflow:hidden; height:100%;}

#pro_box{position:relative;}
#prolist_mask, #prolist_mask_footer{width:100%; height:100%; overflow:hidden; position:absolute; top:0; left:0; background:#000; opacity:0.6; z-index:1000; display:none;}

.pro_item{width:44vw; margin-top:1rem; padding:0 3vw; display:inline-block; vertical-align:top;}
.pro_item .img{width:100%; height:44vw; min-height:44vw; text-align:center; background:url(../../images/global/loading.gif) no-repeat center; background-size:11.7%; position:relative;}
.pro_item .img img{max-height:100%; vertical-align:middle;}
.pro_item .name{height:2rem; line-height:1rem; overflow:hidden; padding-top:.3125rem;}
.pro_item .name a{font-size:.75rem; color:#333;}
.pro_item .price{line-height:1rem; padding-top:.3125rem;}
.pro_item .price .cur_price{font-size:.875rem; color:#010101;}
.pro_item .price .old_price{font-size:.6rem; color:#999;}
.pro_item .price .discount{height:1rem; line-height:1rem; margin-right:.5rem; padding-left:.4rem; border-top-left-radius:.1rem; border-bottom-left-radius:.1rem; position:relative;background: #EA215C;}
.pro_item .price .discount>span{font-size:.75rem; color:#fff; padding-right:1.3rem; background:url(../images/bg_discount_percent.png) no-repeat right center/60%;}
.pro_item .price .discount.icon_seckill{display: none;}
.pro_item .price .discount.icon_seckill>span{background: none;padding-right: .4rem;}
.pro_item .price .discount.icon_seckill>em{display: none;}
.pro_item .price .discount>em{width:0; height:0; border-top:.5rem transparent solid; border-bottom:.5rem transparent solid; border-left:.5rem #EA215C solid; position:absolute; right:-.5rem; top:0;}
.pro_item .free_shipping{line-height:1rem; padding-top:.3125rem; color:#999;}
.pro_item .star .review_star>span{width:.8rem; height:1rem; margin-left:0;}
.pro_item .star .total{margin-left:.3125rem; display:inline-block; vertical-align:top;}
.pro_item .star, .pro_item .sold{height:1.2rem; line-height:1.2rem; overflow:hidden; padding-top:.3125rem; font-size:.75rem; color:#999;}

.pro_list_item{width:94vw; overflow:hidden; margin:0 3vw; padding:1rem 0;}
.pro_list_item .img{width:32vw; height:32vw; min-height:32vw;}
.pro_list_item .desc{margin-left:36vw;}
.pro_list_item .name{height:3rem; line-height:1rem; overflow:hidden; margin-top:-.2rem; padding:0;}
.pro_list_item .price{height:2rem; overflow:hidden;}
.pro_list_item .price .old_price{display:block;}
.pro_list_item .price .discount{margin-left:.625rem;}
.pro_list_item .star, .pro_list_item .sold{padding-top:.5rem;}

.pro_store_item{width:44%; padding:0 3%;}

@media (min-width:480px) and (max-width:736px){
	.pro_store_item{width:27.2%;}
	.pro_store_item .img{height:30vw; min-height:30vw;}
}

@media (min-width:736px) and (max-width:839px){
	.pro_store_item{width:27.2%;}
	.pro_store_item .img{height:30vw; min-height:30vw;}
}

@media (min-width:839px){
	.pro_store_item{width:233px; margin-top:25px; padding:0 20px;}
	.pro_store_item .img{height:233px; min-height:233px;}
}
/*************************** 产品列表页 end ***************************/



/*************************** 会员中心 Start ***************************/
.null{-webkit-animation:null .3s 2 0s linear forwards; animation:null .3s 2 0s linear forwards;}

.user_login_tab{height:3.125rem; overflow:hidden; margin:1.25rem .625rem; border:.0625rem #e0e0e0 solid; border-radius:.3125rem;}
.user_login_tab div{width:50%; line-height:3.125rem; text-align:center; font-size:1.25rem; color:#bbb; background-color:#f0f0f0;}
.user_login_tab div.on{color:#646464; background-color:#fff;}

.user_binding{margin:1.25rem .526rem;}

.user_login{margin:.3rem .526rem .16rem;}
.user_login .rows{margin:0 .9375rem .625rem;}
.user_login .rows .field{font-size:.875rem; line-height:1.5rem;}
.user_login .rows .input{font-size:.75rem; line-height:.75rem;}
.user_login .rows .box_input{width:96%; padding:0 2%;}
.user_login .rows .box_input.null{border-color:#f00;}
.user_login .rows .box_birthday_input{appearance:none; -moz-appearance:none; -webkit-appearance:none; -ms-appearance:none}
.user_login .rows .box_birthday_input::-webkit-calendar-picker-indicator{visibility:hidden;}
.user_login .rows .box_birthday_input::-webkit-clear-button{visibility:hidden;}
.user_login .rows .box_birthday_input::-ms-expand{display:none;}
.user_login .rows .form_code .box{width:30%;}
.user_login .rows .form_code .box .field{height:1.25rem;}
.user_login .rows .form_code .box img{height:2.1875rem; line-height:2.1875rem;}
.user_login .rows .form_code .box:first-child{width:64%;}
.user_login .rows p.error{line-height:1rem; color:#f00; display:none;}
.user_login .user_login_box{margin:0 .526rem;}
.user_login .user_login_t{line-height:1.25rem; margin:.75rem auto .625rem; padding-left:5%; font-size:1rem; color:#262626;}
.user_login .user_input{line-height:2.1875rem; margin:0 auto; padding-left:2.5rem; padding-bottom:.75rem;}
.user_login .user_input .ui_border_b{padding-bottom:.75rem;}
.user_login .user_input input{width:100%; padding-left:2%; color:#7e7e7e; font-size:1rem; background:none; box-sizing:border-box; -webkit-box-sizing:border-box;}
.user_login .user_email{background:url(../images/icon_user_login_email.png) no-repeat .5rem .5rem/1rem;}
.user_login .user_password{background:url(../images/icon_user_login_password.png) no-repeat .5rem .5rem/1rem;}
.user_login .user_forgot{padding:.3125rem 0; text-align:center;}
.user_login .user_forgot>a{font-size:1rem; color:#a4a4a4;}
.user_login .null{background-color:#FFF3F3; animation:null .3s 2 0s linear forwards; -webkit-animation:null .3s 2 0s linear forwards;}
.user_login .oauth_title{width:60%; height:1rem; line-height:1rem; margin:2.5rem auto 1.5rem; text-align:center; position:relative;}
.user_login .oauth_title .float{width:100%; height:2rem; position:absolute; top:0; left:0; display:block;}
.user_login .oauth_title .float>strong{height:2rem; line-height:2rem; margin:0 auto; padding:0 .625rem; font-size:1rem; color:#c1c1c1; background-color:#fff;}
.user_login .oauth_body{padding-bottom:3rem; text-align:center;}
.user_login .login_ex{width:3rem; height:3rem; overflow:hidden; margin:.3rem .3rem; background-color:#c00; display:inline-block; vertical-align:middle;}
.user_login .login_ex a{width:inherit; height:inherit; overflow:hidden; text-indent:-999rem; display:block;background: none !important;}
.user_login .g-signin2 .abcRioButton, .user_login .g-signin2 .abcRioButton:hover{width:184px!important; height:32px!important; background:none; box-shadow:none;}
.user_login .g-signin2 .abcRioButtonIcon{display:none;}

.user_login .oauth_body #fb_button{background:url(../images/icon_login_facebook.png) no-repeat center/100%;}
.user_login .oauth_body #paypalLogin{background:url(../images/icon_login_paypal.png) no-repeat center/100%; margin-bottom:.3rem !important;}
.user_login .oauth_body #paypalLogin .PPBlue_V2{width:3rem !important; height:3rem !important; border-radius:1.5rem !important; border:none !important; overflow:hidden; display:block;}
.user_login .oauth_body #paypalLogin .PPBlue_V2 b{display:none !important;}
.user_login .oauth_body #paypalLogin .PPBlue_V2 svg, .user_login .oauth_body #paypalLogin .PPBlue_V2 path{font-size:1.5rem !important;}
.user_login .oauth_body #twitter_btn{background:url(../images/icon_follow_twitter.png) no-repeat center/100%;}
.user_login .oauth_body #google_btn{background:url(../images/icon_login_google.png) no-repeat center/100%;}
.user_login .oauth_body #vk_button{background:url(../images/icon_login_vk.png) no-repeat center/100%;}
.user_login .oauth_body #instagram_button{background:url(../images/icon_login_instagram.png) no-repeat center/100%;}
.user_login .oauth_body #facebook{border-radius: 3rem;background: #4267b2; text-indent: 0.3rem;line-height: 2.8rem;}

.user_login_btn{margin:1.25rem 0 .75rem;}
.user_login_btn .btn_submit{color:#fff;}
.user_login_btn .btn_sign_up{width:93%; margin:0 .9375rem;}
.user_login_btn .btn_back{width:93%; margin:.875rem .9375rem 0; color:#333; background-color:#ddd;}

.user_login #binding_form  .user_input{padding:0 5%;}
.user_login #binding_form  .btn_global{width:90%; margin:0 5%;}

.form_forgot{margin:.3125rem .625rem;}
.form_forgot .forgot_back{line-height:1rem;}
.form_forgot .forgot_back>a{text-decoration:underline;}
.form_forgot .title{height:1.5rem; margin-top:.625rem; font-size:1rem; color:#333;}
.form_forgot .error_note_box{line-height:1rem; padding:.625rem; font-size:.75rem; color:#f00; background:#fff9e1; border:.0625rem #ffdb83 solid; border-radius:.3125rem; display:none;}
.form_forgot .on_error{margin:.3125rem 0; color:#f00; font-size:.75rem; display:none;}
.form_forgot .row{margin:.625rem 0;}
.form_forgot .row label{margin-bottom:.625rem; color:#555; display:block;}
.form_forgot .row input{width:100%; padding-left:5.7%; color:#555; box-sizing:border-box; -webkit-box-sizing:border-box;}
.form_forgot .intro{height:inherit; line-height:1rem; margin:.625rem 0; color:#555;}
.form_forgot .intro a{color:#0654ba; text-decoration:underline;}
.form_forgot .intro dt{font-weight:bold;}
.form_forgot .intro dd{margin-top:.625rem;}
.form_forgot .btn{margin:.75rem 0 1.5rem; color:#fff;}

.page_title{height:1.875rem; line-height:1.875rem; padding-left:3%; font-size:.875rem; color:#555; background:#e4e4e4; overflow:hidden;}
.page_title .pos{height:.48rem; overflow:hidden; width:300%;}
.page_title .pos .column{line-height:.48rem; font-size:.24rem; color:#555; height:.48rem;}
.page_title a{font-size:.24rem; color:#555;}
.user_tab .item{height:.8rem; line-height:.8rem; -webkit-box-sizing:border-box; box-sizing:border-box; width:50%; text-align:center; font-size:.24rem; font-weight:bold; color:#666; border-bottom:1px solid #e1e1e1;}
.user_tab .item:first-child{border-right:1px solid #e1e1e1;}
.user_tab .item.on{border-bottom:.04rem solid #f90;}
.user_active{font-size:.24rem; line-height:.78rem; height:.78rem; width:92.5%; margin:0 auto; border-bottom:1px solid #dadada;}

.index_user_container{ min-height:100vh; background:#efeff4; padding:0 1rem;}
.user_index_menu{ padding-top:0.5rem;}
.user_index_menu a{ display:block; width:1.3rem; height:1.3rem; float:right;}
.user_index_menu a.setting{ background:url(../images/icon_user_menu_setting.png) center no-repeat; background-size:1.3rem auto;}
.user_index_menu a.global_menu{ background:url(../images/u_icon_menu.png) center no-repeat; background-size:1rem auto; margin-right:0.8rem;}
.user_data{ margin-bottom:1.3rem;}
.user_data .user_logo{ width:4.8rem; height:4.8rem; background:url(../images/bg_user_logo.png) no-repeat; background-size:contain;}
.user_data .user_info{ margin-left:1rem;}
.user_data .user_info .email{ font-size:1.25rem; padding-top:0.5rem;}
.user_data .user_info .level{ color:#999; margin-top:0.5rem; font-size:0.875rem;}
.user_data .user_info .level img{ max-width:0.8rem; max-height:0.8rem; vertical-align:middle; margin-right:0.3rem;}
.user_data .user_info .discount{ color:#e53935; margin-top:0.5rem; font-size:0.875rem;}
.user_cart{ display:block; padding:1rem 0; padding-left:3.5rem; border-radius:0.3rem; background:url(../images/icon_user_shopping_cart.png) 1rem center #fff no-repeat; background-size:1.5rem auto; margin-bottom:0.6rem;}
.user_cart .title{ font-size:1rem; color:#333;}
.user_cart .count{ color:#999; font-size:0.875rem; margin-top:0.3rem;}
.user_awaiting{ background:#fff; border-radius:0.3rem; padding:1.2rem 0.9rem;}
.user_awaiting .title{ font-size:1rem;}
.user_awaiting .item{ height:calc(3.4rem + 2px); margin-top:0.7rem;}
.user_awaiting .item li{ float:left; width:3.5rem; height:3.5rem; border:1px solid #e5e5e5; margin-left:0.5rem; padding:0.2rem; box-sizing:border-box;}
.user_awaiting .item li img{max-width: 100%;max-height: 100%;}
.user_awaiting .para{ line-height:1.8rem; margin-top:0.7rem;}
.user_awaiting .para .more{ color:#999; float:left;}
.user_awaiting .para .total{ color:#111; float:right; font-size:1.1rem; margin-right:0.6rem;}
.user_awaiting .para .total span{ font-size:0.875rem; margin-right:0.2rem;}
.user_awaiting .para .payment{ float:right; display:inline-block; background:#e53935; color:#fff; font-size:0.875rem; padding:0 1.5rem; height:1.8rem; border-radius:0.2rem;}
.user_menu{ margin-top:1.3rem;}
.user_menu ul{ border-top:1px solid #dddde2;}
.user_menu li{ height:3rem; line-height:3rem; border-bottom:1px solid #dddde2; padding-left:2.6rem; background-repeat:no-repeat; background-size:2rem auto; background-position: left center; position:relative;}
.user_menu li i{ position:absolute; right:0; top:1.1rem;}
.user_menu li i:after,.user_menu li i:before{ border:0.5rem solid transparent; border-left:0.5rem solid #efeff4; width:0; height:0; position:absolute; top:0; right:0; content:''}
.user_menu li i:before { border-left-color:#bbb; right:-2px;} 
.user_menu li span{ float:right; margin-right:2rem; color:#777;}
.user_menu li a{ font-size:0.925rem; color:#333; width:100%; height:100%; display:block;}
.user_menu li.orders{ background-image:url(../images/icon_user_menu_orders.png);}
.user_menu li.favorite{ background-image:url(../images/icon_user_menu_favorites.png);}
.user_menu li.coupon{ background-image:url(../images/icon_user_menu_coupons.png);}
.user_menu li.address{ background-image:url(../images/icon_user_menu_address.png);}
.user_menu li.inbox{ background-image:url(../images/icon_user_menu_inbox.png);}
.user_menu li.setting{ background-image:url(../images/icon_user_menu_setting.png);}
.user_menu li.password{ background-image:url(../images/icon_user_menu_password.png);}
.user_menu li.distribution{ background-image:url(../images/icon_user_menu_distribution.png);}
/* add by jay for moible app index start*/
.user_menu li.bg_white i{ position:absolute; right:0; top:1.1rem; background-color: #fff;}
.user_menu li.bg_white i:after,.user_menu li i:before{ border:0.5rem solid transparent; border-left:0.5rem solid #efeff4; width:0; height:0; position:absolute; top:0; right:0; content:''}
.user_menu li.bg_white i:before { border-left-color:#bbb; right:-2px;}
.user_menu li.bg_white span{ float:right; margin-right:2rem; color:#777;}
.user_menu li.bg_white a{ font-size:0.925rem; color:#000000; width:100%; height:100%; display:block;}

.user_menu li.balance{ background-image:url(../images/icon_user_menu_balance.png);}
.user_menu li.rfq{ background-image:url(../images/icon_user_menu_rfq.png);}

/* add by jay for moible app index end*/
.user_button{ background:#fff; text-align:center; height:2.6rem; line-height:2.6rem; margin-top:1.2rem; border-radius:0.3rem;}
.user_button a{ color:#999; font-size:1rem;}
.user_index_bottom_blank{ height:2rem;}

.user_order{margin-top:.3rem;}
.user_order .title{height:2.5rem; line-height:2.5rem; padding:0 .625rem; font-size:.875rem; background-color:#fff;}
.user_order .title .oid{color:#646464; float:left;}
.user_order .title .status{margin-right:.6rem; color:#d60707; float:right;}
.user_order .title em{margin-top:.9rem; border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #999; border-style:solid; float:right; display:block; position:relative; z-index:10;}
.user_order .title em>i{border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #fff; border-style:solid; display:block; position:absolute; top:-.4rem; right:.1rem; z-index:11;}
.user_order .prod_list{background-color:#fff;}
.user_order .prod_list .prod_tr{display:none;}
.user_order .prod_list .prod_box{margin-bottom:.3125rem; padding:.625rem;}
.user_order .prod_list .plist{margin-left:3rem;}
.user_order .prod_list .plist>div{float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.user_order .prod_list .plist .img{width:20%; height:4rem; text-align:center; background-color:#fff;}
.user_order .prod_list .plist .img img{height:100%; vertical-align:middle;}
.user_order .prod_list .plist .info{width:65%; padding-left:.5rem;}
.user_order .prod_list .plist .info .name{max-height:2rem; line-height:1rem; overflow:hidden; margin-bottom:.2rem;}
.user_order .prod_list .plist .info .name>a{font-size:.875rem; color:#666;}
.user_order .prod_list .plist .info .number{margin-bottom:.2rem; color:#bab9b9;}
.user_order .prod_list .plist .info .attr{height:.75rem; line-height:.75rem; padding:.25rem 0; color:#666;}
.user_order .prod_list .plist .value{width:15%; text-align:right;}
.user_order .prod_list .plist .value .price{line-height:1rem; color:#333;}
.user_order .prod_list .plist .value .qty{line-height:1rem; color:#898989;}
.user_order .prod_list .plist.first{margin-left:0;}
.user_order .prod_list .package{padding-top:.625rem;}
.user_order .total{height:2.5rem; line-height:2.5rem; padding:0 .625rem; text-align:right; font-size:.875rem; background-color:#fff;}
.user_order .total .btn_more{width:auto; height:1.5rem; line-height:1.5rem; margin-top:.5rem; padding:0 1rem 0 .75rem; text-decoration:none; font-size:.75rem; color:#333; float:left;}
.user_order .total .btn_more em{margin:.4rem 0 0 .5rem; border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #999; border-style:solid; float:right; display:block; position:relative; z-index:10; -webkit-transform:-webkit-rotate(90deg); transform:rotate(90deg); -webkit-transition:all .4s; transition:all .4s;}
.user_order .total .btn_more em>i{border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #fff; border-style:solid; display:block; position:absolute; top:-.4rem; right:.1rem; z-index:11;}
.user_order .total .btn_more.current em{-webkit-transform:-webkit-rotate(270deg); transform:rotate(270deg);}

.user_tips_txt{line-height:.32rem; font-size:.24rem; padding:1.6rem 2%; background:#fff;}
.user_tips_txt a{font-size:.24rem; color:#d00;}

.order_detail{background:url(../images/bg_user_order_detail.jpg) repeat-x top/20%;}

.detail_box{padding-left:.625rem;}
.detail_box .title{line-height:1.5rem; font-size:.875rem;}
.detail_box .title>div{padding:.625rem .625rem .4rem .15rem;}
.detail_box .txt{padding:.625rem 0 .4rem;}
.detail_box .txt .rows{margin:.625rem 0;}
.detail_box .txt .rows>strong, .detail_box .txt .rows>span{line-height:1rem; font-size:.875rem; float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.detail_box .txt .rows>strong{width:30%; text-align:left;}
.detail_box .txt .rows>span{width:70%; padding-right:.625rem; text-align:right; color:#666; float:right;}
.detail_box .txt .rows>p{width:70%; line-height:1rem; padding-bottom:.3rem; text-align:left; font-size:.875rem; color:#666; float:right;}
.detail_box .txt .rows>p .track{text-decoration:underline;}
.detail_box .txt .payment_method{line-height:1rem; padding-left:.75rem; font-size:.75rem;}

/* 取消订单 or 修改付款方式 */
.order_cancel .detail_box{padding-right:.625rem;}
.order_cancel .box_select{margin-bottom:1.5rem;}

.detail_prolist{margin:0 .625rem;}
.detail_prolist .waybill_products_list{margin-top:1.25rem;}
.detail_prolist .waybill_products_list:first-child{margin-top:0;}
.detail_prolist .row_hd{line-height:1.25rem; margin-top:1.25rem; font-size:.875rem;}
.detail_prolist .row_hd>strong, .detail_prolist .row_hd>span{margin-right:1rem;}
.detail_prolist .row_hd:first-child{margin-top:0;}
.detail_prolist .item{padding:.625rem 0;}
.detail_prolist .item>div{float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.detail_prolist .item .img{width:20%; height:4rem; text-align:center; background-color:#fff;}
.detail_prolist .item .img img{height:100%; vertical-align:middle;}
.detail_prolist .item .info{width:65%; padding-left:.5rem;}
.detail_prolist .item .info .name{line-height:1rem; margin-bottom:.2rem;}
.detail_prolist .item .info .name>a{font-size:.875rem; color:#666;}
.detail_prolist .item .info .number{margin-bottom:.2rem; color:#bab9b9;}
.detail_prolist .item .info .attr{height:.75rem; line-height:.75rem; padding:.25rem 0; color:#666;}
.detail_prolist .item .value{width:15%; text-align:right;}
.detail_prolist .item .value .price{line-height:1rem; color:#d60707;}
.detail_prolist .item .value .qty{line-height:1rem; color:#d60707;}
.detail_prolist .item .fav_img{width:30%; height:6.25rem;}
.detail_prolist .item .fav_info{width:70%; min-height:6.25rem; position:relative;}
.detail_prolist .item .fav_info .price{line-height:1rem; margin-bottom:2rem; font-size:.875rem; color:#333;}
.detail_prolist .item .fav_info .del{height:1.5rem; line-height:1.5rem; padding:0 .75rem; font-size:.875rem; background:#fff; border:.0625rem #ddd solid; border-radius:.3125rem; position:absolute; left:.5rem; bottom:0; display:inline-block; vertical-align:top;}
.detail_prolist .item:first-child{padding-top:0;}

.detail_summary{padding:.625rem;}
.detail_summary>div{padding:.45rem 0; line-height:.75rem;}
.detail_summary>div .key, .detail_summary>div .value{font-size:.875rem; float:left;}
.detail_summary>div .key{width:70%; text-align:left; color:#404040;}
.detail_summary>div .value{width:27%; padding-left:3%; text-align:right; color:#d60707;}
.detail_summary>div .value span{font-size:.875rem; color:#d60707;}
.detail_summary>div .total{font-size:1rem; color:#d60707;}

.detail_button{padding:1rem .625rem 0; background-color:#f5f5f5;}
.detail_button .btn_payment{margin-bottom:.875rem; font-size:.95rem; color:#fff;}
.detail_button .btn_receiving{font-size:.95rem; color:#fff;}
.detail_button .btn_delete{font-size:.95rem; color:#fff; background-color:#ccc;}
.detail_button #paypal_button_container{min-height:2rem; margin-bottom:.875rem; position:relative; text-align:center;}

.m_form_area{width:100%; height:5rem; line-height:1rem; margin:.75rem 0 .625rem; resize:none; background:#fff; box-sizing:border-box; -webkit-box-sizing:border-box;}
.m_form_button{width:100%; color:#fff; display:block;}
.m_form_back{margin-top:.625rem; color:#333; background-color:#ccc;}

.user_favorite{padding-top:.75rem;}

.user_coupon{margin:.75rem .625rem;}
.user_coupon .item{line-height:2.1875rem; padding:.625rem 0;}
.user_coupon .item .cpnum{line-height:1.5rem; margin-left:2%;}
.user_coupon .item .cpnum .fcr{color:#f00;}
.user_coupon .item .cpnum .fcg{color:#999;}
.user_coupon .item .cpdate{line-height:1.5rem; margin-right:2%; font-size:.75rem; color:#666;}
.user_coupon .item:first-child{padding-top:0;}

/*global*/
#u_header{width:100vw; height:3.125rem; background-color:#fff;}
#u_header a{width:1.875rem; height:3.125rem; display:block; position:absolute; top:0;}
#u_header a.back{width:2.3rem; background:url(../images/u_icon_back.png) center no-repeat; background-size:auto 1.125rem;}
#u_header a.menu{left:2.5rem; background:url(../images/u_icon_menu.png) center no-repeat; background-size:auto 1rem;}
#u_header a.cart{right:0.9375rem; background:url(../images/u_icon_cart.png) center no-repeat; background-size:auto 1.25rem;}
#u_header a.cart i{width:0.5rem; height:0.5rem; display:block; position:absolute; right:0.125rem; top:0.8125rem; border:1px solid #fff; border-radius:0.3125rem;}
#u_header .title{line-height:3.125rem; text-align:center; font-size:1.125rem; color:#111; display:none;}
#u_header.fixed{position:fixed; top:0; left:0; z-index:999;}

#u_title{width:100vw; height:2.75rem; overflow:hidden; padding:2.5rem .75rem 0; position:relative; background:#fff;}
#u_title .u_title_box{width:100vw; height:2.75rem; line-height:2.75rem; padding-left:.75rem; font-size:1.4375rem; color:#111; border-bottom:.0625rem solid #eee; position:absolute; top:2.5rem; left:0;}
#u_title .u_title_box.fixed{position:fixed; top:.36rem; left:0;}

#user .global_tab{ border-bottom:1px solid #eee; background:#f4f4f4; height:3.125rem;}
#user .global_tab li{ width:50%; height:3.125rem; line-height:3.125rem; text-align:center; float:left; overflow:hidden; box-sizing:border-box; position:relative;}
#user .global_tab li.current{ border-bottom:2px solid #f9b61e;}
#user .global_tab li a{ width:100%; height:100%; display:inline-block; color:#666; font-size:1rem;}
#user .global_titile{ height:3.125rem; line-height:3.125rem; background:#f4f4f4; font-size:1rem; text-align:center;}
#user .global_line{ height:0.625rem; background:#f4f4f4;}

/*address*/
#user .address_row{ border-top:1px solid #eee; border-bottom:1px solid #eee;}
#user .address_row .info { padding:0.9375rem 1.25rem;}
#user .address_row .info strong{ font-size:1rem; color:#666; line-height:1.25rem; display:inline-block; margin-bottom:0.625rem;}
#user .address_row .info p{ font-size:14px; color:#999; line-height:1.25rem;}
#user .address_row .para{ padding:0 1.25rem; border-top:1px solid #ececec; height:3.125rem; line-height:50px; text-align:right; color:#999;}
#user .address_row .para span{ margin:0 0.3125rem;}
#user .address_row .para a{ font-size:0.875rem; display:inline-block;}
#user .address_row .para a.noselected,#user .address_row .para a.edit,#user .address_row .para a.del{ color:#999;}
#user .address_row .para a.fl i{ width:1.25rem; height:1.25rem; display:inline-block; background-image:url(../images/icon_selected.png); background-size:100% 100%; vertical-align:text-bottom; margin-right:0.5rem;}
#user .address_row .para a.selected i{ background-image:url(../images/icon_selected_current.png);}
#user .address_btn{ height:2.5rem; line-height:2.5rem; display:block; text-align:center; color:#fff; margin:1rem 1.25rem; font-size:0.875rem; border-radius:3px;}
#user .address_btn.back{ background:#ccc;}
#user .address_btn em{ font-size:1.375rem; display:inline-block; vertical-align:top; margin-right:0.3125rem;}

.user_address_form{margin:.75rem 0;}
.user_address_form .title{line-height:1.5rem; margin-bottom:.625rem; padding:.3125rem .625rem; font-size:1rem; border-bottom:.0625rem #ddd solid;}
.user_address_form .rows{margin:0 .625rem .3125rem;}
.user_address_form .rows .field{font-size:.875rem; line-height:1.5rem;}
.user_address_form .rows .input{font-size:.75rem; line-height:.75rem;}
.user_address_form .rows .box_input{width:100%; padding:0 .5rem; box-sizing:border-box; -webkit-box-sizing:border-box;}
.user_address_form .rows .box_input.null{border-color:#f00;}
.user_address_form .rows .box_input_group{position:relative;}
.user_address_form .rows .box_input_group .input_group_addon{width:20%; height:2.1875rem; line-height:2.1875rem; text-align:center; white-space:nowrap; border:.0625rem #ddd solid; border-right:0; border-top-right-radius:0; border-bottom-right-radius:0; float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.user_address_form .rows .box_input_group .input_group{width:80%; height:2.1875rem; line-height:2.1875rem; padding:0 .5rem; border-top-left-radius:0; border-bottom-left-radius:0; float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.user_address_form .rows p.error{line-height:1rem; color:#f00; display:none;}
.user_address_form .address_button{margin:.75rem .625rem .875rem;}
.user_address_form .address_button .btn{margin-bottom:.75rem; color:#fff;}
.user_address_form .address_button .btn_back{background-color:#ccc;}
#countryCode{text-align:center;}
/*************************** 会员中心 End ***************************/



/*************************** 购物车 Start ***************************/
.nocart{padding:10rem 0 2rem; text-align:center; font-size:1rem; color:#939393; background:url(../images/bg_no_cart.png) no-repeat center 1.5rem; background-size:10rem;}

.cart_crumb{height:3.125rem; line-height:3.125rem; background-color:#fafafa; padding:0 .625rem; font-size:1.2rem;}
.cart_top_info{display:none; padding-top:1rem;}

.cart_total_price{height:1.5rem; line-height:1.5rem; margin-bottom:.52rem; padding:0 .625rem; font-size:.95rem;}
.cart_total_price>strong{color:#000;}
.cart_total_price>span{margin-left:.3125rem; color:#c50708;}

.cart_list{padding:0;}
.cart_list .sales_title{display:block; height:1rem; line-height:1rem; margin-bottom:-.625rem; padding:1rem .625rem 0; font-size:.875rem;}
.cart_list .item{width:100%; padding:1.5rem .625rem; position:relative; box-sizing:border-box; -webkit-box-sizing:border-box;}
.cart_list .item .check{display:none; width:2rem; height:4rem; overflow:hidden;}
.cart_list .item .check>input{display:none;}
.cart_list .item .check .btn_checkbox{width:1.4rem; height:1.4rem; margin-top:1.25rem; margin-right:.1rem; background-image:url(../images/icon_checkbox_four.png); background-repeat:no-repeat; background-position:center; background-size:100%; display:inline-block; vertical-align:top; border-radius:.7rem; overflow:hidden;}
.cart_list .item .check .btn_checkbox.current{background-image:url(../images/icon_checkbox_four_current.png);}
.cart_list .item .lefter{width:33vw;}
.cart_list .item .lefter .img{text-align:center;}
.cart_list .item .lefter .img img{max-height:100%; vertical-align:middle;}
.cart_list .item .button{width:33vw; line-height:1.25rem; margin-top:.5rem;}
.cart_list .item .button>a{display:inline-block; vertical-align:middle; text-transform:capitalize; font-size:.875rem; color:#333;}
.cart_list .item .button>a:first-child{margin-right:.5rem; padding-right:.5rem;}
.cart_list .item .info{width:56vw;}
.cart_list .item .error{width:80%; line-height:1rem; font-size:.875rem; color:#666;}
.cart_list .item .name{width:100%; max-height:2rem; line-height:1rem; overflow:hidden; margin-bottom:.3125rem;}
.cart_list .item .name>a{font-size:.875rem; color:#333;}
.cart_list .item .rows{width:100%; padding:.625rem 0; float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.cart_list .item .attr{line-height:160%; padding:0; color:#bdbdbd;}
.cart_list .item .later_price{display:none; padding:.15rem 0 .3125rem; font-size:1rem; font-weight:700; color:#333;}
.cart_list .item .price{line-height:2rem; font-size:1rem; font-weight:700; color:#333;}
.cart_list .item .qty_box div{min-width:2rem; height:2rem; line-height:2rem; overflow:hidden; text-align:center; box-sizing:border-box; -webkit-box-sizing:border-box;}
.cart_list .item .qty_box .cut, .cart_list .item .qty_box .qty, .cart_list .item .qty_box .add{font-size:1.25rem; color:#757575;}
.cart_list .item .qty_box .cut, .cart_list .item .qty_box .add{background-color:#f0f0f7; border-radius:50%;}
.cart_list .item .qty_box .cut{line-height:1.8rem;}
.cart_list .item .qty_box .qty{width:2.5rem; border:.0625rem #ddd solid; border-radius:.25rem; margin:0 .5rem; font-size:.875rem; color:#333;}
.cart_list .item .qty_box .qty>input{width:100%; line-height:2.0625rem; text-align:center; font-size:.875rem; color:#555; border:0;}
.cart_list .item .button_box{display:none;}
.cart_list .item .button_box .btn{display:inline-block; vertical-align:middle; line-height:1.75rem; border:.0625rem #e5e5e5 solid; border-radius:.3125rem; padding:0 .625rem; font-size:.75rem; color:#333;}
.cart_list .item .button_box .del{margin-left:.75rem; color:#999;}
.cart_list .item .remark_box{padding:0;}
.cart_list .item .remark_box .title{line-height:2.5rem;}
.cart_list .item .remark_box input{width:100%; padding-left:2%; font-size:.75rem; background-color:#f4f4f4; border-color:#ededed; border-radius:0; box-sizing:border-box; -webkit-box-sizing:border-box;}
.cart_list .item:last-child{border:0;}
.cart_list .item.sales_item{background-color:#f8f8f8; padding:.625rem;}
.cart_list .null{padding-bottom:0;}

.cart_later_list{display:none;}
.cart_later_list .later_title{line-height:1rem; background-color:#fafafa; padding:1rem .625rem; font-size:1rem;}

.cart_total{margin-bottom:1.5rem; padding:1.25rem .625rem;}
.cart_total>div{line-height:1.65rem;}
.cart_total>div>span{font-size:.875rem; color:#cb2027; float:right;}
.cart_total>div .title{color:#5c5c5c; float:left;}
.cart_total>div.total>span{font-size:.875rem; color:#333;}
.cart_total>div.total>span.p{font-size:1.5rem; font-weight:700;}
.cart_total>div.total .title{font-size:1.5rem; font-weight:700; color:#333;}
.cart_total>div.total strong{font-size:1.5rem; font-weight:normal; color:#999;}

.fullcoupon{line-height:1.25rem; margin:0 .625rem .5rem; padding:.75rem .75rem .75rem 2.3rem; font-size:.75rem; color:#333; background:url(../../images/cart/icon_list_tips_tit.png) no-repeat .65rem .8rem #f8f8f8;}

.cart_btn{padding:0 .625rem 1.5rem;}
.cart_btn .btn{width:100%; height:3rem; line-height:3rem; margin:.45rem 0; text-align:center; text-transform:uppercase; font-size:1.25rem; color:#333; border:0; border-radius:.3125rem; display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box;}
.cart_btn .paypal_checkout_button{background:url(../images/btn_paypal_checkout.png) no-repeat center center #ffc41e; background-size:70%;}
.cart_btn #paypal_button_container{width:100%; height:3rem; overflow:hidden; background-color:#fafafa; position:relative;}
.cart_btn #paypal_button_container .paypal-button>.zoid-outlet{width:100%;}
.cart_btn #paypal_button_container_to{width:100%; height:3rem; overflow:hidden; background-color:#fafafa; position:relative;}
.cart_btn #paypal_button_container_to .paypal-button>.zoid-outlet{width:100%;}
.cart_btn .checkout{color:#fff;}
.cart_btn .processing{color:#bbb; background:linear-gradient(0deg, #fcfcfc 0%, #f2f2f2 100%);}

.cart_recently{overflow:hidden; margin:0 .625rem 1rem;}
.cart_recently .t{line-height:3.125rem; text-align:center; font-size:1rem; color:#5f5f5f;}
.cart_recently .list .item{width:48%; border-radius:.125rem; margin-bottom:.625rem; padding:.625rem; box-sizing:border-box; -webkit-box-sizing:border-box;}
.cart_recently .list .item .pic{height:9.5rem; overflow:hidden;}
.cart_recently .list .item .pic img{max-height:100%;}
.cart_recently .list .item .name{height:2rem; overflow:hidden; margin-top:.3125rem;}
.cart_recently .list .item .name>a{line-height:1rem; font-size:.75rem; color:#333;}
.cart_recently .list .item .price{margin-top:.3125rem; font-size:.75rem; color:#d60707;}
.cart_recently .list .item:nth-child(odd){margin-right:4%;}

.cart_step{margin:.95rem .625rem 0;}
.cart_step>div{width:32%; height:2rem; line-height:2rem; margin-left:1.5%; text-align:center; font-size:.75rem; color:#fff; background-color:#ddd; position:relative; float:left;  box-sizing:border-box; -webkit-box-sizing:border-box;}
.cart_step>div>em{border-width:1rem 0 1rem 1rem; border-color:transparent transparent transparent #fff; border-style:solid; display:block; position:absolute; top:0; left:0; z-index:10;}
.cart_step>div>i{border-width:1rem 0 1rem 1rem; border-color:transparent transparent transparent #ddd; border-style:solid; display:block; position:absolute; top:0; right:-1rem; z-index:11;}
.cart_step>div.step_0{width:33%; margin-left:0;}
.cart_step>div.current{background-color:#005ab0;}
.cart_step>div.current>i{border-color:transparent transparent transparent #005ab0;}

.cart_head{height:3rem; line-height:3rem; background-color:#f7f7f7;}
.cart_head>h1{height:3rem; padding-left:.625rem;}
.cart_head>h1 img{max-height:50%; vertical-align:middle;}

.checkout_box{padding:1.25rem .625rem;}
.checkout_box .box_title{line-height:2rem; overflow:hidden; padding-bottom:.5rem; font-size:1.1rem; color:#333;}

.checkout_customer .box_title{line-height:1.25rem; padding:0;}
.checkout_customer .input_box{width:100%; margin-top:.5rem;}
.checkout_customer .input_box input.null{border-color:#f00;}
.checkout_customer .error{color:#f00;}
.checkout_customer .checkout_login{height:1.5rem; line-height:1.5rem; color:#666;}
.checkout_customer .checkout_login a.btn_signin{text-decoration:underline; color:#666;}

.checkout_address{position:relative;}
.checkout_address .address_button{height:1.5rem; position:absolute; top:3.5rem; right:.625rem;}
.checkout_address .address_button>a{height:1.5rem; line-height:1.5rem; padding:0 .625rem; font-size:.75rem; color:#666; border:.0625rem #e5e5e5 solid; display:inline-block; vertical-align:top;}
.checkout_address .address_default{color:#666;}
.checkout_address .address_default>input{display:none;}
.checkout_address .address_default>p{line-height:24px; font-size:.875rem;}
.checkout_address .address_default>p:first-child{font-size:1rem;}
.checkout_address .address_default .edit_address_info{height:24px; line-height:24px; font-size:12px; color:#666; position:absolute; top:4px; right:0; display:block;}

.checkout_phone .phone_input{margin-top:.3125rem;}
.checkout_phone .phone_input .box_input{width:100%; padding:0 2%; box-sizing:border-box; -webkit-box-sizing:border-box;}
.checkout_phone .phone_error{display:none; color:#f00; padding-top:.3125rem;}

.checkout_shipping .free_shipping{color:#c00;}
.checkout_shipping .shipping{border-bottom:1px #f0f0f0 solid;}
.checkout_shipping .title{height:3rem; line-height:3rem; font-size:15px; cursor:pointer;}
.checkout_shipping .title>strong{font-weight:600;}
.checkout_shipping .title .shipping_info{height:3rem; margin-left:1rem; font-size:.75rem; display:inline-block; vertical-align:top;}
.checkout_shipping .title .shipping_info .error{height:20px; line-height:20px; margin-top:13px; padding-left:26px; font-size:14px; color:#e6403d; background:url(../../images/cart/icon_list_tips.png) no-repeat left center; display:none; vertical-align:top;}
.checkout_shipping .title .shipping_info .price{margin-left:1rem;}
.checkout_shipping .list{display:none;}
.checkout_shipping .list li{display:block; width:100%; border:.0625rem #ccc solid; border-radius:.3125rem; margin-bottom:.625rem; padding:.5rem .625rem .5rem 2.5rem; position:relative; cursor:pointer; box-sizing:border-box; -webkit-box-sizing:border-box;}
.checkout_shipping .list li .icon{display:block; width:1.125rem; height:1.125rem; background-color:#fff; border:.0625rem #d9dee1 solid; border-radius:10rem; position:absolute; top:.6rem; left:.625rem;}
.checkout_shipping .list li .icon>i{display:block; width:1rem; height:1rem; background-color:#fff; border-radius:10rem; margin:.0625rem 0 0 .0625rem;}
.checkout_shipping .list li .name{display:block; height:1.5rem; line-height:1.5rem; overflow:hidden; font-size:.9rem;}
.checkout_shipping .list li .name>input{display:none; width:1rem; height:1rem; float:left; cursor:pointer;}
.checkout_shipping .list li .name>img{height:30px; overflow:hidden; margin-left:9px; float:left;}
.checkout_shipping .list li .name>label{float:left; cursor:pointer;}
.checkout_shipping .list li .name .price{float:right; font-size:1.15rem; color:#000;}
.checkout_shipping .list li .name .free_shipping{color:#e53935;}
.checkout_shipping .list li .name .waiting{width:100px; height:20px; background:url(../../images/global/loading_small.gif) no-repeat right center; display:inline-block; vertical-align:top;}
.checkout_shipping .list li .brief{height:1.5rem; line-height:1.5rem; overflow:hidden; color:#999; display:block;}
.checkout_shipping .list li.odd{margin-left:0;}
.checkout_shipping .insurance{line-height:1rem; padding-bottom:1rem;}
.checkout_shipping .insurance .shipping_insurance{margin-left:.25rem;}
.checkout_shipping .insurance .delivery_ins{text-decoration:underline;}
.checkout_shipping .insurance .price{margin-left:.625rem; font-size:.875rem;}
.checkout_shipping .error{line-height:1.5; background-color:#f9f9f9; padding:.625rem .3125rem; font-size:1rem; color:#900;}

.checkout_shipping .icon_shipping_title{width:1.4rem; height:1.4rem; margin-top:.75rem; margin-right:.3125rem; background:url(../../images/cart/icon_shipping_open.png) no-repeat center 0; border-radius:50px; float:right; transition:all 0.3s; -webkit-transition:all 0.3s;}
.checkout_shipping .current .icon_shipping_title{background-image:url(../../images/cart/icon_shipping_close.png); background-position:center -32px;}

.checkout_payment .payment_row{display:none; overflow:hidden; margin-bottom:.625rem; padding:.875rem .625rem .875rem 2.5rem; border:.0625rem #ccc solid; border-radius:.3125rem; position:relative; cursor:pointer; -webkit-transition:max-height .4s; transition:max-height .4s;}
.checkout_payment .payment_row .icon{display:block; width:1.125rem; height:1.125rem; background-color:#fff; border:.0625rem #d9dee1 solid; border-radius:10rem; position:absolute; top:1rem; left:.625rem;}
.checkout_payment .payment_row .icon>i{display:block; width:1rem; height:1rem; background-color:#fff; border-radius:10rem; margin:.0625rem 0 0 .0625rem;}
.checkout_payment .payment_row .img{width:25%; height:1.5rem; overflow:hidden;}
.checkout_payment .payment_row .img>img{max-height:100%;}
.checkout_payment .payment_row .payment_contents{display:none;}
.checkout_payment .payment_row .payment_contents .desc{line-height:1.25rem;}

.checkout_divide{height:1.5rem; background-color:#f6f6f6;}

.cart_item_list .sales_title{display:block; height:1rem; line-height:1rem; font-size:.875rem;}
.cart_item_list .item{width:100%; padding:1rem 0; position:relative; box-sizing:border-box; -webkit-box-sizing:border-box;}
.cart_item_list .item .img{width:5rem; height:5rem; position:relative; text-align:center;}
.cart_item_list .item .img img{max-height:100%; vertical-align:middle;}
.cart_item_list .item .img .quantity{min-width:1.6rem; line-height:1.6rem; background-color:#e53935; border-radius:1.6rem; padding:0 .3125rem; position:absolute; top:-.8rem; right:-.8rem; font-size:.875rem; color:#fff; box-sizing:border-box; -webkit-box-sizing:border-box;}
.cart_item_list .item .info{margin-left:6.5rem;}
.cart_item_list .item .name{line-height:1rem;}
.cart_item_list .item .name>a{font-size:.875rem; color:#333;}
.cart_item_list .item .rows{line-height:1rem; margin-top:.3125rem; color:#999;}
.cart_item_list .item .remark>input{width:50vw; height:1.5rem; line-height:1.5rem; margin-top:.3125rem; border:.0625rem #ddd solid; border-radius:.25rem; text-indent:.5rem;}
.cart_item_list .item .i_shipping{display:none; margin-top:.3125rem;}
.cart_item_list .item .i_shipping.show{display:inline-block;}
.cart_item_list .item .price{line-height:1rem; margin-top:.3125rem; font-size:.875rem; color:#000;}
.cart_item_list .item:first-child{border:0;}
.cart_item_list .item.sales_item{background-color:#f8f8f8; padding:.625rem 0;}

.checkout_coupon{padding:1rem 0 1.5rem;}
.checkout_coupon .code_input .box_input{width:68vw; height:3rem; line-height:3rem; padding:0 4vw; box-sizing:border-box; -webkit-box-sizing:border-box;}
.checkout_coupon .code_input .btn_submit{width:23vw; height:3rem; line-height:3rem; background-color:#27ca9f; border-radius:.3125rem; text-align:center; font-size:.875rem; color:#fff; cursor:pointer; transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out; -webkit-transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;}
.checkout_coupon .code_input .btn_submit.btn_coupon_disabled{background-color:#c8c8c8; cursor:default;}
.checkout_coupon .code_input p.error{display:none; line-height:1rem; margin-top:.5rem; color:#f00;}
/*
.checkout_coupon .code_valid{line-height:1.25rem; font-size:.75rem; position:relative;}
.checkout_coupon .code_valid strong{font-size:.875rem; font-weight:bold; color:#900;}
.checkout_coupon .code_valid .valid_ex, .checkout_coupon .code_valid .valid_ex span, .checkout_coupon .code_valid .valid_ex strong{font-size:.875rem; color:#808080;}
.checkout_coupon .code_valid #removeCoupon{line-height:1.25rem; padding:0 .625rem; color:#333; font-size:.875rem; border:.0625rem #ddd solid; border-radius:.3125rem; position:absolute; right:0; bottom:0;}
*/
.checkout_coupon .code_valid{display:flex; width:100%; flex-wrap:wrap;}
.checkout_coupon .coupon_code_box{padding:1rem; background-color:rgba(113,113,113,.11); border-radius:.25rem; font-size:1rem; color:#333;}
.checkout_coupon .coupon_code_box .icon{display:block; width:1.375rem; height:1.375rem; background:url(../images/icon_coupon_code.png) no-repeat center; margin-right:.75rem; font-size:0;}
.checkout_coupon .coupon_code_box .coupon_code_text{max-width:60vw; line-height:1.375rem; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -webkit-text-overflow:ellipsis;}
.checkout_coupon .coupon_code_box #removeCoupon{display:block; width:1.125rem; height:1.375rem; overflow:hidden; background:url(../images/icon_remove_black.png) no-repeat center/100%; margin-left:.75rem; text-indent:5rem;}

.checkout_summary{padding:.875rem 0;}
.checkout_summary>div{padding:.3125rem 0; line-height:1rem;}
.checkout_summary>div .key, .checkout_summary>div .value{font-size:.875rem; float:left;}
.checkout_summary>div .key{width:45vw; color:#333;}
.checkout_summary>div .value{width:45vw; padding-left:3%; text-align:right; font-size:.875rem; font-weight:700; color:#000;}
.checkout_summary>div .value span{font-size:.875rem; font-weight:700; color:#000;}

#total{margin-top:.8rem; padding-top:1.25rem; -webkit-background-size:3%;}
#total .key, #total .value{font-size:1.15rem; color:#333;}
#total .value, #total .value span{font-size:1.15rem; font-weight:700; color:#000;}

.checkout_button{margin-top:.3125rem;}
.checkout_button .btn{height:3rem; line-height:3rem; color:#fff;}
.checkout_button .btn_cancel{background-color:#ccc; margin-top:.625rem;}
.checkout_button .processing{color:#bbb; background:linear-gradient(0deg, #fcfcfc 0%, #f2f2f2 100%); border:.0625rem #d1d1d1 solid;}
.checkout_button #paypal_button_container, .checkout_button #paypal_payment_container{width:100%; min-height:1rem; position:relative; text-align:center;}
.checkout_button #paypal_button_container{display:none;}
.checkout_button .btn_back{display:block; height:2.5rem; line-height:2.5rem; margin:.5rem 0; text-align:center; font-size:1rem; color:#000;}
.checkout_button .btn_back>em{display:inline-block; vertical-align:middle; width:1rem; height:1.5rem; background:url(../images/layer_back.jpg) no-repeat center .4rem/.3125rem;}

#payment_ready{width:80vw; height:80vw; max-height:60vh; overflow:hidden; text-align:center; background-color:#fff; position:fixed; top:20vh; left:10vw; z-index:10001; display:none;}
#payment_ready .load{height:50vw; margin-top:0; position:relative;}
#payment_ready .load .load_payment{width:50vw; height:50vw; position:absolute; top:20%; left:50%; margin-left:-25vw;}
#payment_ready .load .load_image, #payment_ready .load .load_loader{width:100px; height:100px; position:absolute; top:0; left:50%; opacity:1; filter:alpha(opacity=100);}
#payment_ready .load .load_image{margin:28px 0 0 -25px; background:url(../../images/global/loading_payment.png) no-repeat;}
#payment_ready .load .load_loader{margin:0 0 0 -55px; background-color:transparent; border-left:.3125rem #cbcbca solid; border-right:.3125rem #cbcbca solid; border-bottom:.3125rem #cbcbca solid; border-top:.3125rem #2380be solid; border-radius:100%; animation:rotation .7s infinite linear; -o-animation:rotation .7s infinite linear; -moz-animation:rotation .7s infinite linear; -webkit-animation:rotation .7s infinite linear;}
#payment_ready .info{padding:.875rem 0;}
#payment_ready .info p{margin-top:1rem; font-size:.75rem; color:#666;}
#payment_ready .info p:first-child{margin-top:0; font-size:1rem;}

.complete_box{padding:0 .625rem;}
.complete_box .btn_view_order{margin:1rem 0; color:#fff; background-color:#ccc;}
.complete_tips{padding-top:.75rem; font-size:.75rem; line-height:1.5rem; box-sizing:border-box; -webkit-box-sizing:border-box;}

.pay_info{border:dotted #ccc; border-width:.0625rem 0; margin:.16rem 0; padding-bottom:.16rem; padding-top:.12rem;}
.pay_info .title{line-height:2rem; font-size:1rem; font-weight:bold;}
.pay_info .rows{line-height:1.5rem;}
.pay_info .rows>strong, .pay_info .rows>span{font-size:.875rem; display:inline-block; vertical-align:top;}
.pay_info .rows>strong{width:40%;}
.pay_info .rows>span{width:58%;}

.payment_info{padding:.625rem 0; line-height:180%; border-bottom:1px #ccc dotted;}

.pay_form{padding:.75rem 0;}
.pay_form .title{line-height:1.5rem; margin-bottom:.3125rem; padding:.75rem .625rem .3125rem; font-size:.875rem; border-bottom:.0625rem #ddd solid;}
.pay_form .rows{margin:0 .625rem .625rem;}
.pay_form .rows .field{font-size:.875rem; line-height:1.25rem;}
.pay_form .rows .input{font-size:.75rem; line-height:.8rem;}
.pay_form .rows .input .whalf{width:47%; float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.pay_form .rows .input .whalf:first-child{margin-right:6%;}
.pay_form .rows .input .box_input{width:95%; padding:0 2%;}
.pay_form .pay_button{margin:.75rem .625rem 1rem;}
.pay_form .pay_button .btn{margin-bottom:.625rem; color:#fff; display:block;}
.pay_form .pay_button .btn_view_order{background-color:#ccc;}

.success_info{margin:0 auto;}
.success_info .hd{line-height:1.25rem; margin:.75rem .625rem 0; padding:1rem 0; background:url(../images/icon_cart_success.png) no-repeat .625rem .625rem #f6f6f6; background-size:2rem;}
.success_info .hd>h3{line-height:1.5; padding:.75rem 0 .75rem 3.3rem; font-size:.875rem; color:#66a355;}
.success_info .hd_error{background-image:url(../images/icon_cart_error.png);}
.success_info .hd_error>h3{color:#c00;}
.success_info .bd{margin:.75rem .3125rem;}
.success_info .bd .rows{line-height:1.5rem; margin-left:5%;}
.success_info .bd .rows>label, .success_info .bd .rows>span{font-size:.75rem;}
.success_info .bd .title{height:2.5rem; line-height:2.5rem;}
.success_info .bd .title strong{font-size:.875rem;}
.success_info .foot{line-height:180%; padding:.3125rem 5%; background:#f6f6f6;}
.success_info .foot .what{padding:.625rem 0; font-size:.75rem;}
.success_info .foot .what>a{margin:.5rem .4rem; font-size:.875rem; color:#0072d9; display:block;}
.success_info .foot .contact{margin-right:.625rem; font-size:.75rem;}
.success_info .textbtn{width:97%; margin-bottom:1.5rem; color:#fff; display:block;}
/*************************** 购物车 End ***************************/



/*************************** 收货地址编辑 Start ***************************/
.ship_address_form{margin:0;}
.ship_address_form .rows{margin-bottom:18px;}
.ship_address_form .rows .input_box_txt.null{border-color:#f00;}
.ship_address_form .rows .box_input_group{position:relative;}
.ship_address_form .rows .box_input_group .input_group_addon{width:20%; height:2.5rem; line-height:2.5rem; padding:0; text-align:center; white-space:nowrap; border:.0625rem #c4cdd5 solid; border-right:0; border-radius:0; border-top-left-radius:5px; border-bottom-left-radius:5px; float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.ship_address_form .rows .box_input_group .input_box{width:80%; float:left;}
.ship_address_form .rows .box_input_group .input_group{border-top-left-radius:0; border-bottom-left-radius:0;}
.ship_address_form .rows .box_select{height:2.5rem; overflow:hidden; background:url(../../images/cart/icon_select.png) no-repeat right center; border:.0625rem #c4cdd5 solid; border-radius:.3125rem; box-sizing:border-box; -webkit-box-sizing:border-box;}
.ship_address_form .rows .box_select>select{width:110%; height:2.375rem; line-height:2.375rem; padding-left:.75rem; font-size:.75rem; color:#333; background:transparent; border:0; outline:0;}
.ship_address_form .rows p.error{line-height:1rem; color:#f00; display:none;}
.ship_address_form .form_box .box{width:49%; float:left; box-sizing:border-box; -webkit-box-sizing:border-box;}
.ship_address_form .form_box .box:first-child{margin-right:2%;}
.ship_address_form .button{margin:.625rem 0;}
.ship_address_form .button .btn{margin-bottom:.75rem; color:#fff;}
.ship_address_form .button .btn_back{background-color:#ccc;}
.ship_address_form .checkbox_save_address .checkbox_check{margin-left:.25rem;}
.ship_address_form .checkbox_save_address .checkbox_label{font-size:.875rem;}
/*************************** 收货地址编辑 End ***************************/
@-webkit-keyframes null{
	0%{background-color:#FFF3F3;}
	50%{background-color:#FFCBCC;}
	100%{background-color:#FFF3F3;}
}
@keyframes null{
	0%{background-color:#FFF3F3;}
	50%{background-color:#FFCBCC;}
	100%{background-color:#FFF3F3;}
}

@keyframes rotation{
	from{transform:rotate(0)}
	to{transform:rotate(359deg)}
}
@-o-keyframes rotation{
	from{-o-transform:rotate(0)}
	to{-o-transform:rotate(359deg)}
}
@-moz-keyframes rotation{
	from{-moz-transform:rotate(0)}
	to{-moz-transform:rotate(359deg)}
}
@-webkit-keyframes rotation{
	from{-webkit-transform:rotate(0)}
	to{-webkit-transform:rotate(359deg)}
}

/*交换连接插件*/
.global_swap_chain{ height:0; overflow:hidden;}