.myarticle {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.17rem;
    font-family: "OPENSANS";
    text-transform: uppercase;
}

.myarticle h2 {
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    grid-template-columns: minmax(20px, 0fr) auto minmax(20px, 15fr);
    grid-gap: 3%;
    margin: 30px 0;
    color: black;
}

.myarticle h2:before,
.myarticle h2:after {
    content: '';
    border-top: 0.5px solid;
}


.myarticle h3 {
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    grid-gap: 20px;
    color: black;
    font-size: 0.9rem!important;
}

.myarticle h3:before,
.myarticle h3:after {
    content: '';
    border-top: 2px solid;
}