.rfqContainer {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* padding-top: 0.2rem;
  padding-bottom: 0.2rem; */
}

.cont-contactBtn {
  height: 12rem;
  margin: 0 auto;
  width: 100%;
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.cont-contactBtn .cont-flip {
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;

}

.cont-contactBtn .cont-flip .front,
.cont-contactBtn .cont-flip .back {
  display: block;
  margin: 0;
  height: 50%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cont-contactBtn .cont-flip .front {
  background-color: #f7f7f7;
  /* background-image: url('./img/test.png'); */
  /* background-repeat: no-repeat;
    background-size:100% auto; */
}

.cont-contactBtn .cont-flip .back {
  background-color: #fff;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.cont-contactBtn .btn {
  margin-top: 155px;
}

.cont-contactBtn .cont-flip.flipped {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.cont-contactBtn .contact-form {
  padding: 0 5%;
  margin-top: 30px;
  width: 90%;
}

.cont-contactBtn .contact-form input,
.cont-contactBtn .contact-form textarea {
  border: 1px solid #808080;
  font-size: 12px;
  padding: 10px 0;
  text-transform: uppercase;
}

.cont-contactBtn .contact-form input[type="text"] {
  float: left;
  margin-bottom: 8px;
  padding-left: 3%;
  width: 44.9%;
}

.cont-contactBtn .contact-form .gutter {
  margin-right: 2.8%;
}

.text-p {
  float: left;
  margin-bottom: 8px;
  padding-left: 3%;
  width: 95.9% !important;
}

.cont-contactBtn .contact-form textarea {
  height: 106px;
  padding-left: 3%;
  margin-bottom: 22px;
  width: 96.2%;
}

.cont-contactBtn .contact-form input[type="submit"] {
  background-color: rgb(252, 161, 62);
  border: none;
  color: #fff;
  height: 45px;
  width: 100%;
  max-width: 93px;
  text-align: center;
}

.cont-contactBtn .close {
  display: block;
  height: 19px;
  width: 19px;
  background-image: url(./img/close.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15px;
  right: 3%;
}

.btn {
  border: 3.5px black solid;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
  font-size: 19px;
  margin: 0 auto;
  max-width: 280px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  width: 100%;
}