.container {
  margin-top: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro';
  font-weight: 6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  direction: rtl;
  text-align: center;
  padding: 20px;
  color: RGB(210, 186, 120);
}

.content {
  direction: rtl;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;

}

.fancyTab {
  text-align: center;
  padding: 15px 0;
  background-color: #eee;
  box-shadow: 0 0 0 1px #ddd;
  top: 15px;
  transition: top .2s;
}

.fancyTab.active {
  top: 0;
  transition: top .2s;
}

.whiteBlock {
  display: none;
}

.fancyTab.active .whiteBlock {
  display: block;
  height: 2px;
  bottom: -2px;
  background-color: #fff;
  width: 99%;
  position: absolute;
  z-index: 1;
}

.fancyTab a {
  font-family: 'Source Sans Pro';
  font-size: 1.65em;
  font-weight: 300;
  transition: .2s;
  color: #333;
}

/*.fancyTab .hidden-xs {
  white-space:nowrap;
}*/

.fancyTabs {
  border-bottom: 2px solid #ddd;
  margin: 15px 0 0;
}

li.fancyTab a {
  padding-top: 15px;
  top: -15px;
  padding-bottom: 0;
}

li.fancyTab.active a {
  padding-top: inherit;
}

.fancyTab .fa {
  font-size: 40px;
  width: 100%;
  padding: 15px 0 5px;
  color: #666;
}

.fancyTab.active .fa {
  color: #cfb87c;
}

.fancyTab a:focus {
  outline: none;
}

.fancyTabContent {
  border-color: transparent;
  box-shadow: 0 -2px 0 -1px #fff, 0 0 0 1px #ddd;
  padding: 30px 15px 15px;
  position: relative;
  background-color: #fff;
}

.nav-tabs>li.fancyTab.active>a,
.nav-tabs>li.fancyTab.active>a:focus,
.nav-tabs>li.fancyTab.active>a:hover {
  border-width: 0;
}

.nav-tabs>li.fancyTab:hover {
  background-color: #f9f9f9;
  box-shadow: 0 0 0 1px #ddd;
}

.nav-tabs>li.fancyTab.active:hover {
  background-color: #fff;
  box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
}

.nav-tabs>li.fancyTab:hover a {
  border-color: transparent;
}

.nav.nav-tabs .fancyTab a[data-toggle="tab"] {
  background-color: transparent;
  border-bottom: 0;
}

.nav-tabs>li.fancyTab:hover a {
  border-right: 1px solid transparent;
}

.nav-tabs>li.fancyTab>a {
  margin-right: 0;
  border-top: 0;
  padding-bottom: 30px;
  margin-bottom: -30px;
}

.nav-tabs>li.fancyTab {
  margin-right: 0;
  margin-bottom: 0;
}

.nav-tabs>li.fancyTab:last-child a {
  border-right: 1px solid transparent;
}

.nav-tabs>li.fancyTab.active:last-child {
  border-right: 0px solid #ddd;
  box-shadow: 0px 2px 0 0px #fff, 0px 0px 0 1px #ddd;
}

.fancyTab:last-child {
  box-shadow: 0 0 0 1px #ddd;
}

.tabs .nav-tabs li.fancyTab.active a {
  box-shadow: none;
  top: 0;
}


.fancyTab.active {
  background: #fff;
  box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
  padding-bottom: 30px;
}

.arrow-down {
  display: none;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 22px solid #ddd;
  position: absolute;
  top: -1px;
  left: calc(50% - 20px);
}

.arrow-down-inner {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 12px solid #fff;
  position: absolute;
  top: -22px;
  left: -18px;
}

.fancyTab.active .arrow-down {
  display: block;
}

@media (max-width: 1200px) {

  .fancyTab .fa {
    font-size: 36px;
  }

  .fancyTab .hidden-xs {
    font-size: 22px;
  }

}


@media (max-width: 992px) {

  .fancyTab .fa {
    font-size: 33px;
  }

  .fancyTab .hidden-xs {
    font-size: 18px;
    font-weight: normal;
  }

}


@media (max-width: 768px) {

  .fancyTab>a {
    font-size: 18px;
  }

  .nav>li.fancyTab>a {
    padding: 15px 0;
    margin-bottom: inherit;
  }

  .fancyTab .fa {
    font-size: 30px;
  }

  .nav-tabs>li.fancyTab>a {
    border-right: 1px solid transparent;
    padding-bottom: 0;
  }

  .fancyTab.active .fa {
    color: #333;
  }

}




/* carousel style */
.carousel>input[type="radio"]:nth-child(1):checked~.carousel__prev>label:nth-child(5),
.carousel>input[type="radio"]:nth-child(1):checked~.carousel__next>label:nth-child(2),
.carousel>input[type="radio"]:nth-child(2):checked~.carousel__prev>label:nth-child(1),
.carousel>input[type="radio"]:nth-child(2):checked~.carousel__next>label:nth-child(3),
.carousel>input[type="radio"]:nth-child(3):checked~.carousel__prev>label:nth-child(2),
.carousel>input[type="radio"]:nth-child(3):checked~.carousel__next>label:nth-child(4),
.carousel>input[type="radio"]:nth-child(4):checked~.carousel__prev>label:nth-child(3),
.carousel>input[type="radio"]:nth-child(4):checked~.carousel__next>label:nth-child(5),
.carousel>input[type="radio"]:nth-child(5):checked~.carousel__prev>label:nth-child(4),
.carousel>input[type="radio"]:nth-child(5):checked~.carousel__next>label:nth-child(1) {
  opacity: 1 !important;
  z-index: 3;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background: #fcfcfc;
  margin: 0;
}

.container {
  width: 56%;
  min-width: 90%;
  margin: 50px auto;
}

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carousel>input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
}

.carousel>input[type="radio"]:checked~.carousel__items .carousel__item,
.carousel>input[type="radio"]:checked~.carousel__prev>label,
.carousel>input[type="radio"]:checked~.carousel__next>label {
  opacity: 0;
}

.carousel>input[type="radio"]:nth-child(1):checked~.carousel__items .carousel__item:nth-child(1) {
  opacity: 1;
}

.carousel>input[type="radio"]:nth-child(1):checked~.carousel__nav>label:nth-child(1) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel>input[type="radio"]:nth-child(2):checked~.carousel__items .carousel__item:nth-child(2) {
  opacity: 1;
}

.carousel>input[type="radio"]:nth-child(2):checked~.carousel__nav>label:nth-child(2) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel>input[type="radio"]:nth-child(3):checked~.carousel__items .carousel__item:nth-child(3) {
  opacity: 1;
}

.carousel>input[type="radio"]:nth-child(3):checked~.carousel__nav>label:nth-child(3) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel>input[type="radio"]:nth-child(4):checked~.carousel__items .carousel__item:nth-child(4) {
  opacity: 1;
}

.carousel>input[type="radio"]:nth-child(4):checked~.carousel__nav>label:nth-child(4) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel>input[type="radio"]:nth-child(5):checked~.carousel__items .carousel__item:nth-child(5) {
  opacity: 1;
}

.carousel>input[type="radio"]:nth-child(5):checked~.carousel__nav>label:nth-child(5) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 600px;
  position: relative;
}

.carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}

.carousel__item img {
  width: 100%;
  vertical-align: middle;
}

.carousel__prev>label,
.carousel__next>label {
  border: 3px solid rgb(139, 139, 139);
  border-radius: 50%;
  cursor: pointer;
  display: block;
  width: 5%;
  height: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: 0;
  z-index: 2;
}

.carousel__prev>label,
.carousel__prev>label:focus,
.carousel__next>label,
.carousel__next>label:focus {
  opacity: 0.9 !important;
}

.carousel__prev>label:before,
.carousel__prev>label:after,
.carousel__next>label:before,
.carousel__next>label:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
}

.carousel__prev>label:before,
.carousel__next>label:before {
  background: linear-gradient(to top, rgb(43, 43, 43) 0%, #ccc 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, rgb(63, 63, 63) 0%, #ccc 10%, rgba(51, 51, 51, 0) 10%);
  width: 60%;
  height: 60%;
  top: 20%;

}

.carousel__prev>label {
  left: 2%;
}

.carousel__prev>label:before {
  left: 35%;
  top: 20%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.carousel__next>label {
  right: 2%;
}

.carousel__next>label:before {
  left: 10%;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}

.carousel__nav {
  position: absolute;
  bottom: 3%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 3;
}

.carousel__nav>label {
  border: 4px solid rgb(231, 229, 229);
  background-color: rgb(82, 79, 79);
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0.125%;
  width: 3%;
  height: 20px;
}




/* video style */

.main-video {
  text-align: center !important;
  margin: 0 auto !important;
  display: block !important;


}

.video {
  border-radius: 20px;
  width: 80%;
  height: 405px;
}
@media (max-width: 768px) {
  .carousel__items{
    height: 190px;
  }
}