@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

header, .wrapper{width:100%; max-width:820px; margin:auto;}

.header_top{height:4.75rem; position:relative; z-index:900;}
.header_top .head_bg_col{height:4.75rem; position:relative;}
.header_top .logo{vertical-align: middle;width:100%; height:1.75rem; padding:1.5rem 0; text-align:center;}
.header_top .logo h1{vertical-align: middle;width:100%; height:1.75rem; text-align:center;}
.header_top .logo:after, .header_top .logo h1:after{content: '';display: inline-block;vertical-align: middle;height: 100%;}
.header_top .logo img{max-height:100%;}
.header_top .head_menu{position:absolute; left:0; top:0;}
.header_top .head_menu .item{height:4.75rem; line-height:4.75rem; position:relative; display:inline-block; vertical-align:top;}
.header_top .head_menu .item>a{display:block;}
.header_top .head_menu .item .item_menu{padding:0 1rem; font-size:.75rem; color:#333;}
.header_top .head_menu .item .global_menu{padding:0 1.25rem;}
.header_top .head_menu .item .icon{width:.5rem; height:1rem; background-color:#fff; position:absolute; top:1.9rem; right:0;}
.header_top .head_menu .item .icon>em{margin-top:.2rem; border-width:.4rem .4rem 0 .4rem; border-color:#bbb transparent transparent transparent; border-style:solid; float:right; display:block; position:relative; z-index:10;}
.header_top .head_menu .item .icon>em>i{border-width:.4rem .4rem 0 .4rem; border-color:#fff transparent transparent transparent; border-style:solid; display:block; position:absolute; top:-.5rem; right:-.4rem; z-index:11;}
.header_top .head_menu.fl{display:none;}
.header_top .head_menu.fr{left:inherit; right:0;}
.header_fill{height:3.6875rem; content:'.';}

@media (min-width:480px) and (max-width:736px){
	.header_top .logo{height:2.75rem; padding:1rem 0;}
	.header_top .head_menu .item .item_menu{padding:0 1.25rem; font-size:.875rem;}
	.header_top .head_menu.fl{display:block;}
}

@media (min-width:736px){
	.header_top .logo{height:2.75rem; padding:1rem 0;}
	.header_top .head_menu .item .item_menu{padding:0 1.25rem; font-size:1rem;}
	.header_top .head_menu.fl{display:block;}
}