@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

.footer_top{height:.5rem; background-color:#f6f6f6;}

.follow_us_list{height:2rem; padding:1rem 0; text-align:center;}
.follow_us_list li{width:2rem; margin:0 .15rem; display:inline-block;}
.follow_us_list li>a{width:inherit; height:2rem; line-height:2rem; overflow:hidden; white-space:nowrap; text-indent:50rem; background-repeat:no-repeat; background-size:100%; display:block;}
.icon_follow_facebook{background-image:url(../../../images/icon_follow_facebook.png);}
.icon_follow_twitter{background-image:url(../../../images/icon_follow_twitter.png);}
.icon_follow_pinterest{background-image:url(../../../images/icon_follow_pinterest.png);}
.icon_follow_linkedin{background-image:url(../../../images/icon_follow_linkedin.png);}
.icon_follow_youtube{background-image:url(../../../images/icon_follow_youtube.png);}
.icon_follow_google{background-image:url(../../../images/icon_follow_google.png);}
.icon_follow_vk{background-image:url(../../../images/icon_follow_vk.png);}
.icon_follow_instagram{background-image:url(../../../images/icon_follow_instagram.png);}

.newsletter_box{padding:.125rem .625rem; text-align:center;}
.newsletter_box>h3{text-transform:uppercase; font-family:Georgia; font-size:1.5rem; color:#333; letter-spacing:.1rem;}
.newsletter_box .newsletter_main{margin-top:.5rem;}
.newsletter_box .form_text{width:100%; height:2.3rem; line-height:2.3rem; text-align:center; font-size:.875rem; background-color:#f6f6f6; border-bottom:1px #ddd solid; display:block; border-radius:0;}
.newsletter_box .form_button{width:40%; height:2rem; line-height:2rem; margin:1.5rem 0; font-size:1rem; color:#fff; border-radius:.3215rem;}

.footer_list{margin-left:.625rem;}
.footer_list>li>a{height:3rem; line-height:3rem; margin-right:1rem; color:#333; position:relative; display:block;}
.footer_list>li>a .title{width:80%; overflow:hidden; text-indent:.5rem; font-size:.875rem; float:left;}
.footer_list>li>a em{border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #999; border-style:solid; display:block; position:absolute; top:0; right:0; z-index:10; -webkit-transform:-webkit-rotate(90deg); transform:rotate(90deg); -webkit-transition:all .4s; transition:all .4s;}
.footer_list>li>a i{border-width:.4rem 0 .4rem .4rem; border-color:transparent transparent transparent #fff; border-style:solid; display:block; position:absolute; top:-.09rem; right:0; z-index:11; -webkit-transform:-webkit-rotate(90deg); transform:rotate(90deg); -webkit-transition:all .4s; transition:all .4s;}
.footer_list>li>a em, .footer_list>li>a i{margin-top:1.2rem;}
.footer_list>li>a.list_close i{top:0; right:.1rem;}
.footer_list>li>a.list_close em, .footer_list>li>a.list_close i{-webkit-transform:-webkit-rotate(0); transform:rotate(0);}
.footer_list>li .help_list{background-color:#f6f6f6; display:none;}
.footer_list>li .help_list>li{width:50%; height:2.5rem; line-height:2.5rem; overflow:hidden; float:left;}
.footer_list>li .help_list>li>a{text-indent:.5rem; font-size:.875rem; color:#333; display:block;}
.footer_list>li .sort_down{width:0; height:0; float:right; border-left:.05rem solid transparent; border-right:.05rem solid transparent; border-top:.07rem solid #999; margin:.18rem -1px 0 .07rem;}
.footer_list>li:last-child{border-bottom:0;}

footer{position:relative;}
footer nav{line-height:1.875rem; margin:0; padding:.625rem 0 0; text-align:center; background-color:#f6f6f6;}
footer nav a{margin:0 1.5%; font-size:.75rem; color:#666; white-space:nowrap; word-break:keep-all;}
footer .partners_box{padding:.625rem 0 0; text-align:center; background-color:#f6f6f6;}
footer .partners_box a{margin:.3125rem; display:inline-block;}
footer .partners_box img{max-width:5rem; max-height:2rem; vertical-align:middle;}
footer section, footer section a{line-height:1.5rem; padding:.625rem 0; text-align:center; color:#848181; background-color:#f6f6f6;}
footer section a{border:0;}