@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Playfair+Display:400,700');

.ind_bg{height: 2.6vw;background: #eee;}
.banner{position:relative;}
.banner img{vertical-align:middle;}
.banner .btn{position:absolute; left:0; width:100%; bottom:.75rem; text-align:center;}
.banner .btn span{display:inline-block; content:''; width:.4375rem; height:.4375rem;border:1px solid #c8c4c5; border-radius:1rem; background:#fff; margin:0 .4%;}
.banner .btn span.on{background:#ff8877;border-color:#ff8877;}
.ban{text-align: center;margin-top: 3.8vw;font-size: 0;}
.ban img{vertical-align:middle}

.top_title{font-size: 1.3125rem;color: #111;text-align: center;height: 2.6875rem;line-height: 2.6875rem;padding-top: 4.53vw;position: relative;font-family: 'Playfair Display',Arial;font-weight: bold;}
.top_title_tips{font-size: 0.75rem;color: #bbb;height: 1.5rem;line-height: 1.5rem;padding-bottom: 3.47vw;text-align: center;font-family: 'Playfair Display',Arial;font-weight: bold;}
.top_title_tips2{font-size: 0.75rem;color: #bbb;height: 1.5rem;line-height: 1.5rem;padding-bottom: 3.47vw;text-align: center;font-family: 'Playfair Display',Arial;font-weight: bold;}
.swipe_products .container{width: 92vw;margin:auto;}
#swipe_products_0{position: relative;padding-top: 5.07vw;overflow: hidden;padding-bottom: 1rem;}
#swipe_products_0 .btn{position:absolute; left:0; width:100%; bottom:.0rem; text-align:center;}
#swipe_products_0 .btn span{display:inline-block; content:''; width:.4375rem; height:.4375rem;border:1px solid #c8c4c5; border-radius:1rem; background:#fff; margin:0 .4%;}
#swipe_products_0 .btn span.on{background:#ff8877;border-color:#ff8877;width: 0.8125rem;}
.products_blank{ height:1.875rem;}

.p_list .item .img{position: relative;height:74.1vw; text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:11.72%;border:1px solid #f1f1f1;}
.p_list .item .img img{vertical-align:middle; max-height:100%;}
.p_list .item .img .icon_discount{position:absolute; top:0; left:0; width:2.75rem; height:1.25rem; font-size: 0.875rem;color:#fff;text-align: center; line-height:1.25rem;background: #ff8877;font-family: 'Montserrat',Arial;}
.p_list .item .img .icon_seckill{line-height:1.25rem; overflow:hidden; padding:0 .375rem; color:#fff; position:absolute; top:.375rem; left:.375rem; display:none;background: #f7285e;}
.p_list .item .proname{display: block;margin-top: .5rem;line-height: 1.25rem;max-height: 2.5rem;overflow: hidden;padding:0 2%;color:#333;font-size: 1rem;font-family: 'Montserrat',Arial;font-weight: 300;}
.p_list .item .star{line-height: 1.3125rem;height: 1.3125rem; color:#ffc322;}
.p_list .item .star>span{margin-left:.3rem; font-size:.65rem; color:#828282;}
.p_list .item .star .review_star, .p_list .item .star .review_star>span:first-child{margin-left:0;}
.p_list .item .star .review_star>span{width:0.75rem; height:0.75rem; margin-left:.1rem;}
.p_list .item .price{line-height: 1.875rem;height: 1.875rem;color:#333;font-size: 1rem;font-family: 'Montserrat',Arial;padding-top: 0.375rem;}
.p_list .item .price del{color:#999999;font-size: 1rem;padding-left: 0.5rem;font-weight: 300;}

.swipe_products{position: relative;}
.swipe_products ul{overflow: hidden;}
.swipe_products .item{width: 74.1vw;padding: 0 1.85vw 1.5rem;text-align: center;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}

.mid_ban{width: 92vw;margin:0 auto;padding-top: 3.7vw;}
.mid_ban.fir{padding-top: 0;}

.top_category_list{font-size: 0;text-align: center;}
.top_category_list .top_category_item{display: inline-block;vertical-align: top;font-size: 0.875rem;margin:0 3.7vw;color: #bbb;height: 1.5rem;line-height: 1.5rem;padding-bottom: 1rem;font-family: 'Montserrat',Arial;}
.top_category_list .top_category_item.on{color: #111;}


.products_list .container{width: 92vw;margin:auto;}
.products_list .item{width:44.5vw;text-align: center;padding-bottom: 0.75rem;}
.products_list .item.last{float: right;}
.products_list .item .img{height: 44.5vw;}

.index_blog .top_title{padding-top: 0;}
.blog_list{width: 92vw;margin:0 auto;padding-bottom: 0.625rem;}
.blog_item{margin-bottom: 1.0625rem;}
.blog_item .blog_img{text-align: center;}
.blog_item .blog_content{margin-top: 0.3125rem;}
.blog_item .blog_content .blog_title{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height: 2.1875rem;line-height: 2.1875rem;font-size: 1rem;color: #111;font-family: 'Playfair Display',Arial;}
.blog_item .blog_content .blog_brief{line-height: 1.1875rem;font-size: 0.875rem;color: #666;font-family: 'Playfair Display',Arial;}
.blog_item .blog_content .blog_time{height: 1.5rem;line-height: 1.5rem;margin-top: 0.5625rem;font-size: 0.75rem;font-family: 'Montserrat',Arial;font-weight: 300;}
.blog_item .blog_content .blog_time span{color: #f87;}


