/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/


/*************************** 买家秀(start) ***************************/
/*宽屏样式(start)*/
.w_1200 .app .wide{width: 1200px;min-width: 1200px;margin: auto;padding: 0;}
.w_1200 #app_gallery .gly_list .item{width: 230px;}

/*style 1*/
.w_1200 #app_gallery .ind_gly_list .item{width: 197px;}
.w_1200 #app_gallery .ind_gly_list .item .img{height: 197px;}

/*style 2*/
.w_1200 #app_gallery .ind_gly_list .item_box{float: left;width: 400px;}
.w_1200 #app_gallery .ind_gly_list .item_box.fir{width: 398px;}
.w_1200 #app_gallery .ind_gly_list .item_box_big .item{width: 397px;}
.w_1200 #app_gallery .ind_gly_list .item_box_big .item .img{height: 397px;}
/*宽屏样式(end)*/

.app .wide{width: 980px;margin:auto;padding: 0;}

#app_gallery{padding-top: 45px;padding-bottom: 85px;background: #fafafa;}
#app_gallery .title{height: 42px;line-height: 42px;padding-bottom: 0px;font-size: 30px;text-transform: uppercase;text-align: center;background: none;}
#app_gallery .s_title{height: 20px;line-height: 20px;font-size: 12px;text-align: center;padding-bottom: 20px;}

#app_gallery .gly_list{visibility:visible;}
#app_gallery .gly_list .item{position: absolute;width: 188px;margin-right: 12px;margin-bottom: 10px;}
#app_gallery .gly_list .item.fir{margin-left: 0;}
#app_gallery .gly_list .item .img{position: relative;display: block;text-align: center;overflow: hidden;}
#app_gallery .gly_list .item .pro{height: 50px;padding:10px 10px 10px 70px;background: #f5f5f5;}
#app_gallery .gly_list .item .pro_img{float: left;width: 50px;height: 50px;vertical-align: middle;text-align: center;margin-left: -60px;font-size: 0;}
#app_gallery .gly_list .item .pro_name{display: block;margin-top: 2px;line-height: 16px;max-height: 48px;overflow: hidden;color: #333;}

/*style 1*/
#app_gallery .ind_gly_list .item{position: static;float: left;width: 160px;text-align: center;vertical-align: middle;cursor: pointer;overflow: hidden;margin:3px 0 0 3px;}
#app_gallery .ind_gly_list .item.fir{margin-left: 1px;}
#app_gallery .ind_gly_list .item .img{position: relative;display: block;height: 160px;font-size: 0;text-align: center;}

/*style 2*/
#app_gallery .ind_gly_list .item_box{float: left;width: 326px;}
#app_gallery .ind_gly_list .item_box.fir{width: 324px;}
#app_gallery .ind_gly_list .item_box_big .item{width: 323px;}
#app_gallery .ind_gly_list .item_box_big .item .img{height: 323px;}

#app_gallery .item .view{position: absolute;top: 15px;bottom: 0;left: 0;right: 0;margin:auto;padding-top: 48px;height: 22px;line-height: 22px;font-size: 14px;color: #fff;background: url(../images/plugins/app_gallery/icon_view.png) no-repeat center 9px;z-index: -1;}
#app_gallery .item .bg{position: absolute;width: 100%;height: 100%;left: 0;background: rgba(0,0,0,0.1);z-index: -1;}
#app_gallery .item:hover .view{z-index: 1;top: 0;}
#app_gallery .item:hover .bg{top: 0;z-index: 0;background: rgba(0,0,0,0.7);}





#app_gallery_content{position: relative;min-height: 300px;margin: 0 auto;}

#alert_choose{opacity: 1;}
.alert_choose_gallery .choose_content{width: 500px;padding-top: 20px;}
.alert_choose_gallery.has_pro .choose_content{width: 700px;}
.alert_choose_gallery .gallery_img{width: 500px;height: 500px;text-align: center;}
.alert_choose_gallery.has_pro .gallery_img{float: left;width: 400px;height: 400px;text-align: center;}
.alert_choose_gallery .product{float: right;padding-top: 20px;width: 260px;text-align: center;}
.alert_choose_gallery .product .name{padding-top: 20px;padding-bottom: 10px;font-size: 16px;line-height: 20px;max-height: 140px;}
.alert_choose_gallery .product .img{height: 150px;overflow: hidden;font-size: 0;}
.alert_choose_gallery .product .view{display: inline-block;padding: 0 25px;margin-top: 25px;height: 36px;line-height: 36px;color: #fff;border-radius: 2px;font-size: 14px;text-decoration: none;}
/*************************** 买家秀(end) ***************************/



/*************************** 分销(start) ***************************/
/*宽屏样式(start)*/
.w_1200 #lib_user_distribution .menu_list .item{width:234px; margin-left:42px; padding:0 22px;}
.w_1200 #lib_user_distribution .menu_list .item.longer{width:404px;}

.w_1200 #lib_user_distribution .share_information .item{width:231px;}
.w_1200 #lib_user_distribution .share_information .item .item_content{padding:0 20px;}

.w_1200 #lib_user_distribution .balance_content{width:517px;}
/*宽屏样式(end)*/

#lib_user_distribution .menu_list .item{width:224px; height:107px; overflow:hidden; margin-left:16px; padding:0 10px; border:1px #e5e5e5 solid; position:relative; float:left;}
#lib_user_distribution .menu_list .item .item_price{height:40px; line-height:40px; overflow:hidden; margin:20px 0 12px; font-size:45px; font-weight:bold; color:#ff696a;}
#lib_user_distribution .menu_list .item .item_price>b{font-size:20px; font-weight:normal;}
#lib_user_distribution .menu_list .item .item_title{text-transform:uppercase; font-size:14px; color:#d68e8e;}
#lib_user_distribution .menu_list .item .item_more{height:28px; line-height:28px; color:#666; position:absolute; top:0; right:9px;}
#lib_user_distribution .menu_list .item .item_more>em{margin-top:9px; margin-left:7px; border-width:5px 0 5px 5px; border-color:transparent transparent transparent #666; border-style:solid; position:relative; display:inline-block; vertical-align:top;}
#lib_user_distribution .menu_list .item .item_more>em>i{border-width:5px 0 5px 5px; border-color:transparent transparent transparent #fff; border-style:solid; position:absolute; top:-5px; right:2px; display:inline-block;}
#lib_user_distribution .menu_list .item.link{cursor:pointer;}
#lib_user_distribution .menu_list .item.link:hover{border-color:#ccc;}
#lib_user_distribution .menu_list .item.longer{width:351px; margin-left:24px;}
#lib_user_distribution .menu_list .item:first-child{margin-left:0;}

#lib_user_distribution .share_box{margin-top:40px;}
#lib_user_distribution .share_box .share_title{height:16px; line-height:16px; font-size:20px;}
#lib_user_distribution .share_box .share_content{height:30px; line-height:30px; margin-top:10px; font-size:14px;}
#lib_user_distribution .share_box .share_copy{margin-top:10px;}
#lib_user_distribution .share_box .share_copy .share_input{width:554px; height:36px; line-height:36px; padding:0 12px; color:#999; border:1px #eee solid;}
#lib_user_distribution .share_box .share_copy .btn_copy{width:128px; height:38px; line-height:38px; margin-left:22px; padding:0; color:#fff; border:0;}
#lib_user_distribution .share_box .share_third{margin-top:13px;}
#lib_user_distribution .share_box .share_third>a{width:150px; height:30px; line-height:30px; overflow:hidden; margin-left:20px; text-indent:70px; text-decoration:none; text-transform:capitalize; font-size:14px; background-repeat:no-repeat; background-position:48px 8px; border-width:1px; border-style:solid; display:inline-block;}
#lib_user_distribution .share_box .share_third>a:first-child{margin-left:0;}
#lib_user_distribution .share_box .share_third>a.share_facebook{color:#3a589b; background-image:url(../images/plugins/app_distribution/icon_share_facebook.png); border-color:#3a589b;}
#lib_user_distribution .share_box .share_third>a.share_google{color:#dd5044; background-image:url(../images/plugins/app_distribution/icon_share_google.png); border-color:#dd5044;}
#lib_user_distribution .share_box .share_third>a.share_twitter{color:#00acee; background-image:url(../images/plugins/app_distribution/icon_share_twitter.png); border-color:#00acee;}
#lib_user_distribution .share_box .share_third>a.share_pinterest{color:#e22f69; background-image:url(../images/plugins/app_distribution/icon_share_pinterest.png); border-color:#e22f69;}

#lib_user_distribution .share_information{margin-top:20px; padding-bottom:40px; background-color:#f9f9f9;}
#lib_user_distribution .share_information .info_title{height:16px; line-height:16px; padding:34px 30px 20px; font-size:20px; font-weight:bold;}
#lib_user_distribution .share_information .item{width:192px; padding-top:109px; background-repeat:no-repeat; background-position:center 9px; float:left;}
#lib_user_distribution .share_information .item .item_title{height:24px; line-height:24px; text-align:center; font-size:14px; font-weight:bold; color:#333; text-transform:uppercase;}
#lib_user_distribution .share_information .item .item_content{line-height:23px; margin-top:6px; padding:0 6px; color:#888;}
#lib_user_distribution .share_information .item.item_0{background-image:url(../images/plugins/app_distribution/icon_information_0.png);}
#lib_user_distribution .share_information .item.item_1{background-image:url(../images/plugins/app_distribution/icon_information_1.png);}
#lib_user_distribution .share_information .item.item_2{background-image:url(../images/plugins/app_distribution/icon_information_2.png);}
#lib_user_distribution .share_information .item.item_3{background-image:url(../images/plugins/app_distribution/icon_information_3.png);}

#lib_user_distribution .share_bottom{margin-top:40px; margin-bottom:20px;}
#lib_user_distribution .share_bottom .bottom_content{min-height:inherit;}

#lib_user_distribution .distribution_table{width:100%; margin:20px 0;}
#lib_user_distribution .distribution_table th{height:45px; font-size:14px; color:#2b2b2b; background-color:#f8f8f8;}
#lib_user_distribution .distribution_table tr{height:49px; border-bottom:1px #e5e5e5 solid;}
#lib_user_distribution .distribution_table tr:first-child{height:inherit; border:none;}
#lib_user_distribution .distribution_table tr td{line-height:49px; font-size:14px;}
#lib_user_distribution .distribution_table tr td.price{color:#e53935;}
#lib_user_distribution .distribution_table .fir{text-indent:20px;}

#lib_user_distribution .balance_title{height:35px; line-height:35px; margin-top:6px; text-transform:capitalize; font-size:18px; font-weight:bold;}
#lib_user_distribution .balance_form{width:370px; margin-top:10px; float:left;}
#lib_user_distribution .balance_form .rows{margin-bottom:30px;}
#lib_user_distribution .balance_form .rows .input_box_txt{width:336px;}
#lib_user_distribution .balance_form .rows .input_box_txt.null{border-color:#f00;}
#lib_user_distribution .balance_form .rows p.error{line-height:16px; color:#f00; display:none;}
#lib_user_distribution .balance_form .btn_submit{background-color:#e53935;}
#lib_user_distribution .balance_content{width:370px; line-height:26px; font-size:13px; color:#e53935; float:right;}
/*************************** 分销(end) ***************************/