/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/
/*************************** 宽屏样式 Start ***************************/
.w_1200 #lib_user_wrap, .w_1200 #lib_user_binding{width:1180px;}
.w_1200 #lib_user_prompt li.coupons{width:340px;}
.w_1200 #lib_user_prompt li.news{width:590px;}
.w_1200 #lib_user_menu{width:234px;}
.w_1200 #lib_user_main{width:925px;}
.w_1200 #lib_user_main .index_ml{width:318px;}
.w_1200 #lib_user_main .index_mr{width:568px;}
.w_1200 #lib_user_main .index_item.address ul{line-height:200%;}
.w_1200 #lib_user_main .index_item.favorites .viewport ul li{width:160px;}
.w_1200 #lib_user_main .index_item.review dl.fl{width:520px;}
.w_1200 #lib_user_main .index_item.review dl.fl dd{width:420px;}
.w_1200 #lib_user_main .index_item.review dl.fr{width:360px;}
.w_1200 .order_base .order_view{width:250px;}
.w_1200 #lib_user_products .item_list .item_name{ width:500px;}
.w_1200 #lib_user_products .prod_con .prod_name{ width:730px;}
.w_1200 #lib_user_products .item .item_con{ width:720px;}
.w_1200 #lib_user_products .mine .item_con{ margin-left:44px;}
/*************************** 宽屏样式 End ***************************/
/*******************新增语言版波斯语的样式调整 start**********************/
body.lang_fa #signup .info .box li {background: url(../images/user/point.gif) right center no-repeat;}
body.lang_fa #signup .register .intro dd {padding-left: 0;padding-right: 15px;    background: url(../images/user/point2.gif) no-repeat right 7px;}
/*******************新增语言版波斯语的样式调整 end  **********************/
/*************************** 全局 Start ***************************/
.null{-webkit-animation:null .3s 2 0s linear forwards; animation:null .3s 2 0s linear forwards;}

/* 表单 */
.lib_txt{border:1px solid #ccc; border-radius:3px!important; height:36px; line-height:36px; padding:0 7px; color:#333; font-size:16px; box-shadow:0 1px 0 rgba(255,255,255,.8),inset 0 1px 2px rgba(0,0,0,.06);}
.lib_txt:hover{border-color:#aaa;}
.lib_txt:focus{border-color:#aaa;}
.lib_btn{height:38px; padding:0 20px; border-radius:3px!important; border:none; color:#fff; font-size:16px; font-weight:bold;}
.lib_btn:hover{background-position:0 -38px;}

#lib_user input, #lib_user textarea, #lib_user button{outline:none;}
#lib_user button{cursor:pointer;}

/* 按钮 */
#lib_user .textbtn{ height:28px; line-height:27px; padding:0 15px; border:1px solid #dbdbdb; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; cursor:pointer; display:inline-block; margin-right:10px; background:-webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eaeaea)); -webkit-background-origin: padding;}
#lib_user .textbtn:hover{background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#dadada));}
#lib_user{background:#fff; width:100%; padding:20px 0 30px;}
#lib_user *{font-family: Arial;}
#lib_user_wrap{width:960px; margin:0 auto;}

/* 面包屑 */
#lib_user_crumb{display: none;position:relative; border-bottom:1px #ddd solid; margin-bottom:10px; }
#lib_user_crumb .crumb_box{display:inline-block; margin-right:45px;}
#lib_user_crumb li, #lib_user_crumb li a{height:29px; line-height:28px; text-decoration:none;}
#lib_user_crumb li i, #lib_user_crumb .root a{background-image:url(../images/user/user_crumb.png);}
#lib_user_crumb li{float:left; position:relative;}
#lib_user_crumb li a{padding:0 8px 0 12px; display:inline-block;}
#lib_user_crumb li i{position:absolute; top:2px; right:-8px; z-index:20; width:9px; height:27px; line-height:26px; background-position:0px -34px;}
#lib_user_crumb li.home a{padding-left:4px;}
#lib_user_crumb .root a{color:#fff; text-shadow:0 1px 0 #666; background-position:0px -61px;}
#lib_user_crumb .root i{background-position:-25px -37px;}

/* 左侧栏 */
#lib_user_menu{float:left; width:190px; padding-top: 8px; border:1px solid #f8f8f8;background: #f8f8f8;}
#lib_user_menu .title{height:50px; line-height:50px; text-indent:20px; font-size:20px;}
#lib_user_menu ul{padding-bottom:24px;}
#lib_user_menu li{height:40px; line-height:40px; overflow:hidden;font-size: 14px;}
#lib_user_menu li a{display: block;margin:0 15px;color: #888;text-indent: 9px;border-radius: 3px;text-decoration: none;transition: all 0.3s;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;}
#lib_user_menu li a:hover,#lib_user_menu li a.cur{background: #efefef;}
#lib_user_menu li:first-child{border:none;}
#lib_user_menu li b{display:inline-block; height:16px; min-width: 10px;padding:0 3px;line-height:16px; text-indent:0; margin-left:5px;margin-top: 2px; overflow:hidden; color:#fff; text-align:center; background-color:#fb4729; border-radius:8px;font-size: 12px;vertical-align: top;}

/* 地址编辑框 */

.w_1200 #lib_user_address .address_list .add_item{ width:457px;}
#lib_user_address .address_list .add_item{ border:1px solid #e1e1e1; padding:5px 0; padding-right:70px; padding-left:20px; position:relative; width:380px; box-sizing:border-box; float:left; margin-top:10px; margin-left:10px; overflow:hidden;}
#lib_user_address .address_list .add_item .rows{ color:#666; padding:3px 0; line-height:20px;}
#lib_user_address .address_list .add_item .rows strong{ font-size:14px;}
#lib_user_address .address_list .add_item .rows em{ font-size:12px; line-height:16px; background:#fb4729; color:#fff; display:inline-block; padding:0 10px; border-radius:8px; margin-left:20px; vertical-align:text-bottom;}
#lib_user_address .address_list .add_item .options{ width:70px; position:absolute; right:0; top:65px; text-indent:10px; top:7px;}
#lib_user_address .address_list .add_item .options a{ font-size:12px; line-height:20px;}
#lib_user_address .address_list .add_item .user_action_down{ height:20px; line-height:20px;}
#lib_user_address .address_list .add_item .user_action_down i{ width:20px; height:20px;}
#lib_user_address .address_list .add_item .user_action_down ul{ top:21px;}
#lib_user_address .address_list .add_item .user_action_down li a{ padding:0;}
#addressForm{ padding:24px; display:none;}

.user_address_form{margin:0;}
.user_address_form .cancel{padding-left:18px; text-decoration:underline; background:url(../images/cart/chosen-sprite.png) no-repeat -45px 2px; float:right;}
.user_address_form .rows{margin-bottom:18px;}
.user_address_form .rows .input_box_txt{width:543px;}
.user_address_form .rows .input_box_txt.null{border-color:#f00;}
.user_address_form .rows .box_input_group{position:relative;}
.user_address_form .rows .box_input_group .input_group_addon{width:55px; height:40px; line-height:40px; padding:0; text-align:center; white-space:nowrap; border:1px #c4cdd5 solid; border-right:0; border-top-left-radius:5px; border-bottom-left-radius:5px; float:left;}
.user_address_form .rows .box_input_group .input_box{float:left;}
.user_address_form .rows .box_input_group .input_group{width:487px; border-top-left-radius:0; border-bottom-left-radius:0;}
.user_address_form .rows .box_select{height:40px; overflow:hidden; background:url(../images/cart/icon_select.png) no-repeat right center; border:1px #c4cdd5 solid; border-radius:5px;}
.user_address_form .rows .box_select>select{width:105%; height:40px; padding-left:12px; font-size:12px; color:#333; background:transparent; border:0; outline:0;}
.user_address_form .rows p.error{line-height:16px; color:#f00; display:none;}
.user_address_form .form_box .box{width:282px; float:left;}
.user_address_form .form_box .box:first-child{margin-right:13px;}
.user_address_form .form_box .box .input_box_txt{width:248px;}
.user_address_form .form_box .box .box_select{width:280px;}
.user_address_form .button{margin:10px 0;}
.user_address_form .button .btn_global{height:32px; line-height:32px; margin-right:20px; padding:0 33px; font-size:14px;}
.user_address_form .button .btn_cancel{color:#898989; background-color:#eee; border:0;}
.user_address_form .button .btn_save{background-color:#555;}

/* 国家下拉选择菜单 */
.chzn-container{width:282px; font-size:11px; position:relative; display:inline-block; zoom:1; *display:inline;}
.chzn-container .chzn-drop{background:#fff; border:1px solid #aaa; border-top:0; position:absolute; top:29px; left:0; -webkit-box-shadow:0 4px 5px rgba(0,0,0,.15); -moz-box-shadow:0 4px 5px rgba(0,0,0,.15); -o-box-shadow:0 4px 5px rgba(0,0,0,.15); box-shadow:0 4px 5px rgba(0,0,0,.15); z-index:999; overflow:hidden;}
.chzn-container-single .chzn-single{height:40px; line-height:40px; overflow:hidden; padding:0 0 0 8px; padding-left:16px; font-size:12px; color:#444; text-decoration:none; background-color:#fff; border:1px #c4cdd5 solid; border-radius:5px; position:relative; display:block; white-space:nowrap;}
.chzn-container-single .chzn-single span{margin-right:26px; display:block; overflow:hidden; color:333; white-space:nowrap; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; text-overflow:ellipsis;}
.chzn-container-single .chzn-single abbr{display:block; position:absolute; right:26px; top:8px; width:12px; height:13px; font-size:1px; background:url(../images/cart/chosen-sprite.png) right top no-repeat;}
.chzn-container-single .chzn-single abbr:hover{background-position:right -11px;}
.chzn-container-single .chzn-single div{-webkit-border-radius:0 4px 4px 0; -moz-border-radius:0 4px 4px 0; border-radius:0 4px 4px 0; border:0; position:absolute; right:0; top:0; display:block; height:100%; width:30px;}
.chzn-container-single .chzn-single div b{background:url(../images/cart/icon_select.png) no-repeat 7px center; display:block; width:100%; height:100%;}
.chzn-container-single .chzn-search{background:#fff url('../images/cart/chosen-sprite.png') no-repeat 100% -22px; background:url('../images/cart/chosen-sprite.png') no-repeat 100% -24px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee)); background:url('../images/cart/chosen-sprite.png') no-repeat 100% -24px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat 100% -24px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat 100% -24px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat 100% -24px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat 100% -24px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat 100% -24px, linear-gradient(top, #ffffff 85%,#eeeeee 99%); padding:4px 20px 4px 5px; position:relative; margin:3px 4px; white-space:nowrap; border:1px solid #aaa;}
.chzn-container-single .chzn-search input{width:100%; height:20px; margin:0; padding:0; outline:0; border:none; float:right;}
.chzn-container-single .chzn-drop{-webkit-border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px; -moz-background-clip:padding; -webkit-background-clip:padding-box; background-clip:padding-box; width:280px; left:-9000px;}
.chzn-container-single-nosearch .chzn-search input{position:absolute; top:-9000px;}
.chzn-container .chzn-drop .chzn-results{margin:0 4px 4px 0; max-height:190px; padding:0 0 0 4px; position:relative; overflow-x:hidden; overflow-y:auto; width:95%;}
.chzn-container .chzn-results li{display:none; line-height:100%; padding:7px 7px 8px; margin:0; list-style:none;}
.chzn-container .chzn-results .active-result{cursor:pointer; display:list-item;}
.chzn-container .chzn-results .highlighted{background:#3875d7; color:#fff;}
.chzn-container .chzn-results li em{background:#feffde; font-style:normal;}
.chzn-container .chzn-results .highlighted em{background:transparent;}
.chzn-container .chzn-results .no-results{background:#f4f4f4; display:list-item;}
.chzn-container .chzn-results .group-result{cursor:default; color:#999; font-weight:bold;}
.chzn-container .chzn-results .group-option{padding-left:20px;}
.chzn-container-active .chzn-single{-webkit-box-shadow:0 0 5px rgba(0,0,0,.3); -moz-box-shadow:0 0 5px rgba(0,0,0,.3); -o-box-shadow:0 0 5px rgba(0,0,0,.3); box-shadow:0 0 5px rgba(0,0,0,.3); border:1px solid #aaa;}
.chzn-container-active .chzn-single-with-drop{border:1px solid #aaa; -webkit-border-bottom-left-radius :0; -webkit-border-bottom-right-radius:0; -moz-border-radius-bottomleft:0; -moz-border-radius-bottomright:0; border-bottom-left-radius:0; border-bottom-right-radius:0;}
.chzn-container-active .chzn-single-with-drop div{background:transparent; border-left:none;}
.chzn-container-active .chzn-choices{-webkit-box-shadow:0 0 5px rgba(0,0,0,.3); -moz-box-shadow:0 0 5px rgba(0,0,0,.3); -o-box-shadow:0 0 5px rgba(0,0,0,.3); box-shadow:0 0 5px rgba(0,0,0,.3); border:1px solid #5897fb;}
.chzn-container-active .chzn-choices .search-field input{color:#111!important;}
.chzn-disabled{cursor:default; opacity:0.5!important;}
.chzn-disabled .chzn-single{cursor:default;}
.chzn-disabled .chzn-choices .search-choice .search-choice-close{cursor:default;}
.chzn-rtl{direction:rtl; text-align:right;}
.chzn-rtl .chzn-single{padding-left:0; padding-right:8px;}
.chzn-rtl .chzn-single span{margin-left:26px; margin-right:0;}
.chzn-rtl .chzn-single div{left:0; right:auto; border-left:none; border-right:1px solid #aaaaaa; -webkit-border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px;}
.chzn-rtl .chzn-choices li{float:right;}
.chzn-rtl .chzn-choices .search-choice{padding:3px 6px 3px 19px; margin:3px 5px 3px 0;}
.chzn-rtl .chzn-choices .search-choice .search-choice-close{left:5px; right:auto; background-position:right top;}
.chzn-rtl.chzn-container-single .chzn-results{margin-left:4px; margin-right:0; padding-left:0; padding-right:4px;}
.chzn-rtl .chzn-results .group-option{padding-left:0; padding-right:20px;}
.chzn-rtl.chzn-container-active .chzn-single-with-drop div{border-right:none;}
.chzn-rtl .chzn-search input{background:url('../images/cart/chosen-sprite.png') no-repeat -38px -22px, #ffffff; background:url('../images/cart/chosen-sprite.png') no-repeat -38px -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee)); background:url('../images/cart/chosen-sprite.png') no-repeat -38px -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat -38px -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat -38px -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat -38px -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat -38px -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat -38px -22px, linear-gradient(top, #ffffff 85%,#eeeeee 99%); padding:4px 5px 4px 20px;}
/*************************** 全局 End ***************************/

/*************************** 会员登录 Start ***************************/
#signin_module{position:fixed; z-index:100000; top:0;font-family: Arial;transition: top 0.25s;-webkit-transition: top 0.25s;-moz-transition: top 0.25s;}
#signin_module .box_bg{width:100%; height:100%; background-color:#fff; position:absolute; top:0; left:0; -moz-box-shadow:0px 0px 20px #000; -webkit-box-shadow:0px 0px 20px #000; box-shadow:0px 0px 20px #000; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
#signin_module .noCtrTrack{top:12px; right:0px; width:40px; height:26px; font-size:30px; color:#000; opacity:0.2; filter:alpha(opacity=20); text-decoration:none;font-weight:bold; position:absolute; z-index:100000;}
#signin_module .noCtrTrack:hover{color:#000000; text-decoration:none; cursor:pointer; opacity:0.4; filter:alpha(opacity=40);}
#signin_module #lb-wrapper{width:400px; padding:20px; position:relative; z-index:10; zoom:1; background-color:#fff; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; -webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); -webkit-background-clip:padding-box; -moz-background-clip:padding-box; background-clip:padding-box;}
#signin_module #lb-wrapper h3{font-size:16px; display:block; padding-bottom:10px; color:#333; line-height:18px; border-bottom:1px solid #ddd; text-indent:8px;}
#signin_module #lb-wrapper .lib_txt{border:1px solid #ccc; border-radius:3px!important; height:36px; line-height:36px; width:370px; padding:0 7px; color:#333; font-size:16px; box-shadow:0 1px 0 rgba(255,255,255,.8),inset 0 1px 2px rgba(0,0,0,.06);}
#signin_module #lb-wrapper .title{margin:0 20px 15px; height:52px; border-bottom:1px solid #e5e5e5; line-height:52px; font-size:24px; text-indent:13px; color:#333;}
#signin_module #lb-wrapper .error_note_box{border:1px #ffdb83 solid; color:#f00; padding:10px; margin:15px 5px; background:#fff9e1; display:none;}
#signin_module #lb-wrapper .on_error{margin:0; color:#f00; display:none;}
#signin_module #lb-wrapper .row{ margin-top:10px; padding:0 8px;}
#signin_module #lb-wrapper .row label{display:block; font-size:14px; color:#555; margin-bottom:4px;}
#signin_module #lb-wrapper .row a.forgot{text-decoration:underline;}
#signin_module #lb-wrapper .protect{padding-left:30px; position:relative; overflow:hidden; margin-bottom:15px;}
#signin_module #lb-wrapper .protect span{color:#767676; display:block; margin-top:4px;}
#signin_module #lb-wrapper .protect .ckb{position:absolute; top:2px; left:4px;}
#signin_module #lb-wrapper .signbtn{border-radius:4px; -ms-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:2px 12px; line-height:25px; display:inline-block; cursor:pointer; font-size:14px; margin-right:16px;}
#signin_module #lb-wrapper .signin{color:#fff;}
#signin_module #lb-wrapper .signup{background:#fff; border:1px solid #d0d0d0;}

.fb_button{display:block; height:32px; overflow:hidden; position:relative; margin-bottom:12px; cursor:pointer;}
.fb_button i{width:30px; height:32px; overflow:hidden; background:url(../images/user/sign_in_facebook.png) left top no-repeat; position:absolute; left:0; top:0;}
.fb_button em{width:8px; height:32px; overflow:hidden; background:url(../images/user/sign_in_facebook.png) left -73px no-repeat; position:absolute; right:0; top:0;}
.fb_button span{display:block; margin:0 8px 0 30px; height:32px; line-height:32px; overflow:hidden; background:url(../images/user/sign_in_facebook.png) left -37px repeat-x; color:#fff; text-indent:8px; font-size:10px;}
.fb_button:hover i{background:url(../images/user/sign_in_facebook.png) left -110px no-repeat;}
.fb_button:hover em{background:url(../images/user/sign_in_facebook.png) left -186px no-repeat;}
.fb_button:hover span{background:url(../images/user/sign_in_facebook.png) left -148px repeat-x;}

.fb-login-button{display:block; width:100%; height:28px; overflow:hidden; background:#4267b2; border-radius:5px; margin-bottom:12px; padding:2px 0; position:relative; cursor:pointer;}
.signin_box_sec .fb-login-button{padding: 0;position: relative;}
.signin_box_sec .fb-login-button:after{content: '';width: 10px;height: 28px;background: #4267b2;position: absolute;top: 0;right: 0;z-index: 1;}
.signin_box_sec .fb-login-button>span{margin-left: 17px;}
/*.fb-bg-login-button{background:url(../images/user/btn_sign_facebook.png) no-repeat;}*/

.google_button{display:block; height:32px; line-height:30px; overflow: hidden; background:#cc3732; position:relative; color:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin-bottom:12px;}
.google_button:hover{background:#e74b37; cursor:pointer;}
.google_button span.icon{background:url(../images/user/google_icon.png) transparent 0 50% no-repeat; display:inline-block; vertical-align:middle; width:22px; height:22px; margin-left:5px;}
.google_button span.button_text{line-height:28px; font-size:10px; margin-left:12px;}
.google_button #google_btn{position:absolute; top:0; left:0; text-indent:999px;}
.google_button .abcRioButton, .google_button .abcRioButton:hover{width:184px!important; height:32px!important; background:none; box-shadow:none;}
.google_button .abcRioButtonIcon{display:none;}

.twitter_button{display:block; height:30px; line-height:30px; border:1px solid #3894da; background:#3498e4; color:#fff; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin-bottom:12px;}
.twitter_button:hover{background:#55ACEE; cursor:pointer;}
.twitter_button span.icon{background:url(../images/user/twitter_icon.png) transparent 0 50% no-repeat; display:inline-block; vertical-align:middle; width:22px; height:22px; margin-left:5px;}
.twitter_button .text{line-height:28px; font-size:10px; margin-left:6px; color:#fff; text-decoration:none;}

.signin_container #paypalLogin{margin-bottom: 0;}
#paypalLogin{ margin-bottom:12px;width: 184px;}
#paypalLogin .PPBlue_V2{height:32px!important;padding: 0 !important;border-radius: 5px !important;width: 100%;text-align: left;line-height: 32px;}
#paypalLogin .PPBlue_V2 svg{width: 18px;margin: 4px 0 0 10px;}
#paypalLogin .PPBlue_V2 b{padding:0!important; padding-left:10px!important;font-size: 10px;text-decoration: none;font-family: arial;}

.vk_button{display:block; height:32px; line-height:30px; background:#507299; color:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;margin-bottom: 12px;}
.vk_button:hover{background:#5f86b4; cursor:pointer;}
.vk_button span.icon{background:url(../images/user/vk_icon.png) transparent 0 50% no-repeat; display:inline-block; vertical-align:middle; width:22px; height:22px; margin-left:5px;}
.vk_button span.button_text{line-height:28px; font-size:10px; margin-left:8px;}
.instagram_button{display:block; height:32px; line-height:30px; background:#8e6151; color:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.instagram_button:hover{background:#987061; cursor:pointer;}
.instagram_button span.icon{background:url(../images/user/instagram_icon.png) transparent 4px 50% no-repeat; display:inline-block; vertical-align:middle; width:22px; height:22px; margin-left:5px;}
.instagram_button span.button_text{line-height:28px; font-size:10px; margin-left:8px;}
/*************************** 会员登录 End ***************************/

/*************************** 会员注册、找回密码、邮件验证 Start ***************************/
#customer{width:980px; margin:0 auto; overflow:hidden;}
#customer .header{width:100%; height:90px; border-bottom:1px solid #c8c8c8; margin-bottom:20px;}
#customer .header .logo{max-width:500px; height:90px; overflow:hidden;}
#customer .header .logo img{max-width:100%; max-height:100%;}
#customer .header .home{padding:45px 0 21px; height:24px; line-height:24px; display:block; text-decoration:underline; color:#999;}
#customer .header .home:hover{color:#666;}
#customer .sign_btn, #customer .fb_button, #customer .google_button, #customer .vk_button, #customer .instagram_button{width:184px;}
#customer .twitter_button{width:182px;}
#customer #paypalLogin .PPBlue_V2 b{padding: 0!important; padding-left: 7px!important; padding-right: 41px!important;}
#customer .fb-login-button{display:inline-block; overflow: hidden;width:182px;margin-bottom: 12px;padding: 2px 0;background: #4267b2;}

.user_language{margin-top:30px; position:relative;}
.user_language>i{width:8px; height:28px; background:url(../images/global/header_cart_hover.png) no-repeat right center; position:absolute; top:1px; right:8px; z-index:1012;}
.user_language dt{height:28px; line-height:28px; border:1px transparent solid; padding:0 20px 0 10px; cursor:pointer;}
.user_language dd{width:86px; padding:5px 10px 8px; border:1px solid #d1d1d1; background:#fff; position:absolute; top:28px; right:0; display:none;}
.user_language dd a{display:block; height:21px; line-height:21px; overflow:hidden;}
.user_language dd img{width:16px; height:11px; overflow:hidden; margin-right:5px;}
.user_language:hover dt{background-color:#fff; border:1px solid #d1d1d1; border-bottom:none; z-index:1011; position:relative; -webkit-border-radius-topleft:6px; -moz-border-radius-topleft:6px; border-top-left-radius:6px; -webkit-border-radius-topright:6px; -moz-border-radius-topright:6px; border-top-right-radius:6px;}
.user_language:hover dd{z-index:1010; display:block; -webkit-border-radius-bottomleft:6px; -moz-border-radius-bottomleft:6px; border-bottom-left-radius:6px; -webkit-border-radius-bottomright:6px; -moz-border-radius-bottomright:6px; border-bottom-right-radius:6px; -webkit-box-shadow:0 2px 7px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 2px 7px rgba(0, 0, 0, 0.3); box-shadow:0 2px 7px rgba(0, 0, 0, 0.3); -webkit-background-clip:padding-box; -moz-background-clip:padding-box; background-clip:padding-box;}
.user_language dt.not_dd{background:none; border-color:transparent;}
.user_language dt.not_dd:before, .user_language dt.not_dd:after{display:none;}

#signup{padding-top:20px;}
#signup .register{width:600px;}
#signup .register .title{margin-bottom:15px; height:32px; border-bottom:1px solid #e5e5e5; font-size:16px; text-indent:13px; color:#333;}
#signup .register .error_note_box{border:1px #ffdb83 solid; color:#f00; padding:10px; margin:15px; background:#fff9e1; display:none;}
#signup .register .on_error{margin:0; color:#f00; display:none;}
#signup .register .row{margin:10px 15px;}
#signup .register .row label{display:block; font-size:14px; color:#555; margin-bottom:4px;}
#signup .register .intro{color:#555; margin:15px 20px; height:inherit; line-height:160%;}
#signup .register .intro a{color:#0654ba; text-decoration:underline;}
#signup .register .intro dt{font-weight:bold;}
#signup .register .intro dd{padding-left:15px; background:url(../images/user/point2.gif) no-repeat 0 7px; margin-top:5px;}
#signup .register .lib_txt{border:1px solid #ccc; border-radius:3px!important; height:36px; line-height:36px; padding:0 7px; color:#333; font-size:16px; box-shadow:0 1px 0 rgba(255,255,255,.8),inset 0 1px 2px rgba(0,0,0,.06);}
#signup .register .lib_txt:hover{border:1px solid #aaa;}
#signup .register #Code.lib_txt{text-transform:uppercase;}
#signup .register .signbtn{border-radius:4px; -ms-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:2px 12px; line-height:25px; display:inline-block; cursor:pointer; font-size:14px; margin-right:16px; text-decoration:none;}
#signup .register .signup{color:#fff;}
#signup .register .row .lib_input{width:538px;}
#signup select{width:554px; height:38px; line-height:38px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border:1px #aaa solid;}
#signup .info{width:232px;}
#signup .info .box{width:190px; padding:15px 20px; border:1px solid #ddd; margin-bottom:15px;}
#signup .info .member p{padding:0; padding-bottom:12px; margin:0;}
#signup .info .member .signinbtn{height:32px; line-height:30px; padding:0 15px; border:1px solid #dbdbdb; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; cursor:pointer; display:block; margin:0 auto; text-align:center; margin-bottom:12px; background:#F80; background:-webkit-gradient(linear, left top, left bottom, from(#ff9100), to(#ff7300)); background:linear-gradient(180deg, #ff9100, #ff7300); -webkit-background-origin: padding; -webkit-box-shadow:0 2px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 2px 2px rgba(0, 0, 0, 0.3); box-shadow:0 2px 2px rgba(0, 0, 0, 0.3); color:#fff; font-size:14px;}
#signup .info .member .signinbtn:hover{background:-webkit-gradient(linear, left top, left bottom, from(#ffab3c), to(#fd8d32));}
#signup .info .box h3{font-size:14px; font-weight:bold; padding-bottom:12px;}
#signup .info .box li{height:28px; line-height:28px; overflow:hidden; background:url(../images/user/point.gif) left center no-repeat; background-size:3px 3px; text-indent:8px;}

#customer .footer{border-top:1px solid #dcdcdc; padding:16px 0; text-align:center;}
#customer .footer .img{padding:10px 0;}
#customer .footer .copyright{padding-top:8px;}

.verification_box{padding:20px 40px 30px; border:1px #baeb9a solid; background:#f5fdf3;}
.verification_box strong{font-weight:700;}
.verification_title{font-size:14px; line-height:36px; margin-bottom:15px; font-weight:700;}
.verification_title>i{width:36px; height:36px; float:left; display:block; background:url(../images/global/normal.png) no-repeat -597px -145px; margin-right:15px;}
.verification_info{padding:0 52px;}
.verification_info dt{margin-bottom:7px; font-weight:700;}
.verification_info dt strong{color:#e71;}
.verification_info dd{margin-bottom:25px;}
.verification_info dd>p{margin:10px 0;}
.verification_info dd .btn_list{margin-top:25px; line-height:35px;}
.verify_now_btn{border-radius:4px; -ms-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:0 30px; height:35px; line-height:35px; color:#fff; display:inline-block; float:left; cursor:pointer; font-size:14px; margin-right:16px; overflow:hidden;}
.verify_now_btn:hover{text-decoration:none; color:#fff;}
.guide_btn{margin:0 5px;}
/*************************** 会员注册、找回密码、邮件验证 End ***************************/

/*************************** 会员首页 Start ***************************/
/*** user_global start ***/
#lib_user_main{float:right; width:770px;}
.user_line{border-bottom: 1px solid #e5e5e5;}
.user_back{display: inline-block;font-size: 22px;color: #000;padding: 17px 0 17px 20px;background: url(../images/user/icon_user_back.png) no-repeat left 21px;} 
.user_back:hover{color: #333;text-decoration: none;}

.user_index{}
.user_index .row{height: 0;border-bottom: 1px solid #e5e5e5;margin:20px 0;}
.user_index .top_title{height: 54px;line-height: 54px;font-size: 22px;color: #000;}
.user_index .order_table .ind_opl{border-top: none;}
.w_1200 #user_heading .ind_head{width: 350px;}
#user_heading .ind_head{width: 270px;}
#user_heading h2{overflow: hidden;font-size: 22px;color: #000;padding:17px 0;}
#user_heading .welcome{font-size: 24px;line-height: 25px;color: #000;}
#user_heading .level{font-size: 0;margin-top: 3px;/*margin-top: 15px;padding-left: 60px;background: url(../images/user/icon_level.png) no-repeat left center;*/}
#user_heading .level>span{display: inline-block;padding-top:3px;line-height: 20px;vertical-align: middle;}
#user_heading .level .num{padding-right: 9px;font-size: 18px;color: #666;font-style: italic;}
#user_heading .level .num img{max-width: 20px;max-height: 20px;}
#user_heading .level .condition{font-size: 12px;color: #888;}
#user_heading .level .line{position: relative;height: 7px;background: #f1f2f6;margin-top: 10px;}
#user_heading .level .long{position: absolute;top: 0;left: 0;height: 7px;width: 67px;background: #f2583f;}

.w_1200 #user_right_menu{float: right;margin-top: 0;width: 400px;text-align: right;}
.w_1200 #user_right_menu a{padding: 63px 4% 0;max-width: 23%;}
#user_right_menu{width: 470px;}
#user_right_menu a{position: relative;display: inline-block;padding: 63px 2% 0;max-width: 24%;line-height: 22px;text-align: center;font-size: 12px;color: #555;background: url(../images/user/icon_m0.png) no-repeat center 24px;text-decoration: none;vertical-align: top;}
#user_right_menu a span{position: absolute;top: 17px;left: 56%;min-width: 10px;width:auto;height: 16px;line-height: 16px;text-align: center;padding:0 3px;border-radius: 8px;background: #fb4729;color: #fff;font-size: 12px;}
#user_right_menu span{display: inline-block;width: 100%;}
#user_right_menu .m1{background-image: url(../images/user/icon_m1.png);}
#user_right_menu .m2{background-image: url(../images/user/icon_m2.png);}
#user_right_menu .m3{background-image: url(../images/user/icon_m3.png);}

.order_table{width: 100%;margin-bottom: 20px;}
.order_table th{height: 45px;font-size: 14px;color: #000;background: #f8f8f8;text-align: center;}
.order_table th:first-child{text-align: left;text-indent: 10px;}
.order_table .ind_opl{border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}
.order_table .list_oid td{height: 26px;line-height: 26px;font-size: 12px;color: #949494;text-indent: 10px;}
.order_table .list_opl{border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}
.order_table .see_more{position: relative;display: inline-block; height: 22px;line-height: 22px;padding:0 30px 0 20px;border:1px solid #e5e5e5;border-radius: 12px;font-size: 12px;color: #333;margin-top: -7px;margin-left: 13px;text-decoration: none;}
.order_table .see_more:before{content: '';position: absolute;top: 0;bottom: 0;right: 10px;margin:auto;height: 0;width: 0;border-color: transparent;border-style: solid;border-width:5px 4px 0px 4px;border-top-color: #333;}
.order_table .see_more.cur:before{border-width:0 4px 5px 4px;border-bottom-color: #333;}

.order_table .list{position: relative;padding:10px 120px 10px 107px;margin-left: 10px;line-height: 20px;font-size: 14px;border-right: 1px solid #e5e5e5;border-top: 1px solid #e5e5e5;}
.order_table td .list:first-child{border-top: none;}
.order_table .list .pic{float: left;margin-left: -106px;width: 86px;height: 86px;}
.order_table .list .name{font-size: 12px;}
.order_table .list .sku{color: #777;font-size: 12px;}
.order_table .list ul{font-size: 12px;color: #999;}
.order_table .list .p_price{position: absolute;right: 20px;top: 10px;height: 20px;line-height: 20px;font-size: 14px;color: #e53935;}
.order_table .list .p_qty{position: absolute;right: 20px;top: 32px;height: 20px;line-height: 20px;font-size: 14px;color: #8d8d8d;}

.order_table .br{height: 20px;}
.order_table .o_price{text-align: center;vertical-align: top;padding-top: 5px;line-height: 31px;color: #e53935;font-size: 14px;border-right: 1px solid #e5e5e5;}
.order_table .o_status{line-height: 40px;font-size: 14px;color: #333;text-align: center;vertical-align: top;border-right: 1px solid #e5e5e5;}
.order_table .options{text-align: center;vertical-align: top;padding-top: 10px;}
.order_table .options .pay_now{display: block;height: 32px;margin: 0 7px 10px;line-height: 32px;font-size: 14px;color: #fff;background: #e53935;border-radius: 3px;text-decoration: none;}
.order_table .options .view{line-height: 28px;color: #696969;font-size: 14px;}

/*会员中心下拉样式*/
.user_action_down{height:30px; line-height:30px; margin:0 3px; font-size:14px; position:relative;}
.user_action_down>a{display: block;border:1px solid #e5e5e5;border-radius: 3px;}
.user_action_down a:hover{color: #333;text-decoration: none;}
.user_action_down em{width:6px; height:6px; background:#fb4729; border-radius:100%; position:absolute; top:1px; right:1px; z-index:2;}
.user_action_down i{width:30px; height:29px; border:1px transparent solid; position:absolute; top:0; right:0; z-index:1;}
.user_action_down i:before{width:0; height:0; margin:auto; border-width:5px 4px 0px 4px; border-color:transparent; border-style:solid; border-top-color:#333; position:absolute; top:0;right:0; bottom:0; left:0; content: ''; transition:all 0.3s; -webkit-transition:all 0.3s; -moz-transition:all 0.3s;}
.user_action_down ul{width:100%; background:#fff; border:1px #dcdcdc solid; position:absolute; top:30px; right:0; z-index:1; display:none; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.user_action_down li a{display: block;padding:5px 0;line-height: 20px;}
.user_action_down li b{display:inline-block; height:16px; min-width: 10px;padding:0 3px;line-height:16px; text-indent:0; margin-left:5px;margin-top: 2px; overflow:hidden; color:#fff; text-align:center; background-color:#fb4729; border-radius:8px;font-size: 12px;vertical-align: top;}
.user_action_down:hover ul{display: block;}
.user_action_down:hover i{border:1px solid #dcdcdc;border-bottom-color: #ffffff;background: #fff;}
.user_action_down:hover i:before{transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);}
.user_action_down li:hover{background: #f2f2f2;}
.order_status .user_action_down li{font-size: 12px;}

.user_get_coupons{}
.user_get_coupons .item{float: left;text-align: center;width: 31.2%;margin-left: 2.8%;margin-bottom: 25px;}
.user_get_coupons .item.fir{margin-left: 0;}
.user_get_coupons .cou{height: 132px;background:url(../images/user/icon_coupons_bg.png) no-repeat center center;background-size: 100% 100%;}
.user_get_coupons .price{padding-top: 12px;height: 58px;line-height: 58px;font-size: 70px;color: #59c5c7;}
.user_get_coupons .price span{font-size: 30px;}
.user_get_coupons .over{margin-top: 5px;margin-bottom: 5px;height: 26px;line-height: 26px;color: #010101;font-size: 14px;}
.user_get_coupons .only{height: 16px;line-height: 16px;color: #7a898a;font-size: 14px;}
.user_get_coupons .only span{position: relative;display: inline-block;width: 88px;height: 3px;background: #e4e4e4;vertical-align: middle;}
.user_get_coupons .only span em{position: absolute;top: 0;left: 0;height: 3px;background: #fa7c1f;}
.user_get_coupons .code{margin-top: 9px;height: 28px;line-height: 28px;font-size: 16px;color: #000;}
.user_get_coupons .date{height: 22px;line-height: 22px;font-size: 12px;margin-top: 7px;color: #888;}
.user_get_coupons .get_it{display: block;width: 102px;height: 32px;line-height: 32px;margin: 10px auto;font-size: 16px;color: #fff;background: #fb4729;border-radius: 16px;text-decoration: none;}
.user_get_coupons .br{display: inline-block;width: 100%;height: 0;}

.user_ind_ptype{height: 70px;line-height: 70px;text-align: center;}
.user_ind_ptype a{display: inline-block;padding:0 25px;font-size: 22px;color: #888;text-decoration: none; text-transform:capitalize;}
.user_ind_ptype a.cur{color: #000;}
.user_ind_ptype span{display: inline-block;height: 20px;margin:25px 20px 0;border-left: 1px solid #d1d1d1;vertical-align: top;}

.w_1200 .user_page_pro .pro_item{width:209px; margin-left:29px;}
.w_1200 .user_page_pro .pro_item>dt{height: 209px;}
.user_page_pro{}
.user_page_pro .pro_list{display: none;} 
.user_page_pro .pro_item{width:180px; margin-left:16px; margin-bottom:19px;}
.user_page_pro .pro_item>dt{position: relative;height:180px; text-align:center; background:#fff; vertical-align:middle;}
.user_page_pro .pro_item>dt img{max-width:100%; max-height:100%;}
.user_page_pro .pro_item>dd{padding:0 7px;}
.user_page_pro .pro_item .pro_review{height: 16px;line-height: 16px;margin-top: 5px;}
.user_page_pro .pro_item a{color:#666;}
.user_page_pro .pro_item .pro_view{position: relative;height: 30px;margin-top: 10px;}
.user_page_pro .pro_item .pro_view .pro_btn{height: 30px;line-height: 30px;position: absolute;bottom: 0;text-indent: -9999px;}
.user_page_pro .pro_item .pro_view .remove{right: 0;width: 18%;background: rgba(0,0,0,0.3) url(../images/user/btn_del.png) no-repeat center center;}
.user_page_pro .pro_item .pro_view .view{left: 0;width: 81.5%;background-image: url(../images/user/btn_cart.png);background-repeat: no-repeat;background-position: center center;}
.user_page_pro .pro_item .name{height:36px; line-height:16px; overflow:hidden; padding-top:8px;font-size: 12px;}
.user_page_pro .pro_item .price{margin-top:3px;height: 18px;overflow: hidden;line-height: 18px;font-size: 12px;}
.user_page_pro .pro_item .price .PriceColor{font-size:14px; font-weight:bold;}
.user_page_pro .pro_item .price>del{margin-left:3px; font-size:12px; color:#666;}
.user_page_pro .pro_item.first{margin-left:0;}

.user_form .rows>label, .user_form .rows .input{padding:10px 0; overflow:hidden; line-height:28px;}
.user_form .rows>label{display: none;width:15%; height:28px; text-align:right; padding-right:10px;}
.user_form .reply_tips{font-size: 16px;}
.user_form .rows .input{min-height:28px;display:block;}
.user_form .rows .form_input{width: 100%;height:38px; line-height:38px; border:1px solid #e9e9e9; background:#fff; border-radius:3px; padding:5px 12px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.user_form .rows .form_text{width: 100%;height:164px; padding:12px; line-height:150%; border:1px solid #e9e9e9; background:#fff; border-radius:3px; vertical-align:top;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}

.user_form .rows .upload_box{ float: left;width:68px; height: 68px;padding: 2px; margin-top: 10px;position:relative;background: url(../images/user/icon_file_input.png) no-repeat center center;cursor: pointer;text-align: center;}
.user_form .rows .upload_box .pic_box{width: 68px;height: 68px;vertical-align: middle;font-size: 0;}
.user_form .rows .upload_file{ width:70px; height:70px; position:absolute; top:0px; bottom: 0;right: 0; padding: 0; padding-right: 300px; filter:alpha(opacity=0); -moz-opacity:0; -webkit-opacity:0; opacity:0; cursor:pointer;font-size: 70px;}
.user_form .rows .submit{float: right;}
.user_form .rows .submit_btn{margin-top: 35px;display: block;width: 246px;height: 45px;line-height: 45px;text-align: center;color: #fff;background: #e53935;border-radius: 3px;cursor:pointer;font-size: 16px;}
/*** user_global end ***/


/*.user_index .user_page_pro .pro_list{display:none;}*/

/*************************** 会员首页 End ***************************/

/*************************** 优惠券 Start ***************************/

.w_1200 .user_coupons .cou_list .item{height:100px;}
.w_1200 .user_coupons .cou_list .itl{font-size:48px;}
.w_1200 .user_coupons .cou_list .code{font-size:18px;}
.w_1200 .user_coupons .cou_list .date{margin-top:10px;}

.user_coupons .cou_type .more{display: block;padding-left: 37px;background: url(../images/user/icon_more_coupon.png) no-repeat left center;}
.user_coupons .cou_list .item{position: relative;width: 48.9%;height: 100px;margin-top: 18px;border:1px solid #eaeaea;}
.user_coupons .cou_list .itl{min-width:102px; height:102px; line-height:102px; margin:-1px 0 0 -1px; padding:0 5px; text-align:center; font-size:36px; color:#fff; background-color:#74d2d4; display:inline-block; vertical-align:top; float:left;}
.user_coupons .cou_list .itl .price{display:block;}
.user_coupons .cou_list .itl .JPY, .user_coupons .cou_list .itl .CLP, .user_coupons .cou_list .itl .KRW{font-size:24px;}
.user_coupons .cou_list .itl .symbols{font-size:16px;}
.user_coupons .cou_list .itl .discount{line-height:50px; margin-top:13px; display:block;}
.user_coupons .cou_list .itl p{line-height:26px; font-size:16px;}
.user_coupons .cou_list .itl.old{color:#e0d7d7; background:#f8f8f8;}
.user_coupons .cou_list .itr{padding-left:15px; display:inline-block; vertical-align:top; float:left;}
.user_coupons .cou_list .time{font-size: 12px;color: #2ec2c5;}
.user_coupons .cou_list .code{line-height: 32px;padding-top: 10px;font-size: 16px;color: #000;}
.user_coupons .cou_list .over{height: 22px;line-height: 22px;color: #a5a8ab;font-size: 12px;}
.user_coupons .cou_list .date{margin-top: 8px;color: #a5a8ab;padding-right: 15px;}
.user_coupons .cou_list .red{color: red;}
.user_coupons .cou_list .expired{position: absolute;right: 4px;bottom: 4px;width: 90px;height: 90px;z-index: 0;background: url(../images/user/icon_expired.png) no-repeat center center;background-size: 100% 100%;}

/*************************** 优惠券 End ***************************/

/*************************** 会员订单 Start ***************************/
#lib_user_order th{height:26px; background:#f7f7f7; color:#333; font-size:12px; font-weight:bold; padding:10px; text-align:left;}
#lib_user_order td{border-bottom:1px dashed #ccc; padding:15px 0 15px 10px; text-align:left; vertical-align:top; font-size:12px;}
#lib_user_order .order_info{text-decoration:underline; color:#f60; display:inline-block; margin-bottom:5px;}
#lib_user_order .order_info b{display:inline-block; height:15px; line-height:15px; text-indent:0; margin-left:5px; margin-bottom:-3px; padding:0 4px; overflow:hidden; color:#fff; text-align:center; background-color:#c00; border-radius:5px;}

.orders_status_list dt{float:left; margin:6px 7px; border-right:1px #eee solid; width:1px; height:22px;}
.orders_status_list dd{float:left; padding:6px 3px; line-height:22px;}
.orders_status_list dd a{font-size:12px; color:#ccc;}
.orders_status_list dd a.current{color:#000;}

.order_btn{height:22px; line-height:22px; background-color: #e53935; padding:2px 20px;  border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; display:inline-block; text-decoration:none; color:#fff; margin-right:6px;}
.order_btn:hover{color: #fff;text-decoration: none;}
.edit_pay_btn{margin-top:5px;}

.order_body{}
.order_body h3.title{height: 52px;line-height: 52px;font-size: 22px;}
.order_body .status_box{padding:0 20px;height: 120px;background: #fcfcfc;margin-bottom: 24px;}
.order_body .status_box .item{position: relative;float: left;padding-top: 68px;text-align: center;font-size: 12px;color: #999;text-align: center;}
.order_body .status_box .item .line{position: absolute;top: 30px;left: 0;height: 22px;width: 100%;background: #ebebeb;line-height: 22px;color: #fff;}
.order_body .status_box .item .fir{left: auto;right: 0;border-top-left-radius: 11px;border-bottom-left-radius: 11px;}
.order_body .status_box .item .last{border-top-right-radius: 11px;border-bottom-right-radius: 11px;}
.order_body .status_box .item.cur{color: #333;}
.order_body .status_box .item.cur .line{background: #83c54e;}
.order_body .status_box .item .status{line-height: 14px;padding:5px;}

.order_base_div{background: #fcfcfc;border-bottom: 1px solid #e5e5e5;border-top: 1px solid #e5e5e5;}
.order_base_table{float: left;width: 65%;margin-top: 10px;margin-bottom: 10px;background: #fff;}
.order_base_table .tr>th{line-height: 20px;padding:10px 10px;font-size: 14px;color: #999;vertical-align: top;}
.order_base_table .tr>td{line-height: 20px;max-width: 80%;padding:10px 15px 10px 0;font-size: 14px;vertical-align: top;}
.order_base_table .tr>td>strong{margin-right:5px;}
.order_base_table .tr>td .query{text-decoration:underline; cursor:pointer;}
.order_base_table .edit_pay_form{}
.order_base_table .edit_pay{display: inline-block;vertical-align: top;width: 255px;height: 36px;border:1px solid #eeeeee;line-height: 36px;text-indent: 10px;}
.order_base_table .edit_pay_form button{display: inline-block;width: 128px;height: 36px;margin-left: 15px;background: #e53935;border-radius: 3px;color: #fff;border:none;vertical-align: top;}
.order_base_table .pay_box{display: none;padding:15px;}
.order_base .order_view{padding:0 10px;}
.order_base .order_view .order_btn{margin-bottom:10px;}
.order_base .order_view .payment_info{line-height:180%;}
.order_base .order_view .payment_info h3{font-weight:bold; color:#333;}
.order_base .order_view .payment_info .rows{padding:2px; padding-left:5px;}
.order_base .order_view .payment_info .rows strong{display:inline-block; padding-right:3px;}
.order_base .order_view .payment_info .rows span{display:inline-block;}

.waybill_products_list .products_list_item{border:1px solid #eeeeee;margin-bottom: 10px;}

.order_menu .row_hd{padding: 15px 20px;font-size:12px;background: #fbfbfb;color: #666;}
.order_menu .row_hd.fir{}
.order_menu .row_hd>span{margin-left:15px;}
.order_menu .row_hd .top{line-height: 30px;margin-bottom: 5px;font-size: 18px;color: #333;}
.order_menu .row_hd .top i{font-size: 16px;}
.order_menu .row_hd .bot i{font-size: 16px;color: #333;}
.order_menu .row_hd .bot>span{padding-left: 10px;}
.order_menu .row_hd .bot>span.detail_track{text-decoration:underline;color: #999;cursor: pointer;}
.order_menu .row_hd .bot>span>span{padding: 0 3px;text-decoration: underline;cursor:pointer;}
.order_menu .row_hd .bot{line-height: 24px;}
.order_menu .row_table{font-size: 12px;}
.order_menu .row_table tr{border-top: 1px solid #eee;}
.order_menu .row_table tr:first-child
.order_menu .row_table td.pro_list{position: relative;}
.order_menu .row_table td.pro_list:before{content:'';position: absolute;left: 0;top: -1px;width: 115px;height: 1px;background: #fff;}
.order_menu .row_table tr:first-child td.pro_list:before{display: none;}
.order_menu .row_table th{height: 50px;font-size: 14px;color: #333;border-top: 1px solid #eee;border-bottom: 1px dashed #eee;}
.order_menu .row_table th:first-child{padding-left: 20px;}
.order_menu .row_table td{text-align:left; font-size:12px; height:40px;}
.order_menu .row_table td.pro_list>h4{padding:8px 0 4px; font-size:13px; padding-left:5px; font-weight:bold;}
.order_menu .row_table dl{padding:15px 20px 15px 20px;}
/*.order_menu .row_table dl.plist{margin-left:40px;}*/
.order_menu .row_table dl.first{margin-left:0;}

.order_menu .row_table dt{float:left; width:88px; height:88px; border:1px solid #eee; text-align:center;}
.order_menu .row_table dt img{max-width:100%; max-height:100%;}
.order_menu .row_table dd{margin-left:105px;}
.order_menu .row_table dl h4{line-height: 18px;padding-bottom: 5px;color: #333;}
.order_menu .row_table dl h5{line-height: 18px;padding-bottom: 5px;color: #333;}
.order_menu .row_table dl p{line-height: 18px;color: #999;}
.order_menu .row_table dl p.pro_attr{display: inline-block;margin-right: 8px;}
.order_menu .row_table dl .order_btn{display: inline-block;margin-top: 10px;}
.order_menu .row_table .pro_price, .order_menu .row_table .pro_amount, .order_menu .row_table .pro_qty{width:100px;text-align: center;}
.order_menu .row_table td.pro_price, .order_menu .row_table td.pro_amount, .order_menu .row_table td.pro_qty{vertical-align: top;padding-top: 15px;line-height: 20px;}
.order_menu .row_table .pro_amount{text-align: center;}
.order_menu .row_table .pro_amount span{color: #e53935;font-size: 14px;}
.order_menu .row_table .pro_price p{color: #e53935;text-align: right;padding-right: 20px;font-size: 14px;}

.order_shipped_info p{margin:5px 0;}

.grand_total>table{background: #f8f8f8;line-height: 24px;font-size: 12px;border-bottom: 1px solid #dfdfdf;}
.grand_total>table tr:first-child{height: 15px;line-height: 15px;}
.grand_total>table th{text-align:left;}
.grand_total>table th em{display: none;padding:0 15px; font-size:12px; font-weight:normal;}
.grand_total>table td{padding-right:10px;text-align: right;vertical-align: top;font-size: 14px;}
.grand_total>table tfoot th, .grand_total>table tfoot td{font-size:16px;line-height: 62px;}
.grand_total>table tfoot td{padding-right: 10px;}
.grand_total>table .totalPrice{font-size: 24px;color: #e53935;}
.grand_total>table a.pay_now{display: block;width: 100%;height: 36px;margin-bottom: 26px;line-height: 36px;color: #fff;font-size: 16px;text-align: center;background: #e53935;text-decoration: none;border-radius: 3px;}

.grand_total_chang_pay{float: right;width: 35%;}
.grand_total_chang_pay>table{border-bottom: none;background: none;}
.grand_total_chang_pay>table th{padding-left: 10px;line-height: 36px;font-size: 14px;color: #666;}
.grand_total_chang_pay>table tfoot th, .grand_total_chang_pay>table tfoot td{line-height: 50px;}
.grand_total_chang_pay>table a.pay_now{width:auto;margin-top: 10px;margin-left: 10px;margin-bottom: 10px;}

.order_cancel_info{padding:10px; margin-bottom:10px; }
.order_cancel_info .back_click{color:#c00; text-decoration:underline;}
.order_cancel_info>table{margin-top:20px;}
.order_cancel_info>table th{text-align:left;width: 20%;line-height: 30px;color: #333;}
.order_cancel_info>table td textarea{margin-top: 10px;}
.order_cancel_view{ margin-bottom:10px;}
.order_cancel_view h3{font-size:14px; padding:6px 0; font-weight:bold; color:#666;}
.order_cancel_view p{margin:0;}
.order_cancel_view p a{color:#c00;}
#cancelForm .form_button{width: auto;height: auto;line-height: auto;display: inline-block;padding:5px 20px;border-radius: 3px;}

#pay_choose{position:fixed; opacity:0.95; z-index:100000; top:20%;}
#pay_choose .box_bg{width:100%; height:100%; background-color:#fff; position:absolute; top:0; left:0; -moz-box-shadow:0px 0px 20px #000; -webkit-box-shadow:0px 0px 20px #000; box-shadow:0px 0px 20px #000; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}

.new_win_alert.addtocart_alert .win_tips{font-size: 16px;text-transform: uppercase;}
.new_win_alert.addtocart_alert .win_btns{padding-bottom: 30px;}
.new_win_alert.addtocart_alert .btn{float: right;width: 205px;padding:6px 0;line-height: 24px;margin: 10px auto 0;background: #ff6a00;color: #fff;font-size: 14px;border-radius: 2px;text-decoration: none;border: 1px solid #ff6a00;text-align: center;}
.new_win_alert.addtocart_alert .btn_cancel{background: none;color: #ff6a00;float: left;}
.new_win_alert.addtocart_alert .fulldis{padding: 12px 12px 12px 35px;line-height: 20px;color: #333333;background: #f8f8f8 url(../images/cart/icon_list_tips_tit.png) no-repeat 10px 13px;margin-bottom: 8px;margin:0 20px 0 30px;}

/*************************** 会员订单 End ***************************/

/*************************** 会员评论 & Q&A Start ***************************/

.review_table{width:100%;}
.review_table th{height: 45px;background: #f8f8f8;color: #2b2b2b;font-size: 14px;}
.review_table tr{height:87px; border-bottom:1px solid #e5e5e5;}
.review_table tr:first-child{height:inherit; border:none;}
.review_table tr td{padding:10px 10px 10px 0;vertical-align: top;font-size: 14px;}
.review_table tr td.last{padding-right: 0;}
.review_table .fir{text-indent: 20px;}
.review_table .tac{text-align: center;}
.review_table .pic_box{width:87px; height:87px; overflow:hidden; text-align:center; display:inline-block;} 
.review_table .name{color: #333;line-height: 20px;padding-right: 10px;font-size: 12px;}
.review_table .sku{line-height: 20px;color: #777;}
.review_table .date{line-height: 20px;color: #999;font-size: 12px;}
.review_table .content{line-height: 20px;color: #333;font-size: 12px;}

.review_detail_box .item{padding:10px 0px 10px 10px;overflow:hidden;border-radius: 3px;}
.review_detail_box .item:first-child{border-top:0;padding-right: 10px;}
.review_detail_box .item dt{width:130px;text-align: center;}
.review_detail_box .item .star_box{margin-top: 5px;}
.review_detail_box .item .pic_box{height:130px; overflow:hidden; text-align:center; vertical-align:middle; display:block;}
.review_detail_box .item .pic_box img{max-width:100%; max-height:100%;}
.review_detail_box .item dd{margin-left:170px;}
.review_detail_box .item .review{color:#666;}
.review_detail_box .item .name{font-size: 12px;color: #333;line-height: 18px;margin-top: 5px;}
.review_detail_box .item .title{height:20px;line-height:20px;}
.review_detail_box .item .time{margin-right:10px;color: #a9a9a9;}
.review_detail_box .item .content{line-height:20px;font-size: 14px;padding-top: 13px;padding-bottom: 18px;min-height: 80px;}
.review_detail_box .item .reply{position:relative; padding:15px 10px 25px 20px;border-radius: 3px;background: #f8f8f8;margin-bottom: 15px;}
.review_detail_box .item .reply:before{content:'';position: absolute;top:9px;left:-12px;border-width:3px 12px 9px 0;border-style: solid;border-color:transparent;border-right-color:#f8f8f8;}
.review_detail_box .item .reply.mine:before{left:auto;right:-12px;border-width:3px 0 9px 12px;border-style: solid;border-color:transparent;border-left-color:#f8f8f8;}
.review_detail_box .item .reply p{margin-top:6px; line-height:20px;}
.review_detail_box .item .reply .writer{color:#000;}
.review_detail_box .item .reply .writer cite{display: inline-block;margin-right: 20px;}
.review_detail_box .item .reply .writer span{color:#a9a9a9;}
.review_detail_box .item img{max-width:85px;max-height:85px;cursor: pointer;}

/*************************** 会员评论 Q&A End ***************************/

/*************************** 会员收藏 Start ***************************/
#lib_user_favorite{}
#lib_user_favorite .tips{font-size: 16px;min-height: 150px;}
.menu_title>li.add{ float:right;}
.menu_title>li.add a{ background:url(../images/user/icon_add.png) no-repeat left center; color:#2b2b2b;}
/*************************** 会员收藏 End ***************************/

/*************************** 基本资料 Start ***************************/

#user_setting_container .setting_box{padding:20px 0; border-top:1px #eee solid;}
#user_setting_container .setting_title{width:270px; height:30px; line-height:30px; font-size:14px; float:left; display:block;}
#user_setting_container .setting_form{width:500px; float:left;}
#user_setting_container .rows{margin-bottom:12px;}
#user_setting_container .rows .input_box_txt{width:466px;}
#user_setting_container .rows .input_box_txt.null{border-color:#f00;}
#user_setting_container .rows .box_input_group{position:relative;}
#user_setting_container .rows .box_input_group .input_group_addon{width:55px; height:40px; line-height:40px; padding:0; text-align:center; white-space:nowrap; border:1px #c4cdd5 solid; border-right:0; float:left;}
#user_setting_container .rows .box_input_group .input_box{float:left;}
#user_setting_container .rows .box_input_group .input_group{width:487px;}
#user_setting_container .rows .box_select{height:40px; overflow:hidden; background:url(../images/cart/icon_select.png) no-repeat right center; border:1px #c4cdd5 solid;}
#user_setting_container .rows .box_select>select{width:105%; height:40px; padding-left:12px; font-size:12px; color:#aaa; background:transparent; border:0; outline:0;}
#user_setting_container .rows p.error{line-height:16px; color:#f00; display:none;}
#user_setting_container .form_box .box{width:244px; float:left;}
#user_setting_container .form_box .box:first-child{margin-right:12px;}
#user_setting_container .form_box .box .input_box_txt{width:210px;}
#user_setting_container .form_box .box .box_select{width:275px;}

#user_setting_container .setting_button .btn_submit{height:37px; line-height:37px; overflow:hidden; padding:0 40px; font-size:16px; color:#fff; background-color:#e53935; border:0; border-radius:2px; -webkit-border-radius:2px;}
#user_setting_container .setting_button .btn_submit:hover{background-color:#b00b0b;}

/*************************** 基本资料 End ***************************/

/*************************** 站内信 Start ***************************/

.menu_title{height:44px;margin-bottom: 3px;background: #f8f8f8;}
.menu_title>li{float:left; text-align:center;}
.menu_title>li.fr{float: right;}
.menu_title>li.write{float: right;}
.menu_title>li.write a{padding-left: 25px;background: url(../images/user/icon_writting.png) no-repeat left center;color: #2b2b2b;}
.menu_title a{display: block;padding:0 20px;height: 44px;line-height: 44px;color: #888;font-size: 16px;}
.menu_title a span{display: inline-block;vertical-align: top;margin-top: 18px;margin-right: 2px;width: 6px;height: 6px;border-radius: 3px;background: #fb4729;}
.menu_title a:hover{text-decoration:none;}
.menu_title .current{color:#2b2b2b;border-bottom-width:2px;border-bottom-style: solid; margin-bottom: 1px;}

.message_list{margin-top: 11px;border:1px solid #e5e5e5;border-radius: 3px;font-size: 0;}
.message_list a{display: inline-block;height: 32px;line-height: 32px;padding:0 15px;font-size: 14px;color: #333;border-radius: 3px;}
.message_list a:hover{color: #333;text-decoration: none;}
.message_list a span{display: inline-block;min-width: 10px;width:auto;vertical-align: top;margin-left: 3px;height: 16px;line-height: 16px;text-align: center;padding:0 3px;border-radius: 8px;background: #fb4729;color: #fff;font-size: 12px;}
.inbox_menu{}
.inbox_menu .menu_content{}
.inbox_menu .menu{min-height:200px; _height:200px;}

.msg_list{}
.msg_list li{height:54px; line-height:54px; overflow:hidden;border-bottom: 1px solid #e5e5e5;}
.msg_list li a{display: block;padding:0 15px 0 10px;}
.msg_list li i{width:18px; height:17px; overflow:hidden; background:url(../images/user/mail_icon.png) no-repeat 0 0; margin:19px 15px 0 0;}
.msg_list li i.read{background:url(../images/user/mail_icon.png) no-repeat 0 bottom;}

.msg_list_box{}
.msg_list_box li{border-bottom: 1px solid #e5e5e5;}
.msg_list_box li a{display: block;padding:17px 20px 17px 10px;}
.msg_list_box li a:hover{text-decoration: none;}
.msg_list_box li.is_read{background-image: url(../images/user/icon_msg_isread.png);}
.msg_list_box li .time{font-size: 12px;line-height: 18px;color: #999;}
.msg_list_box li .title{display: block;margin-right: 110px;line-height:18px;font-size:14px;color:#333333;}
.msg_list_box li .content{display: block;font-size: 12px;line-height:18px;margin-right: 110px;color:#999999;}
.msg_list_box li .view{font-size: 14px;color: #fb4729;text-decoration: underline;}

.msg_view{}
.msg_view h3{font-size:14px;}
.msg_view h3.title{font-size:18px;color:#333;line-height:38px;}
.msg_view .date{color:#999;font-size:12px;line-height:26px;}
.msg_view .content{font-size:14px;line-height:22px;color:#666;margin-bottom:35px;}
.msg_view .rows{clear:both; border-bottom:1px solid #e5e5e5;}
.msg_view .rows>label, .msg_view .rows .input{padding:8px 0; overflow:hidden; float:left; line-height:28px;}
.msg_view .rows>label, .msg_view .rows .input .pic{ max-width:85px; max-height:85px;}
.msg_view .rows>label{width:15%; height:28px; text-align:right; padding-right:20px;}
.msg_view .rows .input{width:80%; min-height:28px; padding-left:10px; display:block; border-left:1px solid #e5e5e5;}


#lib_user_products .item_list{ padding:20px 0 20px 10px; border-bottom:1px dashed #ddd;}
#lib_user_products .item_list:hover{ background:#f9f9f9;}
#lib_user_products .item_list .pic_box{ width:60px; height:60px; text-align:center; float:left;}
#lib_user_products .item_list .item_name{ width:340px; height:60px; line-height:30px; overflow:hidden; float:left; margin-left:20px;}
#lib_user_products .item_list .item_name a{ font-size:14px; color:#000;}
#lib_user_products .item_list .item_date{ float:left; line-height:60px; color:#999; margin-left:60px;}
#lib_user_products .item_list .item_view{ float:left; margin-top:18px; margin-left:60px; position:relative;}
#lib_user_products .item_list .item_view a{ width:65px; height:21px; display:inline-block; border:1px solid #c9c9c9; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; text-align:center; line-height:21px; color:#999; text-decoration:none; overflow:hidden;}
#lib_user_products .item_list .item_view span{ width:20px; height:20px; display:block; position:absolute; right:-10px; top:-10px; background:#f00; border-radius:10px; color:#fff; line-height:20px; text-align:center;}
#lib_user_products .prod_con{ padding:30px 20px; background:#f8f8f8;}
#lib_user_products .prod_con .pic_box{ width:100px; height:100px; text-align:center; float:left;}
#lib_user_products .prod_con .prod_name{ width:610px; float:left; margin-left:20px; font-size:18px; line-height:25px;}
#lib_user_products .order_con{ padding:30px 20px; background:#f8f8f8; font-size:14px;}
#lib_user_products .order_con span.or_name{ font-weight:bold;}
#lib_user_products .order_con span.or_date{ float:right;}
#lib_user_products .content_box{ max-height:400px; overflow:auto;}
#lib_user_products .item{ padding-top:35px;}
#lib_user_products .item .item_date{ color:#c6c6c6; text-align:center; margin-bottom:15px;}
#lib_user_products .item .item_img{ width:62px; height:62px; margin-left:20px; float:left;}
#lib_user_products .item .item_con{ width:580px; float:left; margin-left:20px; padding:15px 20px 30px 20px; background:#f8f8f8; border:1px solid #e9e9e9; border-radius:5px; font-size:14px; line-height:25px; position:relative;}
#lib_user_products .item .item_con span{ width:13px; height:13px; display:block; position:absolute; left:-12px; top:20px; background:url(../images/user/icon_txt_left.png) no-repeat;}
#lib_user_products .item .item_con img{ max-width:85px; max-height:85px; border:1px solid #ddd; margin-top:10px;}
#lib_user_products .mine .item_con{ margin-left:20px;}
#lib_user_products .mine .item_con span{ left:100%; background:url(../images/user/icon_txt_right.png) no-repeat;}
#lib_user_products .mine .item_img{ float:right; margin-right:20px;}

#inbox_popup{ width:800px; height:460px; margin-left:-400px; margin-top:-230px; background:#fff; position:fixed; top:50%; left:50%; z-index:10001; border-radius:10px;}
#inbox_popup .inbox_popup_close{ width:20px; height:20px; position:absolute; right:20px; top:15px; font-size:36px; color:#c6c6c6; line-height:20px; text-align:center; cursor:pointer;}
#inbox_popup .inbox_popup_info{ width:250px; height:460px; padding:50px 25px; background:#f6f6f6; float:left; box-sizing:border-box;}
#inbox_popup .inbox_popup_info .inbox_popup_img{ width:100px; height:100px; margin:0 auto;}
#inbox_popup .inbox_popup_info .inbox_popup_name{ margin-top:10px; text-align:center; font-size:14px; color:#999; line-height:20px; font-family:Arial;}
#inbox_popup .inbox_popup_content{ width:460px; margin-top:50px; margin-left:45px; float:left;}
#inbox_popup .inbox_popup_content .inbox_popup_email{ font-family:Arial; font-size:18px; margin-bottom:25px;}
#inbox_popup .inbox_popup_content .inbox_popup_form_input{ display:block; width:100%; height:36px; line-height:36px; margin-bottom:15px; padding:0 10px; border:1px solid #ddd; box-sizing:border-box;}
#inbox_popup .inbox_popup_content .inbox_popup_form_textarea{ display:block; width:100%; height:120px; margin-bottom:15px; padding:10px; border:1px solid #ddd; box-sizing:border-box;}
#inbox_popup .inbox_popup_content .inbox_popup_form_submit{ width:100%; height:43px; line-height:43px; margin-top:30px; background:#e62e04; font-size:18px; color:#fff; border:0; cursor:pointer; border-radius:3px;}
.inbox_popup_form_textarea::-webkit-input-placeholder, .inbox_popup_form_input::-webkit-input-placeholder{ color:#999;}
.inbox_popup_form_textarea:-moz-placeholder, .inbox_popup_form_input:-moz-placeholder{ color:#999;}
.inbox_popup_form_textarea::-moz-placeholder, .inbox_popup_form_input::-moz-placeholder{ color:#999;}
.inbox_popup_form_textarea::-ms-input-placeholder, .inbox_popup_form_input::-ms-input-placeholder{ color:#999;}
#inbox_popup .upload_box{ width:80px; height: 80px; position:relative; text-align:center; border:1px solid #ddd;}
#inbox_popup .upload_box:before{ display:block; width:4px; height:30px; background:#aaa; content:''; position:absolute; left:38px; top:25px; z-index:1;}
#inbox_popup .upload_box:after{ display:block; width:30px; height:4px; background:#aaa; content:''; position:absolute; left:25px; top:38px; z-index:2;}
#inbox_popup .upload_box .pic_box{ width:80px; height:80px; vertical-align: middle;font-size: 0; position:absolute; left:0; top:0; z-index:3;}
#inbox_popup .upload_file{ width:80px; height:80px; position:absolute; left:0px; top:0px; bottom: 0;right: 0; padding: 0; filter:alpha(opacity=0); -moz-opacity:0; -webkit-opacity:0; opacity:0; cursor:pointer; font-size: 70px; z-index:4;}


.inbox_container{width:923px; margin:0; overflow:hidden; background-color:#fff; border:1px #e5e5e5 solid; border-radius:5px;}
.inbox_container .inbox_left{width:673px; float:left;}
.inbox_container .inbox_right{width:249px; border-left:1px #e5e5e5 solid; float:right;}
.inbox_container .inbox_full{width:inherit;}
.inbox_container .inbox_full .unread_message{cursor:pointer;}
.inbox_container .inbox_full .reply_form .box_textarea{width:883px;}
.inbox_container .message_dialogue{height:449px; overflow-x:hidden; overflow-y:scroll; padding:0 20px; background-color:#f1f1f1; -webkit-overflow-scrolling:touch;}
.inbox_container .dialogue_box{width:425px; margin:10px;}
.inbox_container .dialogue_box .time{height:27px; line-height:27px; font-size:12px; color:#aaa;}
.inbox_container .dialogue_box .message{line-height:25px; padding:15px; color:#111; background-color:#fff; border-radius:5px; position:relative;}
.inbox_container .dialogue_box .picture{width:100px; height:100px; margin-top:10px; padding:15px; text-align:center; background-color:#fff; border-radius:5px; float:left; position:relative;}
.inbox_container .dialogue_box .picture img{max-width:100%; max-height:100%;}
.inbox_container .dialogue_box_left .message:before, .inbox_container .dialogue_box_left .picture:before{width:11px; height:13px; background:url(../images/user/icon_dialogue_box_left.png) no-repeat; position:absolute; bottom:6px; left:-10px; display:block; content:'';}
.inbox_container .dialogue_box_right{text-align:right; float:right;}
.inbox_container .dialogue_box_right .message{text-align:left; background-color:#d0ecff;}
.inbox_container .dialogue_box_right .picture{background-color:#d0ecff; float:right;}
.inbox_container .dialogue_box_right .message:after, .inbox_container .dialogue_box_right .picture:after{width:11px; height:13px; background:url(../images/user/icon_dialogue_box_right.png) no-repeat; position:absolute; bottom:6px; right:-10px; display:block; content:'';}
.inbox_container .message_bottom{height:118px; padding:0 20px; background-color:#fff; border-top:1px #e5e5e5 solid;}
.inbox_container .reply_form{padding:15px 0;}
.inbox_container .reply_form .box_textarea{width:633px; height:46px; line-height:18px; padding:0; overflow-x:hidden; overflow-y:auto; border:0; -webkit-overflow-scrolling:touch;}
.inbox_container .reply_form .upload_box{width:30px; height:30px; background:url(../images/user/bg_multi_small_img.png) no-repeat center #ddd; border-radius:5px;}
.inbox_container .reply_form .upload_box .pic_box{width:30px; height:30px;}
.inbox_container .reply_form .btn_submit{height:32px; line-height:32px; margin-top:10px; color:#fff; background-color:#0cb083; border:0; float:right;}
.inbox_container .menu_products_list{max-width:100%; height:568px; overflow-x:hidden; overflow-y:scroll; position:relative; -webkit-overflow-scrolling:touch;}
.inbox_container .menu_products_list li{height:65px; padding:18px 24px 16px 19px; cursor:pointer; border-top:1px #f1f1f1 solid; position:relative;}
.inbox_container .menu_products_list li>i{min-width:13px; height:18px; line-height:18px; padding:0 6px; text-align:center; font-size:12px; color:#fff; background-color:#fb4729; border-radius:50px; position:absolute; top:18px; left:200px; display:block;}
.inbox_container .menu_products_list li .img{width:63px; height:63px; text-align:center; background-color:#fff; border:1px #fafafa solid; float:left; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.inbox_container .menu_products_list li .img>img{max-width:100%; max-height:100%;}
.inbox_container .menu_products_list li .name{width:108px; height:65px; line-height:20px; overflow:hidden; margin-left:10px; font-size:12px; color:#999; float:left;}
.inbox_container .menu_products_list li:hover, .inbox_container .menu_products_list li.current{background-color:#f3fcfb; border-left-color:#13b287;}
.inbox_container .menu_products_list li:first-child{border-top:0;}
.inbox_container .menu_products_list li.more{height:50px; padding:0; text-align:center;}
.inbox_container .menu_products_list li.more .btn_more{height:26px; line-height:26px; margin-top:10px; text-decoration:none; font-size:14px; color:#fff; background-color:#0cb083; border:0;}
.inbox_container .menu_products_list li.no_data{height:50px; line-height:50px; padding:0; text-align:center; font-size:14px; color:#999;}

.inbox_container .message_dialogue, .inbox_container .message_bottom{display:none;}

.inbox_container .unread_message{width:100%; height:568px; text-align:center; position:relative; display:inline-block;}
.inbox_container .unread_message>p{width:100%; height:34px; line-height:34px; padding-top:80px; text-align:center; font-size:18px; color:#bbb; background:url(../images/user/bg_unread_message.png) no-repeat center top; position:absolute; top:188px; left:0;}
.inbox_container .unread_message>i{width:35px; height:35px; line-height:35px; text-align:center; font-size:18px; color:#fff; background-color:#fb4729; border-radius:50px; position:absolute; top:180px; left:365px;}
/*************************** 站内信 End ***************************/

/*************************** 系统消息 Start ***************************/
/*#lib_user_msg{padding:0 20px;}*/
#lib_user_msg .submit_btn{display:block; height:28px; line-height:28px; border:none; padding:0 30px; border-radius:5px; text-align:center; text-decoration:none; float:left; margin-right:10px; background:#87AABE; border:1px solid #7693A3; color:#fff; cursor:pointer;}
/*************************** 系统消息 End ***************************/

/*************************** 会员捆绑 Start ***************************/
#lib_user_binding{margin:0 auto; overflow:hidden; background:#fff; padding:30px 0;}
#lib_user_binding form{border:1px solid #ccc; padding-bottom:20px; margin:0 auto; width:460px;}
#lib_user_binding form .title{margin:0 20px 15px; height:52px; border-bottom:1px solid #e5e5e5; line-height:52px; font-size:16px; color:#333;}
#lib_user_binding form .error_note_box{border:1px #ffdb83 solid; color:#f00; padding:10px; margin:15px 20px; background:#fff9e1; display:none;}
#lib_user_binding form .on_error{margin:0; color:#f00; display:none;}
#lib_user_binding form .row{margin:10px 0 0 33px;}
#lib_user_binding form .row label{display:block; font-size:14px; color:#555; margin-bottom:4px;}

#binding_module{position:fixed; z-index:100000; top:20%;}
#binding_module .box_bg{width:100%; height:100%; background-color:#fff; position:absolute; top:0; left:0; -moz-box-shadow:0px 0px 20px #000; -webkit-box-shadow:0px 0px 20px #000; box-shadow:0px 0px 20px #000; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
#binding_module .noCtrTrack{top:12px; right:0px; width:40px; height:26px; font-size:30px; color:#000; opacity:0.2; filter:alpha(opacity=20); text-decoration:none; font-weight:bold; position:absolute; z-index:100000;}
#binding_module .noCtrTrack:hover{color:#000000; text-decoration:none; cursor:pointer; opacity:0.4; filter:alpha(opacity=40);}
#binding_module #lb-wrapper{width:400px; padding:20px; position:relative; z-index:10; zoom:1; background-color:#fff; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; -webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); -webkit-background-clip:padding-box; -moz-background-clip:padding-box; background-clip:padding-box;}
#binding_module #lb-wrapper .lib_txt{border:1px solid #ccc; border-radius:3px!important; height:36px; line-height:36px; width:370px; padding:0 7px; color:#333; font-size:16px; box-shadow:0 1px 0 rgba(255,255,255,.8),inset 0 1px 2px rgba(0,0,0,.06);}
#binding_module #lb-wrapper .title{margin:0 20px 8px 8px; line-height:24px; font-size:18px; color:#000;}
#binding_module #lb-wrapper .provide{margin:0 8px; font-size:12px;}
#binding_module #lb-wrapper .error_note_box{border:1px #ffdb83 solid; color:#f00; padding:10px; margin:15px 5px; background:#fff9e1; display:none;}
#binding_module #lb-wrapper .on_error{margin:0; color:#f00; display:none;}
#binding_module #lb-wrapper .row{ margin-top:10px; padding:0 8px;}
#binding_module #lb-wrapper .row label{display:block; font-size:14px; color:#555; margin-bottom:4px;}
#binding_module #lb-wrapper .row .note{margin-top:8px; color:#999;}
#binding_module #lb-wrapper .protect{padding-left:30px; position:relative; overflow:hidden; margin-bottom:15px;}
#binding_module #lb-wrapper .protect span{color:#767676; display:block; margin-top:4px;}
#binding_module #lb-wrapper .protect .ckb{position:absolute; top:2px; left:4px;}
#binding_module #lb-wrapper .signbtn{border-radius:4px; -ms-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:2px 12px; line-height:25px; display:inline-block; cursor:pointer; font-size:14px; margin-right:10px;}
#binding_module #lb-wrapper .signin{color:#fff;}
#binding_module #lb-wrapper .signup{background:#fff; border:1px solid #d0d0d0;}
/*************************** 会员捆绑 End ***************************/

/*************************** 会员登录2 Sstart ***************************/
.global_login_sec{ position:relative; z-index:1001; display:none;font-family: Arial;}
.signin_box_sec{ position:absolute; display:none;}
.signin_box_sec .signin_container{ width:280px; padding:25px 20px; border:1px solid #ddd; background:#fff; height:auto; -moz-box-shadow:0 0 15px 0 rgba(153,153,153,0.5); -webkit-box-shadow:0 0 15px 0 rgba(153,153,153,0.5); box-shadow:0 0 15px 0 rgba(153,153,153,0.5);}
.signin_box_sec .error_login_box{ display:none; border:1px solid #dd3c10; padding:15px; background:#ffebe9; color:#777; font-size:12px; line-height:18px;  margin-top:10px;}
.signin_box_sec .g_s_txt{ width:100%; height:35px; line-height:35px; text-indent:10px; border:1px solid #eee; background:#eee; font-size:14px; color:#333; font-style:italic; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.signin_box_sec .forgot{ float:right; text-align:right; font-size:14px; color:#aaa; margin-top:10px;}
.signin_box_sec .signin{ clear:both; width:100%; height:35px; line-height:35px; margin-top:15px; text-align:center; color:#fff; font-size:14px; border:0; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.signin_box_sec h4{ font-size:14px; margin:10px 0; text-indent:3px;}
.signin_box_sec ul li{ float:left; width:60px; height:28px; margin:3px 5px; overflow:hidden; border-radius:3px; cursor:pointer;}
.signin_box_sec ul li.fb-login-button{background: #4267b2;}
.signin_box_sec ul li.fb-login-button iframe{margin-left: 16px;}
.signin_box_sec #fb_button{ background:url(../images/ico/icon_facebook.png) #3c5998 center no-repeat;}
.signin_box_sec #fb_button:hover{ background:url(../images/ico/icon_facebook.png) #4363a8 center no-repeat;}
.signin_box_sec #twitter_btn{ background:url(../images/ico/icon_witter.png) #3498e4 center no-repeat;}
.signin_box_sec #twitter_btn:hover{ background:url(../images/ico/icon_witter.png) #38a5f8 center no-repeat;}
.signin_box_sec #google_login{ background:url(../images/ico/icon_google.png) #3367d6 center no-repeat;}
.signin_box_sec #google_login #google_btn{text-indent:99px;}
.signin_box_sec #google_login .abcRioButton{background:none;}
.signin_box_sec #google_login .abcRioButtonIcon{display:none;}
.signin_box_sec #google_login:hover{ background:url(../images/ico/icon_google.png) #4285f4 center no-repeat;}
.signin_box_sec #paypalLogin{width: 60px !important;background:url(../images/ico/icon_paypal.png) #0093e9 center no-repeat;}
.signin_box_sec #paypalLogin:hover{ background:url(../images/ico/icon_paypal.png) #03a1fd center no-repeat;}
.signin_box_sec #paypalLogin .PPBlue_V2{ border:0 !important; box-shadow:0 0 0 0 !important; background:none !important;}
.signin_box_sec #paypalLogin .PPBlue_V2 *{ visibility:hidden !important;}
.signin_box_sec #vk_button{ background:url(../images/ico/icon_vk.png) #507299 center no-repeat;}
.signin_box_sec #vk_button:hover{ background:url(../images/ico/icon_vk.png) #5f86b4 center no-repeat;}
.signin_box_sec #instagram_button{ background:url(../images/ico/icon_instagram.png) #8e6151 center no-repeat;}
.signin_box_sec #instagram_button:hover{ background:url(../images/ico/icon_instagram.png) #987061 center no-repeat;}
.signin_box_sec .signup{ display:block; height:33px; line-height:33px; border-style:solid; border-width:1px; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; font-size:14px; text-align:center; text-decoration:none;}
.user .inbox_tips{display: inline-block;height: 15px;line-height: 15px;margin-left: 5px;margin-bottom: -3px;padding: 0 4px;overflow: hidden;color: #fff;text-align: center;border-radius: 5px;}

.global_account_sec{ position:relative; z-index:1001; display:none;}
.account_container_sec{ position:absolute; display:none;}
.account_box_sec{ width:160px; padding:20px; background:#fff; border:1px solid #ddd; -moz-box-shadow:0 0 15px 0 rgba(153,153,153,0.5); -webkit-box-shadow:0 0 15px 0 rgba(153,153,153,0.5); box-shadow:0 0 15px 0 rgba(153,153,153,0.5);}
.account_box_sec .rows{ height:25px; line-height:25px; overflow:hidden; margin-bottom:10px;}
.account_box_sec .rows a{ font-size:16px;}
.account_box_sec .rows b{ width:20px; height:20px; line-height:20px; margin-left:5px; font-size:12px; display:inline-block; color:#fff; border-radius:10px; text-align:center;}
.account_box_sec .btn{ margin-top:25px;}
.account_box_sec .btn a{ width:158px; height:33px; line-height:33px; text-align:center; display:inline-block; border-width:1px; border-style:solid; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; text-decoration:none;}
/*************************** 会员登录2 End **************************/


@keyframes null{
	0%{background:#FFF3F3;}
	50%{background:#FFCBCC;}
	100%{background:#FFF3F3;}
}
@-webkit-keyframes null {
    0% {
        background: #FFF3F3;
    }
    50% {
        background: #FFCBCC;
    }
}

.w_1200 #user_bottom_menu{float: right;margin-top: 0;width: 100%;text-align: right;}
.w_1200 #user_bottom_menu a{padding: 63px 4% 0;max-width: 23%;}
#user_bottom_menu a{position: relative;display: inline-block;padding: 63px 2% 0;max-width: 24%;line-height: 22px;text-align: center;font-size: 12px;color: #555;background: url(../images/user/icon_m0.png) no-repeat center 24px;text-decoration: none;vertical-align: top;}
#user_bottom_menu a span{position: absolute;top: 17px;left: 56%;min-width: 10px;width:auto;height: 16px;line-height: 16px;text-align: center;padding:0 3px;border-radius: 8px;background: #fb4729;color: #fff;font-size: 12px;}
#user_bottom_menu span{display: inline-block;width: 100%;}
#user_bottom_menu .m1{background-image: url(../images/user/icon_m1.png);}
#user_bottom_menu .m2{background-image: url(../images/user/icon_m2.png);}
#user_bottom_menu .m3{background-image: url(../images/user/icon_m3.png);}

body.lang_fa .w_1200 .user_page_pro .pro_item {  margin-right: 29px;margin-left: unset;}
body.lang_fa #lib_user_main{float:left;}