/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/
body{ background:#f5f5f5;}
*{ font-family:"MyriadPro";}
.wrap{ max-width:1200px; margin:0 auto;}
.spacing{ height:35px;}
.main_con .fl{ width:73%; float:left;}
.main_con .fr{ width:24%; float:right;}
.container{ background:#fff; padding:30px; box-shadow:0 4px 2px 0 rgba(0,0,0,0.04);}
.blog_list_more{ display:block; padding:0; font-size:16px; color:#898989; text-align:center; line-height:35px; margin-bottom:35px; transition: all 0.2s ease-in-out;}
.blog_list_more:hover{ background:#419dd8; color:#fff; text-decoration:none;}
@font-face { font-family:"MyriadPro"; src:url("../../../../../css/font/MyriadPro.woff2") format("woff2"),url("../../../../../css/font/MyriadPro.woff") format("woff"),url("../../../../../css/font/MyriadPro.ttf") format("truetype"),url("../../../../../css/font/MyriadPro.eot") format("embedded-opentype"); font-weight: normal; font-style: normal;}

#b_header{ background:#fff;}
#b_header .leftbar{ width:30%; float:left;}
#b_header .rightbar{ width:70%; float:right;}
#b_header .title{ padding-top:15px; font-family:"Microsoft YaHei"; font-size:26px;}
#b_header .brief{ font-size:14px; color:#898989; padding:5px 0;}
#b_header .menu{ display:none;}
#b_header .nav{ height:96px; overflow:hidden;}
#b_header .nav .item{ float:left; height:93px; border-bottom:3px solid transparent; line-height:96px; margin-left:6%; transition: all 0.2s ease-in-out;}
#b_header .nav .item a{ font-size:16px; text-decoration:none; padding:0 5px; display:inline-block; transition: all 0.2s ease-in-out;}
#b_header .nav .item:hover{ border-bottom:3px solid #419dd8;}
#b_header .nav .item:hover a{ color:#419dd8;}

#b_footer{ background:#676767; padding:10px 0; margin-top:30px;}
#b_footer *{ font-size:16px; color:#fff;}
#b_footer .row{ text-align:center; padding:5px 0;}

.container .item .para{ font-size:15px; color:#898989;}
.container .item .para span{ color:#595959;}
.container .item h1, .container .item h2{ margin-top:10px; font-size:24px;}
.container .item h2 a{ text-decoration:none; transition: all 0.2s ease-in-out;}
.container .item h2 a:hover{ color:#419dd8;}
.container .item .bg{ width:80px; height:4px; margin-top:20px; background:#419dd8;}
.container .item .con{ font-size:16px; color:#898989; line-height:28px; margin-top:20px;}
.container .item .img{ height:150px; margin-top:15px;}
.container .item .line{ height:1px; background:#f2f2f2; margin-top:25px; margin-bottom:30px;}
.container .item .read{ width:136px; height:44px; line-height:44px; text-align:center; font-size:16px; color:#419dd8; border-radius:22px; border:1px solid #dfdfdf; display:inline-block; text-decoration:none; transition: all 0.2s ease-in-out;}
.container .item .read:hover{ color:#fff; background:#419dd8;}

.container .item .review .name{ font-size:18px; color:#666; margin-top:30px;}
.container .item .review .box{ border:1px solid #f2f2f2; padding:17px; position:relative; margin-top:15px;}
.container .item .review .box .txt{ font-size:16px; color:#666; line-height:25px;}
.container .item .review .box .txt span{ color:#419dd8;}
.container .item .review .box .date{ font-size:14px; color:#999; margin-top:20px;}
.container .item .review .box i{ width:15px; height:9px; display:block; position:absolute; left:15px; top:-9px; background:url(../images/review_sign.jpg) no-repeat;}
.container .item .review .more{ width:236px; height:45px; line-height:45px; display:block; text-align:center; margin:0 auto; background:#f5f5f5; font-size:16px; color:#666; margin-top:30px; transition: all 0.2s ease-in-out; text-decoration:none;}
.container .item .review .more:hover{ background:#419dd8; color:#fff;}

.container .item .form .label{ width:22%; float:left; height:20px; line-height:20px; padding:13px 0; font-size:14px; font-family:Arial;}
.container .item .form .input{ width:78%; float:right;}
.container .item .form .input input{ width:100%; height:46px; line-height:46px; box-sizing:border-box; border:1px solid #eee; text-indent:10px; font-size:16px;}
.container .item .form .input input.vcode{ width:calc(100% - 200px);}
.container .item .form .input img{ float:right; height:46px;}
.container .item .form .input textarea{ width:100%; height:86px; box-sizing:border-box; border:1px solid #eee; padding:10px; font-size:16px;}
.container .item .form .submit{ width:148px; height:36px; line-height:36px; text-align:center; font-size:14px; color:#fff; font-family:Arial; display:block; border:0; background:#0266c3; margin-top:35px; border-radius:2px; float:right; margin-bottom:30px; cursor:pointer; transition: all 0.2s ease-in-out;}
.container .item .form .submit:hover{ background:#015bae;}

.container .search .txt{ width:70%; float:left; box-sizing:border-box; height:43px; line-height:43px; border:1px solid #dfdfdf; text-indent:15px;}
.container .search .btn{ width:30%; float:left; height:43px; line-height:43px; cursor:pointer; font-size:14px; color:#fff; background:#419dd8; border:0; transition: all 0.2s ease-in-out;}
.container .search .btn:hover{ background:#3a8fc5;}

.container .category .title{ font-size:20px;}
.container .category .bg{ width:54px; height:4px; background:#419dd8; margin-top:15px; margin-bottom:10px;}
.container .category ul li{ border-top:1px solid #f2f2f2; padding:15px 0; padding-left:20px; background:url(../images/li_sign.jpg) 0 center no-repeat;}
.container .category ul li a{ font-size:16px; color:#898989; transition: all 0.2s ease-in-out;}
.container .category ul li a:hover{ color:#419dd8;}
.container .category .tags a{ font-size:14px; color:#898989; display:inline-block; background:#f5f5f5; text-decoration:none; padding:5px 10px; margin-right:10px; margin-bottom:10px; transition: all 0.2s ease-in-out;}
.container .category .tags a:hover{ background:#419dd8; color:#fff;}

@media (max-width: 768px){
	.spacing{ height:15px;}
	.main_con .fl{ width:100%; float:none;}
	.main_con .fr{ width:100%; float:none;}
	.blog_list_more{ background:#419dd8; color:#fff; margin-bottom:15px;}
	
	#b_header .leftbar{ width:calc(100% - 100px); float:none; text-align:center; margin:0 auto;}
	#b_header .brief{ padding-bottom:15px;}
	#b_header .rightbar{ width:30px; height:25px; position:absolute; right:10px; top:25px; background:#419dd8; float:none;}
	#b_header .menu{ display:block; width:100%; height:100%; position:relative;}
	#b_header .menu i{ display:block; width:20px; height:2px; background:#fff; position:absolute; left:5px; transition: all 0.2s ease-in-out;}
	#b_header .menu i:nth-child(1){ top:6px;}
	#b_header .menu i:nth-child(2){ top:11px;}
	#b_header .menu i:nth-child(3){ top:16px;}
	#b_header .nav{ width:calc(100% - 50px); float:none; position:fixed; height:100%; top:0; left:-100%; z-index:10; background:rgba(0,0,0,0.8); box-sizing:border-box; padding:10px 0; transition: all 0.2s ease-in-out;}
	#b_header .nav .item{ float:none; height:40px; line-height:40px; margin:0 20px; border-bottom:1px solid #fff;}
	#b_header .nav .item:hover{ border-bottom:1px solid #fff;}
	#b_header .nav .item a{ color:#fff;}
	#b_header .current .menu i:nth-child(1){ transform:rotate(45deg); top:11px;}
	#b_header .current .menu i:nth-child(2){ display:none;}
	#b_header .current .menu i:nth-child(3){ transform:rotate(-45deg); top:11px;}
	#b_header .current .nav{ left:0;}
	
	.container .item .form .input input.vcode{ width:100%;}
	.container .item .form .input img{ float:none; height:auto; margin-top:10px;}
}