@charset "UTF-8";

@font-face {
  font-family: "Oswald";
  src: url("Oswald.woff2") format("woff2"),
       url("Oswald.woff") format("woff"),
       url("Oswald.ttf") format("truetype"),
       url("Oswald.eot") format("embedded-opentype"),
       url("Oswald.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}