@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

@font-face {
  font-family: "AvenirLTStd_Light";
  src: url("../../../../../../css/font/AvenirLTStd/AvenirLTStd-Light.woff2") format("woff2"),
       url("../../../../../../css/font/AvenirLTStd/AvenirLTStd-Light.woff") format("woff"),
       url("../../../../../../css/font/AvenirLTStd/AvenirLTStd-Light.ttf") format("truetype"),
       url("../../../../../../css/font/AvenirLTStd/AvenirLTStd-Light.eot") format("embedded-opentype"),
       url("../../../../../../css/font/AvenirLTStd/AvenirLTStd-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OPENSANS";
  src: url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.woff2") format("woff2"),
       url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.woff") format("woff"),
       url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.ttf") format("truetype"),
       url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.eot") format("embedded-opentype"),
       url("../../../../../../css/font/OPENSANS/OPENSANS-REGULAR.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.banner{position:relative;}
.banner img{vertical-align:middle;}
.banner .btn{position:absolute; left:0; width:100%; bottom:.3125rem; text-align:center;}
.banner .btn span{display:inline-block; content:''; width:.3125rem; height:.3125rem; border-radius:1rem; background:#fff; margin:0 .1%;}
.banner .btn span.on{background:#ccc;}
.ban{text-align: center;margin-top: 1rem;}
.ban img{vertical-align:middle; max-height:100%;}

.swipe_products{position: relative;}
.swipe_products .cht{height: 4rem;line-height: 4rem;font-size: 1.5rem;color: #000;text-align: center;font-family: "OPENSANS",Arial;text-transform: uppercase;}
.swipe_products .prev{position: absolute;left: 1.5vw;top:60vw;width: 2rem;height: 2rem;background: #74ccf0 url(../images/prev.png) no-repeat center center / 0.6rem auto;border-radius: 100%;}
.swipe_products .next{position: absolute;right: 1.5vw;top:60vw;width: 2rem;height: 2rem;background: #74ccf0 url(../images/next.png) no-repeat center center / 0.6rem auto;border-radius: 100%;}
.swipe_products .container{width: 92vw;margin:auto;overflow: hidden;}
.swipe_products ul{overflow: hidden;}
.swipe_products .item{width: 92vw;padding-bottom: 0.5rem;text-align: center;}
.swipe_products .item .img{position: relative;height:92vw; text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:11.72%;}
.swipe_products .item .img img{vertical-align:middle; max-height:100%;}
.swipe_products .item .img .icon_discount{position:absolute; top:0; right:0; width:2.375rem; height:1.5625rem; color:#fff; line-height:.75rem; padding-top:.3125rem;background: #f7285e;}
.swipe_products .item .img .icon_discount b{font-size:1rem;}
.swipe_products .item .img .icon_discount_foot{width:0; height:0; border-width:.3125rem 1.1875rem 0; border-style:solid; border-left-color:transparent; border-right-color:transparent; position:absolute; right:0; top:1.875rem;border-top-color: #f7285e;}
.swipe_products .item .img .icon_seckill{line-height:1.25rem; overflow:hidden; padding:0 .375rem; color:#fff; position:absolute; top:.375rem; left:.375rem; display:none;background: #f7285e;}
.swipe_products .item .proname{display: block;margin-top: 0.875rem;line-height: 1.25rem;max-height: 2.5rem;overflow: hidden;padding:0 2%;color:#2fbeeb;font-size: 1rem;font-family: "OPENSANS",Arial;}
.swipe_products .item .star{line-height:.65rem; padding-top:.5rem; color:#e56f1d;}
.swipe_products .item .star>span{margin-left:.3rem; font-size:.65rem; color:#828282;}
.swipe_products .item .star .review_star, .swipe_products .item .star .review_star>span:first-child{margin-left:0;}
.swipe_products .item .star .review_star>span{width:1.125rem; height:1.125rem; margin-left:.1rem;}
.swipe_products .item .price{margin-top: 0.5rem;line-height:1.5rem;color:#000;font-size: 1.25rem;font-family: "AvenirLTStd_Light",Arial;}
.swipe_products .item .price span{color:#d70d0d;}

.products_list .cht{height: 4rem;line-height: 4rem;font-size: 1.5rem;color: #000;text-align: center;font-family: "OPENSANS",Arial;text-transform: uppercase;}
.products_list .container{width: 92vw;margin:auto;}
.products_list .item{width:44.4vw;padding-bottom: 1.5rem;text-align: center;}
.products_list .item .img{position: relative;height:44.4vw; text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:11.72%;}
.products_list .item .img img{vertical-align:middle; max-height:100%;}
.products_list .item .img .icon_discount{position:absolute; top:0; right:0; width:2.375rem; height:1.5625rem; color:#fff; line-height:.75rem; padding-top:.3125rem;background: #f7285e;}
.products_list .item .img .icon_discount b{font-size:1rem;}
.products_list .item .img .icon_discount_foot{width:0; height:0; border-width:.3125rem 1.1875rem 0; border-style:solid; border-left-color:transparent; border-right-color:transparent; position:absolute; right:0; top:1.875rem;border-top-color: #f7285e;}
.products_list .item .img .icon_seckill{line-height:1.25rem; overflow:hidden; padding:0 .375rem; color:#fff; position:absolute; top:.375rem; left:.375rem; display:none;background: #f7285e;}
.products_list .item .proname{display: block;margin-top: 0.5rem;line-height: 1.125rem;max-height: 2.25rem;overflow: hidden;padding:0 2%;color:#333;font-size: 0.875rem;font-family: "OPENSANS",Arial;}
.products_list .item .star{line-height:.65rem; padding-top:.375rem; color:#e56f1d;}
.products_list .item .star>span{margin-left:.3rem; font-size:.65rem; color:#828282;}
.products_list .item .star .review_star, .products_list .item .star .review_star>span:first-child{margin-left:0;}
.products_list .item .star .review_star>span{width:1rem; height:1rem; margin-left:.1rem;}
.products_list .item .price{margin-top: 0.375rem;line-height:1.25rem;color:#000;font-size: 1rem;font-family: "AvenirLTStd_Light",Arial;}
.products_list .item .price span{color:#d70d0d;}
.products_list .item:nth-child(odd){float: right;}