@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

@font-face {
  font-family: "Whitney-Medium";
  src: url("../../../../../../css/font/Whitney/Whitney-Medium.woff2") format("woff2"),
       url("../../../../../../css/font/Whitney/Whitney-Medium.woff") format("woff"),
       url("../../../../../../css/font/Whitney/Whitney-Medium.ttf") format("truetype"),
       url("../../../../../../css/font/Whitney/Whitney-Medium.eot") format("embedded-opentype"),
       url("../../../../../../css/font/Whitney/Whitney-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.wrapper_blank{width:92vw; margin:auto;}

.banner{/*overflow: hidden;*/position:relative;}
.banner img{vertical-align:middle;}
.banner .btn{position:absolute; left:0; width:100%; bottom:.3125rem; text-align:center;}
.banner .btn span{display:inline-block; content:''; width:.3125rem; height:.3125rem; border-radius:1rem; background:#fff; margin:0 .1%;}
.banner .btn span.on{background:#ccc;}
.n_banner{margin-top:1rem; text-align:center;}
.n_banner img{vertical-align:middle}

.swipe_products{position:relative;}
.swipe_products .cht_blank{ height:1rem;}
.swipe_products .cht{height:3rem; line-height:3rem; margin-bottom:1rem; text-transform:uppercase; font-family:"Whitney-Medium",Arial; font-size:1.25rem; color:#000; border-bottom:1px #ccc solid;}
.swipe_products .prev{width:1.625rem; height:3rem; background:rgba(255,255,255,.9) url(../images/prev.png) no-repeat center center/.6rem auto; position:absolute; top:1rem; right:1.8rem;}
.swipe_products .next{width:1.625rem; height:3rem; background:rgba(255,255,255,.9) url(../images/next.png) no-repeat center center/.6rem auto; position:absolute; top:1rem; right:0;}
.swipe_products .container{width:81.3vw; overflow:hidden; margin:auto;}
.swipe_products ul{overflow:hidden;}
.swipe_products .item{width:81.3vw; padding-bottom:.5rem; text-align:center;}
.swipe_products .item .img{height:81.3vw; text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:11.72%; position:relative;}
.swipe_products .item .img img{max-height:100%; vertical-align:middle;}
.swipe_products .item .icon_discount{display:inline;}
.swipe_products .item .proname{max-height:2.5rem; line-height:1.25rem; overflow:hidden; margin-top:.875rem; font-size:1rem; color:#555; display:block;}
.swipe_products .item .star{padding-top:1rem; color:#e56f1d;}
.swipe_products .item .star>span{margin-left:.3rem; font-size:.65rem; color:#828282;}
.swipe_products .item .star .review_star, .swipe_products .item .star .review_star>span:first-child{margin-left:0;}
.swipe_products .item .star .review_star>span{width:1.25rem; height:1.25rem; margin-left:.1rem;}
.swipe_products .item .price{margin-top:1.25rem; font-size:0; color:#cd2026;}
.swipe_products .item .price>span{font-size:1.25rem; display:inline-block; vertical-align:bottom;}
.swipe_products .item .price>del{margin-left:.75rem; font-size:1rem; color:#888; display:inline-block; vertical-align:bottom;}
.swipe_products .item .icon_discount, .swipe_products .item .icon_seckill{line-height:1.25rem; overflow:hidden; margin-left:.75rem; padding:0.125rem .375rem; color:#fff; font-size:.75rem; background-color:#000; display:none; vertical-align: bottom;}