.hdr-cnt {
    width: 90%; height: 3rem;margin: 4%; display: flex;
}
.hdr-cn{
    float: left;
}
.hdr-cntnt{
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    font-size: 2vh;
    font-weight: 600;
    color: rgb(119, 118, 118);
}

.visit-icn{
    height: 1.3rem;
    margin-right: 0.5rem;
}
.icn-cnt{
    display: flex;
    
}
.icn-dsc{
    margin-top: 0.3rem;
    color: #888;
}
.circle{
    margin: 0 8px;
    width: 6px;
    height: 6px;
    background-color: #e3e3e3;
    border-radius: 50%;
}
.p-cnt{
color: #666;
 margin: 5%;
    font-size: 2vh;
    font-family: Arial Narrow;
    line-height: 1rem;
}
.p-cnt h1{
    font-size: 2.5vh;
    font-weight: bold;
    margin-bottom: 1%;
    margin-top: 1%;
}

/* instagram styles */

.inst-blockquote {
    background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:50%; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);
}
.inst-a{
    background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;
}
.inst-blanc{
    display: flex; flex-direction: row; align-items: center;
}
.inst-blanc-in {
    background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;
}
.inst-blanc-in2{
    display: flex; flex-direction: column; flex-grow: 1; justify-content: center;
}
.inst-blanc-in3{
    background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;
}
.inst-blanc-in4{
    background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;
}



