*,
*::before,
*::after {
  border: none;
}

.title {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  line-height: inherit;
  color: #252b46;
}

.paragraph {
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: inherit;
  color: #9194a1;
}

.main .tab {
  width: 100%;
  height: auto;
  padding: 0.25rem 0;
}
.main .tab-menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-bottom: 1.3px solid #dbdbdb;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main .tab-menu-link {
  position: relative;
  overflow: hidden;
  font-family: inherit;
  font-size: 1.8vh!important;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  width: calc(100% / 4);
  height: auto;
  padding: 1rem 0;
  border-bottom: 2.5px solid transparent;
  color: #9194a1;
  background: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main .tab-menu-link::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}

.main .tab-menu-link.active {
  bottom: 0px;
  z-index: 0;
  overflow: hidden;
  border-bottom: 2.5px solid #f7751f;
  color: #252b46;
  background: #ffffff;
  font-weight: bolder!important;
  font-size: 2vh!important;
}
.main .tab-bar {
  /* padding: 2.5rem 0; */
  overflow: hidden;
  background: #ffffff;
}
.main .tab-bar-content {
  display: none;
  width: 100%;
  min-height: 10rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main .tab-bar-content.active {
  display: block;
}