@charset "utf-8";
/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

.footer_top{height:1rem; }

.follow_us_list{height:2rem; padding:1.5rem 0 1rem; text-align:center;}
.follow_us_list li{width:2rem; margin:0 .15rem; display:inline-block;}
.follow_us_list li>a{width:inherit; height:2rem; line-height:2rem; overflow:hidden; white-space:nowrap; text-indent:50rem; background-repeat:no-repeat; background-size:100%; display:block;}
.icon_follow_facebook{background-image:url(../../../images/icon_follow_facebook.png);}
.icon_follow_twitter{background-image:url(../../../images/icon_follow_twitter.png);}
.icon_follow_pinterest{background-image:url(../../../images/icon_follow_pinterest.png);}
.icon_follow_linkedin{background-image:url(../../../images/icon_follow_linkedin.png);}
.icon_follow_youtube{background-image:url(../../../images/icon_follow_youtube.png);}
.icon_follow_google{background-image:url(../../../images/icon_follow_google.png);}
.icon_follow_vk{background-image:url(../../../images/icon_follow_vk.png);}
.icon_follow_instagram{background-image:url(../../../images/icon_follow_instagram.png);}

.newsletter_box{padding:.125rem 0; width: 92vw;margin:auto;}
.newsletter_box>h3{text-transform:uppercase;line-height: 2.5rem;text-align: center; font-size:1.5rem; color:#222; letter-spacing:.1rem;}
.newsletter_box .newsletter_main{margin-top:.5rem;padding-bottom: 1.5rem;}
.newsletter_box .form_text{float: left;width:69%; height:2.3rem; line-height:2.3rem;text-indent: 12.5%; font-size:.875rem;  border:1px #d3d3d3 solid;border-right: none;border-radius:0.25rem 0 0 0.25rem;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;background: #fff url(../images/icon_email.png) no-repeat 3.95% center / 6.25% auto;}
.newsletter_box .form_button{float: left;width:31%; height:2.3rem; line-height:2.3rem; font-size:1rem; color:#333; border-radius:.25rem;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;border:1px #000000 solid;background: #fff;}

.footer_list{width: 92vw;margin:auto;}
.footer_list>li>a{height:3rem; line-height:3rem;  color:#222; position:relative; display:block;}
.footer_list>li>a .title{width:80%; overflow:hidden; font-size:.875rem; float:left;}
.footer_list>li>a em{display:block; position:absolute; top:0; bottom: 0; margin: auto; right:7px; width: 0px;height: 16px;border-left:2px solid #000; z-index:10; -webkit-transform:-webkit-rotate(135deg); transform:rotate(135deg); -webkit-transition:all .4s; transition:all .4s;}
.footer_list>li>a i{position:absolute; top: 0; bottom: 0; margin:auto; right:0px;border-bottom: 2px solid #000;width: 16px;height: 0px; z-index:11; -webkit-transform:-webkit-rotate(135deg); transform:rotate(135deg); -webkit-transition:all .4s; transition:all .4s;}
.footer_list>li>a.list_close em, .footer_list>li>a.list_close i{-webkit-transform:-webkit-rotate(0); transform:rotate(0);}
.footer_list>li .help_list{ display:none;background: #f8f8f8;}
.footer_list>li .help_list>li{width:100%; height:2.5rem; line-height:2.5rem; overflow:hidden; float:left;}
.footer_list>li .help_list>li>a{text-indent:.5rem; font-size:.875rem; color:#333; display:block;}
.footer_list>li .sort_down{width:0; height:0; float:right; border-left:.05rem solid transparent; border-right:.05rem solid transparent; border-top:.07rem solid #999; margin:.18rem -1px 0 .07rem;}
.footer_list>li:last-child{border-bottom:0;}

footer{position:relative;background: #fafafa;}
footer section, footer section a{line-height:1.5rem; padding:.625rem 0; text-align:center; color:#666666; }
footer section a{border:0;}